.learn-press-progress {
    height: 6px;
    width: 80px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;

    .learn-press-progress__active {
        width: 100%;
        height: 100%;
        background: $primary-color;
        z-index: 1;
        position: absolute;
        left: -100%;
        border-radius: 3px;
        @include transition(0.5s);
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ccc;
        top: 0;
        z-index: 0;
    }
}

.course-curriculum {
    .section-header {
        .section-left {
            display: flex;

            .section-title {
                flex: 1;
            }

            .section-toggle {
                flex: 0 0 40px;
                //display: flex;
                align-items: center;
                text-align: center;
                cursor: pointer;

                .fa-caret-down {
                    display: none;
                }
            }
        }

        .learn-press-progress {
            width: 80px;
        }
    }

    .section {
        &.closed {
            .section-toggle {
                .fa-caret-down {
                    display: block;
                }

                .fa-caret-up {
                    display: none;
                }
            }

            .section-content {
                height: 0;
                overflow: hidden;
            }
        }
    }
}
