.learn-press-checkout {
    &.guest-checkout {
        display: none;
    }
}

#learn-press-payment {
    .payment-methods {
        list-style: none;
        .lp-payment-method {
            margin-bottom: 20px;
        }
        .payment-method-form {
            display: none;
        }
        .selected {
            .payment-method-form {
            }
        }
    }
}

#checkout-guest-email {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 0 0 20px 0;
    .form-heading {
        margin: 0;
    }
}