.learn-press-checkout {
    &.guest-checkout {
        display: none;
    }
}

#learn-press-payment {
    .payment-methods {
        list-style: none;
        .lp-payment-method {
            margin-bottom: 20px;
        }
        .payment-method-form {
            display: none;
        }
        .selected {
            .payment-method-form {
            }
        }
    }
}

#learn-press-checkout-login,
#learn-press-checkout-register {
    margin-bottom: 1.5em;
}

#checkout-login-form,
#checkout-register-form {
    display: none;
}

#checkout-guest-email {
    border: 1px solid #DDD;
    padding: 20px;
    margin: 0 0 20px 0;
    .form-heading {
        margin: 0;
    }
}

#checkout-guest-email {
    #checkout-guest-options {
        list-style: none;
        margin: 0;
    }

    #checkout-existing-account,
    #checkout-new-account {
        display: none;
        margin: 0;
    }

    &.email-exists {
        #checkout-existing-account {
            display: block;
        }
        #checkout-new-account {
            display: none;
        }
    }
}