#learn-press-course {
    .course-summary-sidebar {
        .course-sidebar-preview {
            background: #fff;
            margin-bottom: 35px;

            .course-price {
                text-align: center;

                .origin-price {
                    font-size: 18px;
                    color: #666;
                    font-weight: 300;
                    font-style: unset;
                }

                .price {
                    font-weight: 500;
                    color: #333;
                    font-size: 26px;
                }
            }

            .media-preview {
                margin: -20px -20px 40px;
                position: relative;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: auto;
                    vertical-align: top;
                }
            }

            .lp-course-buttons {
                margin-bottom: 34px;

                > * {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                form, button {
                    width: 100%;
                    text-decoration: none;
                }

                button {
                    font-weight: 500;

                    &:hover {
                        border-color: $primary-color;
                    }

                    &.button-enroll-course {
                        background: $primary-color;
                        border-color: $primary-color;
                        color: #fff;

                        &:hover {
                            background: darken($primary-color, 15%);
                        }
                    }
                }

            }

            .course-time {
                padding-bottom: 8px;
                border-bottom: 1px solid rgba(204, 204, 204, 0.3);
                margin-bottom: 28px;

                .course-time-row {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: 300;
                    color: #666;

                    strong {
                        //font-size: 18px;
                        font-weight: 500;
                        color: #333;
                    }

                    time {
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 24px;
                        color: #666;
                    }
                }
            }

            .course-results-progress {
                .items-progress,
                .course-progress {
                    .items-progress__heading {
                        //font-size: 18px;
                        font-weight: 500;
                        color: #333;
                        margin-top: 0;
                        font-size: 16px;
                        float: left;
                    }

                    .number {
                        float: right;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 300;
                        color: #666;
                        margin-bottom: 16px;
                        text-align: right;
                        display: block;
                    }

                    .learn-press-progress {
                        clear: both;
                        width: 100%;
                    }
                }

                .items-progress {
                    margin-bottom: 27px;
                }
            }

            > * {
                //margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .course-extras {
            display: block;

            .course-extras__title {
                font-weight: normal;
                font-size: 18px;
            }

            .course-extras__content {
                font-size: 14px;
                color: #777;

                ul {
                    list-style: none;
                }

                ol {
                    list-style-position: inside;
                }

                ul, ol {
                    li {
                        border: none;
                        position: relative;
                    }
                }
            }

            &.style-checks {
                ul, ol {
                    li {
                        padding-left: 20px;

                        &:before {
                            content: '';
                            border: 2px solid #8794b9;
                            display: inline-block;
                            width: 12px;
                            height: 7px;
                            border-top: none;
                            border-right: none;
                            transform: rotate(-54deg);
                            position: absolute;
                            left: 0;
                            top: 13px;
                        }
                    }
                }
            }

            &.style-radios {
                ul, ol {
                    li {
                        padding-left: 20px;

                        &:before {
                            content: '';
                            border: 2px solid #8794b9;
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            left: 0;
                            top: 12px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}
