#learn-press-course {

	.course-summary-sidebar {

		.course-sidebar-preview {
			margin-bottom: 35px;
			background: #fff;

			.course-price {
				text-align: center;

				.origin-price {
					color: #666;
					font-size: 18px;
					font-weight: 300;
					font-style: unset;
				}

				.price {
					color: #333;
					font-size: 26px;
					font-weight: 500;
				}
			}

			.media-preview {
				overflow: hidden;
				position: relative;
				margin: -20px -20px 40px;

				img {
					max-width: 100%;
					height: auto;
					vertical-align: top;
				}
			}

			.lp-course-buttons {
				margin-bottom: 34px;

				> * {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				form,
				button {
					width: 100%;
					text-decoration: none;
				}

				button {
					font-weight: 500;

					&:hover {
						border-color: var(--lp-primary-color);
					}

					&.button-enroll-course {
						border-color: var(--lp-primary-color);
						color: #fff;
						background: var(--lp-primary-color);

						&:hover {
							opacity: 0.5;
							background: var(--lp-primary-color);
						}
					}
				}

			}

			.course-time {
				margin-bottom: 28px;
				padding-bottom: 8px;
				border-bottom: 1px solid rgba(204, 204, 204, 0.3);

				.course-time-row {
					display: flex;
					color: #666;
					font-size: 16px;
					font-weight: 300;
					justify-content: space-between;

					strong {
						color: #333;
						//font-size: 18px;
						font-weight: 500;
					}

					time {
						color: #666;
						font-size: 16px;
						font-weight: 300;
						line-height: 24px;
					}
				}
			}

			.course-results-progress {

				.items-progress,
				.course-progress {

					.items-progress__heading {
						float: left;
						margin-top: 0;
						color: #333;
						font-size: 16px;
						//font-size: 18px;
						font-weight: 500;
					}

					.number {
						display: block;
						float: right;
						margin-bottom: 16px;
						color: #666;
						font-size: 16px;
						font-weight: 300;
						line-height: 16px;
						text-align: right;
					}

					.learn-press-progress {
						clear: both;
						width: 100%;
					}
				}

				.items-progress {
					margin-bottom: 27px;
				}
			}

			> * {
				//margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.course-extras {
			display: block;

			.course-extras__title {
				font-size: 18px;
				font-weight: normal;
			}

			.course-extras__content {
				color: #777;
				font-size: 14px;

				ul {
					list-style: none;
				}

				ol {
					list-style-position: inside;
				}

				ul,
				ol {

					li {
						position: relative;
						border: none;
					}
				}
			}

			&.style-checks {

				ul,
				ol {

					li {
						padding-left: 20px;

						&::before {
							display: inline-block;
							position: absolute;
							top: 13px;
							left: 0;
							width: 12px;
							height: 7px;
							border: 2px solid #8794b9;
							border-top: none;
							border-right: none;
							content: "";
							transform: rotate(-54deg);
						}
					}
				}
			}

			&.style-radios {

				ul,
				ol {

					li {
						padding-left: 20px;

						&::before {
							display: inline-block;
							position: absolute;
							top: 12px;
							left: 0;
							width: 12px;
							height: 12px;
							border: 2px solid #8794b9;
							border-radius: 50%;
							content: "";
						}
					}
				}
			}
		}
	}
}
