/**
 * Archive courses page.
 */

.lp-archive-courses {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    form[name="search-course"] {
        margin-bottom: 20px;
        position: relative;
        .search-course-input {
            width: 100%;
            padding: 12px;
            @include box-sizing(border-box);
        }
        .search-course-button {
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            padding: 15px;
            height: auto;
            line-height: 1px;
        }
    }

    .learn-press-courses-header {
        float: left;
    }

    ul.learn-press-courses {
        clear: both;
        float: right;
        list-style: none;
        margin: 0 -2.1% 30px 0;
        padding: 0;
        @include flex();
        @include flex-wrap(wrap);
        .course {
            list-style: none;
            width: 31.33333%;
            margin: 0 2% 60px 0;
            box-shadow: none;
            padding: 0;
            position: relative;
            overflow: hidden;
            transition: all .3s;
            border: 1px solid #f0f0f0;
            &:hover {
               box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);
            }

            .course-wrap-thumbnail {
                position: relative;
                .lp-badge {
                    &.featured {
                        position: absolute;
                        z-index: 100;
                        top: 20px;
                        width: 300px;
                        left: -110px;
                        transform: rotate(-45deg);
                        text-align: center;
                    }
                }
            }

            .course-thumbnail,
            .course-info {
                margin: 0;
                line-height: 1;
            }

            .course-thumbnail {
                img {
                    vertical-align: middle;
                }
                .course-instructor {
                    left: 5px;
                    bottom: 5px;
                    position: absolute;
                    text-decoration: none;
                    border: none;
                    @include box-shadow(none);
                    img {
                        border-radius: 50%;
                        border: 2px solid #FFF;
                        box-shadow: none;
                        vertical-align: middle;
                        margin-right: 5px;
                        display: inline-block;
                        @include box-sizing(content-box);
                    }
                    span {
                        color: #999;
                        font-size: 14px;
                    }

                    &:hover {
                        left: 4px;
                        bottom: 4px;
                        img {
                            border-width: 3px;
                            margin-right: 4px;
                        }
                    }
                }

            }

            // <!-- .course-content
            .course-content {
                position: relative;
                border-top: 0;
                .course-permalink {
                    clear: both;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: none;
                    color: #FFF;
                    position: relative;
                    text-decoration: none;
                    border: none;
                    @include box-shadow(none);
                    .course-title {
                        font-size: 16px;
                        padding: 0;
                        margin: 0;
                        font-weight: 500;
                        color: #333;
                        line-height: 24px;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
                .course-review {
                    display: none;
                }
                .course-categories,
                .course-tags {
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                }

                .course-categories {
                    float: left;
                    position: relative;
                    margin-bottom: 16px;
                    a {
                        text-decoration: none;
                        display: inline-block;
                        margin: 0 10px;
                        color: #666;
                        display: none;

                        &:first-child{
                            padding: 5px 9px 4px 9px;
                            border-radius: 5px;
                            background: #f0f0f0;
                            margin-left:0;
                            display: block;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 12px;
                        top: 50%;
                        right: -2px;
                        transform: translate(0,-50%);
                        background: #999;
                        opacity: 0.5;
                    }
                }

                .course-instructor {
                    margin-left: 10px;
                    float: left;
                    padding-top: 5px;
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: capitalize;
                    a {
                        color: #666;
                    }
                }

                .course-info {
                    font-size: 14px;
                    font-weight: 300;
                    color: #666;
                    > span {
                        display: block;
                    }
                    .course-price {
                        float: right;
                        .origin-price,
                        .price {
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                        }
                        .origin-price {
                            font-size: 14px;
                            text-decoration: line-through;
                            margin-right: 10px;
                            color: #666;
                            font-weight: 300;
                        }

                    }
                    .course-instructor {
                        float: right;
                    }
                    &:after {
                        @include clear-fix();
                    }
                }

                .course-excerpt {
                    display: none;
                    font-size: 14px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #666;
                }

                .separator {
                    display: none;
                }
            }
        }

        &[data-layout="list"] {
            .course {
                width: 100%;
                display: flex;
                margin-right: 0;
                flex-wrap: wrap;
                justify-content: flex-end;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                .course-wrap-thumbnail {
                    width: 39.3%;

                }
                .course-content {
                    width: calc(100% - 39.3% - 40px);
                    flex: 1;
                    position: relative;
                    border-left: 0;
                    padding: 30px 39px 25px 25px;

                    .course-permalink {
                        -webkit-line-clamp: 1;
                        height: 25px;
                        padding-bottom: 30px;
                        .course-title {
                            font-size: 18px;
                            font-weight: 600;
                            color: #333;
                            line-height: 24px;
                        }
                    }

                    .course-wrap-meta {
                        display: flex;
                        font-size: 14px;
                        font-weight: 300;
                        color: #666;
                        padding-top: 12px;
                        padding-bottom: 14px;
                        .meta-item {
                            padding-right: 28px;
                            &:before {
                                font-weight: 900;
                                font-family:"Font Awesome 5 Free";
                                margin-right: 8px;
                                top: -1px;
                                position: relative;
                                color: $second-color;
                            }
                        }

                        .meta-item-level:before {
                            content: '\f012';
                        }

                        .meta-item-duration:before {
                            content:'\f017';
                        }

                        .meta-item-lesson:before {
                            content:'\f022';
                        }

                        .meta-item-quiz:before {
                            content:'\f15c';
                        }

                        .meta-item-student:before {
                            content:'\f501';
                        }
                    }

                    .course-tags {
                        a {
                            background: #e4a2a2;
                            line-height: 1;
                            padding: 3px 5px;
                            border-radius: 3px;
                            color: #FFF;
                            margin: 0 10px 10px 0;
                        }
                    }

                    .course-excerpt {
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 26px;
                        color: #666;
                        padding-bottom: 30px;
                        display: -webkit-box;
                    }

                    .course-footer {
                        float: left;
                        margin-right: 20px;
                        .course-students {
                            display: none;
                        }

                        .course-price {
                            float: unset;
                        }
                    }

                    .course-wishlist {
                        float: left;
                        &:before {
                            content: '\f004';
                            font-weight: 900;
                            font-family:"Font Awesome 5 Free";
                            padding: 9px;
                            border: 1px solid #ccc;
                            border-radius: 50%;
                            color: $primary-color;
                        }
                        .course-wishlist__btn {
                            font-size: 14px;
                            font-weight: 300;
                            color: #666;
                        }
                    }

                    .course-readmore {
                        float: right;
                        a {
                            padding: 12px 24px;
                            background: $primary-color;
                            color: #fff;
                            font-weight: 400;
                            line-height: 1;
                            border-radius: 3px;
                            transition: all .3s;
                            &:hover {
                                background: darken($primary-color, 15%);
                            }
                        }
                    }
                }
            }
        }

        &[data-layout="grid"] {
            .course {
                display: flex;
                flex-direction: column;

                .course-wrap-thumbnail {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        background: rgba(0,0,0,.5);
                        transition: all .3s;
                        opacity: 0;
                    }

                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }
                }

                .course-content {
                    padding: 15px 20px 20px 20px;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    .course-permalink {
                        margin-bottom: 16px;
                    }
                    .course-wrap-meta  {
                        display: none;
                    }
                    .course-info {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        .course-categories {
                            flex-grow: 1;
                            padding-bottom: 12px;
                        }
                        .course-footer {
                            padding-top: 20px;
                            border-top: 1px solid rgba(153,153,153,0.2);
                            .course-students {
                                float: left;
                                &:before {
                                    content: '\f501';
                                    font-weight: 900;
                                    font-family:"Font Awesome 5 Free";
                                    margin-right: 8px;
                                    top: -1px;
                                    position: relative;
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 1200px) {
            margin: 0 0 30px 0;
        }

    }
}

.lp-courses-bar {
    display: flex;
    margin-bottom: 30px;
    float: right;
    .search-courses {
        flex: 1;
        position: relative;
        line-height: 1;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 6px 32px 6px 10px;
        max-width: 306px;
        margin-right: 20px;
        input[type="text"] {
            border: 0 solid #DDD;
            padding: 5px 10px;
            height: 30px;
            font-size: 14px;
            line-height: 1;
            font-style: italic;
            background: #FFF;
            width: 100%;
        }
        button {
            border: none;
            height: 30px;
            background: transparent;
            color: #333;
            position: absolute;
            top: 50%;
            right: 12px;
            width: 30px;
            line-height: 1;
            padding: 0;
            transform: translate(0,-50%);
        }

        ::-webkit-input-placeholder {
            color: #999;
        }

        :-ms-input-placeholder {
            color: #999;
        }

        ::placeholder {
            color: #999;
        }
    }

    .switch-layout {
        flex: 0 0 40px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: center;
        input[type="radio"] {
            display: none;
        }
        .switch-btn {
            width: 40px;
            height: 40px;
            font-size: 16px;
            display: block;
            margin: 0;
            text-align: left;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            &:before {
                color: #333;
                display: inline-block;
                line-height: 1;
                margin: 8px 6px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
            &.grid{
                margin-right: 10px;
                &:before {
                    content: "\f00a";
                }
            }

            &.list:before {
                content: "\f03a";
            }
        }
    }

}

@for $i from 0 through 9 {
    input[type="radio"]:nth-child(#{$i*2+1}):checked ~ .switch-btn:nth-child(#{$i*2+2}) {
        background: #f5f5f5;
        &:before {
            color: $primary-color;
        }
    }
}

/**
 *  End Archive courses page.
 */


/**
 *  Single courses page
*/
.lp-archive-courses {
    .course-summary {
        .course-summary-content {
            .course-detail-info {
                padding: 40px 0;
                background: $second-color;
                color: #fff;
                margin-bottom: 60px;
                .course-info-left {
                    .course-meta {
                        .meta-item {
                            display: flex;
                            .meta-item__image {
                                flex: 0 0 46px;
                                margin-right: 10px;
                                img {
                                    border-radius: 50%;
                                    overflow: hidden;
                                }
                            }
                            .meta-item__value {
                                label {
                                    font-weight: 300;
                                    margin: 0;
                                    font-size: 14px;
                                    color: #999;
                                }
                                > div {
                                    a {
                                        font-size: 16px;
                                        font-weight: 400;
                                        text-transform: capitalize;
                                        color: #fff;
                                    }
                                    span {
                                        padding: 0 5px;
                                    }
                                }
                            }

                            &.meta-item-categories {
                                &:before {
                                    content: '';
                                    background: url(../images/course-categories-icon.png);
                                    background-repeat: no-repeat;
                                    margin-right: 10px;
                                    width: 25px;
                                }
                            }
                        }
                    }

                    .course-title {
                        font-weight: 500;
                    }

                    .course-meta {
                        .course-meta__pull-left {
                            .meta-item {
                                margin-right: 50px;
                                font-weight: 300;
                                font-size: 16px;
                                &:last-child {
                                    margin-right: 0;
                                }
                                &:before {
                                    font-weight: 900;
                                    font-family:"Font Awesome 5 Free";
                                    margin-right: 8px;
                                    color: $primary-color;
                                }

                                &.meta-item-duration:before {
                                    content:'\f017';
                                }
                                &.meta-item-level:before {
                                    content:'\f012';
                                }
                                &.meta-item-lesson:before {
                                    content:'\f022';
                                }
                                &.meta-item-quiz:before {
                                    content:'\f022';
                                }
                                &.meta-item-student:before {
                                    content: '\f19d';
                                }
                            }
                        }
                    }
                }
            }

            .entry-content {
                .entry-content-left {
                    width: 70%;
                    float: left;
                }
                .entry-content-right {
                    width: calc( 100% - 70% - 40px );
                    float: right;
                    .learn-press-course-wishlist {
                        display: none;
                    }
                }
            }
        }
    }
}
