#learn-press-course-tabs {
    .course-tab-panel {
        display: none;
        &.active {
            display: block;
        }
    }
}

.learn-press-nav-tabs {
    list-style: none;
    border-bottom: 3px solid #DDD;
    .course-nav {
        float: left;
        position: relative;
        a {
            display: inline-block;
            padding: 10px 20px;
            border-bottom: none;
            outline: none;
        }
        &.active,
        &:hover {
            &:after {
                position: absolute;
                bottom: -3px;
                background: #00adff;
                height: 3px;
                width: 100%;
                content: '';
                left: 0;
            }
        }
    }
    &:after {
        @include clear-fix();
    }
}

.course-curriculum {
    .curriculum-sections {
        list-style: none;
        margin: 0;
        .section {
        }
        .section-header {
            display: table;
            border-bottom: 2px solid #00adff;
            width: 100%;
            @include box-sizing(border-box);
            .section-left {
                /*flex: 9;*/
                display: table-cell;
                vertical-align: top;
            }
            .section-title,
            .section-desc {
                margin: 0 0 10px 0;
            }
            .section-title {
                font-weight: normal;
            }
            .section-desc {
                font-size: 14px;
                font-style: italic;
            }
            .section-meta {
                //float: right;
                //flex: 1;
                display: table-cell;
                white-space: nowrap;
                padding-left: 20px;
                text-align: right;
                font-size: 14px;

                .section-progress {
                    display: inline-block;
                    margin-right: 5px;
                    .progress-bg {
                        width: 100px;
                    }
                }
            }
        }
        .section-content {
            list-style: none;
            margin: 0 0 15px 0;
            .course-item {
                position: relative;
                font-size: 14px;
                border-bottom: 1px solid #EEE;
                transition: padding-left linear 0.15s;
                background: #FFF;
                > a {
                    border-bottom: none;
                    /*display: block;*/
                    display: table;
                    box-shadow: none;
                    outline: none;
                    //height: 50px;
                    //line-height: 50px;
                    //padding: 0px 0 0 30px;
                    //margin: 10px 0 10px 0;
                    width: 100%;
                    line-height: 1.5;
                    &:before {
                        font-family: fontawesome;
                        font-size: 18px;
                        /*position: absolute;*/
                        //height: 50px;
                        //line-height: 50px;
                        left: 0;
                        transition: left linear 0.15s;
                        display: table-cell;
                        width: 20px;
                        padding: 10px 0;
                    }
                    &:hover {
                    }
                }
                .item-icon,
                .item-name {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 10px 10px;
                }

                .item-icon {
                    &:before {
                        font-size: 18px;
                    }
                    &.icon-lock {
                        float: right;
                        margin-top: 15px;
                    }
                }

                .course-item-meta {
                    display: table-cell;
                    vertical-align: middle;
                    white-space: nowrap;
                    padding: 10px 0;
                    text-align: right;
                    .item-meta {
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .count-questions {
                        background: #DDD;
                        border-radius: 3px;
                        padding: 0 5px;
                        font-size: 10px;
                    }

                    .course-item-status {
                        width: 20px;
                        __border: 2px solid transparent;
                        color: #DDD;
                        margin-left: 5px;
                        font-family: fontawesome;
                        @include border-radius(50%);
                        @include box-sizing(border-box);
                        &:before {
                            vertical-align: middle;
                        }
                    }
                }

                &.course-item-lp_quiz {
                    &.status-started {
                        .course-item-status {
                            &:before {
                                content: "\f251";
                            }
                        }
                    }
                    & > a:before {
                        content: "\f017";
                    }
                }
                &.course-item-lp_lesson {
                    & > a {
                        &:before {
                            content: "\f0f6";
                        }
                    }
                    &.course-item-type-video {
                        > a {
                            &:before {
                                content: "\f03d";
                            }
                        }
                    }
                    &.course-item-type-audio {
                        > a {
                            &:before {
                                content: "\f027";
                            }
                        }
                    }
                }
                &.item-preview {
                    .course-item-status {
                        &:before {
                            content: "\f09c";
                            color: #00adff;
                        }
                    }
                }
                &.item-locked {
                    .course-item-status {
                        &:before {
                            content: "\f023";
                            color: #ab6060;
                        }
                    }
                }

                &.has-status {
                    border-color: #DDD;
                    padding-top: 1px;
                    &.status-started {
                        &:before {
                            content: "\f141";
                        }
                    }
                    &.status-completed {
                        .course-item-status {
                            border-color: #00adff;
                            color: #00adff;
                            &:before {
                                content: "\f00c";
                            }
                        }
                    }
                    &.passed {
                        border-color: #00adff;
                        color: #00adff;
                    }
                    &.item-failed {
                        border-color: #FF0000;
                        color: #FF0000;
                        &:before {
                            content: "\f00d";
                        }
                    }
                }

                &:before {
                    background: #00adff;
                    height: 0;
                    left: 0;
                    top: 50%;
                    position: absolute;
                    content: '';
                    width: 3px;
                    transition: height linear 0.15s, top linear 0.15s;
                }

                &.current {
                    padding-left: 10px;
                    background: #F9F9F9;
                    a {
                        &:before {
                            left: 10px;
                        }
                    }
                    &:before {
                        top: 0;
                        height: 100%;
                    }
                }
            }
        }
    }
}

body {
    &.course-item-popup {
        overflow: hidden;
        _opacity: 0;
        #learn-press-course-curriculum {
            position: fixed;
            top: 32px;
            bottom: 0;
            left: 0;
            width: 400px;
            background: #FFF;
            border-right: 1px solid #DDD;
            overflow: auto;
            z-index: 9999;
            .section-header {
                padding: 15px;
                .section-desc {
                    display: none;
                }
            }
            .course-item {
                padding-left: 15px;
                padding-right: 15px;
                a {
                    &:before {
                        left: 15px;
                    }
                }
            }
        }
        #learn-press-content-item {
            position: fixed;
            z-index: 9999;
            background: #FFF;
            top: 32px;
            left: 400px;
            right: 0;
            bottom: 0px;
            overflow: hidden;
            .content-item-wrap {
                margin: 20px auto;
                max-width: 900px;
            }
        }
        #content-item-nav {
            position: fixed;
            z-index: 99999;
            left: 400px;
            right: 0;
            background: #F5F5F5;
            bottom: 0;
            height: 60px;
            border-top: 1px solid #DDD;
            .content-item-nav-wrap {
                max-width: 900px;
                margin: 10px auto;
            }
            button {
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
            }
        }
    }
}

#wpadminbar {
    #wp-admin-bar-edit-lp_quiz,
    #wp-admin-bar-edit-lp_lesson,
    #wp-admin-bar-edit-lp_question {
        .ab-item:before {
            font-family: fontawesome;
            top: 2px;
        }
    }
    #wp-admin-bar-edit-lp_quiz {
        .ab-item:before {
            content: "\f017";
        }
    }
    #wp-admin-bar-edit-lp_lesson {
        .ab-item:before {
            content: "\f0f6";
        }
    }
    #wp-admin-bar-edit-lp_question {
        .ab-item:before {
            content: "\f29c";
        }
    }
}

.scroll-wrapper {
    opacity: 0;
    overflow: hidden;
    .scroll-element.scroll-y.scroll-scrolly_visible {
        transition: opacity 0.25s;
    }
    &:hover {
        .scroll-element.scroll-y.scroll-scrolly_visible {
            opacity: 0.7;
        }
    }
}

.question-numbers {
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        a {
            display: block;
            padding: 5px 8px;
            background: #F5F5F5;
            line-height: 1;
            color: #999;
            border: 1px solid #DDD;
            font-size: 12px;
            min-width: 20px;
            span {
                vertical-align: middle;
            }
            &:hover {
                background: #00adff;
                color: #FFF;
                border: 1px solid #3880a2;
            }
        }
        &.current {
            a {
                background: #00adff;
                color: #FFF;
                border-color: #3880a2;
            }
        }
        &.answered {
            a {
                &:after {
                    font-family: fontawesome;
                    font-size: 8px;
                    vertical-align: middle;
                    margin-left: 3px;
                }
            }
            &.answered-wrong {
                a {
                    color: #FF0000;
                    &:after {
                        //content: "\f05e";
                    }
                }
            }
            &.answered-true {
                a {
                    color: #00adff;
                    &:after {
                        //content: "\f00c";
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    body.course-item-popup {
        #learn-press-course-curriculum {
            width: 300px;
        }
        #content-item-nav,
        #learn-press-content-item {
            left: 300px;
        }
    }
}

@media screen and (max-width: 1200px) {
    body.course-item-popup {
        #learn-press-course-curriculum {
            width: 300px;
        }
        #content-item-nav,
        #learn-press-content-item {
            left: 300px;
        }
        #learn-press-content-item {
            .content-item-nav-wrap,
            .content-item-wrap {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body.course-item-popup {
        #learn-press-course-curriculum {
            width: 200px;
        }
        #content-item-nav,
        #learn-press-content-item {
            left: 200px;
        }
        #learn-press-content-item {
            .content-item-nav-wrap,
            .content-item-wrap {
                width: 90%;
            }
        }
    }
}