#learn-press-course-tabs {
    .course-tab-panel {
        display: none;
        &.active {
            display: block;
        }
    }
}

.learn-press-nav-tabs {
    list-style: none;
    border-bottom: 3px solid #DDD;
    .course-nav {
        float: left;
        position: relative;
        a {
            display: inline-block;
            padding: 10px 20px;
            border-bottom: none;
            outline: none;
        }
        &.active,
        &:hover {
            &:after {
                position: absolute;
                bottom: -3px;
                background: #00adff;
                height: 3px;
                width: 100%;
                content: '';
                left:0;
            }
        }
    }
    &:after {
        @include clear-fix();
    }
}

.course-curriculum {
    .curriculum-sections {
        list-style: none;
        .section {
        }
        .section-header {
            display: table;
            border-bottom: 2px solid #00adff;
            width: 100%;
            .section-left {
                /*flex: 9;*/
                display: table-cell;
                vertical-align: top;
            }
            .section-title,
            .section-desc {
                margin: 0 0 10px 0;
            }
            .section-title {
                font-weight: normal;
            }
            .section-desc {
                font-size: 14px;
                font-style: italic;
            }
            .section-meta {
                //float: right;
                //flex: 1;
                display: table-cell;
                white-space: nowrap;
                padding-left: 20px;
                text-align: right;
                font-size: 14px;

                .section-progress {
                    display: inline-block;
                    margin-right: 5px;
                    .progress-bg {
                        background: #DDD;
                        height: 10px;
                        width: 100px;
                        position: relative;
                        overflow: hidden;
                        @include border-radius(5px);
                        .progress-active {
                            height: 10px;
                            width: 100%;
                            background: #00adff;
                            position: absolute;
                            right: 50%;

                            @include border-radius(5px);
                        }
                    }
                }
            }
        }
        .section-content {
            list-style: none;
            margin: 0 0 15px 0;
            .course-item {
                position: relative;
                font-size: 14px;
                border-bottom: 1px solid #EEE;
                transition: padding-left linear 0.15s;
                background: #FFF;
                > a {
                    border-bottom: none;
                    display: block;
                    box-shadow: none;
                    outline: none;
                    height: 50px;
                    line-height: 50px;
                    padding: 0px 0 0 30px;
                    &:before {
                        font-family: Dashicons;
                        font-size: 18px;
                        position: absolute;
                        height: 50px;
                        line-height: 50px;
                        left: 0;
                        transition: left linear 0.15s;
                    }
                    &:hover {
                    }
                }
                .item-icon,
                .item-name {
                }

                .item-icon {
                    &:before {
                        font-size: 18px;
                    }
                    &.icon-lock {
                        float: right;
                        margin-top: 15px;
                    }
                }

                .course-item-meta {
                    float: right;
                    .course-item-status {
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        border: 2px solid transparent;
                        text-align: center;
                        color: #DDD;
                        @include border-radius(50%);
                        &.has-status {
                            border-color: #DDD;
                            padding-top: 1px;
                            font-family: fontawesome;
                            &.item-started {
                                &:before{
                                    content: "\f141";
                                }
                            }
                            &.item-completed {
                                border-color: #00adff;
                                color: #00adff;
                                &:before{
                                    content: "\f00c";
                                }
                            }
                            &.passed {
                                border-color: #00adff;
                                color: #00adff;
                            }
                            &.item-failed {
                                border-color: #FF0000;
                                color: #FF0000;
                                &:before{
                                    content: "\f00d";
                                }
                            }
                        }
                    }
                }

                &.course-item-lp_quiz {
                    & > a:before {
                        content: "\f469";
                    }
                }
                &.course-item-lp_lesson {
                    & > a:before {
                        content: "\f126";
                    }
                }

                &:before {
                    background: #00adff;
                    height: 0;
                    left: 0;
                    top: 50%;
                    position: absolute;
                    content: '';
                    width: 3px;
                    transition: height linear 0.15s, top linear 0.15s;
                }

                &.current,
                &:hover {
                    padding-left: 10px;
                    background: #F9F9F9;
                    a {
                        &:before {
                            left: 10px;
                        }
                    }
                    &:before {
                        top: 0;
                        height: 100%;
                    }
                }
            }
        }
    }
}

body {
    &.course-item-popup {
        overflow: hidden;
        #learn-press-course-curriculum {
            position: fixed;
            top: 32px;
            bottom: 0;
            left: 0;
            width: 400px;
            background: #FFF;
            border-right: 1px solid #DDD;
            overflow: auto;
            z-index: 99999;
            .section-header {
                padding: 15px;
                .section-desc {
                    display: none;
                }
            }
            .course-item {
                padding-left: 15px;
                padding-right: 15px;
                a {
                    &:before {
                        left: 15px;
                    }
                }
            }
        }
        #learn-press-content-item {
            position: fixed;
            z-index: 99999;
            background: #FFF;
            top: 32px;
            left: 400px;
            right: 0;
            bottom: 0;
            overflow: auto;
            .content-item-wrap {
                margin: 20px auto;
                max-width: 900px;
            }
        }
    }
}

#wpadminbar #wp-admin-bar-edit-course-item > .ab-item:before {
    content: "\f464";
    top: 2px;
}