.lp-list-table {
	width: 100%;
	margin-bottom: 20px;

	th,
	td {
		padding: 20px;
		border: 0 solid rgba(204, 204, 204, 0.3);
		border-bottom-width: 1px;
		background: #fff;
		font-size: 16px;
		line-height: 1;
		text-align: left;

		@media (max-width: 767px) {
			padding: 15px;
		}
	}

	thead {
		box-sizing: border-box;
		border: 1px solid #e5e7f2;

		tr {

			th {
				height: 60px;
				border-bottom: none;
				color: #333;
				background: #f1f2f8;
				font-size: 18px;
			}
		}
	}

	tbody,
	tfoot {
		box-sizing: border-box;
		border: 1px solid rgba(204, 204, 204, 0.3);
		border-top: 0;

		tr {

			td,
			th {
				height: 62px;
				color: #666;
				background: #fff;
				font-size: 16px;
				font-weight: 300;

				a {
					border-bottom: none;
					color: #666;
					text-decoration: none;

					&:hover {
						color: $primary-color;
					}
				}
			}

			.column-status {

				.result-percent {
					font-weight: 500;
				}

				.lp-label {
					font-weight: 600;
				}
			}

			&:nth-child(odd) {
				background: #f5f5f5;
			}
		}
	}

	.list-table-nav {

		td {
			font-size: 14px;

			&.nav-text {
				text-align: left;
			}

			&.nav-pages {
				text-align: right;

				.learn-press-pagination {
					text-align: right;
				}

				.page-numbers {
					margin-bottom: 0;
				}
			}
		}
	}

}

.lp-label {
	display: inline-block;
	color: #666;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
}

.learn-press-form {

	.form-fields {
		margin: 0;
		padding: 0;
		list-style: none;

		.form-field {
			margin: 0 0 20px 0;

			label {
				display: block;
				margin: 0 0 10px 0;
			}

			input[type="text"],
			input[type="email"],
			input[type="number"],
			input[type="password"],
			textarea {
				width: 100%;
				padding: 8px;

				@include box-sizing(border-box);
			}

			.description {
				margin-top: 10px;
				font-size: 14px;
				font-style: italic;
				line-height: 1.4;
			}

			.asterisk {
				color: #f00;
			}

		}
	}
}

.lp-password-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	input[type="password"] {
		padding-right: 2.5rem;
	}

	input::-ms-reveal {
		display: none;
	}

	.lp-show-password-input {
		position: absolute;
		top: 6px;
		right: 10px;
		cursor: pointer;
	}

	.lp-show-password-input::after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f06e";
	}

	.lp-show-password-input.display-password::after {
		color: #585858;
		content: "\f070";
	}
}

.form-desc {
	font-size: smaller;
	font-style: italic;
}

.become-teacher-form {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;

	.form-field {

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"] {
			width: 100%;
		}
	}
}
