.learnpress-page {
    .lp-button {

        &.secondary {
            background: #9198ab;

            &:hover {
                background: #9ba6c5;
            }
        }

        &:disabled, &[disabled] {
            background: #DDD;
            pointer-events: none;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

#learn-press-course-curriculum {
    .section-header {
        background: #FFF;
        border-bottom: 1px solid #d9e0f1;
        padding: 10px 0;
    }

    .section-title {
        color: #5383F7;
        font-weight: normal;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1;
        padding: 8px 0;
        position: relative;

        span.show-desc {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translate(0, -50%);

            &:before {
                content: '\f107';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 18px;
            }

            &:hover {
                &:before {
                    border-top-color: #CCC;
                }
            }
        }
    }

    .section-item-link {
        color: #777;
        text-decoration: none;
    }

    .section-desc {
        display: none;
        color: #999;
    }

    .section-title {
        &.c + .section-desc {
            display: block;
        }

        &.c {
            span.show-desc {
                &:before {
                    @include transform(rotate(180deg));
                    top: 0;
                }
            }
        }
    }

    .item-meta {
        &.duration {
            background: #d9e0f1;
        }
    }
}

#popup-course {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    z-index: 99999;
    display: flex;

    #popup-header {
        position: fixed;
        left: 475px;
        right: 0;
        background: $secondary-color;
        z-index: 100;
        border-bottom: 1px solid #d9e0f1;
        padding: 0;
        /*height: 70px;*/
        display: flex;
        @include transition(left 0.25s);

        .popup-header__inner {
            width: 792px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            @media (max-width: 1024px) {
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
            }
            @media (max-width: 767px) {
                flex-direction: column;
            }

            .course-title {
                padding: 0;
                line-height: 70px;
                margin: 0;
                letter-spacing: unset;

                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFF;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        color: $primary-color;
                    }
                }

                @media (max-width: 768px) {
                    flex: 1;
                }
            }

            .items-progress {
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 768px) {
                    flex: 1;
                }

                @media (max-width: 767px) {
                    justify-content: end;
                    padding-bottom: 20px;
                }

                .number {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 300;
                    padding-right: 10px;
                }
            }
        }

        .lp-button {
            margin: 9px;
        }

        .lp-button-back {
            float: right;
            margin: 9px 10px;

            button {
                &:before,
                &:after {
                    content: '';
                }

                &:before {
                    border: 1px solid #DDD;
                }

                &:after {
                    border: 1px solid #DDD;
                }
            }
        }
    }

    #popup-sidebar {
        flex: 0 0 475px;
        position: relative;
        overflow: auto;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
        @include transition(0.25s);

        .search-course {
            display: flex;
            height: 70px;
            background: #f9fafc;
            position: relative;

            input[name="s"] {
                background: transparent;
                border: none;
                color: #999;
                margin: 6px 0;
                line-height: 1;
                font-size: 14px;
                padding-left: 20px;
                display: block;
                width: 100%;
                box-shadow: none;
                @include box-sizing(border-box);
                @include placeholder-color(#999);
                @include placeholder-fontStyle(italic);

                &:focus {
                    color: #222;
                    outline: 0;
                }
            }

            button {
                position: absolute;
                top: 0;
                height: 70px;
                width: 16px;
                margin: 0 10px;
                padding: 0;
                background: transparent;
                line-height: 1px;
                right: 10px;
                border: 0;
                &:before {
                    content: "\f002";
                    font-size: 16px;
                    color: #666;
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                }

                &.clear {
                    display: none;

                    &:before {
                        content: "\f00d";
                    }
                }
            }

            .search-results {
                position: fixed;
                left: 0;
                top: 92px;
                z-index: 99999999;
                background: #fbfcff;
                border-right: 1px solid #d9e0f1;
                border-top-color: transparent;
                width: 400px;
                bottom: 0;
                margin: 0;
                overflow: auto;
                display: none;

                .search-results__item {
                    border-bottom: 1px solid #d9e0f1;
                    background: #FFF;

                    img {
                        width: 40px;
                        height: 40px;
                        left: 10px;
                        position: absolute;
                    }

                    a {
                        padding: 10px 10px 10px 60px;
                        height: 40px;
                        position: relative;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        color: #777;
                        box-sizing: content-box;
                    }

                    &:hover {
                        background: #d9e0f1;
                    }
                }

                .search-results__item-title {
                    font-weight: normal;
                    font-size: 16px;
                    margin: 0 0 -2px 0;
                    padding: 0;
                    overflow: hidden;
                }

                .search-results__item-author {
                    font-size: 12px;
                }

                .course-price {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-size: 12px;

                    .origin-price {
                        text-decoration: line-through;
                        font-size: smaller;
                    }
                }

                .search-results__not-found {
                    padding: 10px;
                    color: #777;
                }

                .search-results__pagination {
                    padding: 10px;
                    text-align: center;

                    a, span {
                        display: inline-block;
                        padding: 5px 8px;
                        border: 1px solid #d9e0f1;
                        line-height: 1;
                        margin: 0 3px 10px 2px;
                        font-size: 14px;
                        border-radius: 4px;
                        color: #777;
                        cursor: pointer;
                    }

                    span {
                        color: #999;
                        background: #d9e0f1;
                    }
                }
            }

            &.searching {
                .search-results {
                    display: block;
                }

                .clear {
                    display: block;
                }

                button {
                    display: none;
                }

                &:after {
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-bottom-color: #FFF;
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    margin-left: -10px;
                    z-index: 1;
                }
            }
        }

        .course-curriculum {
            width: 475px;
            position: absolute;
            top: 70px;
            bottom: 0;
            overflow: auto;

            .section {
                position: relative;
                padding: 0 0 4px 0;

                .circle-progress {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border: 3px solid #d9e0f1;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    margin-top: -12px;
                }

                .section-header {
                    position: sticky;
                    top: 0;
                    z-index: 1000;
                    padding: 38px 20px 20px 20px;
                    height: 94px;

                    .section-left {
                        .section-title {
                            font-size: 20px;
                            font-weight: 500;
                            color: #000;
                            padding: 0 0 4px 0;

                            .show-desc {
                                &:before {
                                    content: '\f0d7';
                                    font-family: "Font Awesome 5 Free";
                                    font-weight: 900;
                                    font-size: 18px;
                                }
                            }
                        }

                        .section-toggle {
                            justify-content: flex-end;
                            flex: 0;

                            i {
                                color: #666;
                            }
                        }
                    }

                    .section-meta {
                        padding-top: 6px;
                        padding-bottom: 0px;
                    }
                }

                .section-content {
                    margin-bottom: 0;

                    .course-item {
                        padding: 0 20px;
                        background: #f9fafc;
                        margin-bottom: 4px;
                        height: 60px;

                        & > span {
                            display: none;
                        }

                        .section-item-link {
                            line-height: 1;
                            height: 60px;

                            &:before {
                                vertical-align: unset;
                                padding: 12px 0;
                            }

                            .item-name {
                                padding: 0 10px 0 17px;
                                display: block;
                                width: 100%;
                                font-size: 14px;
                                font-weight: 500;
                            }

                            .course-item-meta {
                                display: block;
                                width: 100%;
                                text-align: left;
                                padding: 6px 0 0 0;

                                //.course-item-status {
                                //    background: transparent;
                                //    font-size: 12px;
                                //    margin-left: 0;
                                //
                                //    &.trans {
                                //        position: absolute;
                                //        top: 15px;
                                //        right: 22px;
                                //
                                //        &:before {
                                //            font-weight: 900;
                                //        }
                                //    }
                                //}

                                .item-meta {
                                    background: transparent;
                                    font-size: 12px;
                                    //font-weight: 400;
                                    color: #999;
                                    line-height: 1.5;
                                    padding: 0;

                                    &:first-child {
                                        margin-left: 0;
                                        padding-left: 17px;
                                    }

                                    &:before {
                                        font-size: 12px;
                                        //font-weight: 500;
                                    }

                                    &.course-item-status {
                                        position: absolute;
                                        right: 18px;
                                        top: 50%;
                                        margin-top: -10px;
                                    }
                                }
                            }
                        }

                        &:before {
                            background: transparent;
                            top: -1px;
                            bottom: -1px;
                            height: auto;
                        }

                        &:after {
                            content: '';
                        }

                        &.current {
                            background: #eaeaea;
                        }

                        &.item-preview {
                            .section-item-link {
                                .course-item-meta {
                                    .item-meta:before {
                                        color: #999;
                                    }
                                }
                            }
                        }

                        &.has-status.failed {
                            .section-item-link {
                                .course-item-meta {
                                    .trans {
                                        color: #f02425;
                                    }
                                }
                            }
                        }

                        &.status-completed {
                            .section-item-link {
                                .course-item-meta {
                                    .trans {
                                        color: $primary-color-course-item-status;
                                    }
                                }
                            }
                        }

                    }
                }

                &.section-empty {
                    .section-header {
                        margin: 0;
                    }

                    .learn-press-message {
                        margin: 0;
                        background: #F5F5F5;
                        border-radius: 0;
                        border-bottom: 1px solid #d9e0f1;
                        color: #999;
                        font-size: 14px;
                        padding: 10px;

                        &:before,
                        &:after {
                            width: 0;
                            height: 0;
                            border: 8px solid transparent;
                            border-bottom-color: #F5F5F5;
                            background: transparent;
                            top: -16px;
                            left: 10px;
                            z-index: 9999;
                            content: '';
                            position: absolute;
                            @include border-radius(0);
                        }

                        &:after {
                            border-width: 10px;
                            border-bottom-color: #d9e0f1;
                            z-index: 9998;
                            top: -20px;
                            left: 8px;
                        }
                    }
                }
            }

            &.scrolling {
                .section-header {
                    //background: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }

    #popup-content {
        flex: 1;
        position: relative;
        margin: 70px 0 50px 0;
        overflow: auto;

        .lp-button {
            margin: 0 10px 0 0;
            font-size: 14px;
            border-color: $secondary-color;
            padding: 12px 29px;

            &.instant-check {
                &:before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f058";
                    margin-right: 5px;
                }
            }

            &:hover {
                border-color: $primary-color;
            }

            &.completed {
                width: 100%;
                border-color: transparent;
                background: #3db748;
                color: #fff;
                margin-top: 32px;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                font-size: 16px;

                i {
                    font-size: 14px;
                    margin-left: 9px;
                }
            }
        }

        #learn-press-content-item {
            .content-item-wrap {
                margin: 0 auto;
                width: 792px;
                max-width: 100%;
                padding: 50px 0 80px 0;

                @media (max-width: 1024px) {
                    width: 100%;
                }

                .content-item-summary {
                    .course-item-title {
                        font-size: 30px;
                        font-weight: 600;
                        color: #333;
                        margin-bottom: 24px;
                        margin-top: 0;
                        @media (max-width: 1024px) {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        @media (max-width: 767px) {
                            text-align: center;
                        }
                    }

                    .content-item-description {
                        h2, h3, h4, h5, h6 {
                            margin-bottom: 18px;
                            font-size: 18px;
                            margin-top: 0;
                            letter-spacing: unset;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 26px;
                            margin: 0 0 18px 0;
                            color: #666;
                        }
                    }
                }
            }
        }

        #learn-press-quiz-app {
            margin-bottom: 40px;

            .quiz-content {
                font-size: 16px;
                font-weight: 300;
                line-height: 26px;
                color: #666;
                margin-bottom: 40px;
            }

            .quiz-buttons {
                display: flex;

                .button-left,
                .button-right {
                    flex: 1;
                }

                .button-left {
                    .lp-button {
                        padding: 13px 36px;
                    }
                }

                .button-right {
                    text-align: right;

                    .lp-button {
                        margin: 0 0 10px 10px;
                    }
                }

                .lp-button[data-type="question-nav"] {
                    background: #fbfcff;
                    border: 1px solid #d9e0f1;
                    color: #777;
                    margin: 0;

                    &:before {
                        content: '';
                        border: 2px solid #d9e0f1;
                        border-top-color: transparent;
                        border-left-color: transparent;
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        @include transform(rotate(-45deg));
                    }

                    &.prev {
                        &:before {
                            margin-left: 7px;
                            @include transform(rotate(135deg));
                        }
                    }

                    &.next {
                        margin-left: -1px;

                        &:before {
                            margin-right: 7px;
                        }
                    }

                    &:hover {
                        background: #FFF;
                    }
                }

                &.align-center {
                    display: block;


                    .button-left {
                        text-align: center;

                        &.fixed {
                            //position: fixed;
                            //bottom: 0px;
                            //z-index: 99999;
                            //_width: 200px;
                            //left: 50%;
                            //transform: translateX(-50%);
                            //margin-left: 200px; // Course curriculum / 2
                            //height: 50px;


                            position: fixed;
                            bottom: 0px;
                            z-index: 99999;
                            left: 50%;
                            transform: translateX(-50%);
                            margin-left: 237px;
                            height: 50px;
                            width: 792px;
                        }
                    }

                    .button-right {
                        display: none;
                    }
                }

                &:not(.infinity) {
                    &.is-first {
                        .prev {
                            display: none;
                        }

                        .next {

                        }
                    }

                    &.is-last {
                        .next {
                            display: none;
                        }
                    }
                }

                &:not(.is-first):not(.is-last) {
                    .prev {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .next {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }

            .questions-pagination {
                text-align: center;
                /* margin: 8px 0; */
                height: 33px;
                padding: 8px 0;
                background: #FFF;
                margin-top: 1px;

                .nav-links {
                    //display: inline-block;

                    .page-numbers {
                        display: inline-block;
                        padding: 10px 16px;
                        line-height: 1;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 300;
                        color: #666;
                        margin: 0;

                        &.next,
                        &.prev {
                            background: transparent;
                            display: inline-block;
                            padding: 8px;

                            &:before {
                                content: '\f104';
                                font-weight: 900;
                                font-family: "Font Awesome 5 Free";
                                font-size: 14px;
                                color: #999;
                            }
                        }

                        &.prev {
                            float: left;
                        }

                        &.next {
                            float: right;

                            &:before {
                                content: '\f105';
                            }
                        }

                        &.current,
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .quiz-status {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 0 35px 0;
            z-index: 99;

            > div {
                display: flex;
                height: 60px;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                max-width: 100%;
                width: 792px;
                background: $primary-color;
                padding: 5px 10px 5px 30px;
                box-sizing: border-box;
                border-radius: 4px;

                > div {
                    flex: 0 0 50%;
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                }

                .current-point {
                    display: none;
                }
            }

            .questions-index {
                display: inline-block;
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                color: #666;

                span {
                    font-weight: 500;
                    color: #333;
                }
            }

            .countdown {
                padding: 12px 29px;
                background: #fff;
                border: 1px solid $secondary-color;
                font-size: 14px;
                line-height: 1;
                border-radius: 3px;
                color: #333;
                font-weight: 400;
                min-width: 120px;
                text-align: center;
                position: relative;

                .fas {
                    font-size: 14px;
                    position: absolute;
                    color: #333;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }

                .clock {
                    display: none;
                    width: 40px;
                    height: 40px;

                    &:before {
                        border: 4px solid #b1c1e6;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        content: '';
                        position: absolute;
                        @include box-sizing(border-box);
                    }

                    .circle-progress-bar {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        stroke: #5383f7;
                        display: inline-block;

                        .circle-progress-bar__circle {
                            transition: 0.35s stroke-dashoffset;
                            transform: rotate(-90deg);
                            transform-origin: 50% 50%;
                        }
                    }

                    &.x {
                        .circle-progress-bar__circle {
                            stroke: #FF0000;
                        }
                    }
                }
            }

            #button-submit-quiz {
                margin: 0 0 0 10px;
                background: #fff;
                text-transform: uppercase;

                &:hover {
                    color: $primary-color;
                }
            }

            &.submitting {
                #button-submit-quiz {
                    background: #DDD;
                }
            }
        }

        &.fixed-quiz-status {
            .quiz-status {
                background: $primary-color;

                & > div {
                    padding: 0;
                }
            }
        }
    }

    #popup-footer {
        position: fixed;
        width: 792px;
        margin: 0 auto;
        left: 475px;
        right: 0;
        bottom: 0;
        height: 50px;
        background: #FFF;
        z-index: 999;
        border-top: 1px solid #ebebeb;
        @include transition(left 0.25s);
        @media (max-width: 1024px) {
            width: 100%;
            padding: 0 15px;
        }

        .course-item-nav {
            justify-content: space-between;

            .prev,
            .next {
                display: flex;

                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    color: #666;
                }

                line-height: 50px;

                &:before {
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    font-size: 12px;
                    color: #999;
                }

                &:hover {
                    a,
                    &:before {
                        color: $primary-color;
                    }
                }

            }

            .next {
                flex-direction: row-reverse;

                &:before {
                    content: '\f0da';
                    margin-left: 10px;
                }
            }

            .prev {
                &:before {
                    content: '\f0d9';
                    margin-right: 10px;
                }

                .course-item-nav__name {
                    right: auto;
                    left: -30px;
                }
            }

            .course-item-nav__name {
                font-size: 14px;
                font-weight: 300;
                color: #666;
                position: absolute;
                display: none;
                background: #CCC;
                padding: 10px 15px;
                width: auto;
                line-height: 1;
                top: -20px;
                right: -30px;
            }

            .next, .prev {
                &:hover {
                    .course-item-nav__name {
                        display: block;
                    }
                }
            }

            .prev {
                .course-item-nav__name {
                    &:before {
                        right: auto;
                        left: 5px;
                    }
                }
            }

            &[data-nav="next"] {
                justify-content: flex-end;
            }
        }
    }

    #sidebar-toggle {
        margin: 0;
        position: absolute;
        background: #FFF;
        display: inline-block;
        width: 25px;
        height: 56px;
        left: 475px;
        top: 198px;
        z-index: 100;
        -webkit-appearance: none;
        transition: 0.25s;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:before {
            content: '\f0d9';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            display: inline-block;
            position: absolute;
            top: 50%;
            transition: 0.25s;
            left: 50%;
            font-size: 18px;
            color: $primary-color;
            transform: translate(-50%, -50%);
        }

        &:focus {
            border: 0;
            outline: 0;
        }
    }

    #sidebar-toggle {
        &:checked {
            left: 0;
            /*background: #5383f7;
            border-color: #5383f7;*/
            &:before {
                content: '\f0da';
            }
        }

        &:checked {
        }
    }

    #sidebar-toggle:checked ~ #popup-sidebar {
        flex: 0 0 0;
    }

    #sidebar-toggle:checked ~ #popup-footer,
    #sidebar-toggle:checked ~ #popup-header {
        left: 0;
    }

    .lp-quiz-buttons {
        .complete-quiz,
        .back-quiz,
        .review-quiz {
            float: right;
        }
    }

    .quiz-results,
    .quiz-content,
    .quiz-questions,
    .quiz-buttons,
    .quiz-attempts {
        margin-bottom: 60px;
    }

    .quiz-result {
        .result-grade {
            position: relative;
            height: 200px;
            padding: 50px;
            box-sizing: border-box;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:before, svg {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -100px;
                @include border-radius(50%);
            }

            &:before {
                border: 10px solid #ccc;
                padding: 30px;
                box-sizing: border-box;
                content: '';
            }

            svg {
                @include transform(rotate(-90deg));

                circle {
                    stroke: $primary-color;
                }
            }
        }

        &.passed {
            .result-grade {
                svg {
                    @include transform(rotate(-90deg));

                    circle {
                        //stroke: #3eacff;
                        //stroke: #4CAF50;
                    }
                }

                .result-achieved {
                    color: #333;
                }

                .result-message {
                    strong {
                        color: #4CAF50;
                    }
                }
            }
        }
    }

    .quiz-questions {
        .question {
            margin-bottom: 60px;
        }
    }

    .question {
        .answer-option {
            _border: 2px solid #d9e0f1;
            padding: 0;
            background: #FFFFFF;

            input[type="radio"],
            input[type="checkbox"] {
                position: absolute;
                top: 50%;
                margin: -19px 0 0 10px;
                border-color: #d9e0f1;
                @include border-radius(4px);

                &:after {
                    border-color: #d9e0f1;
                }

                &:disabled {
                    border-color: #DDD;
                    background: #F9F9F9;

                    &:after {
                        border-color: #DDD;
                    }
                }

                &:checked:not(:disabled) {
                    &:after {
                        border-color: #99aee4;
                    }
                }
            }

            input[type="radio"] {
                @include border-radius(50%);

                &:before {
                    border-radius: 50%;
                }
            }

            .option-title {
                padding: 14px 10px 11px 65px;
                display: flex;
                font-weight: 300;
                color: #666;
                margin: 0;
                width: 100%;
                background: #FFF;
                border: 1px solid #ccc;
                font-size: 16px;
                line-height: 26px;
                @include border-radius(4px);

                &:after {
                    content: '.';
                    display: inline-block;
                    visibility: hidden !important;
                }

                &:hover {
                    background: #F9F9F9;
                }
            }

            .option-title {
                &:before {
                    display: none;
                }
            }

            &.answer-correct {
                .option-title {
                    border-color: #4CAF50;
                }
            }

            &.answered-correct {
            }

            &.answered-wrong {
                .option-title {
                    border-color: #ff6423;
                }
            }
        }

        .question-title {
            display: block;
            font-weight: normal;
            font-size: 18px;
            font-weight: 500;
            color: #333;
            margin-top: 0;
            margin-bottom: 18px;

            .edit-link {
                font-weight: normal;
                float: right;
                font-size: 14px;
            }
        }

        .question-content {
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            color: #666;
            margin-bottom: 30px;
        }

        .question-response {
            margin-bottom: 10px;
            font-size: 14px;

            .label {
                display: inline-block;
                line-height: 1;
                padding: 8px 10px;
                border-radius: 4px;
                color: #FFF;
                margin: 0 5px 0 0;
            }

            .point {
                display: inline-block;
            }

            &.correct {
                .label {
                    background: #4CAF50;
                }
            }

            &.incorrect {
                .label {
                    background: #ff6423;
                }
            }
        }

        .question-index {
            display: inline-block;
            margin: 0 5px 0 0;
        }

        .btn-show-hint {
            background: transparent;
            color: #00adff;
            padding: 0;
            margin: 0 0 0 10px;
            font-size: 21px;

            &:before {
                content: "\f05a";
                font-family: "Font Awesome 5 Free";
            }
        }

        &.question-fill_in_blanks {
            .blanks {
                .blank-input-wrap {
                    display: inline-block;
                }

                .blank-block {
                    margin-bottom: 20px;
                }

                .blank-input {
                    display: inline-block;
                    width: auto;
                    border: none;
                    border-bottom: 1px dashed #DDD;
                    padding: 0 10px;
                    margin: 0 10px;
                    text-align: center;
                    min-width: 50px;
                    white-space: nowrap;

                    br {
                        display: none;
                    }

                    > * {
                        display: inline;
                        white-space: nowrap;
                    }
                }

                .blank-select {
                    display: inline-block;
                    padding: 1px;
                    height: 30px;
                    margin-left: 4px;
                }

                .blank-fills {
                    display: inline-block;

                    code {
                        background: #DDD;
                        line-height: 1;
                        padding: 0 6px;
                        margin: 0 5px;
                        @include border-radius(4px);
                    }
                }

                &.paragraphs {
                    .blank-block {
                    }
                }

                &.ordered {
                    list-style-position: inside;
                }

                &.one-paragraph {
                    line-height: 3;
                }
            }
        }

        &:not(.question-answered) {
            input[type="radio"]:checked + .option-title,
            input[type="checkbox"]:checked + .option-title {
                //border-color: #99aee4;
            }
        }
    }

    .scrollbar-light {
        > .scroll-element {
            z-index: 9999;

            &.scroll-y {
                display: none;

                .scroll-bar {
                    @include box-sizing(border-box);
                }
            }
        }
    }
}

body {
    &.admin-bar {
        #popup-course {
            top: 32px;
        }
    }
}

.course-curriculum {
    .section-header {
        .section-meta {
            position: relative;
        }

        //.section-progress {
        //    width: 24px;
        //    height: 24px;
        //    position: absolute;
        //    right: 0;
        //    top: 50%;
        //    margin-top: -12px;
        //    .circle-progress-bar {
        //        position: relative;
        //        width: 24px;
        //        height: 24px;
        //        stroke: #5383f7;
        //        display: inline-block;
        //        .circle-progress-bar__circle {
        //            transition: 0.35s stroke-dashoffset;
        //            transform: rotate(-90deg);
        //            transform-origin: 50% 50%;
        //        }
        //    }
        //    &:before {
        //        content: '';
        //        display: block;
        //        border: 6px solid #d9e0f1;
        //        position: absolute;
        //        width: 100%;
        //        height: 100%;
        //        border-radius: 50%;
        //    }
        //}
    }
}

@media screen and (max-width: 1280px) {
    #popup-course {
        #popup-sidebar {
            flex-basis: 300px;

            .course-curriculum {
                width: 300px;
            }
        }

        #popup-header,
        #popup-footer {
            left: 300px;
        }

        #sidebar-toggle {
            left: 299px;
        }
    }
}

@media screen and (max-width: 782px) {
    body {
        &.admin-bar {
            #popup-course {
                top: 46px;
            }
        }
    }

    #popup-course {
        #popup-sidebar {
            flex-basis: 250px;

            .course-curriculum {
                width: 250px;
            }
        }

        #popup-header,
        #popup-footer {
            left: 250px;
        }

        #sidebar-toggle {
            left: 249px;
        }

        #sidebar-toggle:checked ~ #popup-sidebar {
            flex-basis: 0;
        }

        #sidebar-toggle:checked ~ #popup-footer,
        #sidebar-toggle:checked ~ #popup-header {
            left: 0;
        }

        .course-item-meta {
            .item-meta {
                &.count-questions,
                &.duration {
                    display: none;
                }
            }
        }
    }
}