body{
    &.lp-preview{
        #learn-press-course-curriculum{
            display: none;
        }

        #learn-press-content-item{
            top: 0 !important;
            left: 0 !important;
        }

        #course-item-content-header{
            display: none;
        }
    }
}