#learn-press-user-profile {
    overflow: hidden;
}

#learn-press-profile-header {
    height: 100px;
    background: #f0defb;
    position: relative;
    .lp-profile-avatar {
        position: absolute;
        bottom: -20px;
        left: 20px;
        img {
            border-radius: 0;
        }
    }
}

#learn-press-profile-nav {
    float: left;
    min-width: 200px;
    padding-top: 40px;
    background: #f5f5f5;
    margin-bottom: -20000px;
    padding-bottom: 20000px;
    .tabs {
        list-style: none;
        li {
            margin-bottom: 0;
            ul{
                list-style: none;
                margin: 0;
                background: #F9F9F9;
                li{
                    a{
                        padding-left: 20px;
                    }
                }
            }
            a {
                display: block;
                text-decoration: none;
                padding: 5px 10px;
                border: none;
                box-shadow: none;
                outline: none;
                &:hover {
                    background: #FFF;
                }
            }
            &.active {
                a {
                    background: #FFF;
                }
            }
        }
    }
}

#learn-press-profile-content {
    margin-left: 230px;
    padding-top: 40px;
    padding-right: 30px;
    .lp-sections {
        list-style: none;
        overflow: hidden;
        li {
            float: left;
            a {
                text-decoration: none;
                display: block;
                padding: 3px 5px;
                border: none;
                box-shadow: none;
            }
            &.active {
                a {
                    border-bottom: 2px solid #DDD;
                }
            }
        }
    }
}

#learn-press-profile-footer {
    clear: both;
    background: #FFF;
    z-index: 10;
    position: relative;
}