#learn-press-profile {
	background: #fff;

	.wrapper-profile-header {
		color: #fff;
		background: $secondary-color;

		#profile-header {

			.lp-profile-header__inner {
				width: 90%;
				min-height: 252px;
				margin: 0 auto;
				padding: 82px 200px 30px 240px;

				.lp-profile-username {
					padding-bottom: 18px;
					font-size: 18px;
					font-weight: 500;
					text-transform: capitalize;
				}

				.lp-profile-user-bio {
					font-size: 16px;
					font-weight: 300;
					line-height: 26px;
				}

				@media (max-width: 990px) {
					width: 100%;
					padding: 65px 0 30px 0;
					text-align: center;
				}

				@media (max-width: 767px) {
					padding: 30px 0;
				}
			}
		}
	}

	#profile-sidebar {
		float: left;
		width: 270px;
		margin-top: -212px;
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);

		@media (max-width: 990px) {
			width: 50%;
			margin-top: 58px;
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.lp-user-profile-avatar {
		margin: 25px;

		img {
			position: relative;
			width: 100%;
			height: auto;
			border-radius: unset;
		}
	}

	.lp-user-profile-socials {
		display: flex;
		position: relative;
		z-index: 1;
		margin: -47px 26px 0 26px;
		padding-bottom: 30px;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 0 7px;
			border: 1px solid #cfcfcf;
			color: #666;
			background: #fff;
			font-size: 16px;
			line-height: 40px;
			text-align: center;

			@include border-radius(50%);

			&:hover {
				border-color: $primary-color;
				color: #fff;
				background: $primary-color;
			}
		}
	}

	#profile-nav {

		.lp-profile-nav-tabs {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				position: relative;
				margin: 0;
				border-top: 1px solid rgba(204, 204, 204, 0.3);

				a {
					display: block;
					padding: 0 20px;
					color: #333;
					font-size: 16px;
					font-weight: 500;
					line-height: 53px;
				}

				> a {
					padding: 0 20px 0 52px;

					> i {
						display: inline-block;
						position: absolute;
						left: 24px;
						width: 28px;
						color: $primary-color;
						font-size: 12px;
						line-height: 52px;
						text-align: left;
					}

					&::after {
						float: right;
						margin-right: 4px;
						color: #999;
						font-family: "Font Awesome 5 Free";
						font-size: 10px;
						font-weight: 900;
						content: "\f054";
					}
				}

				ul {

					li {
						margin: 0;

						a {
							border-bottom: 1px solid #f9f9f9;

							&:hover {
								color: $primary-color;
								background: #fff;
							}
						}
					}
				}

				&.active,
				&:hover {

					> a {

						&::after {
							content: "\f053";
						}
					}
				}

				&.active {

					a {
						padding-left: 52px;
					}
				}

				&:last-child {
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}

				&.wishlist {

					& > a::before {
						position: absolute;
						left: 25px;
						color: $primary-color;
						font-family: "Font Awesome 5 Free";
						font-size: 12px;
						font-weight: 900;
						content: "\f004";
					}

					&:hover a::before {
						color: #fff;
					}
				}

				&.logout {

					& > a::after {
						display: none;
					}
				}
			}

			li {

				> a {
					box-sizing: border-box;
					height: 53px;
				}

				> ul {
					display: none;
					position: absolute;
					z-index: 1000;
					top: 0;
					left: 100%;
					min-width: 150px;
					margin: 0;
					padding: 0;
					background: #fff;
					box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
					list-style: none;
				}

				&.active,
				&:hover {
					background: $primary-color;

					> a {
						color: #fff;

						i,
						&::after {
							color: #fff;
						}
					}

					> ul {
						display: block;
					}
				}

				&.active {

					> ul {
						position: relative;
						left: 0;

						.active {
							background: #fff;

							> a {
								color: #ffb606;
							}
						}
					}
				}
			}
		}
	}

	#profile-content {
		float: right;
		width: calc(100% - 300px);
		margin-bottom: 60px;
		padding-top: 58px;

		@media (max-width: 990px) {
			width: 100%;
		}

		@media (max-width: 767px) {

			.learn-press-tabs {

				.learn-press-tabs__nav {
					display: grid;
					border: 0;

					.learn-press-tabs__tab {
						border-right: 0;
					}
				}
			}
		}

		.lp-archive-courses {

			ul.learn-press-courses {

				.course {
					margin: 0 0 40px 0;

					.course-item {

						.course-content {
							padding: 20px 20px 12px 20px;

							.course-categories,
							.course-instructor {
								margin-bottom: 14px;
							}

							.course-categories {
								padding: 0;
							}
						}
					}
				}
			}
		}

		.lp-button {
			display: block;
			margin: 0 auto 52px auto;
			padding: 13px 34px;
			border-color: $secondary-color;
			font-size: 14px;
			font-weight: 500;

			@include border-radius(9px);

			&:hover {
				border-color: $primary-color;
			}
		}

		#profile-content-orders {

			.profile-orders {

				.profile-heading {
					display: none;
				}

				table {
					margin-top: 0;
				}
			}
		}
	}

	#dashboard-general-statistic {
		margin-bottom: 55px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
	}

	.dashboard-general-statistic__row {
		display: flex;
		margin: 0 -15px;
		justify-content: center;
		flex-wrap: wrap;

		.statistic-box {
			width: 270px;
			margin: 0 15px 40px 15px;
			padding: 27px 25px 15px 25px;
			border: 1px solid #ccc;
			border-radius: 4px;
			background: #f9fafc;
			text-align: center;

			@media (max-width: 990px) {
				width: 45%;
			}

			@media (max-width: 767px) {
				width: 100%;
				margin: 0 15px 20px 15px;
			}

			.statistic-box__text {
				margin: 0 0 7px 0;
				padding: 0;
				color: #666;
				font-size: 18px;
				font-weight: 400;
				line-height: 1;
			}

			.statistic-box__number {
				color: #333;
				font-size: 18px;
				font-weight: 500;
				line-height: 1;
			}

			&:hover {
				background: #eaeaea;
			}
		}

		&[data-col="2"] {

			.statistic-box {
				width: 50%;
			}
		}

		&[data-col="4"] {

			.statistic-box {
				width: 25%;
			}
		}

		&[data-col="5"] {

			.statistic-box {
				width: 20%;
			}
		}
	}

	.profile-courses {

		& > h3 {
			margin-top: 0;
			margin-bottom: 36px;
			color: #333;
			font-size: 30px;
			font-weight: 600;
			line-height: 1;
			text-transform: capitalize;
		}
	}
}

#learn-press-profile-basic-information,
form[name="profile-change-password"] {

	.form-field {
		margin: 0 10px 24px 10px;

		& > label {
			margin: 0 0 12px 0;
			color: #333;
			font-size: 16px;
			font-weight: 500;
			font-style: italic;
		}

		.form-field-input {

			input {
				height: 43px;
				padding: 8px 20px;
				font-weight: 400;

			}

			input[type="password"] {
				padding: 8px 20px;
			}

			textarea {
				padding: 9px 20px 16px 20px;
				font-weight: 300;
				line-height: 24px;
			}

			input,
			textarea {
				border: 1px solid #ccc;
				color: #999;
				font-size: 14px;
				font-style: italic;

				&:focus {
					border-color: $primary-color;
					outline: 0;
					color: #222;
				}
			}

			::placeholder {
				opacity: 1;
				color: #999;
			}

			:-ms-input-placeholder {
				color: #999;
			}

			::-ms-input-placeholder {
				color: #999;
			}

			.description {
				margin-top: 15px;
			}
		}

		@media (max-width: 767px) {
			margin: 0 0 24px 0;
		}
	}

	.form-field__50 {
		float: left;
		width: calc(50% - 20px);
		margin-right: 10px;

		@media (max-width: 767px) {
			float: unset;
			width: 100%;
			margin: 0 0 24px 0;
		}
	}

	.form-field__clear {
		clear: both;
	}

	button {
		padding: 16px 24px;
		border: 0;
		border-radius: 3px;
		color: #fff;
		background: $primary-color;
		font-size: 16px;
		font-weight: 400;
		line-height: 1;

		&:hover {
			background: darken($primary-color, 15%);
		}
	}

	p {
		margin: 0;
	}
}

#learn-press-profile-basic-information {

	.form-fields {
		margin: 0 -10px;

		&::after {
			display: block;
			clear: both;
			content: "";
		}

		@media (max-width: 767px) {
			margin: 0;
		}
	}
}

#lp-user-edit-avatar {
	position: relative;
	margin-bottom: 50px;

	img {
		vertical-align: top;
	}

	.lp-avatar-preview {
		position: relative;
		margin: 0 auto;
	}

	.lp-avatar-crop-image {
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #ddd;

		.crop-container {
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				left: 0 !important;
				max-width: none;
				margin-left: 50%;
				line-height: 1;
				vertical-align: middle;
				transform: translateX(-50%);
			}

			//&:before,
			//&:after{
			//    content: '';
			//    display: block;
			//    width: 100%;
			//    height: 100%;
			//    position: absolute;
			//    background: #FFF;
			//    opacity: 0.8;
			//}
		}

		.lp-crop-controls {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
			opacity: 0;

			&::before {
				display: block;
				width: 100%;
				height: 40px;
				background: rgba(255, 255, 255, 0.53);
				content: "";
			}

			.lp-zoom {
				position: absolute;
				top: 50%;
				right: 100px;
				left: 20px;
				margin-top: -1px;

				.ui-slider {
					position: absolute;
					width: 100%;
					height: 2px;
					background: #6d6d6d;
					cursor: move;

					.ui-slider-handle {
						position: absolute;
						width: 20px;
						height: 20px;
						margin-top: -9px;
						margin-left: -10px;
						border-radius: 50%;
						background: #ffb608;
					}
				}
			}

			.lp-save-upload,
			.lp-cancel-upload {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 40px;
				height: 40px;
				opacity: 0.7;
				color: #f02425;
				background: #ffffff59;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				cursor: pointer;

				&:hover {
					opacity: 1;
				}
			}

			.lp-save-upload {
				right: 40px;
				color: #3db748;
			}
		}

		.lp-crop-area {
			position: absolute;
			top: 0;
			left: 50%;
			box-sizing: border-box;
			border: 2px dashed #999;
			transform: translateX(-50%);
			pointer-events: none;

			&::before,
			&::after {
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				width: 1000px;
				opacity: 0.6;
				background: #000;
				content: "";
			}

			&::before {
				left: -2px;
				transform: translateX(-100%);
			}

			&::after {
				left: 100%;
				margin-left: 2px;
			}
		}
	}

	&:hover {

		.lp-crop-controls {
			opacity: 1;
		}
	}

	.profile-picture {
		display: none;
		width: 100%;
		margin-right: -100%;

		img {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}

		&.profile-avatar-current {
			display: block;
		}
	}

	#lp-avatar-actions {
		display: flex;
		top: 50%;
		width: 100%;
		margin-top: 10px;
		text-align: center;
		justify-content: center;

		a {
			display: inline-block;
			z-index: 10;
			height: 40px;
			margin: 0 1px 0 0;
			padding: 0 25px;
			border: 1px solid #eee;
			border-radius: 4px;
			color: #444;
			background: #fff;
			font-size: 15px;
			line-height: 40px;
			text-align: center;
			flex: 0 0 auto;

			i {
				margin-right: 6px;
				font-size: 14px;
			}

			&#lp-remove-upload-photo {
				display: none;
				margin-left: 10px;
			}
		}
	}


	&[data-custom="yes"] {

		#lp-avatar-actions {

			#lp-remove-upload-photo {
				display: block;
			}
		}
	}
}

.order-recover {
	display: flex;

	.button-recover-order {
		margin-left: 20px;
	}
}

//#learn-press-user-profile {
//    position: relative;
//    //&:before {
//    //    position: absolute;
//    //    content: '';
//    //    width: 200px;
//    //    top: 0;
//    //    bottom: 0;
//    //    background: #f5f5f5;
//    //}
//
//    &:after {
//        @include clear-fix();
//    }
//}
//
//#learn-press-profile-header {
//    height: 100px;
//    background: #f0defb;
//    position: relative;
//    z-index: 100;
//    .lp-profile-avatar {
//        position: absolute;
//        bottom: -10px;
//        left: 10px;
//        img {
//            border-radius: 0;
//        }
//    }
//}
//
//#learn-press-profile-nav {
//    float: left;
//    min-width: 200px;
//    padding-top: 40px;
//    background: #f5f5f5;
//    /*margin-bottom: -20000px;
//    padding-bottom: 20000px;*/
//    &:before {
//        content: '';
//        width: 200px;
//        background: #F5F5F5;
//        top: 0;
//        bottom: 0;
//        position: absolute;
//    }
//    .tabs {
//        list-style: none;
//        margin: 0;
//        padding: 0;
//        > li {
//            margin-bottom: 0;
//            position: relative;
//            ul {
//                list-style: none;
//                margin: 0;
//                padding: 8px 0;
//                display: none;
//                li {
//                    a {
//                        padding-left: 20px;
//
//                    }
//                    &.active {
//                        a {
//                            color: #FFF;
//                        }
//                    }
//                    &:hover {
//                        a {
//                            background: transparent;
//                            color: #FFF;
//                        }
//                    }
//                }
//            }
//            a {
//                display: block;
//                text-decoration: none;
//                padding: 5px 10px;
//                border: none;
//                box-shadow: none;
//                outline: none;
//                &:hover {
//                    background: #FFF;
//                }
//            }
//            &.active {
//                ul {
//                    background: #EAEAEA;
//                    display: block;
//                }
//                > a {
//                    background: #D9D9D9;
//                }
//            }
//            &:hover:not(.active) {
//                > a {
//                    background: #D0D0D0;
//                    color: #FFF;
//                }
//                ul {
//                    background: #EAEAEA;
//                    display: block;
//                    position: absolute;
//                    width: 200px;
//                    top: 0;
//                    margin: 0;
//                    padding: 0;
//                    left: 100%;
//                    z-index: 100;
//                }
//            }
//        }
//    }
//
//}
//
//#learn-press-profile-content {
//    float: right;
//    width: calc(100% - 230px);
//    margin-top: 30px;
//    overflow: hidden;
//    .lp-sections {
//        list-style: none;
//        overflow: hidden;
//        li {
//            float: left;
//            a {
//                text-decoration: none;
//                display: block;
//                padding: 3px 5px;
//                border: none;
//                box-shadow: none;
//            }
//            &.active {
//                a {
//                    border-bottom: 2px solid #DDD;
//                }
//            }
//        }
//    }
//}
//
//#learn-press-profile-footer {
//    clear: both;
//    background: #FFF;
//    z-index: 10;
//    position: relative;
//}
//
//.lp-user-profile {
//    .profile-name {
//        display: block;
//        position: absolute;
//        width: 100%;
//        text-align: center;
//        font-size: 13px;
//    }
//}
//
//.profile-list-table {
//    td {
//        &.column-actions {
//            white-space: nowrap;
//        }
//    ;
//    }
//    .result-percent {
//        font-size: 12px;
//        font-weight: bold;
//        min-width: 40px;
//        display: inline-block;
//    }
//}
//
//.profile-list-courses,
//.profile-list-quizzes {
//    .column-course {
//
//    }
//    .column-passing-grade,
//    .column-time-interval,
//    .column-date,
//    .column-status {
//        width: 150px;
//    }
//}
//
//.profile-recover-order {
//    padding: 20px;
//    border: 1px solid #DDD;
//    @include border-radius(4px);
//    p {
//        margin-bottom: 10px;
//    }
//    input[name="order-key"] {
//        width: 250px;
//        display: inline-block;
//    }
//}
//
//.order-recover {
//    input[name="order-key"], button {
//        vertical-align: middle;
//    }
//}
//
//.column-order-action {
//    a {
//        display: inline-block;
//        margin-right: 5px;
//    }
//}
//
//.lp-tab-sections {
//    list-style: none;
//    margin: 0 0 20px 0;
//    padding: 0;
//    background: #eaeaea;
//    .section-tab {
//        float: left;
//        list-style: none;
//        a, span {
//            display: inline-block;
//            padding: 8px 10px;
//            line-height: 1;
//            box-shadow: none;
//        }
//        &.active {
//            span {
//                border-bottom: 2px solid #00adff;
//                padding-bottom: 6px;
//            }
//        }
//    }
//    &:after {
//        @include clear-fix();
//    }
//}
//
//.profile-heading {
//    font-size: 18px;
//}
//
//.lp-sub-menu {
//    list-style: none;
//    margin: 0 0 10px 0;
//    li {
//        display: inline-block;
//        margin: 0 10px 0 0;
//        a, span {
//            display: inline-block;
//            vertical-align: middle;
//            margin-right: 6px;
//            &.count {
//                background: #72909e;
//                line-height: 1;
//                padding: 5px 8px;
//                border-radius: 10px;
//                font-size: 12px;
//                color: #FFF;
//                min-width: 24px;
//                text-align: center;
//            }
//        }
//        span + span.count {
//            background: #00adff;
//            float: right;
//        }
//    }
//}
//
//.learn-press-nav-items {
//    .learn-press-pagination {
//        float: right;
//    }
//
//    &:after {
//        @include clear-fix();
//    }
//}
//
//.lp-avatar-preview {
//    position: relative;
//    float: left;
//    background-color: #DDD;
//    margin-bottom: 20px;
//    overflow: hidden;
//
//    .profile-picture {
//        float: left;
//        margin-right: -100%;
//        width: 100%;
//        margin-top: -25%;
//        img {
//            width: 100%;
//            height: 100%;
//            border-radius: 0;
//        }
//        &.profile-avatar-hidden {
//            display: none;
//        }
//    }
//    .lp-avatar-preview-actions {
//        position: absolute;
//        top: 50%;
//        width: 100%;
//        margin-top: -14px;
//        text-align: center;
//        a {
//            text-decoration: none;
//            font-size: 12px;
//            background: #FFF;
//            display: inline-block;
//            box-shadow: none;
//            padding: 5px 10px;
//        }
//    }
//    .lp-avatar-upload-progress {
//        position: absolute;
//        height: 10px;
//        background: #FFF;
//        top: 50%;
//        margin-top: -5px;
//        left: 10px;
//        right: 10px;
//        display: none;
//        .lp-avatar-upload-progress-value {
//            width: 0;
//            height: 10px;
//            background: #563d7c;
//        }
//    }
//    .lp-avatar-upload-error {
//        display: none;
//    }
//    .lp-avatar-preview-actions {
//        display: none;
//    }
//    &:hover {
//        .lp-avatar-preview-actions {
//            display: block;
//        }
//    }
//    &.uploading, &.upload-error {
//        .lp-avatar-preview-actions {
//            display: none;
//        }
//        .lp-avatar-upload-progress {
//            display: block;
//        }
//        &:before {
//            position: absolute;
//            width: 100%;
//            height: 100%;
//            background: #FFF;
//            opacity: 0.4;
//            content: '';
//        }
//    }
//    &.upload-error {
//        .lp-avatar-upload-error {
//            display: block;
//        }
//    }
//    &.croping {
//        .lp-avatar-preview-actions {
//            display: none;
//        }
//        .lp-avatar-crop-image {
//            position: absolute;
//            top: 0;
//            left: 0;
//            width: 100%;
//            height: 100%;
//            background: #000;
//            overflow: hidden;
//            img {
//                max-width: inherit;
//                cursor: move;
//            }
//            .lp-crop-controls {
//                position: absolute;
//                bottom: 0;
//                width: 100%;
//                height: 30px;
//                .lp-zoom {
//                    position: absolute;
//                    height: 10px;
//                    bottom: 10px;
//                    left: 10px;
//                    right: 30px;
//                    background: #563d7a;
//                    .ui-slider {
//                        position: absolute;
//                        left: 0;
//                        right: 10px;
//                        height: 100%;
//                        .ui-slider-handle {
//                            display: inline-block;
//                            width: 10px;
//                            height: 14px;
//                            background: #FFF;
//                            position: absolute;
//                            margin-top: -2px;
//                            border: 1px solid #563d7a;
//                            box-shadow: none;
//                            outline: none;
//                            cursor: ew-resize;
//                        }
//                    }
//                }
//                .lp-cancel-upload {
//                    text-decoration: none;
//                    position: absolute;
//                    bottom: 5px;
//                    right: 5px;
//                    box-shadow: none;
//                }
//                &:before {
//                    position: absolute;
//                    height: 30px;
//                    width: 100%;
//                    content: '';
//                    background: #FFF;
//                    opacity: 0.4;
//                }
//            }
//        }
//    }
//    &:after {
//        @include clear-fix();
//    }
//}
//
//#profile-mobile-menu {
//    display: none;
//}
//
//@media screen and (max-width: 480px) {
//    #learn-press-user-profile {
//        &:before {
//            display: none;
//        }
//    }
//    #learn-press-profile-header {
//
//    }
//    #learn-press-profile-nav {
//        height: 40px;
//        z-index: 90;
//        /* position: relative; */
//        padding-top: 0;
//        min-width: 40px;
//        width: 40px;
//        float: right;
//        margin-bottom: 20px;
//        #profile-mobile-menu {
//            display: block;
//            width: 40px;
//            height: 40px;
//            float: right;
//            line-height: 40px;
//            text-align: center;
//            cursor: pointer;
//            box-shadow: none;
//        }
//        .learn-press-tabs {
//            right: 0;
//            width: 100%;
//            display: none;
//            background: #03A9F4;
//            color: #FFF;
//            position: absolute;
//            margin-top: 40px;
//            li {
//                a {
//                    color: #FFF;
//                }
//                &:hover:not(.active) {
//                    > a {
//                        background: #D0D0D0;
//                        color: #FFF;
//                    }
//                    ul {
//                        position: relative;
//                        left: 0;
//                        width: 100%;
//                    }
//                }
//            }
//        }
//        &:hover {
//            #profile-mobile-menu {
//                background: #03a8f4;
//                /* border: 1px solid #DDD; */
//                color: #FFF;
//            }
//            .learn-press-tabs {
//                display: block;
//            }
//        }
//        &:before {
//            content: '';
//            position: absolute;
//            left: 0;
//            right: 40px;
//            height: 40px;
//            background: #F5F5F5;
//        }
//
//        .tabs {
//
//            > li.active, > li:hover {
//
//                ul, a {
//                    background: #0191d4;
//                }
//            }
//        }
//    }
//    #learn-press-profile-content {
//        float: none;
//        width: 100%;
//    }
//}
//
//#learn-press-user-profile {
//    .learn-press-form-login,
//    .learn-press-form-register {
//        border: 1px solid #DDD;
//        padding: 20px 20px 0 20px;
//        margin-bottom: 20px;
//    }
//}
//
//@media screen and (max-width: 768px) {
//    #learn-press-user-profile,
//    #learn-press-user-profile.enable-login-register {
//
//    }
//}

