#learn-press-profile {
    background: #fff;

    .wrapper-profile-header {
        background: $secondary-color;
        color: #FFF;

        #profile-header {
            .lp-profile-header__inner {
                padding: 82px 200px 30px 240px;
                width: 90%;
                margin: 0 auto;
                min-height: 252px;

                .lp-profile-username {
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: capitalize;
                    padding-bottom: 18px
                }

                .lp-profile-user-bio {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26px;
                }

                @media (max-width: 990px) {
                    padding: 65px 0 30px 0;
                    width: 100%;
                    text-align: center;
                }
                @media (max-width: 767px) {
                    padding: 30px 0;
                }
            }
        }
    }

    #profile-sidebar {
        width: 270px;
        float: left;
        margin-top: -212px;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        background: #FFF;
        border-radius: 4px;
        @media (max-width: 990px) {
            margin-top: 58px;
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .lp-user-profile-avatar {
        margin: 25px;

        img {
            width: 100%;
            height: auto;
            border-radius: unset;
            position: relative;
        }
    }

    .lp-user-profile-socials {
        margin: -47px 26px 0 26px;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        position: relative;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        z-index: 1;

        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 1px solid #cfcfcf;
            @include border-radius(50%);
            background: #FFF;
            text-align: center;
            line-height: 40px;
            color: #666;
            margin: 0 7px;
            font-size: 16px;

            &:hover {
                background: $primary-color;
                border-color: $primary-color;
                color: #FFF;
            }
        }
    }

    #profile-nav {
        .lp-profile-nav-tabs {
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                border-top: 1px solid rgba(204, 204, 204, 0.3);
                position: relative;
                margin: 0;

                a {
                    font-size: 16px;
                    display: block;
                    padding: 0 20px;
                    line-height: 53px;
                    color: #333;
                    font-weight: 500;
                }

                > a {
                    padding: 0 20px 0 52px;

                    > i {
                        width: 28px;
                        text-align: left;
                        font-size: 12px;
                        display: inline-block;
                        color: $primary-color;
                        position: absolute;
                        left: 24px;
                        line-height: 52px;
                    }

                    &:after {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: #999;
                        content: "\f054";
                        font-size: 10px;
                        float: right;
                        margin-right: 4px;
                    }
                }

                ul {
                    li {
                        margin: 0;

                        a {
                            border-bottom: 1px solid #F9F9F9;

                            &:hover {
                                color: $primary-color;
                                background: #FFF;
                            }
                        }
                    }
                }

                &.active,
                &:hover {
                    > a {
                        &:after {
                            content: "\f053";
                        }
                    }
                }

                &.active {
                    a {
                        padding-left: 52px;
                    }
                }

                &:last-child {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                &.wishlist {
                    & > a:before {
                        content: '\f004';
                        font-size: 12px;
                        position: absolute;
                        left: 25px;
                        color: $primary-color;
                        font-weight: 900;
                        font-family: "Font Awesome 5 Free";
                    }

                    &:hover a:before {
                        color: #fff;
                    }
                }

                &.logout {
                    & > a:after {
                        display: none;
                    }
                }
            }

            li {
                > a {
                    height: 53px;
                    box-sizing: border-box;
                }

                > ul {
                    display: none;
                    position: absolute;
                    left: 100%;
                    background: #FFF;
                    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    top: 0;
                    min-width: 150px;
                    z-index: 1000;
                }

                &.active,
                &:hover {
                    background: $primary-color;

                    > a {
                        color: #FFF;

                        i,
                        &:after {
                            color: #FFF;
                        }
                    }

                    > ul {
                        display: block;
                    }
                }

                &.active {
                    > ul {
                        position: relative;
                        left: 0;

                        .active {
                            background: #FFF;

                            > a {
                                color: #ffb606;
                            }
                        }
                    }
                }
            }
        }
    }

    #profile-content {
        width: calc(100% - 300px);
        float: right;
        padding-top: 58px;
        margin-bottom: 60px;
        @media (max-width: 990px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            .learn-press-tabs {
                .learn-press-tabs__nav {
                    display: grid;
                    border: 0;

                    .learn-press-tabs__tab {
                        border-right: 0;
                    }
                }
            }
        }

        .lp-archive-courses {
            ul.learn-press-courses {
                .course {
                    margin: 0 0 40px 0;

                    .course-item {
                        .course-content {
                            padding: 20px 20px 12px 20px;

                            .course-categories,
                            .course-instructor {
                                margin-bottom: 14px;
                            }

                            .course-categories {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        .lp-button {
            display: block;
            margin: 0 auto 52px auto;
            @include border-radius(9px);
            border-color: $secondary-color;
            font-size: 14px;
            font-weight: 500;
            padding: 13px 34px;

            &:hover {
                border-color: $primary-color;
            }
        }

        #profile-content-orders {
            .profile-orders {
                .profile-heading {
                    display: none;
                }

                table {
                    margin-top: 0;
                }
            }
        }
    }

    #dashboard-general-statistic {
        margin-bottom: 55px;
        border-bottom: 1px solid #DDD;
        padding-bottom: 20px;
    }

    .dashboard-general-statistic__row {
        margin: 0 -15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .statistic-box {
            border: 1px solid #CCC;
            background: #F9FAFC;
            margin: 0 15px 40px 15px;
            border-radius: 4px;
            text-align: center;
            padding: 27px 25px 15px 25px;
            width: 270px;
            @media (max-width: 990px) {
                width: 45%;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin: 0 15px 20px 15px
            }

            .statistic-box__text {
                margin: 0 0 7px 0;
                padding: 0;
                line-height: 1;
                font-size: 18px;
                font-weight: 400;
                color: #666;
            }

            .statistic-box__number {
                font-weight: 500;
                line-height: 1;
                font-size: 18px;
                color: #333;
            }

            &:hover {
                background: #EAEAEA;
            }
        }

        &[data-col="2"] {
            .statistic-box {
                width: 50%;
            }
        }

        &[data-col="4"] {
            .statistic-box {
                width: 25%;
            }
        }

        &[data-col="5"] {
            .statistic-box {
                width: 20%;
            }
        }
    }

    .profile-courses {
        & > h3 {
            margin-top: 0;
            line-height: 1;
            margin-bottom: 36px;
            font-size: 30px;
            font-weight: 600;
            color: #333;
            text-transform: capitalize;
        }
    }
}

#learn-press-profile-basic-information,
form[name="profile-change-password"] {
    .form-field {
        margin: 0 10px 24px 10px;

        & > label {
            font-size: 16px;
            font-style: italic;
            margin: 0 0 12px 0;
            font-weight: 500;
            color: #333;
        }

        .form-field-input {
            input {
                padding: 8px 20px;
                font-weight: 400;
                height: 43px;

            }

            input[type="password"] {
                padding: 8px 20px;
            }

            textarea {
                font-weight: 300;
                line-height: 24px;
                padding: 9px 20px 16px 20px;
            }

            input,
            textarea {
                border:1px solid #ccc;
                font-size: 14px;
                color: #999;
                font-style: italic;

                &:focus {
                    border-color: $primary-color;
                    color: #222;
                    outline: 0;
                }
            }

            ::placeholder {
                color: #999;
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: #999;
            }

            ::-ms-input-placeholder {
                color: #999;
            }

            .description {
                margin-top: 15px;
            }
        }

        @media (max-width: 767px) {
            margin: 0 0 24px 0;
        }
    }

    .form-field__50 {
        float: left;
        width: calc(50% - 20px);
        margin-right: 10px;
        @media (max-width: 767px) {
            width: 100%;
            margin: 0 0 24px 0;
            float: unset;
        }
    }

    .form-field__clear {
        clear: both;
    }

    button {
        border: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        padding: 16px 24px;
        color: #fff;
        border-radius: 3px;
        background: $primary-color;

        &:hover {
            background: darken($primary-color, 15%);
        }
    }

    p {
        margin: 0;
    }
}

#learn-press-profile-basic-information {
    .form-fields {
        margin: 0 -10px;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        @media (max-width: 767px) {
            margin: 0;
        }
    }
}

#lp-user-edit-avatar {
    margin-bottom: 50px;
    position: relative;

    img {
        vertical-align: top;
    }

    .lp-avatar-preview {
        position: relative;
        margin: 0 auto;
    }

    .lp-avatar-crop-image {
        position: absolute;
        background: #DDD;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .crop-container {
            overflow: hidden;
            height: 100%;
            position: absolute;
            width: 100%;

            img {
                line-height: 1;
                vertical-align: middle;
                max-width: none;
                margin-left: 50%;
                transform: translateX(-50%);
                position: absolute;
                left: 0 !important;
            }

            //&:before,
            //&:after{
            //    content: '';
            //    display: block;
            //    width: 100%;
            //    height: 100%;
            //    position: absolute;
            //    background: #FFF;
            //    opacity: 0.8;
            //}
        }

        .lp-crop-controls {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 40px;
            opacity: 0;

            &:before {
                background: rgba(255, 255, 255, 0.53);
                height: 40px;
                width: 100%;
                content: '';
                display: block;
            }

            .lp-zoom {
                left: 20px;
                right: 100px;
                position: absolute;
                top: 50%;
                margin-top: -1px;

                .ui-slider {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #6d6d6d;
                    cursor: move;

                    .ui-slider-handle {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background: #ffb608;
                        margin-left: -10px;
                        margin-top: -9px;
                        position: absolute;
                    }
                }
            }

            .lp-save-upload,
            .lp-cancel-upload {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 24px;
                line-height: 40px;
                height: 40px;
                width: 40px;
                text-align: center;
                color: #F02425;
                background: #ffffff59;
                cursor: pointer;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }

            .lp-save-upload {
                right: 40px;
                color: #3DB748;
            }
        }

        .lp-crop-area {
            border: 2px dashed #999;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            box-sizing: border-box;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 1000px;
                top: -2px;
                bottom: -2px;
                position: absolute;
                background: #000;
                opacity: 0.6;
            }

            &:before {
                transform: translateX(-100%);
                left: -2px;
            }

            &:after {
                left: 100%;
                margin-left: 2px;
            }
        }
    }

    &:hover {
        .lp-crop-controls {
            opacity: 1;
        }
    }

    .profile-picture {
        float: left;
        margin-right: -100%;
        width: 100%;
        display: none;

        img {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }

        &.profile-avatar-current {
            display: block;
        }
    }

    #lp-avatar-actions {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            display: inline-block;
            flex: 0 0 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #FFF;
            margin: 0 1px 0 0;
            z-index: 10;

            &#lp-remove-upload-photo {
                color: #F02425;
                display: none;
            }
        }
    }

    #lp-upload-photo {
        color: #ffb608;
    }

    //&#lp-save-remove-upload-photo {
    //    color: #3DB748;
    //}


    &[data-custom="yes"] {
        #lp-avatar-actions {
            #lp-remove-upload-photo {
                display: block;
            }
        }
    }
}

.order-recover {
    display: flex;

    .button-recover-order {
        margin-left: 20px;
    }
}

//#learn-press-user-profile {
//    position: relative;
//    //&:before {
//    //    position: absolute;
//    //    content: '';
//    //    width: 200px;
//    //    top: 0;
//    //    bottom: 0;
//    //    background: #f5f5f5;
//    //}
//
//    &:after {
//        @include clear-fix();
//    }
//}
//
//#learn-press-profile-header {
//    height: 100px;
//    background: #f0defb;
//    position: relative;
//    z-index: 100;
//    .lp-profile-avatar {
//        position: absolute;
//        bottom: -10px;
//        left: 10px;
//        img {
//            border-radius: 0;
//        }
//    }
//}
//
//#learn-press-profile-nav {
//    float: left;
//    min-width: 200px;
//    padding-top: 40px;
//    background: #f5f5f5;
//    /*margin-bottom: -20000px;
//    padding-bottom: 20000px;*/
//    &:before {
//        content: '';
//        width: 200px;
//        background: #F5F5F5;
//        top: 0;
//        bottom: 0;
//        position: absolute;
//    }
//    .tabs {
//        list-style: none;
//        margin: 0;
//        padding: 0;
//        > li {
//            margin-bottom: 0;
//            position: relative;
//            ul {
//                list-style: none;
//                margin: 0;
//                padding: 8px 0;
//                display: none;
//                li {
//                    a {
//                        padding-left: 20px;
//
//                    }
//                    &.active {
//                        a {
//                            color: #FFF;
//                        }
//                    }
//                    &:hover {
//                        a {
//                            background: transparent;
//                            color: #FFF;
//                        }
//                    }
//                }
//            }
//            a {
//                display: block;
//                text-decoration: none;
//                padding: 5px 10px;
//                border: none;
//                box-shadow: none;
//                outline: none;
//                &:hover {
//                    background: #FFF;
//                }
//            }
//            &.active {
//                ul {
//                    background: #EAEAEA;
//                    display: block;
//                }
//                > a {
//                    background: #D9D9D9;
//                }
//            }
//            &:hover:not(.active) {
//                > a {
//                    background: #D0D0D0;
//                    color: #FFF;
//                }
//                ul {
//                    background: #EAEAEA;
//                    display: block;
//                    position: absolute;
//                    width: 200px;
//                    top: 0;
//                    margin: 0;
//                    padding: 0;
//                    left: 100%;
//                    z-index: 100;
//                }
//            }
//        }
//    }
//
//}
//
//#learn-press-profile-content {
//    float: right;
//    width: calc(100% - 230px);
//    margin-top: 30px;
//    overflow: hidden;
//    .lp-sections {
//        list-style: none;
//        overflow: hidden;
//        li {
//            float: left;
//            a {
//                text-decoration: none;
//                display: block;
//                padding: 3px 5px;
//                border: none;
//                box-shadow: none;
//            }
//            &.active {
//                a {
//                    border-bottom: 2px solid #DDD;
//                }
//            }
//        }
//    }
//}
//
//#learn-press-profile-footer {
//    clear: both;
//    background: #FFF;
//    z-index: 10;
//    position: relative;
//}
//
//.lp-user-profile {
//    .profile-name {
//        display: block;
//        position: absolute;
//        width: 100%;
//        text-align: center;
//        font-size: 13px;
//    }
//}
//
//.profile-list-table {
//    td {
//        &.column-actions {
//            white-space: nowrap;
//        }
//    ;
//    }
//    .result-percent {
//        font-size: 12px;
//        font-weight: bold;
//        min-width: 40px;
//        display: inline-block;
//    }
//}
//
//.profile-list-courses,
//.profile-list-quizzes {
//    .column-course {
//
//    }
//    .column-passing-grade,
//    .column-time-interval,
//    .column-date,
//    .column-status {
//        width: 150px;
//    }
//}
//
//.profile-recover-order {
//    padding: 20px;
//    border: 1px solid #DDD;
//    @include border-radius(4px);
//    p {
//        margin-bottom: 10px;
//    }
//    input[name="order-key"] {
//        width: 250px;
//        display: inline-block;
//    }
//}
//
//.order-recover {
//    input[name="order-key"], button {
//        vertical-align: middle;
//    }
//}
//
//.column-order-action {
//    a {
//        display: inline-block;
//        margin-right: 5px;
//    }
//}
//
//.lp-tab-sections {
//    list-style: none;
//    margin: 0 0 20px 0;
//    padding: 0;
//    background: #eaeaea;
//    .section-tab {
//        float: left;
//        list-style: none;
//        a, span {
//            display: inline-block;
//            padding: 8px 10px;
//            line-height: 1;
//            box-shadow: none;
//        }
//        &.active {
//            span {
//                border-bottom: 2px solid #00adff;
//                padding-bottom: 6px;
//            }
//        }
//    }
//    &:after {
//        @include clear-fix();
//    }
//}
//
//.profile-heading {
//    font-size: 18px;
//}
//
//.lp-sub-menu {
//    list-style: none;
//    margin: 0 0 10px 0;
//    li {
//        display: inline-block;
//        margin: 0 10px 0 0;
//        a, span {
//            display: inline-block;
//            vertical-align: middle;
//            margin-right: 6px;
//            &.count {
//                background: #72909e;
//                line-height: 1;
//                padding: 5px 8px;
//                border-radius: 10px;
//                font-size: 12px;
//                color: #FFF;
//                min-width: 24px;
//                text-align: center;
//            }
//        }
//        span + span.count {
//            background: #00adff;
//            float: right;
//        }
//    }
//}
//
//.learn-press-nav-items {
//    .learn-press-pagination {
//        float: right;
//    }
//
//    &:after {
//        @include clear-fix();
//    }
//}
//
//.lp-avatar-preview {
//    position: relative;
//    float: left;
//    background-color: #DDD;
//    margin-bottom: 20px;
//    overflow: hidden;
//
//    .profile-picture {
//        float: left;
//        margin-right: -100%;
//        width: 100%;
//        margin-top: -25%;
//        img {
//            width: 100%;
//            height: 100%;
//            border-radius: 0;
//        }
//        &.profile-avatar-hidden {
//            display: none;
//        }
//    }
//    .lp-avatar-preview-actions {
//        position: absolute;
//        top: 50%;
//        width: 100%;
//        margin-top: -14px;
//        text-align: center;
//        a {
//            text-decoration: none;
//            font-size: 12px;
//            background: #FFF;
//            display: inline-block;
//            box-shadow: none;
//            padding: 5px 10px;
//        }
//    }
//    .lp-avatar-upload-progress {
//        position: absolute;
//        height: 10px;
//        background: #FFF;
//        top: 50%;
//        margin-top: -5px;
//        left: 10px;
//        right: 10px;
//        display: none;
//        .lp-avatar-upload-progress-value {
//            width: 0;
//            height: 10px;
//            background: #563d7c;
//        }
//    }
//    .lp-avatar-upload-error {
//        display: none;
//    }
//    .lp-avatar-preview-actions {
//        display: none;
//    }
//    &:hover {
//        .lp-avatar-preview-actions {
//            display: block;
//        }
//    }
//    &.uploading, &.upload-error {
//        .lp-avatar-preview-actions {
//            display: none;
//        }
//        .lp-avatar-upload-progress {
//            display: block;
//        }
//        &:before {
//            position: absolute;
//            width: 100%;
//            height: 100%;
//            background: #FFF;
//            opacity: 0.4;
//            content: '';
//        }
//    }
//    &.upload-error {
//        .lp-avatar-upload-error {
//            display: block;
//        }
//    }
//    &.croping {
//        .lp-avatar-preview-actions {
//            display: none;
//        }
//        .lp-avatar-crop-image {
//            position: absolute;
//            top: 0;
//            left: 0;
//            width: 100%;
//            height: 100%;
//            background: #000;
//            overflow: hidden;
//            img {
//                max-width: inherit;
//                cursor: move;
//            }
//            .lp-crop-controls {
//                position: absolute;
//                bottom: 0;
//                width: 100%;
//                height: 30px;
//                .lp-zoom {
//                    position: absolute;
//                    height: 10px;
//                    bottom: 10px;
//                    left: 10px;
//                    right: 30px;
//                    background: #563d7a;
//                    .ui-slider {
//                        position: absolute;
//                        left: 0;
//                        right: 10px;
//                        height: 100%;
//                        .ui-slider-handle {
//                            display: inline-block;
//                            width: 10px;
//                            height: 14px;
//                            background: #FFF;
//                            position: absolute;
//                            margin-top: -2px;
//                            border: 1px solid #563d7a;
//                            box-shadow: none;
//                            outline: none;
//                            cursor: ew-resize;
//                        }
//                    }
//                }
//                .lp-cancel-upload {
//                    text-decoration: none;
//                    position: absolute;
//                    bottom: 5px;
//                    right: 5px;
//                    box-shadow: none;
//                }
//                &:before {
//                    position: absolute;
//                    height: 30px;
//                    width: 100%;
//                    content: '';
//                    background: #FFF;
//                    opacity: 0.4;
//                }
//            }
//        }
//    }
//    &:after {
//        @include clear-fix();
//    }
//}
//
//#profile-mobile-menu {
//    display: none;
//}
//
//@media screen and (max-width: 480px) {
//    #learn-press-user-profile {
//        &:before {
//            display: none;
//        }
//    }
//    #learn-press-profile-header {
//
//    }
//    #learn-press-profile-nav {
//        height: 40px;
//        z-index: 90;
//        /* position: relative; */
//        padding-top: 0;
//        min-width: 40px;
//        width: 40px;
//        float: right;
//        margin-bottom: 20px;
//        #profile-mobile-menu {
//            display: block;
//            width: 40px;
//            height: 40px;
//            float: right;
//            line-height: 40px;
//            text-align: center;
//            cursor: pointer;
//            box-shadow: none;
//        }
//        .learn-press-tabs {
//            right: 0;
//            width: 100%;
//            display: none;
//            background: #03A9F4;
//            color: #FFF;
//            position: absolute;
//            margin-top: 40px;
//            li {
//                a {
//                    color: #FFF;
//                }
//                &:hover:not(.active) {
//                    > a {
//                        background: #D0D0D0;
//                        color: #FFF;
//                    }
//                    ul {
//                        position: relative;
//                        left: 0;
//                        width: 100%;
//                    }
//                }
//            }
//        }
//        &:hover {
//            #profile-mobile-menu {
//                background: #03a8f4;
//                /* border: 1px solid #DDD; */
//                color: #FFF;
//            }
//            .learn-press-tabs {
//                display: block;
//            }
//        }
//        &:before {
//            content: '';
//            position: absolute;
//            left: 0;
//            right: 40px;
//            height: 40px;
//            background: #F5F5F5;
//        }
//
//        .tabs {
//
//            > li.active, > li:hover {
//
//                ul, a {
//                    background: #0191d4;
//                }
//            }
//        }
//    }
//    #learn-press-profile-content {
//        float: none;
//        width: 100%;
//    }
//}
//
//#learn-press-user-profile {
//    .learn-press-form-login,
//    .learn-press-form-register {
//        border: 1px solid #DDD;
//        padding: 20px 20px 0 20px;
//        margin-bottom: 20px;
//    }
//}
//
//@media screen and (max-width: 768px) {
//    #learn-press-user-profile,
//    #learn-press-user-profile.enable-login-register {
//
//    }
//}

