.lp-quiz-buttons {
    margin-bottom: 20px;
}

.quiz-progress {
    position: fixed;
    top: 32px;
    left: 400px;
    right: 0;
    background: rgb(231, 247, 255);
    z-index: 100;
    border-bottom: 1px solid #bde6fb;
    .progress-items {
        display: flex;
        margin: 0 auto;
        max-width: 900px;
        .progress-item {
            flex: 1;
            text-align: left;
            position: relative;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            color: #777;
            .progress-number {
                float: left;
                height: 60px;
            }
            i {
                display: none;
                width: 60px;
                height: 60px;
                font-size: 30px;
                text-align: center;
                line-height: 60px;
                color: #FFF;
                background: #00adff;
                float: left;
            }
            &:after {
                @include clear-fix();
            }
        }
    }
    .quiz-point-achieved,
    .quiz-current-question,
    .quiz-countdown {

    }
}

.answer-options {
    list-style: none;
    margin: 0;
    padding: 0;
    .answer-option {
        margin: 0 0 20px 0;
        position: relative;
        background: #F5F5F5;
        padding: 10px;
        display: flex;
        overflow: hidden;
        color: #777;
        cursor: pointer;
        @include border-radius(4px);
        @include transition(background linear 0.25s);
        .option-title {
            font-size: smaller;
            display: table-cell;
            .option-title-content {
                display: inline-block;
                vertical-align: middle;
            }
            &:before {
                position: absolute;
                //top: 0;
                //left: 0;
                //right: 0;
                //bottom: 0;
                top: 0;
                bottom: 0;
                left: 0;
                width: 3px;
                content: '';
                background: #DDD;
                @include transition(background linear 0.25s);
            }
        }
        input[type="checkbox"],
        input[type="radio"] {
            -webkit-appearance: initial;
            margin: 0 10px 0 3px;
            position: relative;
            border: 1px solid #eaeaea;
            z-index: 10;
            width: 32px;
            height: 32px;
            min-width: 32px;
            background: #FFF;
            @include border-radius(4px);
            &:focus {
                outline: none;
            }
            &:before {
                //width: 30px;
                //height: 30px;
                //background: #fff;
                //border-radius: 4px;
                //outline: none;
                //position: relative;
                //border: 1px solid #eaeaea;
                //content: '';
                //display: block;
                //top: 50%;
                //margin-top: -16px;
            }
            &:after {
                content: '';
                border: 2px solid #00adff;
                display: inline-block;
                width: 7px;
                height: 15px;
                border-top: none;
                border-left: none;
                position: absolute;
                top: 50%;
                left: 13px;
                box-sizing: content-box;
                opacity: 0;
                margin-top: -12px;
                @include transform(rotate(36deg) scale(0));
                @include transition(all 0.25s);
            }
            &:checked {
                ~ .option-title {
                    .option-title-content {
                        position: relative;
                    }
                    &:before {
                        background: #00adff;
                    }
                }
                &:after {
                    opacity: 1;
                    @include transform(rotate(36deg) scale(1));
                }
            }

        }
        input[type="radio"] {
            @include border-radius(50%);
            &:before {
                border-radius: 50%;
            }
        }
        .option-title {
            margin: 0;
        }
        &:hover {
            background: #e1f5ff;
        }
        &.answer-correct {
            background: #e1f5ff;
            input[type="radio"]:checked,
            input[type="checkbox"]:checked {
                ~ .option-title {
                    &:before {
                        background: #e1f5ff;
                    }
                }
            }
        }

        &.answered-correct {
            input[type="radio"]:checked,
            input[type="checkbox"]:checked {
                ~ .option-title {
                    &:before {
                        background: #00adff;
                    }
                }
            }
        }

        &.answered-wrong {
            input[type="radio"],
            input[type="checkbox"] {
                &:before,
                &:after {
                    position: absolute;
                    background: #FF0000;
                    border: none;
                    content: '';
                    display: inline-block;
                    left: 50%;
                    top: 50%;
                    @include border-radius(2px);
                    @include transform(rotate(-45deg));
                }

                &:before {
                    width: 2px;
                    height: 18px;
                    margin-top: -9px;
                    margin-left: -1px;
                }

                &:after {
                    width: 18px;
                    height: 2px;
                    margin-top: -1px;
                    margin-left: -9px;
                    border: none;
                }
            }

            input[type="radio"]:checked,
            input[type="checkbox"]:checked {
                ~ .option-title {
                    &:before {
                        background: #FF0000;
                    }
                }
            }
        }
    }
}

button[data-counter] {
    position: relative;
    &:after {
        content: attr(data-counter);
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        height: 20px;
        background: #00adff;
        min-width: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: normal;
        z-index: 10;
    }
    &:hover {
        &:after {
            background: #52c8ff;
        }
    }
}