/**
 * CSS for overriding some style defaults of themes
 */

// Twenty Seventeen
body.twentyseventeen.learnpress-page {
    #primary {
        article {
            &.page {
                .entry-header,
                .entry-content {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
}

@media screen and (min-width: 48em) {
    body.twentyseventeen.learnpress-page {
        #primary {
            article {
                &.page {
                    .entry-header,
                    .entry-content {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
    }
}