.lp-course-builder-content__section {
	.cb-section__header-left {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;
		margin-top: 28px;
	}

	.lp-cb-section__title {
		font-size: 28px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0;
		color: #1e1e1e;
	}

	.lesson-status {
		padding: 5px 12px;
		font-size: 12px;
		font-weight: 500;
		background: #ccc;
		border-radius: 5px;
		text-transform: capitalize;

		&.publish {
			color: #fff;
			background: #1e1e1e;
		}

		&.trash {
			color: #fff;
			background-color: #dc2626;
		}
	}

	.cb-section__lesson-title-assigned {
		display: flex;
		gap: 40px;
	}

	.cb-lesson-edit-title {
		flex: 1;
		margin-bottom: 24px;
	}

	.lesson-assigned-courses {
		display: flex;
		flex-direction: column;
		align-items: end;
		margin-right: 0 !important;

		.label {
			font-size: 16px;
			font-weight: 600;
			color: #1a1a1a;
			margin-bottom: 8px;
		}

		a,
		span {
			font-size: 16px;
			font-weight: 400;
		}
	}

	.cb-lesson-edit-title__label {
		display: block;
		font-size: 14px;
		font-weight: 600;
		color: #1a1a1a;
		margin-bottom: 8px;
	}

	.cb-lesson-edit-title__input {
		width: 100%;
		padding: 10px 12px;
		font-size: 14px;
		border: 1px solid #ddd;
		border-radius: 6px;
		outline: none;
		transition: border-color 0.2s;
	}

	.cb-lesson-edit-title__input:focus {
		border-color: #2271b1;
		box-shadow: 0 0 0 1px #2271b1;
	}

	/* lesson Description Section */
	.cb-lesson-edit-desc {
		margin-bottom: 24px;
	}

	.cb-lesson-edit-desc__label {
		display: block;
		font-size: 14px;
		font-weight: 600;
		color: #1a1a1a;
		margin-bottom: 8px;
	}

	/* WordPress Editor Wrapper */
	#wp-lesson_description_editor-wrap {
		border: 1px solid #ddd;
		border-radius: 6px;
		overflow: hidden;
		background-color: #fff;
	}

	.wp-editor-tools {
		background-color: #f5f5f5;
		margin: 16px 16px 0;
		border-radius: 8px 8px 0 0;
	}

	#mceu_25 {
		background-color: #f5f5f5;
		margin: 0 16px 0;
		padding: 0;
		border-radius: 0 0 8px 8px;
	}

	.wp-media-buttons {
		padding: 8px 8px 0;
	}

	.mce-tinymce {
		border: none !important;
		visibility: visible !important;
	}

	.mce-toolbar-grp {
		background: none;
		border-bottom: none;
	}

	.wp-editor-container {
		border: none;
	}

	.mce-top-part::before {
		box-shadow: none;
	}

	div.mce-statusbar {
		border-top: none;
	}

	.cb-section__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cb-section__header-action {
		display: flex;
		gap: 20px;
	}

	.cb-button {
		padding: 8px 25px;
		border-radius: 5px;
		background: #ccc;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;

		&.cb-btn-update__lesson {
			background: #1e1e1e;
			color: #fff;
		}

		&.cb-btn-trash__lesson {
			background: rgb( 220 38 38 );
			color: #fff;
		}

		&.loading {
			pointer-events: none;
			opacity: 0.8;
			@include loading();
		}
	}

	@media ( max-width: 768px ) {
		#lp-course-builder-content {
			padding: 16px;
		}
	}
}
