#lp-course-builder {
	.cb-list-lesson {
		list-style: none;
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		padding: 0;
	}

	.cb-tab-lesson__action {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cb-input-search-lesson {
		flex: 1;
		border: none;
		background: transparent;
		outline: none;
		font-size: 15px;
		color: #333;
		font-family: inherit;
	}

	.cb-input-search-lesson::placeholder {
		color: #999;
	}

	.cb-tab-lesson__action,
	.courses-builder__lesson-tab {
		width: calc( 100% - 140px );
	}

	.lesson-action {
		position: relative;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	// .lesson-action-editor {
	// 	padding: 15px 0 15px 20px;
	// }

	.lesson-action-expanded {
		cursor: pointer;
		padding: 15px 20px 15px 0;

		svg {
			width: 24px;
			height: 24px;
		}
	}

	.btn-edit-lesson {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		border-radius: 8px;
		padding: 5px 15px;
		gap: 5px;
		border: 1px solid #1e1e1e;

		svg {
			width: 1rem;
			height: 1rem;
		}
	}

	.lesson-item {
		display: flex;
		flex-direction: row;
		padding: 5px 20px;
		background: #fff;
		border-radius: 16px;
		gap: 20px;
		font-size: 16px;
	}

	.highlight-new-lesson {
		box-shadow: #c8b4fb 0px 0px 20px 1px;
	}

	.lesson-content {
		flex: 1;
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
	}

	.lesson-content__left {
		display: flex;
		gap: 15px;
	}

	.lesson-content__right {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	.lesson__preview {
		svg {
			height: 20px;
			width: 20px;
		}
	}

	.wap-lesson-title {
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 0;

		a {
			text-decoration: none;
			max-width: 234px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.lesson-status {
		padding: 5px 12px;
		font-size: 12px;
		font-weight: 500;
		background: #ccc;
		border-radius: 5px;
		text-transform: capitalize;

		&.publish {
			color: #fff;
			background: #1e1e1e;
		}

		&.trash {
			color: #fff;
			background-color: #dc2626;
		}
	}

	.lesson-assigned-courses {
		max-width: 300px;
		margin-right: 30px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		a {
			text-decoration: none;
		}
	}

	.lesson-action-expanded__items {
		display: flex;
		position: absolute;
		min-width: 160px;
		top: 0;
		right: 0;
		transform: translate( 100%, 10px );
		padding: 10px;
		flex-direction: column;
		background-color: #fff;
		border-radius: 12px;
		box-shadow: rgba( 0, 0, 0, 0.1 ) 0px 4px 12px;
		font-size: 16px;
		font-weight: 500;

		&.active {
			display: flex !important;
		}

		.lesson-action-expanded__duplicate,
		.lesson-action-expanded__publish,
		.lesson-action-expanded__trash,
		.lesson-action-expanded__delete {
			padding: 10px;
			cursor: pointer;
			text-decoration: none;
			border-radius: 6px;

			&:hover {
				background-color: #f5f5f5;
			}
		}
	}

	.lesson-action-expanded:hover + .lesson-action-expanded__items,
	.lesson-action-expanded__items:hover {
		display: flex !important;
	}
}
