<!-- wp:learnpress/list-courses {"courseQuery":{"limit":6,"order_by":"post_date","pagination":true,"related":false,"term_id":"","tag_id":""}} -->
<div class="wp-block-learnpress-list-courses"><!-- wp:learnpress/course-item-template {"layout":"grid"} -->
	<div class="wp-block-learnpress-course-item-template"><!-- wp:group {"metadata":{"name":"Item Inner"},"style":{"border":{"radius":"10px","color":"#e2e0db","width":"1px"}},"layout":{"type":"default"}} -->
		<div class="wp-block-group has-border-color" style="border-color:#e2e0db;border-width:1px;border-radius:10px"><!-- wp:learnpress/course-image {"style":{"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"0px","bottomRight":"0px"}}}} /-->

			<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
			<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:learnpress/course-title {"tag":"h3"} /-->

				<!-- wp:group {"style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"wrap","orientation":"vertical"}} -->
				<div class="wp-block-group"><!-- wp:learnpress/course-instructor /-->

					<!-- wp:learnpress/course-categories /--></div>
				<!-- /wp:group -->

				<!-- wp:group {"style":{"spacing":{"blockGap":"8px"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
				<div class="wp-block-group"><!-- wp:learnpress/course-lesson {"showLabel":false} /-->

					<!-- wp:learnpress/course-student {"showLabel":false} /--></div>
				<!-- /wp:group -->

				<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"stretch","orientation":"vertical"}} -->
				<div class="wp-block-group"><!-- wp:learnpress/course-price /-->

					<!-- wp:learnpress/course-button-read-more {"style":{"border":{"width":"1px","color":"#686868","radius":"9px"},"layout":{"selfStretch":"fit","flexSize":null}}} /--></div>
				<!-- /wp:group --></div>
			<!-- /wp:group --></div>
		<!-- /wp:group --></div>
	<!-- /wp:learnpress/course-item-template --></div>
<!-- /wp:learnpress/list-courses -->
