.DS_store
.idea/
__*.php
node_modules/
cache/
languages/strings
/assets/fonts/iconfont.ttf
/assets/fonts/iconfont.woff
/assets/fonts/icons.eot
/assets/fonts/icons.svg
/assets/fonts/icons.ttf
/assets/fonts/icons.woff
/assets/fonts/icon.eot
/assets/fonts/icon.svg
/assets/fonts/icon.ttf
/assets/fonts/icon.woff
/assets/fonts/iconfont.eot
/assets/fonts/iconfont.svg
/assets/js/dist/
/assets/js/frontend/
/assets/css/
/languages/learnpress.pot
/languages/learnpress-js.pot
/assets/js/vendor/
/assets/js/admin/lp-material.min.js
/inc/test.php
/local-debug.php
/languages/learnpress-vi.mo
/languages/learnpress-vi.po
/releases
/build
/**/*.js.map
/**/*.asset.php
/**/*.deps.json
/**/_bk/
test list.txt

package-lock.json
/vendor/
composer.lock
script.sh
/.DS_Store
/.project
/.buildpath
/.settings
/yarn-error.log
/yarn.lock

