@keyframes lp-rotating {

	from {
		@include transform(rotate(0deg));
	}

	to {
		@include transform(rotate(360deg));
	}
}

@-webkit-keyframes lp-rotating {

	from {
		@include transform(rotate(0deg));
	}

	to {
		@include transform(rotate(360deg));
	}
}

.ajaxload {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	background: #7b7b7b;
	content: "";

	@include border-radius(50%);
	@include animation(lp-rotating 1s linear infinite);

	&::after {

		@include border-radius(50%);
		display: inline-block;
		position: absolute;
		top: 2px;
		left: 50%;
		width: 6px;
		height: 6px;
		margin-left: -3px;
		background: #dedede;
		content: "";
	}
}

.lp-ajaxload-style-1 {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;

	&::before,
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 3px solid #ddd;
		content: "";
	}

	&::after {
		clip: rect(0, 32px, 16px, 16px);
		border-color: #2fa7ff;

		@include border-radius(50%);
		@include animation(lp-rotating 1s linear infinite);
	}
}

@mixin loading-change {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background: #ffffff29;
	top: 0;
}
