@keyframes lp-rotating {

	from {
		@include transform(rotate(0deg));
	}

	to {
		@include transform(rotate(360deg));
	}
}

@-webkit-keyframes lp-rotating {

	from {
		@include transform(rotate(0deg));
	}

	to {
		@include transform(rotate(360deg));
	}
}

@mixin loading-change {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.38);
	top: 0;
}

.lp-loading-change {
	@include loading-change;
}

.lp-load-ajax-element {
	position: relative;
}
