/**
* Style for the Form Filter list
* @since 4.4.5
* @version 1.0.0
*/

.lp-form-filter {
	display: grid;
	gap: 12px;
	margin-bottom: 24px;

	&__fields {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		gap: 14px;

		& > * {
			flex: 1 1 0;
			min-width: 0;
		}

		@media screen and (max-width: 782px) {
			& > * {
				flex: 1 1 calc(50%);
			}
		}

		@media screen and (max-width: 500px) {
			& > * {
				flex: 1 1 100%;
			}
		}
	}

	.filter-field {
		display: flex;
		flex-direction: column;
		gap: 5px;
		max-width: 200px;

		label {
			text-align: left;
			font-weight: bold;
		}
	}

	button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&__actions {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	input, select {
		min-height: 40px;
		padding: 0 12px;
	}

	// Fix for tom-select inside
	.lp-tom-select.ts-wrapper {
		width: 100%;
		min-width: auto;


		/*&.dropdown-active {
			width: 100%;
		}*/

		.ts-control {
			min-height: 40px;
			padding: 0 12px;
		}
	}
}
