$remove-icon-color: #e74c3c;

@import "tomSelect";

/**
 * Styles for displaying list of table
 */
.lp-toolbar-buttons {
	position: relative;
	z-index: 10;
	height: 50px;

	.lp-toolbar-btn {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		margin: 0;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;

		a,
		span {
			outline: none;
			color: #666;
			box-shadow: none;
		}

		.lp-btn-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 30px;
			margin-top: -15px;
			margin-left: -15px;
			line-height: 1.875rem;
			text-align: center;
		}

		&.lp-btn-move {
			cursor: ns-resize;

			a,
			span {
				cursor: ns-resize;
			}

			&:hover a,
			span {
				color: var(--lp-primary-color);
			}
		}

		&.lp-btn-remove {
			cursor: pointer;

			&:hover {
				a,
				span {
					color: $remove-icon-color;
				}
			}
		}

		&.lp-btn-toggle {
			.dashicons-arrow-down,
			.dashicons-arrow-down-alt2 {
				display: none;
			}

			&.closed {
				.dashicons-arrow-up,
				.dashicons-arrow-up-alt2 {
					display: none;
				}

				.dashicons-arrow-down,
				.dashicons-arrow-down-alt2 {
					display: inline-block;
				}
			}
		}

		&.lp-toolbar-btn-dropdown {
			color: #000;

			ul {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				margin: 0 0;
				border: 1px solid #999;
				background: #fdfeff;

				li {
					margin: 0;
					list-style: none;

					a {
						display: block;
						margin: 0;
						padding: 3px 8px;
						color: #757575;
						font-size: 0.8em;
						text-align: right;
						white-space: nowrap;
						text-decoration: none;

						&:hover {
							background: #eee;
						}
					}

					&.active {
						a {
							background: #eee;
						}
					}
				}
			}
		}

		&.lp-btn-disabled,
		&.lp-btn-disabled:hover {
			_background: #f5f5f5;

			.lp-btn-icon {
				color: #666;
			}
		}

		&:hover {
			display: inline-block;
			background: none;

			.lp-btn-icon {
				color: #444;
			}

			ul {
				display: block;

				&:hover {
					display: block;
				}
			}
		}
	}
}

.column-content-actions {
	&.lp-toolbar-buttons {
		width: 30px;
		padding: 0;
		white-space: nowrap;
	}
}

.learn-press-box-data {
	position: relative;
	margin: 20px 0 0 0;
	border: 1px solid #ddd;

	.lp-box-data-head {
		padding: 10px 15px;
		background: #fff;

		h3 {
			margin: 0;
			padding: 15px;
			font-size: 1em;
		}

		.lp-box-data-actions {
			float: right;
			position: relative;
			z-index: 10;

			.lp-btn {
				display: inline-block;
				width: 30px;
				height: 50px;
				line-height: 2.875rem;
				text-align: center;
				vertical-align: middle;
			}

			&::after {
				@include clear-fix();
			}
		}

		&::after {
			@include clear-fix();
		}
	}

	.lp-box-data-content {
		padding: 15px;
		border-top: 1px solid #ddd;
		background: #fff;
	}

	.lp-box-data-foot {
		padding: 15px;
	}

	&.closed {
		.lp-btn-toggle {
			.dashicons-arrow-up,
			.dashicons-arrow-up-alt2 {
				display: none;
			}

			.dashicons-arrow-down,
			.dashicons-arrow-down-alt2 {
				display: inline-block;
			}
		}

		.lp-box-data-content {
			display: none;
		}
	}
}

.lp-list-options {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		padding: 10px 15px;
		border-top: 1px solid #ddd;
		background: #f5f5f5;
	}

	thead {

		th {
			text-align: left;
		}
	}

	tbody {
		tr {
			td {
				padding: 0 15px;
				background: #f4fcff;

				&.lp-toolbar-buttons {
					_overflow: hidden;
					position: relative;
					width: 30px;
					height: 42px;
					white-space: nowrap;

					.lp-toolbar-btn {
						visibility: hidden;
						position: relative;
						height: 43px;
						margin-top: -4px;
						margin-bottom: -4px;
					}
				}
			}

			&:nth-child(odd) {
				td {
					background: #fff;
				}
			}

			&:hover {
				td {
					&.lp-toolbar-buttons {
						.lp-toolbar-btn {
							visibility: visible;
						}
					}
				}
			}
		}

		td {
			text-align: left;

			input[type="text"] {
				width: 100%;

				&[value=""] {
					font-style: italic;
				}
			}

			&.column-content-answer_correct {
				width: 125px;
			}

			&.lp-remove-list-option,
			&.lp-move-list-option {
				width: 20px;
				padding: 0;
				text-align: center;

				a {
					visibility: hidden;
					color: #999;
				}

				&:hover {
					background: #dbf5ff;
				}
			}

			&.lp-move-list-option {
				cursor: ns-resize;

				a {
					cursor: ns-resize;
				}

				&:hover a {
					color: var(--lp-primary-color);
				}
			}

			&.lp-remove-list-option {
				cursor: pointer;

				&:hover a {
					color: $remove-icon-color;
				}
			}
		}
	}
}

.lp-animation {
	@include animation(spin 4s linear infinite);
}

.lp-ajax-search {
	display: inline-block;
	position: relative;
	z-index: 999999;

	.lp-search-term {
		min-width: 300px;
		height: 28px;
		margin: 0;

		@include no-outline();

		&:focus {
			@include no-outline();
		}
	}

	.lp-search-results {
		position: absolute;
		top: 100%;
		width: 100%;
		margin: -1px 0 0 0;
		border: 1px solid #ddd;
		background: #fff;

		@include box-sizing(border-box);

		.lp-search-items {
			overflow: auto;
			max-height: 300px;
			margin: 0;

			li {
				margin: 0;

				label {
					display: block;
					padding: 8px 10px;
					border-bottom: 1px solid #f3f3f3;

					input {
						float: left;
						margin-top: 1px;
						margin-right: -100%;
					}

					span {
						display: inline-block;
						margin-left: 25px;

						a.lp-add-item {
							visibility: hidden;
							margin-left: 10px;
						}
					}
				}

				&.active {
					background: #dbf5ff;
				}

				&:hover {
					color: #fff;
					background: #0085ba;

					a.lp-add-item {
						visibility: visible;
					}
				}
			}
		}

		.lp-search-actions {
			margin: 0;
			padding: 10px;
			border-top: 1px solid #ddd;
		}
	}
}

#learn-press-ajax-search-overlay {
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.update-overlay {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
}

#course-editor {
	&.ajax-search {
		#learn-press-ajax-search-overlay {
			display: block;
		}

		.lp-ajax-search {
			z-index: 100000;
		}
	}
}

.advanced-list {
	width: 100%;
	min-width: 200px;
	border-radius: var( --lp-border-radius);
	background: #fff;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 5px 5px 0;
		padding: 3px 8px;
		background: #eee;
		border-radius: var( --lp-border-radius);

		.remove-item {
			display: inline-block;
			margin-right: 5px;
			line-height: 1;
			vertical-align: middle;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: #0085ba;
			}

			&::before {
				font-family: dashicons;
				text-decoration: none;
				content: "\f335";
			}
		}

		span {
			display: inline-block;
		}
	}

	&.locked {
		.remove-item {
			display: none;
		}
	}

	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

.lp-label-counter {
	display: inline-block;
	height: 20px;
	padding: 0 10px;
	border-radius: 20px;
	color: #fff;
	background: #2196f3;
	font-weight: bold;
	line-height: 1.25rem;

	&.disabled {
		background: #ddd;
	}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rwmb-duration {
	border: 1px solid #ddd;
}

ul .clearfix {
	clear: both;
	height: 0;
	opacity: 0;
}

.clearfix-after {
	&::after {
		display: block;
		clear: both;
		height: 0;
		opacity: 0;
		content: "";
	}
}

.lp-button {
	padding: 8px 16px;
	border: 1px solid #e5e7eb;
 	border-radius: var( --lp-border-radius);
	color: #374151;
	font-size: 0.9em;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}
