$msg-color: #00adff;
$msg-success: #059601;
$msg-error: #d85554;
$msg-waring: #ffc107;

.learn-press-message {
	position: relative;
	margin: 24px auto;
	padding: 10px 20px;
	border-top: 5px solid $msg-color;
	border-radius: var( --lp-border-radius);
	background: #f5f5f5;
	width: 100%;
 	&.error {
		border-color: $msg-error;
 	}

	&.warning {
		border-color: $msg-waring;
 	}

	&.success {
		border-color: $msg-success;
 	}
	a {
		text-decoration: underline;
	}
}
