$msg-color: #00adff;
$msg-success:#EBF8E5;
$msg-error: #FEE5E5;
$msg-waring: #FEF7E6;
$msg-info: #007AFF1A;

.learn-press-message {
	position: relative;
	margin: 24px auto;
	padding: 10px 20px;
	//border-top: 5px solid $msg-color;
	border-radius: var( --lp-border-radius, 5px);
	background-color: #E5F7FF;
	color: #007AFF;
	width: 100%;
 	&.error {
		background-color: $msg-error;
		color: #FF3B30;
 	}

	&.warning {
		background-color: $msg-waring;
		color: #FF9500;
 	}

	&.success {
		background-color: $msg-success;
		color :#3AB500;
	}

	&.info {
		background-color: $msg-info;
		color :#007AFF;
	}

	a {
		text-decoration: underline;
	}
}
// Message when upload image cover
.lp-toast{
	&.toastify{
		background: $msg-success;
		color :#3AB500;
		border-radius: var( --lp-border-radius, 5px);
		box-shadow: 0 0 0;
		display: flex;
		align-items: center;
		.toast-close{
			background: transparent!important;
 			font-size: 0;
			padding-left: 12px;
			&:before{
				content: "\f00d";
				font-family: 'lp-icon';
				font-size: 16px;
				color: #000;
				line-height: 17px;
 			}
			&:hover{
				opacity: 1;
			}
		}
		&.error{
			background-color: $msg-error;
			color: #FF3B30;
			padding: 12px 20px; // Fixed by on Backend of WP has style div.error
			border: none; // Fixed by on Backend of WP has style div.error
			margin: 0 auto; // Fixed by on Backend of WP has style div.error
		}
	}
}
