//var(--lp-primary-color): #0085ba;
//$remove-icon-color: #d05d5d;

/**
 * Mixin
 */
@mixin clear-fix() {
	display: block;
	clear: both;
	content: "";
}

@mixin box-sizing($args:border-box) {
	-webkit-box-sizing: $args;
	-moz-box-sizing: $args;
	box-sizing: $args;
}

@mixin border-radius($args...) {
	-webkit-border-radius: $args;
	-moz-border-radius: $args;
	border-radius: $args;
}

@mixin animation($args...) {
	-webkit-animation: $args;
	-moz-animation: $args;
	animation: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	box-shadow: $args;

	&:focus {
		-webkit-box-shadow: $args;
		-moz-box-shadow: $args;
		box-shadow: $args;
	}
}

@mixin no-outline() {
	outline: none;
	@include box-shadow(none);
}

@mixin text-overflow($base: 1.6em, $line: 5) {
	display: -webkit-box;
	overflow: hidden;
	min-height: $base * $line;
	max-height: $base * $line;
	line-height: $base;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}

@mixin flex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-wrap($wrap: none) {
	-webkit-flex-wrap: $wrap;
	flex-wrap: $wrap;
}

@mixin appearance($value) {
	-webkit-appearance: $value;
	-moz-appearance: $value;
}

@mixin placeholder-color($color) {

	&::-webkit-input-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder {
		color: $color;
	}

	&::placeholder {
		color: $color;
	}
}

@mixin placeholder-fontStyle($style) {

	&::-webkit-input-placeholder {
		font-style: $style;
	}

	&::-moz-placeholder {
		font-style: $style;
	}

	&:-ms-input-placeholder {
		font-style: $style;
	}

	&:-moz-placeholder {
		font-style: $style;
	}

	&::placeholder {
		font-style: $style;

	}
}


@-webkit-keyframes rotating4 {

	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating4 {

	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@mixin rotating4($args: rotating4 2s linear infinite) {
	-webkit-animation: $args;
	-moz-animation: $args;
	-ms-animation: $args;
	-o-animation: $args;
	animation: $args;
}

@-webkit-keyframes animation4 {

	from {
		left: -40%;
		width: 40%;
	}

	to {
		left: 100%;
		width: 10%;
	}
}

@keyframes animation4 {

	from {
		left: -40%;
		width: 40%;
	}

	to {
		left: 100%;
		width: 10%;
	}
}

@mixin animation4($args: animation4 2s linear infinite) {
	-webkit-animation: $args;
	-moz-animation: $args;
	-ms-animation: $args;
	-o-animation: $args;
	animation: $args;
}

@mixin input(){
	border: 1px solid $border-color;
	border-radius: $border-radius-global;
 	padding: $spacing-base-2x $spacing-base-4x;
	height: inherit;
	font-size: inherit;
	line-height: 1.1;
	box-shadow: none;
}

@mixin profile_social() {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: $text-color-base;
	width: var(--lp-social-size, 40px);
	height: var(--lp-social-size, 40px);
	border-radius: 50%;
	border: 1px solid $border-color;
	font-size: 16px;
	&:hover {
		color: $color-white;
		border-color: var(--lp-primary-color);
		background: var(--lp-primary-color);

		svg {
			fill: $color-white;
		}
	}
}

@mixin loading(){
	&:before{
		display: inline-block;
		font-family: 'lp-icon';
		content: "\f110";
		animation: lp-rotating 1s linear infinite;
		margin-right: 5px;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: middle;
		margin-top: -2px;
	}
 }
// mixin for lp-courses-bar
@mixin order_by_course(){
	@include input();
	padding-right: 30px;
	background-image: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE4cHgiIGhlaWdodD0iMTBweCIgdmlld0JveD0iMCAwIDE4IDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0iVmVjdG9yLSgxKSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4wMDAwMDAsIDEuMDAwMDAwKSIgc3Ryb2tlPSIjMzMzMzMzIiBzdHJva2Utd2lkdGg9IjIiPgogICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDggOCAxNiAwIj48L3BvbHlsaW5lPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
	background-size: 0.8em;
	background-position: calc(100% - 0.5em) center;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	line-height: 1.1;

	.woocommerce-js & {
		background-position-x: calc(100% - 10px);
	}

	&:focus {
		border-color: var(--lp-primary-color);
		outline: 0;
	}
}
@mixin search_courses(){
	display: flex;
	flex: 1;
	margin-bottom: 0;
	input {
		width: 100%;
		max-width: 240px;
		margin: 0 4px 0 0;
		@include input();
		@include placeholder-color($input-color-placeholder);

		&:focus {
			border-color: var(--lp-primary-color);
			outline: 0;
		}
	}

	button {
		@include input();
		box-shadow: 0 0 0;

		i {
			font-size: 1.2em;
			line-height: 1.2;
		}

		&:focus {
			outline: 0;
		}

		&.loading > i:before {
			display: inline-block;
			content: "\f110";
			@include animation(lp-rotating 1s linear infinite);
		}
	}
}

@mixin course_readmore(){
	padding: $spacing-base-2x $spacing-base-6x;
	border-radius: $border-radius-global;
	color: $text-color-base;
	border: 1px solid $text-color-base;
	transition: all 0.3s;
	display: block;
	background: transparent;
	text-decoration: none;
	text-align: center;
	&:hover {
		background: $color-primary;
		color: $color-white;
		border-color: $color-primary;
	}
}

@mixin font_face($name, $file: "../url_file/name_fonts.woff2") {
	@font-face {
		font-family: $name;
		src: url('#{$file}?v=#{random(200)}') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}
