.lp-overlay {
	display: none;
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(209, 213, 219, 0.8);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-property: opacity;
}

.wp-admin {
	.lp-modal-dialog {

		.lp-modal-content {
			.lp-modal-header {
				padding: 2em;

				h3 {
					font-size: 1.4em;
				}
			}
		}
	}
}

.lp-modal-dialog {
	display: flex;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	align-items: center;
	justify-content: center;

	.lp-modal-content {
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		width: auto;
		max-width: 600px;
		border-radius: 8px;
		text-align: left;
		vertical-align: middle;
		background: white;
		color: black;

		.lp-modal-header {
			background: #7c60d9;
			border-bottom: 1px solid #eee;
			padding: 1em;

			h3 {
				margin: 0;
				color: white;
				font-size: inherit;
			}
		}

		.lp-modal-body {
			.main-content {
				max-height: 500px;
				overflow: auto;

				h3, h2, .pd-2em {
					padding: 0 2em;
				}
			}
		}
	}

	.lp-modal-header {
		padding: 0 20px;
	}

	.lp-modal-body {
	}

	.lp-modal-footer {
		padding: 10px 20px;
		background-color: #f9fafb;
		text-align: right;
	}

	.btn-yes {
		color: #fff;
		background-color: #7c60d9;
	}
}

// To remove.
#lp-modal-overlay {
	display: none;
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	background: #000;
}

#lp-modal-window {
	display: none;
	position: fixed;
	z-index: 999999;
	top: 50%;
	left: 50%;
	padding: 35px 60px 28px 60px;
	background: #fff;
	transform: translate(-50%, -50%);

	@include border-radius(4px);

	#lp-modal-content {
		margin: 0 0 24px 0;
		color: #333;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		text-align: center;

		> * {
			margin: 0 0 0.5em;
		}

		#lp-modal-buttons {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
		}
	}

	#lp-modal-buttons {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;

		.lp-button {
			position: relative;
			margin: 0 10px 0 10px;

			&.modal-button-cancel {

			}
		}
	}


}
