/**
* Style for table LearnPress
* @since 4.3.3
* @version 1.0.1
*/

.lp-table-wrap {
	border-radius: 5px;
	width: 100%;
	border: 1px solid var(--lp-border-color, #E2E0DB);
	overflow-x: auto;
	//max-height: 70vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

table.lp-list-table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	min-width: 768px;
	border: none;

	td {
		padding: 0;
	}

	.learn-press-pagination {
		text-align: left;
	}

	thead {
		border: none;
		tr:first-child{
			td,th{
				border-block-start: none// fix theme hello elementor
			}
		}
		tr {
			border-bottom: 1px solid var(--lp-border-color, #E2E0DB);
			position: sticky;
			top: 0;
			z-index: 2;
			background-color: var(--lp-white-grey, #F7F7FB);
 			//&:hover {
			//	background: #eff6ff
			//}
		}

		th {
			background: none;
			border: none;
			//font-size: 1em;
			padding: 10px 20px;
			text-align: left;

			td {
				border: none;
				padding: 0;
			}
		}
	}

	tbody {
		//font-size: 14px;

		tr {
			border: none;

			&:nth-child(odd) {
				//background: #f6f7f7;
			}

			&:nth-child(even) {
				background-color: hsla(0, 0%, 50%, .05);
			}

			&:hover {
				background-color: #eff6ff;
			}

			td {
				border: none;
				border-bottom: 1px solid var(--lp-border-color, #E2E0DB);
				padding: 10px 20px;
				text-align: left;
				a {
					text-decoration: none;
				}
			}
			&:last-child{
				td{
					border-bottom: none;
				}
			}
		}

		th {
			padding: 10px 20px;
		}
	}

	tfoot {
		tr {
			border: none;

			td, th {
				border: none;
				border-top: 1px solid var(--lp-border-color, #E2E0DB);
				>div {
					padding: 20px;
				}
			}
		}

		.pagination {
			border: none;
			padding: 0;
		}
	}

	&.order-table-details{
		tbody{
			tr:last-child{
				--lp-white-grey: var(--lp-border-color, #E2E0DB);
			}
		}
		tfoot{
			border-top: 1px solid var(--lp-border-color, #E2E0DB);
			tr{
 				td,th{
					 padding: 10px 20px;
					background-color: transparent;
				}
				&:not(:last-child){
					td,th{
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
