@import 'mixin';
@import 'variables';

@import 'course-builder/tab-courses';
// @import 'course-builder/tab-quizzes';
// @import 'course-builder/tab-questions';
@import 'course-builder/edit-course';
@import 'course-builder/tab-lessons';
@import 'course-builder/edit-lesson';
// @import 'course-builder/edit-quiz';
// @import 'course-builder/edit-question';

//Style global for course builder
.lp-course-builder-content__section {
	padding: 20 40;
	background: #fff;
	border-radius: 16px;
	min-height: calc( 100% - 100px );

	.cb-section__header-left {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;
		margin-top: 28px;
	}

	.lp-cb-section__title {
		font-size: 28px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0;
		color: #1e1e1e;
	}

	.cb-section__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cb-section__header-action {
		display: flex;
		gap: 20px;
	}

	.cb-button {
		padding: 8px 25px;
		border-radius: 5px;
		background: #ccc;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;

		&.loading {
			pointer-events: none;
			opacity: 0.8;
			@include loading();
		}
	}
}

/* WordPress Editor Wrapper */
.wp-editor-wrap {
	border: 1px solid #ddd;
	border-radius: 12px;
	overflow: hidden;
	background-color: #fff;

	.wp-editor-tools {
		background-color: #f5f5f5;
		margin: 8px 8px 0;
		border-radius: 12px 12px 0 0;
	}

	.wp-media-buttons {
		padding: 8px 8px 0;
	}

	button.insert-media,
	input.button {
		color: #1e1e1e;
		border-color: #1e1e1e;
	}

	.mce-tinymce {
		border: none !important;
		visibility: visible !important;
	}

	.wp-editor-container {
		border: none;
	}

	.mce-top-part::before {
		box-shadow: none;
	}

	div.mce-statusbar {
		border-top: none;
	}

	.wp-editor-tabs {
		button {
			margin: 8px 8px 0 0;
			border-bottom-color: #dcdcde;
			border-radius: 4px;

			&[aria-pressed='true'] {
				background: #fff;
				color: #000;
			}
		}
	}

	.mce-top-part,
	.quicktags-toolbar {
		background-color: #f5f5f5;
		margin: 0 8px 0;
		padding: 0;
		border-radius: 0 0 8px 8px;
	}

	.mce-top-part::before {
		box-shadow: none;
	}

	.quicktags-toolbar {
		padding: 6px;
		border-bottom: none;
	}

	.wp-media-buttons {
		padding: 8px 8px 0;
	}

	.mce-tinymce {
		border: none !important;
		visibility: visible !important;
	}

	.mce-toolbar-grp {
		background: none;
		border-bottom: none;

		> div {
			padding: 5px;
		}
	}

	.wp-editor-container {
		border: none;
	}
}
