@import "mixin";
@import "message";

$bg-section: #F4FCFF;
$border-color: #C3C4C7;
$color-active: #2271B1;
$color-gray: #999;
$spacing-section: 12px;

@mixin one_plural_number() {
	.one, .plural {
		display: none;
	}

	&[data-count="1"] {
		.one {
			display: inline-block;
		}
	}

	&:not([data-count="1"]) {
		.plural {
			display: inline-block;
		}
	}
}

.lp-edit-quiz-wrap {
	padding: $spacing-section;

	[class*="lp-icon-"] {
		font-size: 1.25rem;
		color: #787c82;
	}

	input {
		padding: 0;
		margin: 0;
	}

	input[type="text"], {
		width: 100%;
		border: none;
		font-size: 0.875rem;
		background: transparent;
	}

	.lp-icon-spinner {
		animation: rotation 2s infinite linear;
		font-size: 1.25rem;
		color: $color-active;
		display: none;
	}

	// Collapse icon
	.lp-icon-angle-down {
		display: none;
		cursor: pointer;
	}

	.lp-icon-angle-up {
		display: inline-block;
		cursor: pointer;
	}

	.lp-collapse {
		.lp-icon-angle-up {
			display: none;
		}

		.lp-icon-angle-down {
			display: inline-block;
		}
	}
	// End Collapse icon

	.heading {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 15px;
		align-items: center;
		line-height: 1;
		gap: 5px;
		padding-right: 12px;

		.count-sections, .total-items {
			@include one_plural_number();
		}

		.total-items {
			margin-left: auto;
		}

		h4 {
			margin: 0;
			font-size: 1em;
			font-weight: normal;
		}
	}

	.lp-edit-list-questions {
		border: 1px solid $border-color;
		border-bottom: none;

		.lp-question-item {
			border-bottom: 1px solid $border-color;

			&.lp-collapse {
				.question-edit-main {
					display: none;
				}
			}

			&.loading {
				pointer-events: none;
				opacity: 0.5 !important;

				.lp-icon-spinner {
					display: inline-block;
				}
			}

			.lp-question-type-label {
				width: 20%;
			}

			.lp-btn-remove-question, .lp-btn-edit-question-title,
			.lp-btn-update-question-title, .lp-btn-cancel-update-question-title {
				display: none;
			}

			&:hover {
				.lp-btn-remove-question, .lp-btn-edit-question-title {
					display: inline-block;
				}
			}
		}

		.lp-question-head {
			display: flex;
			margin: 0;
			padding: 6px 10px;
			background: $bg-section;
			transition: background 200ms ease-out;
			align-items: center;
			gap: 5px;
		}

		.question-edit-main {
			display: grid;
			gap: 5px;
			overflow: hidden;
			padding: $spacing-section;
			border-top: 1px solid $border-color;
		}

		.lp-question-choice-header {
			display: flex;
			justify-content: space-between;
			padding: 20px 10px;
			background: #eee;
		}

		.lp-question-answer-item {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			padding: 10px;
			margin: 0;
		}

		.lp-question-data-edit {
			margin-bottom: 5px;
		}

		.lp-section-collapse {
			padding: 12px;
			border: 1px solid $border-color;
			border-top: none;
		}

		.lp-section-toggle {
			&.lp-collapse {
				.lp-section-collapse {
					display: none;
				}
			}
		}

		.lp-question-data-edit-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			border: 1px solid lightgray;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.add-new-question {
		display: flex;
		margin: 0;
		padding: 6px 10px;
		background: $bg-section;
		transition: background 200ms ease-out;
		align-items: center;
		gap: 5px;
		border: 1px solid $border-color;
		border-top: none;
	}

	.lp-answers-config {
		display: flex;
		gap: 10px;
		flex-direction: column;
	}

	.lp-question-fib-blank-option-item {
		padding: 20px;
		border: 1px solid $border-color;

		.lp-question-fib-option-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;

			input[type="text"] {
				width: 100%;
			}
		}

		.lp-question-fib-option-detail {
			display: flex;
			flex-direction: column;
			gap: 10px;

			p {
				margin: 0;
				padding: 0;
			}
		}
	}

	.lp-question-fib-buttons {
		display: flex;
		gap: 10px;
	}
}

.lp-select-items-popup {
	padding: 0 !important;
	grid-row: 1 !important;
	--swal2-close-button-font-size: 32px;

	.swal2-close {
		padding-top: 8px;
	}
}

.lp-select-items-html-container {
	padding: 0 !important;
}

.lp-popup-items-to-select {
	text-align: left;
	font-size: 1rem;

	.header {
		position: relative;

		.header-count-items-selected {
			border-bottom: 1px solid $border-color;
			padding: 16px 20px;
		}

		.tabs {
			margin: 0;
			border-bottom: 1px solid $border-color;

			.tab {
				display: inline-block;
				position: relative;
				margin: 0;

				&:not(:last-child)::before {
					position: absolute;
					top: 50%;
					right: 0;
					height: 44px;
					margin-top: -22px;
					border-right: 1px solid $border-color;
					content: "";
				}

				&.active {

					&::after {
						display: inline-block;
						position: absolute;
						bottom: -6px;
						left: 50%;
						width: 10px;
						height: 10px;
						margin-left: -6px;
						border: 1px solid $border-color;
						border-right: 0;
						border-bottom: 0;
						background: #fff;
						content: "";
						transform: rotate(45deg);
					}

					a {
						color: #0073aa;
					}
				}

				a {
					display: inline-block;
					height: 44px;
					padding: 0 20px;
					color: #333;
					font-weight: 600;
					line-height: 2.75rem;
					text-decoration: none;

					&:focus {
						box-shadow: none;
					}
				}
			}
		}

		//.close {
		//	display: inline-block;
		//	position: absolute;
		//	z-index: 30;
		//	top: 0;
		//	right: 0;
		//	padding: 12px;
		//	font-size: 1em;
		//	cursor: pointer;
		//}
	}

	.main {
		overflow: hidden;
		position: relative;
		padding: 20px;
		border-bottom: 1px solid $border-color;

		input.lp-search-title-item {
			width: 100%;
			//height: 36px;
			//padding: 0 14px;
			font-size: 1rem;
			border: 1px solid $border-color;
			margin-bottom: 10px;
		}

	}

	.list-items,.list-items-selected {
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow-y: auto;
		min-height: 260px;
		max-height: 460px;
		margin: 0;

		li {
			margin: 0;
			cursor: pointer;
		}
	}

	.list-items-selected {
		li {
			display: flex;
			gap: 5px;
			align-items: center;
			color: $color-gray;
			.item-type {
				padding: 0;
				font-size: inherit;
				color: inherit;
				line-height: unset;
			}

			.item-title {
				color: #333;
			}

			&.selected {
				background-color: $bg-section;
			}
			&:hover .dashicons-remove{
				opacity: 1;
			}
		}

		.dashicons-remove {
			color: #E74C3C;
			opacity: 0.6;
		}
	}

	.pagination {
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0 -10px -10px;
		align-items: center;

		li {
			margin: 0;
			cursor: pointer;

			.page-numbers {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			a {
				text-decoration: none;
				display: flex;
				align-items: center;
			}
		}
	}

	.footer {
		padding: 16px 20px;
		display: flex;
		gap: 5px;
	}
}
