/**
* Style for the edit question page in LearnPress
* @since 4.2.9
* @version 1.0.0
*/
@import "toggleCollapse";
@import "popupSweetAlert";

$border-color: #C3C4C7;

.lp-icon-spinner {
	animation: rotation 2s infinite linear;
	font-size: 1.25rem;
	color: #2271B1FF !important;
	display: none;
}

.lp-icon-drag {
	cursor: grab;
	line-height: 1;

	&:active {
		cursor: grabbing;
	}
}

/***** Main Question Edit Styles *****/

.lp-question-edit-main {
	display: grid;
	gap: 20px;
	overflow: hidden;
	padding: 20px;
	grid-template-columns: 1fr 1fr;

	[class*="lp-icon-"] {
		font-size: 1.25rem;
		color: #787c82;
		cursor: pointer;
	}

	input {
		padding: 0;
		margin: 0;
	}

	input[type="text"] {
		width: 100%;
		border: none;
		background: transparent;
		box-shadow: none;
	}

	.lp-question-fib-buttons {
		button {
			display: flex !important;
			align-items: center;
			gap: 5px;

			&.loading {
				pointer-events: none;
				opacity: 0.5 !important;

				.lp-icon-spinner {
					display: inline-block;
				}
			}
		}
	}

	.loading {
		pointer-events: none;
		opacity: 0.5 !important;

		.lp-icon-spinner {
			display: inline-block;
		}
	}

	@import "buttons";
}

.question-edit-details {
	.lp-section-collapse {
		padding: 0;
		border: 1px solid #dcdcde;
	}
}

.lp-question-data-edit-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	font-weight: bold;
}

.lp-question-choice-header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #dcdcde;
}

.lp-question-answer-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	padding: 5px;
	margin: 0;
	border: 1px solid #dcdcde;
	border-top: none;

	&:hover {
		.lp-btn-delete-question-answer {
			display: inline-block;
		}
	}

	&.loading {
		pointer-events: none;
		opacity: 0.5 !important;

		.lp-icon-spinner {
			display: inline-block;
		}
	}

	.lp-btn-delete-question-answer {
		display: none;
		cursor: pointer;
	}
}

.lp-question-answer-item-add-new {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	padding: 5px;
	margin: 0;
	border: 1px solid #dcdcde;
	border-top: none;

	.lp-icon-plus {
		cursor: auto;
		margin-left: 5px;
	}
}

.lp-question-field-settings {
	padding: 10px 20px;
	display: grid;
	gap: 5px;

	&:nth-child(2n+1) {
		//background: #f4fcff;
	}

	input[type="text"], input[type="number"] {
		padding: 0 10px;
	}
}

/***** Fill in the Blank Styles *****/
.lp-question-fib-blank-options {
	display: grid;
	gap: 5px;

	.lp-question-fib-option-match-case-wrap {
		display: grid;
		gap: 10px;

		&.lp-hidden {
			display: grid !important;
			pointer-events: none;
			opacity: 0.5 !important;
		}
	}
}

.lp-question-fib-blank-option-item {
	.lp-question-fib-option-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		padding: 10px;
		background: #eee;

		.lp-icon-angle-down::before, .lp-icon-angle-up::before {
			content: "\f142";
			width: 15px;
			text-align: center;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.lp-question-fib-option-detail {
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		border: 1px solid #EEEEEE;
		border-top: none;

		p {
			margin: 0;
			padding: 0;
		}
	}
}

.lp-question-fib-buttons {
	display: flex;
	gap: 10px;
	margin: 10px 0;
	top: 1px;

	.lp-btn-fib-clear-all-content {
		border: none;
	}
}

.lp-question-type-new-wrap {
	display: flex;
	gap: 5px;

	.lp-btn-question-create-type {
		border: none;
		background: rgba(19, 94, 150, 0.5);
		color: #fff;

		&:hover, &.active {
			background: rgba(19, 94, 150, 1) !important;
			color: #fff !important;
		}
	}
}

