@import "mixin";
@import "message";

$bg-section: #F4FCFF;
$border-color: #C3C4C7;
$color-active: #2271B1;
$color-gray: #999;
$spacing-section: 12px;

@mixin one_plural_number() {
	.one, .plural {
		display: none;
	}

	&[data-count="1"] {
		.one {
			display: inline-block;
		}
	}

	&:not([data-count="1"]) {
		.plural {
			display: inline-block;
		}
	}
}

.lp-edit-quiz-wrap {
	padding: $spacing-section;

	[class*="lp-icon-"] {
		font-size: 1.25rem;
		color: #787c82;
	}

	input {
		width: 100%;
		border: none;
		font-size: 0.875rem;
	}

	// Collapse icon
	.lp-icon-angle-down {
		display: none;
		cursor: pointer;
	}

	.lp-icon-angle-up {
		display: inline-block;
		cursor: pointer;
	}

	.lp-collapse {
		.lp-icon-angle-up {
			display: none;
		}

		.lp-icon-angle-down {
			display: inline-block;
		}
	}
	// End Collapse icon

	.heading {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 15px;
		align-items: center;
		line-height: 1;
		gap: 5px;
		padding-right: 12px;

		.count-sections, .total-items {
			@include one_plural_number();
		}

		.total-items {
			margin-left: auto;
		}

		h4 {
			margin: 0;
			font-size: 1em;
			font-weight: normal;
		}
	}

	.lp-edit-list-questions {
		border: 1px solid $border-color;
		border-bottom: none;

		.lp-question-item {
			&.lp-collapse {
				.question-edit-main {
					display: none;
				}
			}
		}

		.lp-question-head {
			display: flex;
			margin: 0;
			padding: 6px 10px;
			background: $bg-section;
			transition: background 200ms ease-out;
			align-items: center;
			gap: 5px;
		}

		.question-edit-main {
			overflow: hidden;
			padding: $spacing-section;
			border-top: 1px solid $border-color;
		}
	}
}
