/**
* Style for the edit question page in LearnPress
*/

$border-color: #C3C4C7;

// Collapse icon
.lp-icon-angle-down {
	display: none;
	cursor: pointer;
}

.lp-icon-angle-up {
	display: inline-block;
	cursor: pointer;
}

.lp-collapse {
	.lp-icon-angle-up {
		display: none;
	}

	.lp-icon-angle-down {
		display: inline-block;
	}
}

.lp-section-collapse {
	display: grid;
	gap: 10px;
	padding: 12px;
	border: 1px solid $border-color;
	border-top: none;
}

// End Collapse icon

.lp-icon-spinner {
	animation: rotation 2s infinite linear;
	font-size: 1.25rem;
	color: #2271B1FF !important;
	display: none;
}

.lp-icon-drag {
	cursor: grab;
	line-height: 1;

	&:active {
		cursor: grabbing;
	}
}

/***** Main Question Edit Styles *****/

.question-edit-main {
	display: grid;
	gap: 20px;
	overflow: hidden;
	padding: 20px;
	grid-template-columns: 1fr 1fr;
	[class*="lp-icon-"] {
		font-size: 1.25rem;
		color: #787c82;
	}

	input[type="text"] {
		width: 100%;
		border: none;
		background: transparent;
		box-shadow: none;
	}
}

.question-edit-details {
	.lp-section-collapse {
		padding: 0;
		border: 1px solid #dcdcde;
	}
}

.lp-question-data-edit-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	font-weight: bold;
}

.lp-question-choice-header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #dcdcde;
}

.lp-question-answer-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	padding: 5px;
	margin: 0;
	border: 1px solid #dcdcde;
	border-top: none;

	&:hover {
		.lp-btn-delete-question-answer {
			display: inline-block;
		}
	}

	&.loading {
		pointer-events: none;
		opacity: 0.5 !important;

		.lp-icon-spinner {
			display: inline-block;
		}
	}

	.lp-btn-delete-question-answer {
		display: none;
		cursor: pointer;
	}
}

.lp-question-answer-item-add-new {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	padding: 5px;
	margin: 0;
	border: 1px solid #dcdcde;
	border-top: none;
}

.lp-question-field-settings {
	padding: 20px;
	display: grid;
	gap: 5px;

	&:nth-child(2n+1) {
		background: #f4fcff;
	}

	input[type="text"] {
		padding: 0 10px;
	}
}

/***** Fill in the Blank Styles *****/
.lp-question-fib-blank-options {
	display: grid;
	gap: 5px;
}

.lp-question-fib-blank-option-item {
	.lp-question-fib-option-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		padding: 10px;
		background: #eee;
	}

	.lp-question-fib-option-detail {
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		border: 1px solid #EEEEEE;
		border-top: none;

		p {
			margin: 0;
			padding: 0;
		}
	}
}

.lp-question-fib-buttons {
	display: flex;
	gap: 10px;
	margin: 10px 0;
	top: 1px;
}

