/**
 * Edit Curriculum styles
 */

@import "mixin";
@import "message";
@import "popupSelectItemToAdd";
@import "popupSweetAlert";

$bg-section: #F4FCFF;
$border-color: #C3C4C7;
$color-active: #2271B1;
$color-gray: #999;
$spacing-section: 12px;

@mixin one_plural_number() {
	.one, .plural {
		display: none;
	}

	&[data-count="1"] {
		.one {
			display: inline-block;
		}
	}

	&:not([data-count="1"]) {
		.plural {
			display: inline-block;
		}
	}
}

#lp-course-edit-curriculum {
	padding: $spacing-section;

	[class*="lp-icon-"] {
		font-size: 1.25rem;
		color: #787c82;
	}

	.lp-icon-angle-down, .lp-icon-angle-up {
		padding: 8px;
		font-size: 24px;
		cursor: pointer;
	}

	.lp-icon-angle-down:hover, .lp-icon-angle-up:hover {
		color: $color-active;
	}

	input[type="text"] {
		width: 100%;
		border: none;
		box-shadow: none;
		padding: 0;
	}

	textarea {
		width: 100%;
		border: 1px solid $border-color;
		padding: 10px;
		resize: vertical;
		min-height: 50px;
	}

	button {
		color: $color-active;
		border-color: $color-active;
		background-color: #fff;
		border-radius: 5px;

		&:hover {
			background: #f0f0f1;
		}
	}

	.course-toggle-all-sections {
		&.lp-collapse {
			.lp-icon-angle-up {
				display: none;
			}
		}

		&:not(.lp-collapse) {
			.lp-icon-angle-down {
				display: none;
			}
		}
	}

	.heading {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 15px;
		align-items: center;
		line-height: 1;
		gap: 5px;
		padding-right: 12px;

		.count-sections,.total-items {
			@include  one_plural_number();
		}

		.total-items {
			margin-left: auto;
		}

		h4 {
			margin: 0;
			font-size: 1em;
			font-weight: normal;
		}
	}

	.curriculum-sections {
		border: 1px solid $border-color;
		border-bottom: none;

		.section-description {
			margin-bottom: 10px;

			button {
				display: none;
			}

			.lp-btn-update-section-description {
				margin-right: 5px;
			}

			&.editing {
				button {
					display: inline-block;
				}
			}

			input {
				@include placeholder-color($color-active);
			}
		}
	}

	.section {
		margin: 0;
		border-bottom: 1px solid $border-color;
		opacity: 1;
		background: #fff;

		&.focus {
			border: 1px solid $color-active !important;
		}

		&.lp-collapse {
			.section-collapse {
				display: none;
			}

			.section-toggle {
				.lp-icon-angle-up {
					display: none;
				}
			}
		}

		&:not(.lp-collapse) {
			.section-toggle {
				.lp-icon-angle-down {
					display: none;
				}
			}
		}

		.lp-icon-spinner {
			animation: rotation 2s infinite linear;
			font-size: 1.25rem;
			color: $color-active;
			display: none;
		}

		.drag {
			cursor: grab;
			line-height: 1;

			&:active {
				cursor: grabbing;
			}

			&:hover {
				color: $color-active;
			}
		}

		&.loading {
			pointer-events: none;
			opacity: 0.5 !important;

			.section-head {
				.lp-icon-spinner {
					display: inline-block;
				}
			}
		}

		&:first-child {
			border-top: 0;
		}

		&:hover {
			.remove {
				display: inline-block;
			}
		}

		input {
			background-color: transparent;
			box-shadow: none;

			&:focus {
				box-shadow: none;
			}
		}

		.section-items-counts {
			white-space: nowrap;
			@include  one_plural_number();
		}

		.lp-btn-delete-section {
			color: #E74C3C;
			border: 1px solid #eee;
			background: white;
			display: none;
			opacity: 0.7;

			&:hover {
				opacity: 1;
			}
		}

		.lp-btn-edit-section-title {
			cursor: pointer;
			display: none;
			opacity: 0.7;
			font-size: 1rem;

			&:hover {
				opacity: 1;
				color: $color-active;
			}
		}

		.section-head {

			//.movable,
			//.creatable {
			//	display: inline-block;
			//	width: 40px;
			//	margin: 0;
			//	color: #999;
			//	font-family: Dashicons;
			//	font-size: 1.25rem;
			//	text-align: center;
			//	vertical-align: middle;
			//}
			//
			//.movable {
			//	margin-right: -1px;
			//	cursor: url("../../images/openhand.cur") 7 5, default;
			//
			//	&::before {
			//		content: "\f333";
			//	}
			//
			//	&:hover {
			//		color: $color-active;
			//	}
			//}

			//.section-item-counts {
			//	line-height: 2.5rem;
			//}

			//.actions {
			//	height: 100%;
			//	color: #444;
			//
			//	> * {
			//		display: inline-block;
			//		height: 100%;
			//		text-align: center;
			//		cursor: pointer;
			//	}
			//
			//	.collapse {
			//
			//		&:hover {
			//			color: $color-active;
			//		}
			//	}
			//}

			&:hover {
				.lp-btn-delete-section, .lp-btn-edit-section-title {
					display: inline-block;
				}
			}
		}

		//.name {
		//	width: 100%;
		//	border: none;
		//	color: #777;
		//	font-size: 1.5rem;
		//	font-weight: 600;
		//	line-height: 3.125rem;
		//
		//	&:focus {
		//		color: #444;
		//	}
		//}

		.section-collapse {
			overflow: hidden;
			padding: $spacing-section;
			border-top: 1px solid $border-color;


		}

		.section-content {
			margin-bottom: 10px;
		}

		.lp-input-title-section {
			padding-left: 0;
			border: none;
			font-size: 1.2em;
			line-height: 1.875rem;
			flex: 1;
		}

		.lp-btn-update-section-title, .lp-btn-cancel-update-section-title {
			display: none;
		}

		&.editing {
			.lp-btn-update-section-title, .lp-btn-cancel-update-section-title {
				display: inline-block;
			}

			.lp-btn-delete-section, .lp-btn-edit-section-title {
				display: none !important;
			}

			.section-items-counts, .section-toggle {
				display: none;
			}
		}

		.description-input {
			width: 100%;
			margin: 0;
			padding: 0;
			border: none;
			color: #999;

			&:focus {
				color: #444;
			}
		}

		.lp-btn-cancel-update-section-title {
			border: none;
			background: transparent;

			&:hover {
				background: #f0f0f1;
			}
		}
	}

	.add-new-section, .lp-add-item-type {
		display: flex;
		gap: 5px;
		padding: 5px 10px;
		align-items: center;

		.lp-icon-plus {
			font-size: 1.1rem;
			min-width: 20px;
			text-align: center;
		}

		input {
			width: 100%;
			border: none;
			background: transparent;
			outline: none;
			padding: 0;
			@include placeholder-color(#8A8888);
		}
	}

	.add-new-section {
		border: 1px solid $border-color;
		border-top: none;
		background-color: $bg-section;

		&.focus {
			border-top: 1px solid;
			border-color: $color-active;
		}

		input {
			font-size: 16px;
		}

		@import "buttons";

		/*.lp-btn-add-section {
			border: none;
			background: rgba(19, 94, 150, 0.5);
			color: #fff;

			&:hover, &.active {
				background: rgba(19, 94, 150, 1);
			}
		}*/
	}

	.lp-add-item-type {
		border: 1px solid $color-active;
		margin-bottom: 10px;

		.new-item-actions {
			width: 100%;
			display: flex;
			gap: 5px;
		}

		.lp-btn-add-item {
			&.active {
				background: rgba(19, 94, 150, 1);
				color: #fff;
			}
		}

		.lp-btn-add-item-cancel {
			border: none;
		}
	}

	.item-actions {
		display: flex;
		bottom: 0;
		align-items: center;
		gap: 5px;

		li {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				color: $color-gray;
				text-decoration: none;
				font-size: 1.15rem;
				&:hover {
					color: $color-active
				}
			}

			&:hover {
				cursor: pointer;
			}
		}

		//.dashicons {
		//	font-family: "lp-icon";
		//	width: auto;
		//	height: auto;
		//	font-size: 1.15rem;
		//}
		//
		//.dashicons-visibility:before {
		//	content: "\f06e";
		//}
		//
		//.dashicons-edit:before {
		//	content: "\e923";
		//}
		//
		//.dashicons-trash:before {
		//	content: "\f014";
		//}
	}

	.section-list-items {
		width: 100%;
		border-collapse: collapse;
		display: flex;
		flex-direction: column;
		gap: $spacing-section;
		margin: 0;
	}

	.section-item, .section-head {
		display: flex;
		position: relative;
		margin: 0;
		padding: 6px 10px;
		background: #fff;
		transition: background 200ms ease-out;
		align-items: center;
		gap: 5px;
	}

	.section-head {
		background-color: $bg-section;

		&:hover {
			.lp-btn-delete-section {
				display: inline-block;
			}
		}
	}

	.section-item {
		border: 1px solid #EEEEEE;

		&.focus {
			border-color: $color-active !important;
		}

		&.loading {
			pointer-events: none;
			opacity: 0.5 !important;

			.lp-icon-spinner {
				display: inline-block;
			}
		}

		&:hover {
			border-color: $color-active;
		}

		.lp-btn-update-item-title, .lp-btn-cancel-update-item-title {
			display: none;
		}

		&.editing {
			.lp-btn-update-item-title, .lp-btn-cancel-update-item-title {
				display: inline-block;
			}

			.item-actions {
				display: none;
			}
		}

		.drag {
			cursor: grab;

			&:hover {
				color: $color-active
			}
		}

		.actions {
			margin: 0;

			> * {
				visibility: hidden;
				margin-right: 10px;
			}

			.edit {
				text-decoration: none;
			}

			.remove {
				color: #a00;
			}
		}

		&:not(.lp_lesson) {
			.item-actions {
				.lp-btn-set-preview-item {
					display: none;
				}
			}
		}

		input {
			width: 100%;
			border: none;
			font-size: 0.875rem;
		}

		.lp-btn-cancel-update-item-title {
			border: none;
		}
	}

	.lp-add-item-type, .section-item {
		.item-ico-type {
			padding: 0;
			font-family: "lp-icon";
			color: $color-active;
			font-size: 1rem;
		}

		&.lp_lesson {
			.item-ico-type:before {
				content: "\f15b";
			}
		}

		&.lp_quiz {
			.item-ico-type:before {
				content: "\f12e";
			}
		}

		&.lp_assignment {
			.item-ico-type:before {
				content: "\e929";
			}
		}

		&.lp_h5p {
			.item-ico-type:before {
				content: "\e92a";
			}
		}
	}

	.section-actions {
		display: flex;
		gap: 10px;
		align-items: center;

		button {
			display: flex;
			align-items: center;
			gap: 4px;

			&:before {
				font-family: "lp-icon";
				font-style: normal;
				font-size: 16px;
				line-height: 1;
				content: "\f009";
			}

			&[data-item-type="lp_lesson"]:before {
				content: "\f15b";
			}

			&[data-item-type="lp_quiz"]:before {
				content: "\f12e";
			}

			&[data-item-type="lp_assignment"]:before {
				content: "\e929";
			}

			&[data-item-type="lp_h5p"]:before {
				content: "\e92a";
			}
		}
	}

	.lp-section-title-input {
		font-size: 16px;
	}
}

