/**
* Style for the edit question page in LearnPress
* @since 4.2.9
* @version 1.0.0
*/
@import "toggleCollapse";
@import "popupSweetAlert";

$border-color: #C3C4C7;

.lp-icon-spinner {
	animation: rotation 2s infinite linear;
	font-size: 1.25rem;
	color: #2271B1FF !important;
	display: none;
}

.lp-icon-drag {
	cursor: grab;
	line-height: 1;

	&:active {
		cursor: grabbing;
	}
}

/***** Main Question Edit Styles using styles from Quiz Builder *****/
