@import "mixin";
@import "message";

#lp-course-edit-curriculum {
	padding: 20px;

	[class*="lp-icon-"] {
		font-size: 1.25rem;
		color: #999;
	}

	.lp-icon-angle-down, .lp-icon-angle-up {
		padding: 10px 15px;
		color: #999;
		cursor: pointer;
	}

	.lp-icon-angle-down:hover, .lp-icon-angle-up:hover {
		color: #0085ba;
	}

	input[type="text"] {
		width: 100%;
		border: none;
		box-shadow: none;
		padding: 0;
	}

	.course-toggle-all-sections {
		&.lp-collapse {
			.lp-icon-angle-up {
				display: none;
			}
		}
		&:not(.lp-collapse) {
			.lp-icon-angle-down {
				display: none;
			}
		}
	}

	.heading {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 20px;
		align-items: center;
		line-height: 1;
		gap: 5px;

		.total-items {
			margin-left: auto;
		}

		h4 {
			margin: 0;
			font-size: 1rem;
		}
	}

	.curriculum-sections {
		border: 1px solid #ddd;

		.section {
			margin: 0;
			border-bottom: 1px solid #e5e5e5;
			opacity: 1;
			background: #fff;

			&.lp-collapse {
				.section-collapse {
					display: none;
				}
				.section-toggle {
					.lp-icon-angle-up {
						display: none;
					}
				}
			}
			&:not(.lp-collapse) {
				.section-toggle {
					.lp-icon-angle-down {
						display: none;
					}
				}
			}
			.dashicons-update {
				animation: rotation 2s infinite linear;
				font-size: 1.25rem;
				color: #0085ba;
				display: none;
			}
			.drag {
				cursor: grab;
				color: #999;

				&:active {
					cursor: grabbing;
				}
			}
			&.loading {
				pointer-events: none;
				opacity: 0.5 !important;
				.section-head {
					.dashicons-update {
						display: inline-block;
					}
				}
			}

			&:first-child {
				border-top: 0;
			}

			&:hover {

				.section-actions {

					.remove {
						display: inline-block;
					}
				}
			}

			input {
				background-color: transparent;
				box-shadow: none;

				&:focus {
					box-shadow: none;
				}
			}

			.section-head {
				display: flex;
				margin: 0;
				padding: 5px 10px;
				background-color: #f4fcff;
				transition: background 500ms ease-out;
				align-items: center;
				gap: 5px;

				.lp-btn-delete-section {
					color: #E74C3C;
					border: 1px solid #999;
					background: white;
					display: none;
				}

				.movable,
				.creatable {
					display: inline-block;
					width: 40px;
					margin: 0;
					color: #999;
					font-family: Dashicons;
					font-size: 1.25rem;
					text-align: center;
					vertical-align: middle;
				}

				.movable {
					margin-right: -1px;
					cursor: url("../../images/openhand.cur") 7 5, default;

					&::before {
						content: "\f333";
					}

					&:hover {
						color: #0085ba;
					}
				}

				.section-item-counts {
					line-height: 2.5rem;
				}

				.actions {
					height: 100%;
					color: #444;

					> * {
						display: inline-block;
						height: 100%;
						text-align: center;
						cursor: pointer;
					}

					.collapse {

						&:hover {
							color: #0085ba;
						}
					}
				}

				&:hover {
					.lp-btn-delete-section {
						display: inline-block;
					}
				}

				.section-items-counts {
					white-space: nowrap;
				}
			}

			.name {
				width: 100%;
				border: none;
				color: #777;
				font-size: 1.5rem;
				font-weight: 600;
				line-height: 3.125rem;

				&:focus {
					color: #444;
				}
			}

			.section-collapse {
				overflow: hidden;
				padding: 20px;
				border-top: 1px solid #e5e5e5;

				.lp-add-item-type {
					display: flex;
					transition: all 200ms ease-out;
					align-items: center;
					border: 1px solid #2271B1;
					padding: 8px 10px;
					gap: 5px;
					margin-bottom: 10px;

					.new-item-actions {
						width: 100%;
						display: flex;
						gap: 5px;

						input {
							width: 100%;
							border: none;
							background: transparent;
							outline: none;
							padding: 0;
						}
					}
				}
			}

			.section-content {
				margin-bottom: 10px;

				.section-description {
					margin-bottom: 10px;

					button {
						display: none;
					}

					.lp-btn-update-section-description {
						margin-right: 5px;
					}

					&.editing {
						button {
							display: inline-block;
						}
					}
				}
			}

			.section-actions {
				display: flex;
				gap: 5px;
			}

			.lp-input-title-section {
				padding-left: 0;
				border: none;
				font-size: 1.2em;
				line-height: 1.875rem;
				flex: 1;
			}

			.lp-btn-update-section-title, .lp-btn-cancel-update-section-title {
				display: none;
			}

			&.editing {
				.lp-btn-update-section-title, .lp-btn-cancel-update-section-title {
					display: inline-block;
				}
				.lp-btn-delete-section {
					display: none !important;
				}
				.section-items-counts, .section-toggle {
					display: none;
				}
			}

			.description-input {
				width: 100%;
				margin: 0;
				padding: 0;
				border: none;
				color: #999;

				&:focus {
					color: #444;
				}
			}

			.item-ico-type {
				padding: 0;
				font-family: "lp-icon";
				color: #2271B1;
				font-size: 1rem;

				&.lp_quiz {
					&::before {
						content: "\f12e";
					}
				}

				&.lp_lesson {
					&::before {
						content: "\f15b";
					}
				}

				&.lp_assignment {
					&::before {
						content: "\e929";
					}
				}
			}
		}
	}

	.add-new-section {
		display: flex;
		gap: 5px;
		padding: 5px 10px;
		align-items: center;
		background-color: #f4fcff;
		border: 1px solid #ddd;
		border-top: none;

		input {
			width: 100%;
			border: none;
			background: transparent;
			outline: none;
			padding: 0;
		}
	}

	.section-list-items {
		width: 100%;
		border-collapse: collapse;
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin: 0;

		.section-item {
			display: flex;
			position: relative;
			margin: 0;
			border: 1px solid #EEEEEE;
			padding: 8px 10px;
			background: #fff;
			transition: background 200ms ease-out;
			justify-content: center;
			align-items: center;
			gap: 5px;

			&.loading {
				pointer-events: none;
				opacity: 0.5 !important;
				.dashicons-update {
					display: inline-block;
				}
			}

			&:hover {
				border-color: #2271B1;
			}

			.lp-btn-update-item-title, .lp-btn-cancel-update-item-title {
				display: none;
			}

			&.editing {
				.lp-btn-update-item-title, .lp-btn-cancel-update-item-title {
					display: inline-block;
				}

				.item-actions {
					display: none;
				}
			}

			/*&:nth-child(2n+1) {
				background-color: #f7f7f7;
			}*/

			&.updating {

				&::before {
					position: absolute;
					z-index: 2;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: "";
				}
			}

			&.removing {
				background-color: #ffeded;
			}

			.drag {
				cursor: grab;
				fill: #999;

				svg:hover {
					color: #0085ba;
				}
			}

			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.item-actions {
				display: flex;
				bottom: 0;
				align-items: center;

				li {
					list-style: none;
					margin: 0;
					padding: 0;

					a {
						color: #999;
					}
				}
			}

			.actions {
				margin: 0;

				> * {
					visibility: hidden;
					margin-right: 10px;
				}

				.edit {
					text-decoration: none;
				}

				.remove {
					color: #a00;
				}
			}

			&:not(.lp_lesson) {
				.item-actions {
					.lp-btn-set-preview-item {
						display: none;
					}
				}
			}

			.item-actions {
				li {
					&:hover {
						cursor: pointer;
					}
				}
			}

			&.lp_quiz {
				.icon::before {
					content: "\f469";
				}
			}

			&.lp_lesson {
				.icon::before {
					content: "\f330";
				}
			}

			input {
				width: 100%;
				border: none;
				color: inherit;
				font-size: 0.875rem;
				font-weight: 600;
			}
		}
	}
}

.lp-select-items-container {
}

.lp-select-items-popup {
	padding: 0 !important;
	grid-row: 1 !important;
}

.lp-select-items-html-container {
	padding: 0 !important;
}

.lp-popup-items-to-select {
	position: relative;
	border: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: all 200ms ease-out;
	text-align: left;
	font-size: 1rem;

	&.show-preview {

		.header {
			.preview-title {
				display: flex;
				align-items: center;
			}
		}
	}

	.header {
		position: relative;

		.preview-title {
			display: none;
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding-left: 20px;
			border-bottom: 1px solid #ddd;
			background-color: #fff;
			font-weight: 600;

			h3 {
				margin: 0;
			}
		}

		.header-count-items-selected {
			border-bottom: 1px solid #ddd;
			padding: 20px;
		}

		.tabs {
			margin: 0;
			border-bottom: 1px solid #ddd;

			.tab {
				display: inline-block;
				position: relative;
				margin: 0;

				&:not(:last-child)::before {
					position: absolute;
					top: 50%;
					right: 0;
					height: 44px;
					margin-top: -22px;
					border-right: 1px solid #ddd;
					content: "";
				}

				&.active {

					&::after {
						display: inline-block;
						position: absolute;
						bottom: -6px;
						left: 50%;
						width: 10px;
						height: 10px;
						margin-left: -6px;
						border: 1px solid #ddd;
						border-right: 0;
						border-bottom: 0;
						background: #fff;
						content: "";
						transform: rotate(45deg);
					}

					a {
						color: #0073aa;
					}
				}

				a {
					display: inline-block;
					height: 44px;
					padding: 0 20px;
					color: #333;
					font-weight: 600;
					line-height: 2.75rem;
					text-decoration: none;

					&:focus {
						box-shadow: none;
					}
				}
			}
		}

		.close {
			display: inline-block;
			position: absolute;
			z-index: 30;
			top: 0;
			right: 0;
			padding: 12px;
			font-size: 1em;
			cursor: pointer;
		}
	}

	.main {
		overflow: hidden;
		position: relative;
		padding: 20px;
		border-bottom: 1px solid #ddd;

		input.modal-search-input {
			width: 100%;
			height: 36px;
			padding: 0 14px;
			font-size: 1rem;
			line-height: 2.25rem;
		}

		.list-items {
			overflow-y: auto;
			position: relative;
			min-height: 260px;
			max-height: 460px;
			margin: 0;

			li {
				margin: 15px 0;
				cursor: pointer;
			}
		}

		.list-items-selected {
			overflow-y: auto;
			position: relative;
			min-height: 260px;
			max-height: 460px;
			margin: 0;

			li {
				margin: 15px 0;
				cursor: pointer;

				&.selected {
					background-color: #f4fcff;
				}
			}
		}

		.pagination {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			align-items: center;

			li {
				margin: 0;
				cursor: pointer;
				padding: 10px;
				&:first-child {
					padding-left: 0;
				}

				a {
					text-decoration: none;
					display: flex;
					align-items: center;
				}
			}
		}
	}

	.lp-added-items-preview {
		overflow: auto;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-height: 420px;
		padding: 20px;
		background-color: #fff;
		transform: translate(100%, 0);

		&.show {
			transform: translate(0, 0);
		}

		.list-added-items {

			li {
				margin: 15px 0;

				&:first-child {
					margin: -10px 0 15px 0;
				}
			}
		}
	}

	.footer {
		padding: 20px;
		display: flex;
		gap: 5px;
	}
}
