// Global variables
$item-preview: #059de9;
$primary-bg-duration: #c0c0c0;
$primary-bg-questions: #9672cf;
$primary-color-course-item-status: #3bb54a;
$primary-bg-color: #000;
$primary-bg-color-before: #000;
$primary-bg-color-after: #000;
$bg-course-featured: #FF2828;
// Import
@import "mixin.scss";
@import "message.scss";
@import "ajaxload";
@import "frontend/tabs";
@import "frontend/checkout";
@import "frontend/form";
@import "frontend/profile";
@import "frontend/curriculum";
@import "frontend/quiz";
@import "frontend/message";
@import "frontend/theme-support";
@import "quick-tip";
@import "frontend/preview-course";
@import "frontend/alerts";
@import "frontend/courses";
@import "frontend/course-sidebar";
@import "frontend/popup";
@import "modal";
@import "frontend/comments";
@import "frontend/base";
@import "frontend/skeleton-animation";
@import "frontend/twentytwentytwo";

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {

	@include box-sizing(border-box);
	margin: 0;
	box-shadow: unset;
}

/*  start reset css */
body {
	background: #fff;

	&.learnpress-page {
		overflow-x: hidden;
	}
}

.wrap-fullwidth {

	a,
	button,
	input,
	textarea {

		&:focus {
			border: 0;
			outline: 0;
		}
	}

	a:hover {
		text-decoration: none;
	}

	p {
		word-break: break-word;

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		display: block;
		margin: 0;
		outline: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	form {
		margin: 0;
	}

	.col-full {
		box-sizing: border-box;
		max-width: 100%;
		padding: 0;

		.woocommerce-breadcrumb {
			display: none;
		}
	}
}

/*  end reset css */

footer {
	clear: both;
}

.margin-bottom {
	margin-bottom: 20px;
}

.hide-if-js {
	display: none !important;
}

.clearfix {

	&::after {

		@include clear-fix();
	}
}

.lp-form-fields {
	margin: 0;
	padding: 0;
	list-style: none;

	.form-field {
		margin: 0 0 20px 0;
		list-style: none;
	}
}

.lp-content-wrap {
	width: 1170px;
	max-width: 90%;
	margin: 0 auto;

	& > h2 {
		margin-top: 0;
		margin-bottom: 26px;
		color: #333;
		font-size: 30px;
		font-weight: 600;
	}
}

.learn-press-breadcrumb {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto 45px auto;
	padding: 0;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	list-style: none;

	li {
		display: inline-block;
		margin: 0;

		a {
			&:hover {
				color: var(--lp-primary-color);
			}
		}

	}

	i {
		margin: 0 5px;
		color: #666;
		font-size: 12px;
	}

	@media (max-width: 1024px) {
		padding-right: 15px;
		padding-left: 15px;
	}

	a {
		color: #666;
		font-weight: 500;
	}
}

.learnpress-page {

	.lp-button,
	#lp-button {
		padding: 16px 24px;
		border: 1px solid #ccc;
		color: #333;
		background: transparent;
		box-shadow: unset;
		font-family: inherit;
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		text-transform: capitalize;

		@include box-sizing(border-box);
		@include border-radius(3px);

		&.large {
			height: 52px;
			padding: 18px 30px;
			font-size: 18px;
		}

		@include transition(all 0.25s);

		/*&.gray {
			position: absolute;
			z-index: 1;
			top: 8px;
			right: 5px;
			padding: 0;
			border: 0;

			&:hover {
				background: transparent;
				text-decoration: none;
			}

			&:focus {
				border: 0;
				outline: 0;
			}
		}*/

		&:hover {
			border-color: var(--lp-primary-color);
			color: #fff;
			background: var(--lp-primary-color);
		}

		&.btn-ajax-off {

			.icon {
				display: none;
			}
		}

		&.btn-ajax-on {

			.icon {
				display: inline-block;
				margin-right: 5px;

				@include animation(lp-rotating 1s linear infinite);
			}
		}

		&:focus {
			outline: 0;
		}

		&.loading {

			&::before {
				display: inline-block;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";
				animation: lp-rotating 1s linear infinite;
			}
		}
	}

	.rwmb-field .description {
		margin-top: 8px;
		color: #999;
		font-size: smaller;
		font-style: italic;
	}
}

.btn-base {
	border-color: var(--lp-primary-color);
	color: white;
	background-color: var(--lp-primary-color);
}

.lp-ajax-message {
	display: none;
	margin-top: 20px;
	padding: 20px;
	border: 2px solid $msg-success;
	border-radius: 9px;
	font-size: 15px;
	line-height: 1.4;

	&.error {
		border-color: $msg-error;
	}
}

.course-meta {
	margin-bottom: 14px;

	.course-students {

		&::before {
			font-family: "Font Awesome 5 Free";
			content: "";
		}
	}
}

.lp-entry-content .course-tabs {
	margin-bottom: 60px;
}

/* Archive */

.learn-press-checkout-comment {

	h4 {
		display: none;
	}
}

.order-comments {
	width: 100%;
	padding: 15px;
	min-height: 150px;
	border: 1px solid #ccc;
	resize: none;
}

.learn-press-progress {
	.progress-bg {
		overflow: hidden;
		position: relative;
		height: 6px;
		background: #ccc;
		@include border-radius(5px);

		.progress-active {
			position: absolute;
			left: 50%;
			width: 100%;
			height: 100%;
			margin-left: -100%;
			background: var(--lp-primary-color);

			@include border-radius(5px);
		}
	}
}

/**
 * Forms
 */
.retake-course,
.enroll-course,
.purchase-course {
	display: inline-block;
}

/* */
.table-orders {
	font-size: 16px;

	th,
	td {
		padding: 5px 10px;
	}
}

.form-button {
	display: inline-block;
}

.learn-press-pagination {
	padding-bottom: 20px;
	text-align: center;

	.page-numbers {
		display: inline-block;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		background: transparent;
		list-style: none;

		> li {
			display: inline-block;
			margin: 0;
			padding: 0 14px;

			.page-numbers {
				float: unset;
				padding: 0;
				color: #666;
				background: transparent;
				font-size: 16px;
				font-weight: 300;

				&.current {
					color: var(--lp-primary-color);
					font-weight: 400;
				}

				&:hover {
					color: var(--lp-primary-color);
				}
			}
		}
	}
}

ul.list-table-nav {
	display: flex;
	margin-left: 0;
	list-style: none;

	.nav-text {
		text-align: left;
		flex: 1;
	}

	.nav-pages {
		text-align: right;
		flex: 1;

		.learn-press-pagination {
			display: inline-block;
			margin-bottom: 0;
		}
	}
}

.primary-color {
	color: #00adff;
}

.primary-color-before {

	&::before {
		color: #00adff;
	}
}

.primary-color-after {

	&::after {
		color: #00adff;
	}
}

.primary-background-color {
	background: #00adff;
}

.primary-background-color {
	background: #00adff;
}

.course-origin-price {
	margin-right: 5px;
	font-size: 85%;
	text-decoration: line-through;
}

.course-item-nav {
	display: flex;

	.prev,
	.next {

		/* flex: 1;*/
		span {
			display: block;
			font-weight: bold;
		}

		a {
			color: #999;
		}
	}

	.next {
		text-align: right;
	}
}

.content-item-wrap {

	#comments {
		margin-right: 0;
		margin-left: 0;

		#comment {
			@include box-sizing(border-box);
		}
	}
}


.course-summary-sidebar {
	position: relative;

	&.slide-down {

		@media (min-width: 769px) {
			.course-summary-sidebar__inner {
				position: fixed;
				top: 0;
			}
		}
	}

	&.slide-top {
		@media (min-width: 1200px) {
			.course-summary-sidebar__inner {
				position: absolute;
			}
		}
	}
}

.course-graduation {

	span {
		color: #999;
	}

	.icon {
		margin-right: 5px;
		font-size: 20px;
	}

	&.passed {

		.icon {
			color: #059601;
		}
	}

	&.error {

		.icon {
			color: #d85554;
		}
	}

}

.learn-press-template-warning {

	&::before {
		color: #ffc107;
		font-family: "Font Awesome 5 Free";
		content: "\f071";
	}
}

.lp-badge {
	display: flex;
	height: 30px;
	padding: 0;
	line-height: 1;
	align-items: center;
	justify-content: center;

	&::before,
	&::after {
		content: "";
	}

	&::before {
		display: inline-block;
		position: relative;
		z-index: 10;
		color: #fff;
		font-weight: bold;
		line-height: 1;
	}


	&.featured-course {
		position: absolute;
		z-index: 1;
		top: 15px;
		left: -120px;
		width: 300px;
		background: $bg-course-featured;
		text-align: center;
		transform: rotate(-45deg);
		height: auto;
		padding: 5px 0;

		&::before {
			font-size: 12px;
			text-transform: uppercase;
			content: attr(data-text);
		}
	}
}

#learn-press-item-comments {
	@media (min-width: 769px) {
		padding-bottom: 50px;
	}
}

.course-tabs {

	input[name="learn-press-course-tab-radio"],
	.course-tab-panel {
		display: none;
	}

	.course-nav {

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 17px 10px;
			font-size: 16px;
			line-height: 1;
			font-weight: 600;
			text-transform: capitalize;
			cursor: pointer;
		}
	}
}

.no-event {
	pointer-events: none;
}

@media screen and (max-width: 768px) {

	ul.learn-press-courses {

		.course {
			width: 48%;
		}
	}

}

@media screen and (max-width: 600px) {

	ul.learn-press-courses {
		.course {
			width: 100%;
			margin-right: 0;
		}
	}
}

.course-price:empty {
	display: none !important;
}

.quiz-attempts {
	.attempts-heading {
		margin-bottom: 15px;
	}

	table {
		border-spacing: 0;
		border-left: 1px solid var(--lp-secondary-color);
		border-top: 1px solid var(--lp-secondary-color);
		width: 100%;

		tr {
			th, td {
				border-right: 1px solid var(--lp-secondary-color);
				border-bottom: 1px solid var(--lp-secondary-color);
				padding: 5px 15px;
				text-align: center;
			}

			th {
				font-weight: 500;
			}
		}
	}
}

#popup-course .quiz-attempts {
	@media (max-width: 575px) {
		overflow-x: auto;
	}
}

.lp-content-area .order_details {
	width: 100%;
	border-collapse: collapse;


	th, td {
		text-align: left;
		padding: 10px 25px;
		border: 1px solid;
	}
}
