// Import
@import "variables";

@import "mixin.scss";

@import "message.scss";
@import "ajaxload";
@import "frontend/global";
@import "frontend/tabs";
@import "frontend/checkout";
@import "frontend/form";
@import "frontend/profile";
@import "frontend/extra-box";
@import "frontend/curriculum";
@import "frontend/quiz";
@import "frontend/message";
@import "frontend/theme-support";
@import "quick-tip";
@import "frontend/preview-course";
@import "frontend/alerts";
@import "frontend/courses";
@import "frontend/course-offline";
@import "frontend/course-single";
@import "frontend/course-sidebar";
@import "frontend/popup";
@import "modal";
@import "frontend/comments";
@import "frontend/base";
@import "frontend/skeleton-animation";
@import "frontend/material";
@import "frontend/twentytwentytwo";
@import "frontend/pagination";


/*  end reset css */

@media (max-width: 1024px) {
	body.learnpress-page{
		--lp-cotainer-padding: 1rem;
	}
}

footer {
	clear: both;
}

.margin-bottom {
	margin-bottom: 20px;
}

.hide-if-js {
	display: none !important;
}

.clearfix {

	&::after {

		@include clear-fix();
	}
}

.lp-form-fields {
	margin: 0;
	padding: 0;
	list-style: none;

	.form-field {
		margin: 0 0 20px 0;
		list-style: none;
	}
}

ul.learn-press-breadcrumb {
	max-width: var(--lp-container-max-width);
	width: 100%;
	margin: 0 auto;
	padding: 1em var(--lp-cotainer-padding);
	list-style: none;
	font-size: $font-size-small;
	li {
		display: inline-block;
		margin: 0;

		a {
			&:hover {
				color: var(--lp-primary-color);
			}
		}
	}

	i {
		margin: 0 8px;
	}

	a {
		color: inherit;
	}
}

.learnpress-page {
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"], textarea {
		border-color: $border-color;
		@include border-radius($border-radius-global);
		&:focus{
			outline: none;
			border-color: $color-primary;
		}
	}

	.lp-button, #lp-button {
		padding: 12px 24px;
		border: 1px solid $border-color;
		color: $text-color-base;
		background: transparent;
		box-shadow: unset;
		font-family: inherit;
		font-weight: $input-font-weight;
		text-align: center;
		text-transform: capitalize;
		@include border-radius($border-radius-global);
		@include transition(all 0.25s);

		&.large {
			height: 52px;
			padding: 18px 30px;
			font-size: 1.1em;
		}

		&:hover {
			border-color: var(--lp-primary-color);
			color: #fff;
			background: var(--lp-primary-color);
		}

		&.btn-ajax-off {

			.icon {
				display: none;
			}
		}

		&.btn-ajax-on {

			.icon {
				display: inline-block;
				margin-right: 5px;

				@include animation(lp-rotating 1s linear infinite);
			}
		}

		&:focus {
			outline: 0;
		}
	}

	.rwmb-field .description {
		margin-top: 8px;
		color: #999;
		font-size: smaller;
		font-style: italic;
	}
}

.lp-entry-content .course-tabs {
	margin-bottom: 40px;
}


/**
 * Forms
 */
.retake-course,
.enroll-course,
.purchase-course {
	display: inline-block;
}

/* */
.table-orders {
	th, td {
		padding: 5px 10px;
	}
}

.form-button {
	display: inline-block;
}

ul.list-table-nav {
	display: flex;
	margin-left: 0;
	list-style: none;

	.nav-text {
		text-align: left;
		flex: 1;
	}

	.nav-pages {
		text-align: right;
		flex: 1;

		.learn-press-pagination {
			display: inline-block;
			margin-bottom: 0;
		}
	}
}

.primary-color {
	color: var(--lp-primary-color);
}

.primary-color-before {

	&::before {
		color: var(--lp-primary-color);
	}
}

.primary-color-after {

	&::after {
		color: var(--lp-primary-color);
	}
}

.primary-background-color {
	background: var(--lp-primary-color);
}

.primary-background-color {
	background: var(--lp-primary-color);
}

.course-origin-price {
	margin-right: 5px;
	font-size: 85%;
	text-decoration: line-through;
}


.content-item-wrap {

	#comments {
		margin-right: 0;
		margin-left: 0;

		#comment {
			@include box-sizing(border-box);
		}
	}
}


.course-tabs {

	input[name="learn-press-course-tab-radio"],
	.course-tab-panel {
		display: none;
	}

}

.no-event {
	pointer-events: none;
}

@media screen and (max-width: 768px) {

	ul.learn-press-courses {

		.course {
			width: 48%;
		}
	}

}

@media screen and (max-width: 600px) {

	ul.learn-press-courses {
		.course {
			width: 100%;
			margin-right: 0;
		}
	}
}

.course-price:empty {
	display: none !important;
}
