@import "mixin";
@import "variables";
@import "message.scss";
@import "ajaxload";
*,
 :after,
 :before {
    box-sizing: border-box;
}

@import "frontend/pagination";
@import "frontend/share-social";
@import "frontend/author-info";
@import "frontend/extra-box";
@import "frontend/curriculum";
@import "frontend/comment-area";

/*
Css for Block of Gutenberg
 */

@import "wp-block/_block-global";
@import "wp-block/_block-single";
@import "wp-block/_block-archive";
@import "wp-block/_block-instructor";

.lp-sidebar-toggle__close {
	.js-block-sidebar {
		display: none;
	}
}

.lp-sidebar-toggle__open {
	.js-block-sidebar {
		display: block;
	}
}
