@import "mixin";
@import "frontend/skeleton-animation";

.learnpress.widget {
	margin-bottom: 30px;
	@media (max-width:420px) {
		max-width: 400px;
	}

	.widgettitle {
		margin-top: 0;
		margin-bottom: 2px;
		font-size: 18px;
		font-weight: 600;
	}

	.learnpress-widget-wrapper {
		margin-top: 15px;
	}

	h3 {
		margin-bottom: 20px;
		font-size: 16px;
	}

	a {
		text-decoration: none;
	}
}

.elementor-widget-wrap {
	.learnpress-widget-wrapper {
		max-width: 400px;
	}
}

.learnpress-widget-wrapper {
	// use in featured, popular, recent course widget.
	.lp-widget-course {
		margin: 0 0 30px 0;

		&__image {

			img {
				height: auto;
				width: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
				display: block;
			}
		}

		&__title {
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: 600;
		}

		&__content {
			margin: 0;
			padding: 15px;
			border: 1px solid #eee;
			border-top: none;
		}

		&__title {
			margin: 5px 0 15px 0;
		}

		&__meta {
			display: grid;
			margin: 15px 0 0 0;
			font-size: 15px;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-between;
			align-items: center;
			gap: 24px;
			.course-price{
				margin-bottom: 0;
				.course-item-price{
					display: flex;
					flex-direction: column;
				}
			}
		}

		&__description {
			color: #666;
			font-size: 15px;
		}

		&__price {
			color: #444;
			font-size: 15px;
			font-weight: 600;
		}

		&__instructor {
			display: flex;
			align-items: center;

			&__avatar {
				margin-right: 5px;

				img {
					width: 20px;
					border-radius: 20px;
					height: 20px;
					display: block;
				}
			}

			> a {
				color: #777;
				font-size: 15px;
			}
		}
		
	}

}

.learnpress.widget_course_progress,
.elementor-widget-wp-widget-learnpress_widget_course_progress {

	.lp_widget_course_progress {
		margin: 0;
		padding: 20px;
		border: 1px solid #eee;
	}

	.course-results-progress {
		margin-top: 10px;
		font-size: 14px;

		.items-progress {
			display: flex;
			margin-bottom: 7px;
			justify-content: space-between;
			align-items: center;

			&__heading {
				font-weight: 400;
			}
		}
	}

	.lp-course-progress {
		width: 100%;

		&.learn-press-progress {
			position: relative;

			.progress-bg {
				overflow: hidden;
				position: relative;
				height: 6px;
				background: #ccc;

				@include border-radius(5px);

				.progress-active {
					position: absolute;
					left: 50%;
					width: 100%;
					height: 100%;
					margin-left: -100%;
					background: var(--lp-primary-color);

					@include border-radius(5px);
				}
			}

			.lp-passing-conditional {
				position: absolute;
				top: 0;
				width: 3px;
				height: 6px;
				margin-left: -1px;
				background: var(--lp-secondary-color);
			}
		}
	}
}

.learnpress.widget_course_info,
.elementor-widget-wp-widget-learnpress_widget_course_info {

	.lp_widget_course_info {
		margin: 0;
		padding: 20px;
		border: 1px solid #eee;
		line-height: 1;

		h3 {
			margin-bottom: 15px;
		}

		ul {
			margin: 0;
			padding: 0;
			font-size: 14px;

			li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 5px;
				line-height: 1;

				span {
					font-size: 14px;
				}
			}


			label {
				font-size: 14px;
			}
		}
	}
}

.learnpress.widget_course_extra,
.elementor-widget-wp-widget-learnpress_widget_course_extra {

	.lp-widget-course-extra {
		margin: 0;
		padding: 20px;
		border: 1px solid #eee;
		line-height: 1;

		h3 {
			margin-bottom: 20px;
			font-size: 16px;
		}

		&__content {

			h4.course-extras__title {
				margin: 0;
				margin-bottom: 15px;
				font-size: 14px;
				font-weight: 600;
			}

			ul {
				margin: 0;
				padding: 0;
				font-size: 14px;

				li {
					margin-bottom: 10px;
				}
			}

			.course-extras {
				display: block;

				.course-extras__content {
					color: #777;
					font-size: 14px;

					ul {
						list-style: none;
					}

					ol {
						list-style-position: inside;
					}

					ul,
					ol {

						li {
							position: relative;
							border: none;
						}
					}
				}

				&.style-checks {

					ul,
					ol {

						li {
							padding-left: 20px;

							&::before {
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 0;
								width: 12px;
								height: 7px;
								border: 2px solid #8794b9;
								border-top: none;
								border-right: none;
								content: "";
								transform: rotate(-54deg) translateY(-50%);
							}
						}
					}
				}

				&.style-radios {

					ul,
					ol {

						li {
							padding-left: 20px;

							&::before {
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 0;
								width: 12px;
								height: 7px;
								border: 2px solid #8794b9;
								border-top: none;
								border-right: none;
								content: "";
								transform: rotate(-54deg) translateY(-50%);
							}
						}
					}
				}
			}
		}
	}
}

.learnpress.widget_course_featured,
.elementor-widget-wp-widget-learnpress_widget_course_featured {

	.lp-widget-featured-courses {

		&__footer {
			margin-top: 20px;
			padding-top: 10px;
			border-top: 1px solid #eee;

			&__link {
				font-size: 16px;
				line-height: 1;

				&::before {
					content: "←";
				}
			}
		}
	}
}

.learnpress.widget_course_popular,
.elementor-widget-wp-widget-learnpress_widget_course_popular {

	.lp-widget-popular-courses {

		&__footer {
			margin-top: 20px;
			padding-top: 10px;
			border-top: 1px solid #eee;

			&__link {
				font-size: 16px;
				line-height: 1;

				&::before {
					content: "←";
				}
			}
		}
	}
}

.learnpress.widget_course_recent,
.elementor-widget-wp-widget-learnpress_widget_course_recent {

	.lp-widget-recent-courses {

		&__footer {
			margin-top: 20px;
			padding-top: 10px;
			border-top: 1px solid #eee;

			&__link {
				font-size: 16px;
				line-height: 1;

				&::before {
					content: "←";
				}
			}
		}
	}
}

.lp-course-filter {
	.price__item, .instructor__item, .level__item, .term-list__item {
		display: flex;
		justify-content: space-between;

		label {
			cursor: pointer;
		}
	}

	.lp-search-keyword {
		position: relative;

		input {
			width: 100%;
		}

		i.loading {
			font-style: normal;
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);

			&::before {
				display: inline-block;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";
				-webkit-animation: lp-rotating 1s linear infinite;
				-moz-animation: lp-rotating 1s linear infinite;
				animation: lp-rotating 1s linear infinite;
			}
		}
	}

	ul.lp-suggest-result {
		li {
			padding: 8px 15px;
		}
	}

	ul > li {
		list-style: none;
	}
}
