<!-- wp:learnpress/lp-instructor -->
<!-- wp:group {"className":"lp-single-instructor__info","layout":{"type":"default"}} -->
<div class="wp-block-group lp-single-instructor__info">
	<!-- wp:learnpress/instructor-avatar /-->

	<!-- wp:group {"className":"lp-single-instructor__info__right","layout":{"type":"default"}} -->
	<div class="wp-block-group lp-single-instructor__info__right">
		<!-- wp:learnpress/instructor-display-name /-->

		<!-- wp:learnpress/instructor-social /-->

		<!-- wp:learnpress/instructor-description /-->

		<!-- wp:learnpress/instructor-total-courses /-->

		<!-- wp:learnpress/instructor-total-students /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:learnpress/instructor-courses /-->
<!-- /wp:learnpress/lp-instructor -->
