<!-- wp:learnpress/lp-profile -->
<!-- wp:learnpress/profile-background-image /-->

<!-- wp:group {"className":"wrapper-profile-header wrap-fullwidth","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group wrapper-profile-header wrap-fullwidth">
	<!-- wp:group {"className":"lp-profile-left","layout":{"type":"constrained"}} -->
	<div class="wp-block-group lp-profile-left">
		<!-- wp:learnpress/profile-avatar /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"lp-profile-right","layout":{"type":"default"}} -->
	<div class="wp-block-group lp-profile-right">
		<!-- wp:learnpress/profile-username /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:learnpress/profile-sidebar /-->

<!-- wp:learnpress/profile-content /-->
<!-- /wp:learnpress/lp-profile -->
