<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:learnpress/lp-single-course -->
<!-- wp:learnpress/breadcrumb /-->

<!-- wp:learnpress/course-summary -->
<!-- wp:learnpress/course-detail-info -->
<!-- wp:learnpress/course-meta-primary {"className":"wp-block-learnpress-course-meta-primary"} -->
<!-- wp:learnpress/instructor-single-course {"avatar":true} /-->

<!-- wp:learnpress/categories-single-course /-->
<!-- /wp:learnpress/course-meta-primary -->

<!-- wp:learnpress/title-single-course {"tag":"h1"} /-->

<!-- wp:learnpress/course-meta-secondary -->
<!-- wp:learnpress/duration-single-course /-->

<!-- wp:learnpress/level-single-course /-->

<!-- wp:learnpress/count-item-single-course {"itemType":"lp_lesson"} /-->

<!-- wp:learnpress/count-item-single-course {"itemType":"lp_quiz"} /-->

<!-- wp:learnpress/student-single-course /-->
<!-- /wp:learnpress/course-meta-secondary -->
<!-- /wp:learnpress/course-detail-info -->

<!-- wp:learnpress/lp-content-area {"className":"wp-block-learnpress-lp-content-area"} -->
<!-- wp:learnpress/content-left {"className":"wp-block-learnpress-content-left"} -->
<!-- wp:learnpress/tabs-single-course /-->

<!-- wp:learnpress/box-extra-single-course {"title":"Requirements","metaKey":"requirements"} /-->

<!-- wp:learnpress/box-extra-single-course {"title":"Features","metaKey":"key_features"} /-->

<!-- wp:learnpress/box-extra-single-course {"title":"Target audiences","metaKey":"target_audiences"} /-->
<!-- /wp:learnpress/content-left -->

<!-- wp:learnpress/course-summary-sidebar {"className":"wp-block-learnpress-course-summary-sidebar"} -->
<!-- wp:learnpress/image-single-course /-->

<!-- wp:learnpress/price-single-course /-->

<!-- wp:learnpress/btn-purchase-single-course /-->

<!-- wp:learnpress/feature-review-single-course /-->
<!-- /wp:learnpress/course-summary-sidebar -->
<!-- /wp:learnpress/lp-content-area -->
<!-- /wp:learnpress/course-summary -->
<!-- /wp:learnpress/lp-single-course -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
