<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:learnpress/lp-single-course -->
<!-- wp:learnpress/breadcrumb /-->

<!-- wp:learnpress/item-curriculum-course /-->

<!-- wp:learnpress/course-summary -->
<!-- wp:learnpress/course-detail-info -->
<!-- wp:learnpress/course-meta-primary {"className":"wp-block-learnpress-course-meta-primary"} /-->

<!-- wp:learnpress/title-single-course {"tag":"h1"} /-->

<!-- wp:learnpress/course-meta-secondary -->
<!-- wp:learnpress/duration-single-course /-->

<!-- wp:learnpress/level-single-course /-->

<!-- wp:learnpress/lesson-single-course /-->

<!-- wp:learnpress/quiz-single-course /-->

<!-- wp:learnpress/student-single-course /-->
<!-- /wp:learnpress/course-meta-secondary -->
<!-- /wp:learnpress/course-detail-info -->

<!-- wp:learnpress/lp-content-area {"className":"wp-block-learnpress-lp-content-area"} -->
<!-- wp:learnpress/content-left {"className":"wp-block-learnpress-content-left"} -->
<!-- wp:learnpress/tabs-single-course /-->

<!-- wp:learnpress/requirements-single-course /-->

<!-- wp:learnpress/features-single-course /-->

<!-- wp:learnpress/target-audiences-single-course /-->

<!-- wp:learnpress/comment /-->
<!-- /wp:learnpress/content-left -->

<!-- wp:learnpress/course-summary-sidebar {"className":"wp-block-learnpress-course-summary-sidebar"} -->
<!-- wp:learnpress/image-single-course /-->

<!-- wp:learnpress/price-single-course /-->

<!-- wp:learnpress/btn-purchase-single-course /-->

<!-- wp:learnpress/time-single-course /-->

<!-- wp:learnpress/progress-single-course /-->

<!-- wp:learnpress/feature-review-single-course /-->
<!-- /wp:learnpress/course-summary-sidebar -->
<!-- /wp:learnpress/lp-content-area -->
<!-- /wp:learnpress/course-summary -->
<!-- /wp:learnpress/lp-single-course -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
