<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:learnpress/lp-single-course -->
<!-- wp:group {"metadata":{"name":"Header"},"className":"lp-single-course__header","layout":{"type":"default"}} -->
<div class="wp-block-group lp-single-course__header">
	<!-- wp:group {"metadata":{"name":"Inner"},"className":"lp-single-course__header__inner","layout":{"type":"default"}} -->
	<div class="wp-block-group lp-single-course__header__inner">
		<!-- wp:learnpress/breadcrumb /-->

		<!-- wp:learnpress/title-single-course {"tag":"h1"} /-->

		<!-- wp:group {"metadata":{"name":"Meta Left"},"className":"course-instructor-category","layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group course-instructor-category">
			<!-- wp:learnpress/instructor-single-course /-->

			<!-- wp:learnpress/categories-single-course /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:learnpress/info-one-course /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Area"},"className":"lp-content-area","layout":{"type":"default"}} -->
<div class="wp-block-group lp-content-area">
	<!-- wp:group {"metadata":{"name":"Main"},"className":"lp-single-course-main","layout":{"type":"default"}} -->
	<div class="wp-block-group lp-single-course-main">
		<!-- wp:group {"metadata":{"name":"Left"},"className":"lp-single-course-main__left","layout":{"type":"default"}} -->
		<div class="wp-block-group lp-single-course-main__left">
			<!-- wp:learnpress/description-single-course /-->

			<!-- wp:learnpress/features-single-course /-->

			<!-- wp:learnpress/target-audiences-single-course /-->

			<!-- wp:learnpress/requirements-single-course /-->

			<!-- wp:learnpress/curriculum-single-course /-->

			<!-- wp:learnpress/instructor-section-single-course /-->

			<!-- wp:learnpress/comment /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"metadata":{"name":"Right"},"className":"lp-single-course-main__right","layout":{"type":"default"}} -->
		<div class="wp-block-group lp-single-course-main__right">
			<!-- wp:group {"className":"lp-single-course-main__right__inner","layout":{"type":"default"}} -->
			<div class="wp-block-group lp-single-course-main__right__inner">
				<!-- wp:learnpress/image-single-course /-->

				<!-- wp:learnpress/price-single-course /-->

				<!-- wp:learnpress/progress-single-course /-->

				<!-- wp:group {"metadata":{"name":"Meta"},"className":"info-metas","layout":{"type":"default"}} -->
				<div class="wp-block-group info-metas">
					<!-- wp:learnpress/student-single-course /-->

					<!-- wp:learnpress/lesson-single-course /-->

					<!-- wp:learnpress/duration-single-course /-->

					<!-- wp:learnpress/quiz-single-course /-->

					<!-- wp:learnpress/level-single-course /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:learnpress/btn-purchase-single-course /-->

				<!-- wp:learnpress/share-course /-->

				<!-- wp:learnpress/feature-review-single-course /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"metadata":{"name":"Related"},"className":"lp-list-courses-related","layout":{"type":"default"}} -->
	<div class="wp-block-group lp-list-courses-related">
		<!-- wp:learnpress/related-course /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- /wp:learnpress/lp-single-course -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
