$primary-color: #00a0d2;
$remove-icon-color: #d05d5d;

/**
 * Mixin
 */
@mixin clear-fix() {
    clear: both;
    display: block;
    content: '';
}

@mixin box-sizing($args...) {
    -webkit-box-sizing: $args;
    -moz-box-sizing: $args;
    box-sizing: $args;
}

@mixin border-radius($args...) {
    -webkit-border-radius: $args;
    -moz-border-radius: $args;
    border-radius: $args;
}

@mixin animation($args...) {
    -webkit-animation: $args;
    -moz-animation: $args;
    animation: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin no-outline() {
    @include box-shadow(none);
    outline: none;
}
