//$primary-color: #0085ba;
//$remove-icon-color: #d05d5d;

/**
 * Mixin
 */
@mixin clear-fix() {
    clear: both;
    display: block;
    content: '';
}

@mixin box-sizing($args:border-box) {
    -webkit-box-sizing: $args;
    -moz-box-sizing: $args;
    box-sizing: $args;
}

@mixin border-radius($args...) {
    -webkit-border-radius: $args;
    -moz-border-radius: $args;
    border-radius: $args;
}

@mixin animation($args...) {
    -webkit-animation: $args;
    -moz-animation: $args;
    animation: $args;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
    &:focus {
        -webkit-box-shadow: $args;
        -moz-box-shadow: $args;
        box-shadow: $args;
    }
}

@mixin no-outline() {
    @include box-shadow(none);
    outline: none;
}

@mixin text-overflow($base: 1.6em, $line: 5) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    line-height: $base;
    max-height: $base * $line;
    min-height: $base * $line;
}

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-wrap($wrap: none) {
    -webkit-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::placeholder{
        color: $color;
    }
}


@-webkit-keyframes rotating4 /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating4 {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@mixin rotating4($args: rotating4 2s linear infinite) {
    -webkit-animation: $args;
    -moz-animation: $args;
    -ms-animation: $args;
    -o-animation: $args;
    animation: $args;
}

@-webkit-keyframes animation4 /* Safari and Chrome */
{
    from {
        left: -40%;
        width: 40%;
    }
    to {
        left: 100%;
        width: 10%;
    }
}

@keyframes animation4 {
    from {
        left: -40%;
        width: 40%;
    }
    to {
        left: 100%;
        width: 10%;
    }
}

@mixin animation4($args: animation4 2s linear infinite) {
    -webkit-animation: $args;
    -moz-animation: $args;
    -ms-animation: $args;
    -o-animation: $args;
    animation: $args;
}