@import "mixin.scss";
@import "frontend/checkout";
@import "frontend/form";
@import "frontend/profile";
@import "frontend/curriculum";
@import "frontend/quiz";
@import "frontend/message";

.learn-press-progress {
    position: relative;
    .progress-bg {
        background: #DDD;
        height: 10px;
        position: relative;
        overflow: hidden;
        @include border-radius(5px);
        .progress-active {
            height: 100%;
            width: 100%;
            background: #00adff;
            position: absolute;
            left: 50%;
            margin-left: -100%;
            @include border-radius(5px);
        }
    }
    .xxxx {
        position: absolute;
        width: 28px;
        height: 28px;
        background: #3393c1;
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
        line-height: 28px;
        border-radius: 50%;
        margin-left: -15px;
        top: 50%;
        margin-top: -15px;
        color: #FFF;
        border: 1px solid #559abb;
        text-align: center;
        &:after{
            content: '%';
        }
    }
}

.retake-course,
.enroll-course,
.purchase-course {
    display: inline-block;
}

/* */
.table-orders {
    font-size: 16px;
    th, td {
        padding: 5px 10px;
    }
}

.form-button {
    display: inline-block;
}

.learn-press-pagination {
    text-align: center;
    .page-numbers {
        display: inline-block;
        list-style: none;
        > li {
            display: inline-block;
            a, span {
                display: block;
                padding: 5px 10px;
                border: 1px solid #DDD;
                box-shadow: none;
                line-height: 1;
            }
            span {
                background: #F5F5F5;
            }
        }
    }
}