@import "mixin.scss";
@import "frontend/checkout";
@import "frontend/form";
@import "frontend/profile";
@import "frontend/curriculum";

.retake-course,
.enroll-course,
.purchase-course {
    display: inline-block;
}

/* */
.table-orders {
    font-size: 16px;
    th, td {
        padding: 5px 10px;
    }
}

.learn-press-pagination {
    text-align: center;
    .page-numbers {
        display: inline-block;
        list-style: none;
        > li {
            display: inline-block;
            a, span {
                display: block;
                padding: 5px 10px;
                border: 1px solid #DDD;
                box-shadow: none;
                line-height: 1;
            }
            span{
                background: #F5F5F5;
            }
        }
    }
}