/* jAlerts */
#popup_container {
  background: #FFF;
}
#popup_container #popup_title {
  padding: 10px 20px;
  background: #18B6C7;
  color: #FFF;
  font-size: 18px;
  margin: 0;
}
#popup_container #popup_content {
  padding: 20px;
}
#popup_container #popup_content #popup_message {
  margin-bottom: 20px;
}
#popup_container #popup_panel {
  text-align: center;
}
.single-lp_course .course-students {
  padding-top: 10px;
}
.single-lp_course .course-students-list {
  margin-top: 10px;
}
.single-lp_course .course-students-list .students {
  list-style-type: none;
  margin: 0;
}
.single-lp_course .course-students-list .students li {
  margin-right: 10px;
}
.single-lp_course .course-students-list .students p {
  margin-top: 15px;
}
.single-lp_course .lp_course .entry-footer {
  display: none;
}