.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.learnpress{

}

.learnpress h3{
	font-size: 2.7rem;
	line-height: 1.1852;
	margin-top: 2.3704em;
	margin-bottom: 1.1852em;
}

.learnpress .twentyfifteen .learnpress-content{
	padding-left: 7.6923%;
	padding-right: 7.6923%;
	padding-top: 7.6923%;
	margin-bottom: 7.6923%;
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.15);
}
@media screen and (min-width: 59.6875em) {
	.twentyfifteen .learnpress-content{
		margin-left: 8.3333%;
		margin-right: 8.3333%;
		padding: 10%;
	}
}
@media screen and (min-width: 38.75em) {
	.twentyfifteen .learnpress-content {
		margin-right: 7.6923%;
		margin-left: 7.6923%;
		margin-top: 8.3333%;
	}
}
/***************************/

#course-header {

}

#course-header:after {
	display: block;
	content: '';
	clear: both;
}

#course-main {
}

#course-main:after {
	content: '';
	display: block;
	clear: both;
}

#course-desc {
	width: 100%;
}

.course-info {
	width: 75%;
	float: left;
}

.course-getting, .course-related {
	width: 25%;
	float: right;
}

.course-free-button {

}

.learn-press {

}

.learn-press ul {
	list-style: none;
}

/* Course */
.course-curriculum {

}

.course-curriculum .curriculum-sections {

}

.curriculum-sections .section {
	overflow: hidden;
}

.curriculum-sections .section .section-header {
	margin: 0 0 20px 0;
}

.curriculum-sections .section .section-header a {
	outline: none;
	font-size: 12px;
	float: right;
}

.curriculum-sections .section-content {

}

.curriculum-sections .section-content .course-lesson,
.curriculum-sections .section-content .course-quiz {
	margin: 0 0 10px 0;
}

.curriculum-sections .section-content .lesson-quiz-icon {
	margin-right: 5px;
}

.curriculum-sections .section-content .course-lesson .lesson-quiz-icon:before,
.curriculum-sections .section-content .course-quiz .lesson-quiz-icon:before {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	color: #FFF;
	background-color: #999;
	vertical-align: middle;
}

.curriculum-sections .section-content .course-lesson .lesson-quiz-icon.lesson:before {
	content: 'L';
}

.curriculum-sections .section-content .course-lesson.current .lesson-quiz-icon:before {
	content: "\f177";
	font-family: dashicons;
	background-color: transparent;
	color: #90DFFF;
	font-size: 24px;
}

.curriculum-sections .section-content .course-quiz .lesson-quiz-icon.quiz:before {
	content: 'Q';
}

.curriculum-sections .section-content .course-lesson.completed a,
.curriculum-sections .section-content .course-quiz.completed a {
	text-decoration: line-through;
	border-bottom: none;
}

.curriculum-sections .section-content .course-lesson.loading .lesson-quiz-icon:before {
	content: '';
	background: url(../images/ajaxload.gif) no-repeat center;
}

.course-content-lesson-nav,
.course-content-lesson-nav-text {
	overflow: hidden;
}

.course-content-lesson-nav-text {
	margin-top: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	border-top: 1px dashed #e0e0e0;
	padding-top: 20px;
}

.course-content-lesson-nav a {
}

.course-content-lesson-nav a.next-lesson,
.course-content-lesson-nav-text .next-lesson-text {
	float: right;
}

#lesson-quiz-tooltip-container {
	display: none;
	visibility: hidden;
}

.lesson-quiz-tooltip {
	font-size: 14px;
}

/* Single Quiz Pagge*/
.twentyfifteen .single-quiz {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10%;
}

.quiz-question-nav-buttons button {
	_display: none;
}

.single-quiz .no-question {
	font-size: 14px;
	border: 1px solid #FFB6B6;
	padding: 10px;
	color: #FF7979;
}

.quiz-started .quiz-content, .quiz-completed .quiz-content {
	display: none;
}

.quiz-question-nav {
	margin-right: -250px;
	float: left;
	width: 100%;
}

.quiz-question-nav .lp-question-wrap {
	margin-right: 200px;
}

.quiz-sidebar {
	width: 230px;
	float: right;
}

#quiz-countdown {
	font-size: 48px;
	text-align: center;
}

.quiz-countdown-text {
	text-align: center;
	margin: 10px;
	line-height: 1.5;
}

.quiz-countdown-text span {
	display: block;
}

.quiz-buttons {
	text-align: center;
}

.quiz-questions > ul {
	list-style: none;
	margin: 20px 0;
}

.quiz-questions > ul li {
	list-style: none;
	margin: 0 0 15px 0;
	font-size: 14px;
	line-height: 1;
}

.quiz-questions > ul > li > h4 {
    font-weight: normal;
}

.quiz-questions > ul li.current > h4 {
    font-weight: bold;
}

.quiz-sidebar, .quiz-question-nav {
	margin-top: 20px;
}

.button-finish-quiz {
	display: none;
}

.quiz-started .button-finish-quiz {
	display: inline;
}

.quiz-result {
	margin-top: 20px;
	float: left;
	margin-right: -300px;
	width: 100%;
}

.quiz-result .quiz-result-mark {
	float: left;
	width: 150px;
	height: 150px;
	background-color: #F5F5F5;
	border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 30px;
	line-height: 1;

}

.quiz-result .quiz-result-mark .quiz-mark {
	font-size: 60px;
	display: block;
}

.quiz-result .quiz-result-mark .quiz-mark small {
	font-size: 20px;
}

.quiz-result .quiz-result-summary {
	float: left;
	margin-left: 30px;
}

.quiz-result .quiz-result-summary .quiz-result-field {
	margin: 0;
	font-size: 14px;
}

.quiz-result .quiz-result-summary .quiz-result-field > label {
	width: 100px;
	display: inline-block;
}

.quiz-result .quiz-result-summary .quiz-result-field.correct {
	color: #0066cc;
}

.quiz-result .quiz-result-summary .quiz-result-field.wrong {
	color: #BC0B0B;
}

.quiz-result .quiz-result-summary .quiz-result-field.empty {
	color: #869791;
}

#learn_press_payment_form {
	display: none;
}

#learn_press_payment_form .learn_press_payment_form {
	display: none;
}

#quiz-accordion > div {
	height: auto !important;
}

@media screen and (max-width: 480px) {
	.quiz-question-nav {
		margin-right: 0;
		float: none;
	}

	.quiz-sidebar {
		width: 100%;
		float: none;
	}
}

.lpr-question-hint {
	margin-top: 10px;
    line-height: 1.5;
}

.lpr-question-hint .correct {
	background: #CFE6FD;
}

.lpr-question-hint .wrong {
	background: #FCCED3;
}

.learn-press .message {
	border: 1px solid #90DFFF;
	background-color: #DFF6FF;
	padding: 10px;
	font-size: 12px;
	margin: 20px 0;
	border-radius: 5px;
}

.learn-press .message.error {
	border-color: #FF9090;
	background-color: #FFDFDF;
}

/* jAlert */
#popup_container {
	border: 1px solid rgb(221, 221, 221);
	background-color: rgb(255, 255, 255);
	min-width: 350px;
}

#popup_container #popup_title,
#popup_container #popup_content {
	margin: 20px;
}

#popup_container #popup_message {
	margin-bottom: 20px;
}

.lpr_course.has-post-thumbnail {
	padding-top: 8.3333% !important;
}

#course_taken .course,
#course_made .course{
    list-style: none;
}
#course_taken .course > li,
#course_made .course > li{
    margin: 0 0 20px 0;
}
#course_taken .course-status{
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 10px;
}
#course_taken .course-status.passed{
    background-color: #90DFFF;
    color: #FFF;
}
#user_quizzes:after {
	content: "";
	display: block;
	clear: both;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 25px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.question-hint-title {
	
}

.question-hint-title:hover {
	cursor: pointer;
}
.block-ui:before,
.block-ui:after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
}
.block-ui:before{
    background-color: #E4E4E4;
    opacity: 0.3;
}
.block-ui:after{
	background: url(../images/ajax-loader.gif) no-repeat center;
}

.lpr_quiz {
	visibility: hidden;
}