/**
 * Define all styles for admin side
 *
 * @author ThimPress
 * @version 1.0
 */
.learn-press-quick-add-page-inline{
	display: inline-block;
	vertical-align: top;
	margin: 0 !important;
}
.learn-press-quick-add-page-inline > *{
	vertical-align: top;
}

/* message box */
#learn-press-message-box-block{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 99999;
	opacity: 0.8;
}
#learn-press-message-box-window{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100000;
	color: #FFF;
	text-align: center;
}
#message-box-wrap{
	margin: 0 auto;
	/* text-align: center; */
	display: inline-block;
	text-align: left;
	max-width: 70%;
}
.message-box-title{
	color: #FFF;
	margin: 0 0 40px 0;
	font-size: 34px;
}
.message-box-content{
	font-size: 16px;
	line-height: 1.5;
}
.message-box-animation{
	background-image: url("../images/animation.gif");
	width: 220px;
	height: 20px;
	margin: 20px 0 0;
}
.message-box-buttons{
	margin: 20px 0 0;
	border-top: 1px solid #929292;
	padding-top: 20px;
}
.message-box-button{
	margin-right: 10px !important;
}

.post-type-lp_lesson .column-format .lp-label{
	font-size: 100%;
}
/*********************************/
.hide {
	display: none;
}

.handle.dashicons {
	cursor: move;
	margin-right: 10px;
}

.meta_box_remove .dashicons {
	text-decoration: initial;
}

.meta_box_course_lesson_quiz li input,
.meta_box_course_lesson_quiz li select {
	min-width: 250px;
}

.rwmb-meta-box label {
	color: #222;
	font-weight: bold;
	display: block;
	margin: 16px 0;
}

.description {
	margin-top: 5px;
}

.dashed-placeholder {
	border: 2px dashed #999;
	padding: 10px;
}

/**
* Course Metabox
*/
li.quiz, li.lesson, li.quick_lesson, li.quick_quiz {
	margin-left: 30px;
}

.wp-core-ui .meta_box_add_section,
.wp-core-ui .meta_box_add_lesson,
.wp-core-ui .meta_box_add_quiz,
.wp-core-ui .meta_box_quick_add_lesson,
.wp-core-ui .meta_box_quick_add_quiz {
	margin-right: 10px;
}

/**/
#lpr-block {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	display: none;
	z-index: 200;
	opacity: 0.2;
}

.lpr-quick-add-form {
	background-color: #FFF;
	padding: 5px;
	position: absolute;
	z-index: 210;
	border: 1px solid #DDD;
}

.lpr-quick-add-form input {
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #DDD;
	width: 350px;
}

.lpr-quick-add-form input,
.lpr-quick-add-form select {
	vertical-align: top;
}

.lpr-quick-add-form .lpr-ajaxload {
	display: none;
	background-image: url(../images/spinner.gif);
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	color: #FFF;
    margin-top: 6px;
}

.lpr-quick-add-form.working .lpr-ajaxload {
	display: inline-block;
}

.lpr-quick-add-form.working button {
	display: none;
}

.post-type-lpr_question .lpr-question-option-label {
	display: none;
}

#lpr-question-options-wrap {
	margin-top: 8px;
}

.lpr-question tr.lpr-disabled .dashicons-trash,
.lpr-question tr.lpr-disabled .dashicons-sort {
	display: none;
}

/*
* Add on page
*/

.lpr-add-ons-wrapper .add-on-info {
	width: 65%;
	display: inline-block;
}

.lpr-add-ons-wrapper .add-on-action {
	float: right;
}

.lpr-add-ons-wrapper .add-on-action a {
	text-decoration: none;
	padding: 20px;
	height: 80px;
	width: 100px;
	background: #EBEBEB;
	margin-right: 100px;
}

.lpr-add-ons-wrapper .add-on-action .add-on-enabled {
	text-align: center;
	margin: 40px;
}

.lpr-add-ons-wrapper .add-on-action .add-on-disabled {
	text-align: center;
	margin: 40px;
}

.lpr-add-ons-wrapper .add-on-action a:hover {
	text-decoration: none;
	content: attr(data-text-disable);
}

.learn-press-add-ons{
    margin: 20px 0 0;
}
.learn-press-add-ons:after{
    display: block;
    clear: both;
    content: '';
}
.learn-press-add-ons > li{
    /*float: left;*/
    /*width: 25%;*/
    /*position: relative;*/
}
.learn-press-add-ons > li .add-on-inner{
    margin: 0 20px 40px 20px;
    border: 1px solid #DDD;
    border-radius: 10px;
    overflow: hidden;
}
.learn-press-add-ons > li .add-on-thumbnail{
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #E3E3E3;
}
.learn-press-add-ons > li .add-on-thumbnail img{
    width: 100%;
    height: auto;
    vertical-align: top;
}
.learn-press-add-ons > li .add-on-thumbnail .add-on-overlay{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0%;
    -webkit-transition: all 0.25s ;
    background-color: #ADE6FF;
    opacity: 0;
}
.learn-press-add-ons > li .add-on-thumbnail .add-on-description{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0%;
    -webkit-transition: all 0.25s ;
    color: #444;
    opacity: 0;
}
.learn-press-add-ons > li:hover .add-on-overlay{
    opacity: 0.3;
}
.learn-press-add-ons > li:hover .add-on-description{
    opacity: 1;
}
.learn-press-add-ons > li .add-on-info{
    min-height: 80px;
    padding: 20px;
    background-color: #F5F5F5;
    border-top: 1px solid #FFF;
}
.learn-press-add-ons > li .add-on-info > h3{
    margin-top: 0;
}
.learn-press-add-ons > li .add-on-actions{
    position: absolute;
    bottom: 43px;
}
.learn-press-add-ons > li .add-on-actions .add-on-state{
    font-size: 36px;
    vertical-align: top;
    display: none;
    margin-top: -8px;
    color: #05B3FF;
    margin-left: -9px;
}
.learn-press-add-ons > li .add-on-actions .add-on-state.change{
    display: inline-block;
}
.learn-press-add-ons .plugin-card-top{
    min-height: 180px;
}
.learn-press-add-ons .button.spinner{
    background: url(../../assets/images/spinner.gif) no-repeat 4px !important;
    padding-left: 30px;
    visibility: visible;
    width: auto;
}
.learn-press-add-ons .action-links > span{
    display: block;
    text-align: right;
    font-style: italic;
}
.learn-press-add-ons .action-links > span.enabled{
    color: #7ad03a;
}
.learn-press-add-ons .action-links > span.disabled{
    color: #FF0000;
}
#learn-press-bundle-activate-add-ons.spinner{
    float: left !important;
}
#learn-press-add-on-state-changed-message{
    position: fixed;
    bottom: 0;
    background-color: #F5F5F5;
    padding: 10px;
    border: 1px solid #DDD;
    z-index: 1000;
    display: none;
}
#learn-press-add-ons-wrap #name{
    width: 30%;
}

@media (max-width: 1280px) {
    .learn-press-add-ons > li{
        width: 33.33%;
    }
}
@media (max-width: 768px) {
    .learn-press-add-ons > li{
        width: 50%;
    }
}
@media (max-width: 480px) {
    .learn-press-add-ons > li{
        width: 100%;
    }
}
/**/

#lpr-quiz-questions-wrap .select2-container .select2-choice {
	height: 29px;
	padding-top: 3px;
	font-size: 14px;
}

.post-title.column-title {
	overflow: visible;
}

.lpr-row-actions {
	display: inline-block;
	position: relative;
}

.lpr-row-action-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 150px;
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 0;
	margin: 0;
	display: none;
}

.lpr-row-action-dropdown > li {
	margin: 0;
}

.lpr-row-action-dropdown > li > a {
	display: block;
	padding: 5px;
}

.lpr-row-actions > a {
	padding-right: 15px;
	position: relative;
}

.lpr-row-actions > a:after {
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #DDD;
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 6px;
}

.lpr-row-actions:hover > ul {
	display: block;
}

/* addons page */
#lpr-add-ons-wrapper {
}

#lpr-add-ons-wrapper .lpr-add-on-block {
	border-bottom: 1px dashed #DDD;
	padding-bottom: 20px;
	width: 50%;
	float: left;
	margin-top: 20px;
}

#lpr-add-ons-wrapper .lpr-add-on-block:after {
	content: '';
	display: block;
	clear: both;
}

#lpr-add-ons-wrapper .lpr-admin-thumbnail {
	float: left;
	width: 200px;
}

#lpr-add-ons-wrapper .lpr-admin-thumbnail img {
	vertical-align: top;
}

#lpr-add-ons-wrapper .lpr-add-on-info {
	margin-left: 220px;
	margin-right: 20px;
}

#lpr-add-ons-wrapper .lpr-add-on-info > h3{
    margin-top: 0;
}

#lpr-add-ons-wrapper .lpr-add-on-info > h3 > span {
	display: inline-block;
	padding: 0px 5px;
	background-color: #7AD3FA;
	color: #FFF;
	border-radius: 3px;
	margin-left: 10px;
	font-size: 12px;
	vertical-align: top;
	font-weight: normal;
}

#lpr-add-ons-wrapper .lpr-add-on-action {
	float: right;
	width: 100px;
}

/* toggle */
input.lpr-fancy-checkbox {
	display: none;
}

.lpr-fancy-checkbox.tog {
	border-radius: 20px;
	display: block;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, .6);
	margin: 0 auto;
	height: 19px;
	width: 50px;
	position: relative;
	cursor: pointer;
	font: 11px/18px arial;
	background: #ccc;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	display: inline-block !important;
}

.lpr-fancy-checkbox.tog:after {
	content: '';
	box-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
	border-radius: 20px;
	display: block;
	height: 15px;
	width: 15px;
	background: #fff;
	position: absolute;
	top: 2px;
	left: 2px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.lpr-fancy-checkbox.tog:before {
	content: 'OFF';
	position: absolute;
	right: 7px;
	top: 1px;
	color: #fff;
}

.lpr-fancy-checkbox.tog:hover:after {
	left: 5px;
}

.lpr-fancy-checkbox.tog.on:before {
	content: 'ON';
	right: 28px;
}

.lpr-fancy-checkbox.tog.on {
	background: #05B3FF;
}

.lpr-fancy-checkbox.tog.on:after {
	left: 33px;
}

.lpr-fancy-checkbox.tog.on:hover:after {
	left: 30px;
}

/**/
.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.clear {
	display: block;
	clear: both;
	height: 0;
}

/**********************************************************************/
/**********************************************************************/

.lp-list-options{
	border: 1px solid #DDD;
	border-collapse: collapse;
	width: 100%;
}
.lp-list-option{

}
.lp-list-option .clm{

}
.lp-list-option .lp-item-checkbox{}
.lp-list-option .lp-item-name{}
.lp-list-option .lp-item-actions{}


.lp-list-options thead th{
	border: 1px solid #FFF;
	background-color: #EAEAEA;
	padding: 10px;
	text-align: left;

	color: #00A0D2;

}
.lp-list-options tbody th,
.lp-list-options tbody td{
	border: 1px solid #FFF;
	padding: 10px 10px;
	text-align: left;
	background-color: #F5F5F5;
}
.lp-list-options .lp-answer-check{
	width: 250px;
}
.lp-list-options tbody th input[type="text"],
.lp-list-options tbody td input[type="text"]{
	width: 100%;
}
.lp-list-options .ui-sortable-placeholder{
	visibility: visible !important;
	border: 1px dashed #DDD;
}
.lp-list-option .lp-answer-text{
	color: #777;
	background-color: #f5f5f5;
	border-color: #F5F5F5;
	box-shadow: none;
}
.lp-list-option .lp-answer-text:focus{
	box-shadow: none;
	outline: none;
	background-color: #FFF;
	border-color: #DDD;
}
.lp-list-option-actions{
	cursor: pointer;
	color: #00A0D2;
}
.lp-list-option-actions.lp-move-list-option{
	cursor: move;
}
.lp-list-option-actions:hover{
	color: #156077;
}
	/* Question meta box */
#question_answer .rwmb-question-wrapper{
	margin: 12px 0 0 0;
}

.question-bottom-actions > *{
	vertical-align: baseline !important;
}

/* Quiz meta box */
body.post-type-lp_quiz #questions,
body.post-type-lp_question #question_answer_{
	border: none;
	box-shadow: none;
	background-color: transparent;
}
body.post-type-lp_quiz #questions .handlediv,
body.post-type-lp_question #question_answer_ .handlediv{
	display: none;
}
body.post-type-lp_quiz #questions .hndle,
body.post-type-lp_question #question_answer_ .hndle{
 	display: none;
}
body.post-type-lp_quiz #questions .inside,
body.post-type-lp_question #question_answer_ .inside{
	padding: 0;
}
#questions .quiz-questions-heading{
	margin: 0;
	padding: 20px;
	background-color: #FFF;
	line-height: 1;
	border: 1px solid #DDD;
}
#questions .quiz-questions-heading .questions-toggle{
	float: right;
	margin: 0;
	line-height: 1;
}

#questions #learn-press-dropdown-questions{
	display: inline-block;
	position: relative;
}
#questions #learn-press-dropdown-questions > ul{
	position: absolute;
	top: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	left: 0;
	right: 0;
	border: 1px solid #EEE;
	border-top: none;
	display: none;
	z-index: 50;
}
#questions #learn-press-dropdown-questions > ul > li{
	margin: 0;
}
#questions #learn-press-dropdown-questions > ul li > a{
	display: block;
	padding: 5px;
	outline: none;
	box-shadow: none;
}
#questions #learn-press-question-name{
	font-size: 18px;
	min-width: 350px;
	margin: 0;
	box-shadow: none;
	border-color: #EEE;
	color: #BBB;
	vertical-align: middle;
}
#questions #learn-press-toggle-questions{
	height: 32px;
	vertical-align: top;
	background-color: #FFF;
	border: 1px solid #EEE;
	width: 32px;
	margin-left: -4px;
	text-align: center;
	font-size: 30px;
	padding: 0;
	color: #CCC;
	border-left: none;
	outline: none;
	cursor: pointer;
}
#questions #learn-press-toggle-questions:hover{
	color: #AAAAAA;
}
#questions #learn-press-button-add-question{
	_vertical-align: middle;
}
#questions input[name="lp-new-question-name"]{

}
#questions .question-actions{
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 10px;
	display: inline-block;
	margin-top: 20px;
}
#questions .quiz-question{
	margin: 0 0 30px 0;
	margin: -1px 0 0px 0;
}
#questions .quiz-question .learn-press-question{
	padding: 20px 20px 5px 20px;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-top: none;
}
#questions .quiz-question-head{
	padding: 10px 20px;
	border: 1px solid #DDD;
	overflow: hidden;
	background-color: #F5F5F5;
	position: relative;
}
#questions .quiz-question.is-hidden .quiz-question-head,
#questions .quiz-question.is-hidden .question-name{
	background-color: #FFF;
}
#questions .quiz-question.is-hidden .quiz-question-head:beforex{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 3px;
	background-color: #DDD;
}
#questions .quiz-question-head .quiz-question-actions{
	float: right;
	margin: 5px 0;
}
#questions .question-name{
	border: none;
	box-shadow: none;
	padding-left: 0;
	width: 70%;
	font-weight: bold;
	color: #777;
	vertical-align: middle;
	background-color: #F5F5F5;
}
#questions .quiz-question-icon{
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-right: 10px;
}
#questions .quiz-question-icon img{
	max-width: 100%;
	height: auto;
}
#questions #learn-press-dropdown-questions .added{
	display: none;
}

/* admin order details */
.column-order_date,
.column-order_total,
.column-order_status,
.post-type-lp_order .column-title{
	width: 10%;
}
.post-type-lp_order .column-order_student{
	width: 12%;
}
.post-type-lpr_order #post-body-content,
.post-type-lpr_order #postbox-container-1,
#order_details .ui-sortable-handle,
#order_details .handlediv {
	display: none !important;
}

#order_details .inside {
	padding: 20px;
	margin: 0;
}

#order_details .order-user-avatar {
	float: left;
	margin-right: 20px;
}

#order_details .order-user-meta {
	float: left;
}

#order_details .order-products table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

#order_details .order-products table tr {
	border-bottom: 1px solid #EEE;
}

#order_details .order-products table thead th {
	height: 30px;
	text-align: left;
	font-size: 16px;

}

#order_details .order-products table td {
	padding: 15px 0;
	font-size: 16px;
}

#order_details .order-products table .align-right {
	text-align: right;
}

#order_details .order-data {
	float: right;
}

#order_details .order-data {
	text-align: right;
}

#order_details .order-data .order-data-number {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

#order_details .order-data .order-data-date {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 5px;
}

#order_details .order-data .order-data-payment-method {
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
}

#order_details .order-data .order-data-status {
	border-radius: 3px;
	padding: 2px 5px;
	display: inline-block;
	color: #FFF;
	font-size: 12px;

}

#order_details .order-data .order-data-status.completed {
	background-color: #006400;
}

#order_details .order-data .order-data-status.pending {
	background-color: #CCCCCC;
}

#order_details .total {
	font-weight: bold;
	font-size: 16px;
}
/*************************************************************/
.post-type-lpr_order .column-title {
	width: 120px;
}

.post-type-lpr_order .column-order_student {
	width: 100px;
}

.post-type-lpr_order .column-order_date {
	width: 150px;
}

.post-type-lpr_order .column-order_total {
	width: 100px;
	text-align: right;
}

.post-type-lpr_order .column-order_status {
	width: 100px;
}

.lpr-curriculum-section > h3 {
	padding: 0 !important;
}

.lpr-curriculum-section > h3 .lpr-action {
	top: 0;
	right: 0;
}

.lpr-curriculum-section.lpr-empty > h3 {
	cursor: default !important;
}

.lpr-curriculum-section.lpr-empty .lpr-action {
	display: none !important;
}

.lpr-course-curriculum button span {
	text-decoration: underline;
}

.lpr-chart {
	padding: 100px 300px;
}

.lpr-stats-time {
	text-align: center;
}

.lpr-hidden {
	display: none;
}
.lpr-chart-wrapper {
	margin: 0 30px 0 10px;
}
#lpr-custom-time {
	position: relative;
	top: 4px;
}
.lpr-chart-wrapper canvas {
	padding-top: 20px;
	height: 70vh;
	width: 100vw;
}

/* block page */
#lpr-page-block{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    display: none;
    z-index: 9999;
}

#form-quick-add-lesson-link{
    position: absolute;
}

#_lpr_course_price_description>span {
	font-weight: bold;
	font-size: 15px;
}
.lpr-ignore, .lpr-ignore:hover {
	color: #dd3d36;
}
.lpr-ignore:hover {
	cursor: pointer;
}

.lpr-quick-add-page-inline,
.lpr-quick-actions-inline{
    display: inline-block;
    vertical-align: middle;
    margin: 0 !important;
}

#lpr-toggle-quiz-mode{
    background-color: #0077FF;
    padding: 3px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    color: #FFF;
}
.column-num_of_question{
    width: 150px;
}

.lp-search-items input[name="lp-item-name"]{
	width: 500px;
}
.lp-button-dropdown{
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;
}
.lp-button-dropdown .lp-dropdown-label {
	padding-left: 10px;
}
.lp-button-dropdown .lp-dropdown-arrow{
	display: inline-block;
	/* width: 20px; */
	text-align: center;
	padding: 0 10px;
}
.lp-button-dropdown .lp-dropdown-items{
	position: absolute;
	margin: 0;
	/* width: 100%; */
	background-color: #FFF;
	top: 100%;
	margin-top: 1px;
	border: 1px solid #DDD;
	right: -1px;
	/* right: -1px; */
	width: 200px;
	z-index: 9999999;
	display: none;
}
.lp-button-dropdown .lp-dropdown-items li{
	margin: 0;
}
.lp-button-dropdown .lp-dropdown-items li a{
	display: block;
	padding: 10px;
	line-height: 1;
	text-decoration: none;
	outline: none;
	box-shadow: none;
}
.lp-button-dropdown .lp-dropdown-items li a:hover{
	background-color: #F5F5F5;
}
.lp-button-dropdown:not(.disabled) .lp-dropdown-arrow:hover + ul,
.lp-button-dropdown:not(.disabled) ul:hover{
	display: block;
}