.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.learnpress{

}

.learnpress ul,
.learnpress li{
	list-style: none;
}

.learnpress h3{
	font-size: 2.7rem;
	line-height: 1.1852;
	margin-top: 2.3704em;
	margin-bottom: 1.1852em;
}

.learnpress .twentyfifteen .learnpress-content{
	padding-left: 7.6923%;
	padding-right: 7.6923%;
	padding-top: 7.6923%;
	margin-bottom: 7.6923%;
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.learn-press-checkout-payment{

}
.payment-method-form{
	display: none;
}

.learn-press-user-form{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0 10px;
}
.learn-press-user-form .form-heading{}
.learn-press-user-form .form-subheading{

}
.learn-press-user-form .form-content{

}
.learn-press-user-form .form-fields{

}
#learn-press-checkout-user-form{
	margin: 0 -10px;
}

/* notices */
.learn-press-notice,
.learn-press-message,
.learn-press-error{
	list-style: none;
	margin: 0 0 20px 0;
	background-color: #F5F5F5;
	padding: 8px 15px;
	border-left-width: 5px;
	border-left-style: solid;
}
.learn-press-notice{
	border-color: #1e85be;
}
.learn-press-message{
	border-color: #8fae1b;
}
.learn-press-error{
	border-color: #b81c23;
}
@media screen and (min-width: 59.6875em) {
	.twentyfifteen .learnpress-content{
		margin-left: 8.3333%;
		margin-right: 8.3333%;
		padding: 10%;
	}
}
@media screen and (min-width: 38.75em) {
	.twentyfifteen .learnpress-content {
		margin-right: 7.6923%;
		margin-left: 7.6923%;
		margin-top: 8.3333%;
	}
}