.lp-update-10{
	max-width: 800px;
	margin: 50px auto;
}
.lp-update-10 .head{
	text-align: center;
	font-size: 24px;
	padding: 0 0 20px 0;
}
.lp-update-10 .head .dashicons{
	font-size: 90px;
	display: block;
	width: auto;
	height: auto;
	width: auto;
	color: #814490;
}
.lp-update-10 .lp-update-content{
	margin: 0 0 20px 0;
}
.lp-update-10 .lp-update-message{
	display: none;
}