/**
* Style widget list courses by page
*/

@import "../../frontend/_pagination.scss";

.list-courses-elm-wrapper {
	.learn-press-courses {
		margin: 0;
		padding: 0;
		width: 100%;

		&.grid {
			display: grid;
			grid-template-columns: repeat(var(--lp-el-courses-grid-columns, 3), 1fr);
			column-gap: var(--lp-el-list-courses-grid-column-gap, 30px);
			row-gap: var(--lp-el-courses-grid-row-gap, 30px);
		}

		li {
			list-style: none;
			overflow: hidden;
		}
	}
}
