/**
* Style widget list courses by page
*/

@import "../../frontend/_pagination.scss";

.list-courses-elm-wrapper {
	.list-courses-elm {
		padding: 30px 0 0 0;
		margin: 0;
		width: 100%;

		&.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}

		&.list {
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				gap: 20px;

				>* {
					flex-basis: 50%;
				}

				.course-img,
				img {
					height: 100%;
				}
			}
		}

		li {
			list-style: none;
			overflow: hidden;
		}

		.course-title {
			font-size: 20px;
			font-weight: 600;
			padding: 10px 0;
		}

		.instructor-display-name {
			font-weight: 600;
			text-transform: capitalize;
			padding-bottom: 10px;
		}

		.course-count-lesson,
		.course-item-price {
			padding-bottom: 10px;
		}

		.course-item-price {
			color: var(--lp-primary-color);
			font-weight: 600;
			font-size: 18px;
		}

		.origin-price {
			text-decoration: line-through;
			font-size: 14px;
			color: var(--lp-secondary-color);
			margin-right: 5px;
		}

	}
	
	.list-courses-elm-topbar {
		display: flex;
		justify-content: space-between;
	}

	.courses-layouts-display {
		.courses-layouts-display-list {
			margin: 0;
			display: flex;
			gap: 10px;

			li {
				cursor: pointer;

				&.active {
					color: var(--lp-primary-color);
				}
			}
		}
	}

	.courses-btn-load-more {
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 7px 30px;
	}
}