.course-attributes {
  margin: 20px 0;
}
.course-attributes .learn-press-attribute {
  border: 1px solid #DDD;
  margin-top: -1px;
  margin-bottom: 0;
}
.course-attributes .learn-press-attribute > h4 {
  padding: 10px 15px;
  margin: 0;
  background: #F5F5F5;
}
.course-attributes .learn-press-attribute .learn-press-attribute-data {
  padding: 15px;
  border-top: 1px solid #DDD;
}
