#learn-press-course-editor {
  margin-bottom: 20px;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 0 10px #DDD;
}
#learn-press-course-editor:after {
  display: block;
  clear: both;
  content: '';
}
#learn-press-course-editor #course-curriculum {
  width: 38%;
  border: 1px solid #DDD;
  margin-bottom: 20px;
}
#learn-press-course-editor #course-curriculum .course-section {
  background: #FFF;
  position: relative;
  border-bottom: 3px solid #B7B7B7;
}
#learn-press-course-editor #course-curriculum .course-section .section-head {
  border-bottom: 1px solid #DDD;
  background: #F9F9F9;
  position: relative;
}
#learn-press-course-editor #course-curriculum .course-section .section-head input[type="text"] {
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px;
  color: #777;
  background: transparent;
}
#learn-press-course-editor #course-curriculum .course-section .section-head:hover .section-move,
#learn-press-course-editor #course-curriculum .course-section .section-head:hover .course-row-actions {
  display: inline-block;
}
#learn-press-course-editor #course-curriculum .course-section .section-head:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0085ba;
  opacity: 0.1;
  pointer-events: none;
}
#learn-press-course-editor #course-curriculum .course-section .section-add-content {
  margin: 10px 10px;
}
#learn-press-course-editor #course-curriculum .course-section .section-add-content > ul {
  margin-bottom: 10px;
  display: none;
}
#learn-press-course-editor #course-curriculum .course-section .section-add-content > ul > li {
  display: inline-block;
  width: 70px;
  border: 1px solid #DDD;
  font-size: 48px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  margin-right: 6px;
  background: #FFF;
}
#learn-press-course-editor #course-curriculum .course-section .section-add-content > ul > li:before {
  color: #DDD;
}
#learn-press-course-editor #course-curriculum .course-section .section-add-content > ul > li:hover {
  cursor: move;
}
#learn-press-course-editor #course-curriculum .course-section .section-add-content > ul > li:hover:before {
  color: #00A0D2;
}
#learn-press-course-editor #course-curriculum .course-section .section-items {
  margin: 0;
  min-height: 40px;
}
#learn-press-course-editor #course-curriculum .course-section .section-items.section-empty:after {
  content: 'Add item here';
  display: block;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}
#learn-press-course-editor #course-curriculum .course-section .section-items li {
  margin: 0;
  border-bottom: 1px solid #DDD;
  position: relative;
  background: #FFF;
}
#learn-press-course-editor #course-curriculum .course-section .section-items li input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 10px 15px;
  background: transparent;
  color: #777;
}
#learn-press-course-editor #course-curriculum .course-section .section-items li:hover .section-item-move,
#learn-press-course-editor #course-curriculum .course-section .section-items li:hover .course-row-actions {
  display: inline-block;
}
#learn-press-course-editor #course-curriculum .course-section .section-items li:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0085ba;
  opacity: 0.1;
  pointer-events: none;
}
#learn-press-course-editor #course-curriculum .course-section .section-items li.ui-sortable-placeholder {
  visibility: visible !important;
  background: #FFF;
  box-shadow: 0 0 20px #DDD inset;
}
#learn-press-course-editor #course-curriculum .course-section .section-items li.ui-sortable-placeholder:after {
  content: 'Drop item here!';
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #777;
}
#learn-press-course-editor #course-curriculum .course-section .section-move,
#learn-press-course-editor #course-curriculum .course-section .section-item-move {
  display: none;
  width: 15px;
  height: 30px;
  background: url("../../images/grippy_large.png") 4px center no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: url("../../../assets/images/openhand.cur") 7 5, default;
}
#learn-press-course-editor #course-curriculum .course-section.ui-sortable-placeholder {
  visibility: visible !important;
  background: #FFF;
  box-shadow: 0 0 20px #DDD inset;
}
#learn-press-course-editor #course-curriculum .course-section.ui-sortable-placeholder:after {
  content: 'Drop section here!';
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #777;
  top: 50%;
  margin-top: -20px;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions {
  position: absolute;
  right: 4px;
  height: 24px;
  top: 50%;
  margin-top: -13px;
  line-height: 24px;
  background: #F5F5F5;
  padding: 0 8px;
  font-size: 11px;
  border-radius: 3px;
  border: 1px solid #efefef;
  display: none;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions a,
#learn-press-course-editor #course-curriculum .course-section .course-row-actions > div {
  text-decoration: none;
  color: #9c9c9c;
  text-shadow: 1px 1px #fff;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions a:hover,
#learn-press-course-editor #course-curriculum .course-section .course-row-actions > div:hover {
  color: #39afff;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions a.remove {
  margin-right: 3px;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions a.remove:hover {
  color: #FF0000;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions .toggle {
  display: inline-block;
  width: 24px;
  margin-right: -8px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  line-height: 23px;
  border-left: 1px solid #efefef;
  height: 24px;
  background: #efefef;
  margin-top: -2px;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions div.add {
  margin-left: 3px;
  display: inline-block;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions div.add > div {
  display: none;
  position: absolute;
  min-width: 303px;
  right: 0;
  top: 100%;
  background: #F5F5F5;
  border: 1px solid #DDD;
  z-index: 999;
  text-align: right;
  padding: 10px 10px 3px 10px;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions div.add > div ul {
  margin-bottom: 10px;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions div.add > div ul li {
  width: 65px;
  height: 48px;
  font-size: 48px;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-left: 5px;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions div.add > div a {
  text-align: right;
  margin-left: 8px;
}
#learn-press-course-editor #course-curriculum .course-section .course-row-actions div.add:hover > div {
  display: block;
}
#learn-press-course-editor #course-item-editor {
  width: 60%;
  float: right;
  border: 1px solid #DDD;
  padding: 0 20px;
  box-sizing: border-box;
}
