
/* admin order details */
.column-order_date,
.column-order_total,
.column-order_status,
.post-type-lp_order .column-title{
	width: 10%;
}
.post-type-lp_order .column-order_student{
	width: 12%;
}
.post-type-lpr_order #post-body-content,
.post-type-lpr_order #postbox-container-1,
#order_details .ui-sortable-handle,
#order_details .handlediv {
	display: none !important;
}

#order_details .inside {
	padding: 20px;
	margin: 0;
}

#order_details .order-user-avatar {
	float: left;
	margin-right: 20px;
}

#order_details .order-user-meta {
	float: left;
}

#order_details .order-items table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

#order_details .order-items table tr {
	border-bottom: 1px solid #EEE;
}

#order_details .order-items table thead th {
	height: 30px;
	text-align: left;
	font-size: 16px;
	padding: 15px 10px;
}

#order_details .order-items table td {
	padding: 15px 10px;
	font-size: 16px;
}

#order_details .order-items table .align-right {
	text-align: right;
}

#order_details .order-data {
	float: right;
}

#order_details .order-data {
	text-align: right;
}

#order_details .order-data .order-data-number {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

#order_details .order-data .order-data-date {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 5px;
}

#order_details .order-data .order-data-payment-method {
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
}

#order_details .order-data .order-data-status {
	border-radius: 3px;
	padding: 2px 5px;
	display: inline-block;
	color: #FFF;
	font-size: 12px;

}

#order_details .order-data .order-data-status.completed {
	background-color: #006400;
}

#order_details .order-data .order-data-status.pending {
	background-color: #CCCCCC;
}

#order_details .total {
	font-weight: bold;
	font-size: 16px;
}
/*************************************************************/
.post-type-lpr_order .column-title {
	width: 120px;
}

.post-type-lpr_order .column-order_student {
	width: 100px;
}

.post-type-lpr_order .column-order_date {
	width: 150px;
}

.post-type-lpr_order .column-order_total {
	width: 100px;
	text-align: right;
}

.post-type-lpr_order .column-order_status {
	width: 100px;
}
.post-type-lp_order #minor-publishing-actions,
.post-type-lp_order #submitdiv .handlediv{
	display: none;
}

.order-status-description {
	font-size: smaller;
	background: #CEE8FF;
	padding: 5px;
	font-style: italic;
	color: #848484;
	position: relative;
	margin-top: 10px;
	border-radius: 3px;
}

.order-status-description:before {
	content: '';
	border: 5px solid transparent;
	border-bottom-color: #CEE8FF;
	position: absolute;
	top: -10px;
}