.courses-order-by,
.block-courses-order-by {
	@include order_by_course();
}

.course-img img {
	display: block;
}

.block-search-courses {
	@include search_courses();
}

@media (max-width: 767px) {
	.wp-block-learnpress-course-search {
		width: 100%;

		input {
			min-width: 240px;
			max-width: unset;
		}
	}
}

.course-filter-btn-mobile {
	display: inline-flex;
	align-items: center;

	@media (min-width: 769px) {
		display: none;
	}
}

ul.wp-block-learn-press-courses {
	list-style: none;
	margin: 0;
	max-width: 100%;
	padding: 0;

	&[data-layout='grid'] {
		--columns: 3;
		--gap: 1.25em;
		--min-width: 200px;
		grid-gap: var(--gap);
		display: grid;
		grid-template-columns: repeat(
			auto-fill, minmax(max(var(--min-width), calc(100% / var(--columns) - var(--gap) * (var(--columns) - 1) / var(--columns))), 1fr)
		);
		margin-bottom: 2.25em;
	}

	@media (max-width: 768px) {
		.wp-block-learn-press-courses[data-layout='grid'] {
			--columns: min(var(--columns), 2);
		}
	}

	@media (max-width: 480px) {
		.wp-block-learn-press-courses[data-layout='grid'] {
			--columns: 1;
		}
	}
}

.wp-block-learnpress-course-price {
	.course-price {
		.free,
		.price {
			font-size: $font-size-large;
			font-weight: $link-font-weight;
		}

		.origin-price {
			margin-right: $spacing-base-2x;
			opacity: 0.8;
			font-size: $font-size-small;
			text-decoration: line-through;
		}
	}
}

.wp-block-learnpress-course-button-read-more button {
	padding: $spacing-base-2x $spacing-base-6x;
	border-radius: $border-radius-global;
	color: $text-color-base;
	border: 1px solid $text-color-base;
	transition: all 0.3s;
	display: block;
	background: transparent;
	text-decoration: none;
	text-align: center;

	&:hover {
		background: $color-primary;
		color: $color-white;
		border-color: $color-primary;
	}
}

.wp-block-learnpress-course-button .course-readmore {
	a {
		padding: $spacing-base-2x $spacing-base-6x;
		border-radius: $border-radius-global;
		color: $text-color-base;
		border: 1px solid $text-color-base;
		transition: all 0.3s;
		display: block;
		background: transparent;
		text-decoration: none;
		text-align: center;

		&:hover {
			background: $color-primary;
			color: $color-white;
			border-color: $color-primary;
		}
	}
}

.courses-order-by-wrapper .courses-order-by {
	@include input();
	padding-right: 30px;
	background-image: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE4cHgiIGhlaWdodD0iMTBweCIgdmlld0JveD0iMCAwIDE4IDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0iVmVjdG9yLSgxKSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4wMDAwMDAsIDEuMDAwMDAwKSIgc3Ryb2tlPSIjMzMzMzMzIiBzdHJva2Utd2lkdGg9IjIiPgogICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDggOCAxNiAwIj48L3BvbHlsaW5lPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
	background-size: 0.8em;
	background-position: calc(100% - 0.5em) center;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	line-height: 1.1;

	.woocommerce-js & {
		background-position-x: calc(100% - 10px);
	}

	&:focus {
		border-color: $color-primary;
		outline: 0;
	}
}
