@import '../mixin.scss';
@import '../variables.scss';

.c-gap-4 {
	column-gap: 4px;
}

.wp-block-learnpress-course-feature-review {
	.featured-review__title {
		font-weight: var( --lp-font-weight-link, 600 );
		font-size: calc( var( --lp-font-size-base, 1em ) * 1.25 );
	}
}

[class^='wp-block-learnpress'] {
	.extra-box {
		ul {
			margin: 0 0 0 20px;
			padding: 0;
		}
	}
}

.wp-block-learnpress-course-button-read-more,
.wp-block-learnpress-course-button {
	cursor: pointer;
	padding: 12px 24px;
	background-color: $color-primary;
	border-width: 0;
	border-radius: $border-radius-global;
	border-color: $color-primary;
	color: $color-white;
	font-size: $font-size-base;
	text-align: center;
	text-decoration: none;
	@include transition( all 0.25s );
	&:hover {
		background-color: $color-secondary;
		border-color: $color-secondary;
	}
	&.loading {
		pointer-events: none;
		opacity: 0.8;
		@include loading();
	}
}

@media ( min-width: 992px ) {
	.lp-block-course-sidebar {
		margin-top: -260px;
		margin-block-start: -260px !important;
	}
}

.wp-block-learnpress-item-search {
	.search-course {
		display: flex;
		position: relative;
		height: $popup_header_height;
		background: $bg-grey;

		input[name='s'] {
			display: block;
			width: 100%;
			margin-left: 30px;
			border: none;
			color: $text-color-base;
			background: transparent;
			box-shadow: none;
			height: auto;
			@include box-sizing( border-box );
			@include placeholder-color( $input-color-placeholder );
			@include placeholder-fontStyle( italic );

			&:focus {
				outline: 0;
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 10px;
			height: $popup_header_height;
			padding: 0 16px;
			border: 0;
			background: transparent;
			line-height: 1px;
			box-shadow: none;
			&:focus {
				outline: none;
			}

			i {
				color: $text-color-accent;
			}

			&.clear {
				display: none;

				&::before {
					content: '\f00d';
				}
			}
		}
	}
}

.wp-block-learnpress-course-material {
	.lp-button {
		padding: 12px 24px;
		border: 1px solid $border-color;
		color: $text-color-base;
		background: transparent;
		box-shadow: unset;
		font-family: inherit;
		font-weight: $input-font-weight;
		text-align: center;
		text-transform: capitalize;
		@include border-radius( $border-radius-global );
		margin-top: 20px;
 		@include transition( all 0.25s );
	}

	.course-material-table {
		width: 100%;
		display: table;
		border-spacing: 0;
		border-collapse: collapse;

		tbody tr:nth-child( even ) td,
		.learnpress table tfoot tr:nth-child( even ) td {
			background: var( --tb-even-color, #fafafa );
		}

		thead {
			box-sizing: border-box;
			border: 1px solid var( --lp-border-color, #e2e0db );
		}

		th,
		td {
			padding: 0.7em 1em;
			border: 1px solid var( --lp-border-color, #e2e0db );
			background: #fff;
		}

		th {
			border-bottom: none;
			background: var( --lp-white-grey, #f7f7fb );
			font-weight: 600;
			text-align: center;
			&:first-child {
				text-align: left;
			}
		}

		tr {
			td {
				border: 1px solid var( --lp-border-color, #e2e0db );
				line-height: 1.4;
				&:not( :first-child ) {
					text-align: center;
				}
			}
		}

		tfoot {
			td {
				text-align: left;
				font-weight: bold;
			}
		}

		&.searching {
			button:before {
				display: inline-block;
				content: '\f110';
				animation: lp-rotating 1s linear infinite;
			}
		}
	}
}

.wp-block-learnpress-item-hidden-sidebar {
	.section-toggle {
		justify-content: flex-end;
		flex: 0;

		i {
			color: $text-color-accent;
		}
	}
}

.wp-block-learnpress-item-close .back-course {
	padding: 24px;
	line-height: $popup_header_height;
	background: rgba( 255, 255, 255, 0.1 );
	color: #fff;

	&:hover {
		background: rgba( 255, 255, 255, 0.15 );
	}

	@media ( max-width: 768px ) {
		background: transparent;
		opacity: 0.6;
		padding-left: 15px;
		padding-right: 15px;
		&:hover {
			background: transparent;
			opacity: 1;
		}
	}
}

.wp-block-learnpress-item-hidden-sidebar {
	#sidebar-toggle {
		display: inline-block;
		width: 32px;
		min-width: 32px;
		line-height: $popup_header_height;
		height: unset;
		margin: 0;
		background: rgba( 255, 255, 255, 0.1 );
		color: $color-white;
		font-size: 1.4em;
		cursor: pointer;
		transition: 0.25s;
		-webkit-appearance: none;
		border: none;
		text-align: center;

		&:after {
			display: none;
		}

		&::before {
			display: inline-block;
			position: static;
			margin: 0;
			width: auto;
			height: auto;
			font-family: 'lp-icon';
			content: '\f0d9';
		}

		&:focus {
			border: 0;
			outline: 0;
		}
	}
}

.wp-block-learnpress-item-progress {
	.items-progress {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;
		white-space: nowrap;
	}

	.number {
		padding-right: 10px;
		font-size: calc( var( --lp-font-size-base, 1em ) * 0.86 );
	}

	.learn-press-progress {
		overflow: hidden;
		position: relative;
		width: 80px;
		height: 6px;
		border-radius: 3px;

		.progress-bg {
			overflow: hidden;
			position: relative;
			height: 6px;
			background: #ccc;
			@include border-radius( 5px );

			.progress-active {
				position: absolute;
				left: 50%;
				width: 100%;
				height: 100%;
				margin-left: -100%;
				background: $color-primary;

				@include border-radius( 5px );
			}
		}

		.learn-press-progress__active {
			position: absolute;
			z-index: 1;
			left: -100%;
			width: 100%;
			height: 100%;
			border-radius: 3px;
			background: $color-primary;

			@include transition( 0.5s );
		}

		&::before {
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #ccc;
			content: '';
		}
	}
}

.wp-block-learnpress-item-navigation {
	.course-item-nav {
		display: flex;
		justify-content: space-between;

		.prev,
		.next {
			display: flex;
			line-height: 3.125em;
			flex: 1;
			position: relative;

			span {
				display: block;
				font-weight: bold;
			}

			a {
				display: block;
				color: $text-color-accent;
				color: #999;
			}

			&::before {
				color: #999;
				font-family: 'lp-icon';
			}

			&:hover {
				a,
				&::before {
					color: $color-primary;
				}

				.course-item-nav__name {
					display: block;
				}
			}
		}

		.next {
			text-align: right;
			flex-direction: row-reverse;

			&::before {
				margin-left: 10px;
				content: '\f0da';
			}

			&[data-nav='next'] {
				justify-content: flex-end;
			}
		}
	}

	.prev {
		&::before {
			margin-right: 10px;
			content: '\f0d9';
		}

		.course-item-nav__name {
			right: auto;
			left: -30px;

			&::before {
				right: auto;
				left: 5px;
			}

			@media ( max-width: 1024px ) {
				left: 15px;
			}
		}
	}

	.course-item-nav__name {
		display: none;
		position: absolute;
		top: -20px;
		right: -30px;
		width: auto;
		padding: 10px 15px;
		color: $text-color-accent;
		background: #ccc;
		font-size: $font-size-small;
		line-height: 1;
		@media ( max-width: 1024px ) {
			top: -25px;
			right: 15px;
			left: auto;
		}
	}
}

.wp-block-learnpress-item-curriculum {
	.lp-course-curriculum__title,
	.course-curriculum-info,
	.course-section__description {
		display: none;
	}
}

.wp-block-learnpress-item-content {
	.content-item-wrap {
		padding: 0;
	}
}

.wp-block-learnpress-item-curriculum {
	.lp-course-curriculum .course-section .course-item__content {
		display: flex;
		justify-content: space-between;
		column-gap: 12px;
		row-gap: 8px;
		align-items: baseline;
		flex: 1;
		flex-direction: row;
	}
}
.wp-block-learnpress-list-courses .learn-press-courses .course{
	width: unset;
	padding: 0;
}
.wp-block-learnpress-course-featured{
	.course-featured{
		margin-bottom: 0;
		background-color: inherit;
		color: inherit;
		padding: 0;
	}
}
