.wp-block-learnpress-instructor-social {
	.instructor-social {
		display: flex;
		gap: 12px;
		font-size: calc( var( --lp-font-size-base, 1em ) * 0.925 );
	}

	.instructor-social i {
		width: 40px;
		height: 40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var( --lp-border-color, #e2e0db );
		border-radius: 50%;
	}
}

.wp-block-learnpress-instructor-background {
	img {
		opacity: 0;
		visibility: hidden;

	}
}

.wp-block-learnpress-instructor-avatar {
	overflow: hidden;
	aspect-ratio: 1;
}

.wp-block-learnpress-instructor-background {
	position: relative;

	&:hover {
		.lp-btn-to-edit-cover-image {
			opacity: 1;
			visibility: visible;
		}
	}

	.lp-btn-to-edit-cover-image {
		position: absolute;
		bottom: 0;
		right: 0;
		background: $bg-grey;
		padding: 12px 20px;
		border-radius: $border-radius-global 0 $border-radius-global 0;
		text-transform: capitalize;
		cursor: pointer;
		color: $color-primary;
		text-decoration: none;
		opacity: 0;
		visibility: hidden;

		@media ( max-width: 767px ) {
			font-size: 0;
			padding: 4px 12px;
			opacity: 1;
			visibility: visible;
			&:before {
				font-family: 'lp-icon';
				content: '\f044';
				font-size: 16px;
			}
		}
	}
}
