/**
* Styles for all page of Block LP
*
* @since 4.2.3
* @version 1.0.0
*/
@import "../mixin.scss";
@import "../variables.scss";


//*, :after, :before {
//	box-sizing: border-box;
//}

.lp-ico {
	svg {
		width: 20px;
		height: 20px;
	}
}

.lp-hidden {
	display: none !important;
}

.course-price {
	.origin-price {
		text-decoration: line-through;
		margin-right: 4px;
		font-size: calc(var(--lp-font-size-base, 1em) * 0.925);
		opacity: 0.6;
	}
}


[class*="wp-block-learnpress"], .block-editor-block-list__block {
	img {
		max-width: 100%;
		height: auto;
	}

	.info-meta-item {
		display: flex;
		gap: 4px;
		flex-wrap: wrap;
		i {
			color: $color-primary;
		}
	}

	.info-meta-left {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	a {
		text-decoration: none;
	}
}

.wp-block-learnpress-course-image {
	overflow: hidden;
}

.wp-block-learnpress-course-instructor, .wp-block-learnpress-course-categories {
	> div > * {
		display: inline;
		vertical-align: middle;
	}
}

/*
Breadcrumb
 */
.wp-block-learnpress-breadcrumb {
	ul {
		margin: 0 auto;
		list-style: none;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0;

		a {
			&:hover {
				color: var(--lp-primary-color);
			}
		}
	}

	i {
		margin: 0 8px;
	}

	a {
		color: inherit;
	}
}
