.courses-order-by,
.block-courses-order-by {
	@include order_by_course();
}

.course-img img {
	display: block;
}

.block-search-courses {
	@include search_courses();
}

@media (max-width: 767px) {
	.wp-block-learnpress-course-search {
		width: 100%;

		input {
			min-width: 240px;
			max-width: unset;
		}
	}
}

.course-filter-btn-mobile {
	display: inline-flex;
	align-items: center;

	@media (min-width: 769px) {
		display: none;
	}
}

ul.wp-block-learn-press-courses {
	list-style: none;
	margin: 0;
	max-width: 100%;
	padding: 0;

	&.lp-columns-3 {
		grid-gap: 1.25em;
		display: -ms-grid;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(max(200px, calc(33.33333% - .83333em)), 1fr));
		margin-bottom: 2.25em;
	}

}

.wp-block-learnpress-course-price {
	.course-price {
		.free,
		.price {
			font-size: $font-size-large;
			font-weight: $link-font-weight;
		}

		.origin-price {
			margin-right: $spacing-base-2x;
			opacity: 0.8;
			font-size: $font-size-small;
			text-decoration: line-through;
		}
	}
}

.wp-block-learnpress-course-button-read-more .course-readmore,
.wp-block-learnpress-course-button .course-readmore {
	a {
		@include course_readmore();
	}
}

.courses-order-by-wrapper .courses-order-by {
	@include order_by_course();
}

