@charset "UTF-8";
/*
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css .star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  text-shadow: 0px 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0px;
  overflow: hidden;
}
.star-ratings-css .star-ratings-css-bottom {
  z-index: 0;
}
.star-ratings-sprite {
  background: url("images/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;    
}
.star-ratings-sprite .rating {
  background: url("images/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.star-cb-group {    
    unicode-bidi: bidi-override;
    direction: rtl;
}
.star-cb-group > input {
    display: none;
}
.star-cb-group > input + label {
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 2em;
    white-space: nowrap;
    cursor: pointer;
}
.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    font-size: 2em;
    content: "☆";
    color: #888;
}
.star-cb-group > input:checked ~ label:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
}

.star-cb-group > input + label:hover:before, .star-cb-group > input + label:hover ~ label:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
    width: .5em;
}
.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
}

#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

a.close {
    background-color: rgb(204,204,204);
    border-radius: 50%;
    color: rgb(255,255,255);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    padding: .2em .5em;
    position: absolute;
    top: .5rem;
    transition: all 400ms ease;
    right: .5rem;
}
    
a.close:hover {
    background-color: #1bc5b3;
    cursor: pointer;
}

div.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.overlay > div.review-wrapper {
    align-self: center;
    background-color: rgba(0,0,0,.25);
    border-radius: 2px;
    padding: 6px;
    width: 450px;
}
    
div.overlay > div.review-wrapper > div.review-content {
    background-color: rgb(255,255,255);
    border-radius: 2px;
    padding: 24px;    
    position: relative;
}
        
div.overlay > div.review-wrapper > div.review-content > h3 {
    color: rgb(0,0,0);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.4em;
    margin: 0 0 1.25em;
    padding: 0;
}


form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="password"],
form textarea {
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size: 1.3em;
    margin: 6px 0 12px 0;
    padding: .8em .55em;    
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    transition: all 400ms ease;
    width: 90%;
}
    
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus { 
    border-color: #0A8C2C;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
}
    
form input[type="text"]:invalid:focus,
form input[type="email"]:invalid:focus,
form input[type="number"]:invalid:focus,
form input[type="search"]:invalid:focus,
form input[type="password"]:invalid:focus,
form textarea:invalid:focus,
form select:invalid:focus { 
    border-color: #0A8C2C;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #0A8C2C;
}
    
form button {
    background-color: #50c1e9;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;    
}

form button:hover {
    background-color: #1bc5b3;
    cursor: pointer;
}

.user-review.review-title {
  
}

.user-review.review-content {
  
}*/

#review-overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#review-overlay > .review-wrapper {
    align-self: center;
    background-color: rgba(0,0,0,.25);
    border-radius: 2px;
    padding: 6px;
    width: 450px;
}

#review-overlay .review-content {
    background-color: rgb(255,255,255);
    border-radius: 2px;
    padding: 24px;
    position: relative;
}

#review{
    position: absolute;
    z-index: 99999;
    display: none;
    align-self: center;
    background-color: rgba(0,0,0,.25);
    border-radius: 2px;
    padding: 6px;
    width: 500px;
}
#review .review-content {
    background-color: rgb(255,255,255);
    border-radius: 2px;
    padding: 24px;
    position: relative;
}
#review h3{
    font-size: 16px;
    margin: 0 0 20px;
}
#review h3 .close{
    float: right;
    border: none;
    text-decoration: none;
    width: auto;
    height: auto;
    margin-right: -9px;
    margin-top: -7px;
}
#review h3 .close:before{font-size: 32px;}
#review .review-fields{
    margin: 0 0 -20px;
    list-style: none;
}
#review .review-fields > li{
    margin: 0 0 20px 0;
}
#review .review-fields > li > label{
    display: block;
    margin: 0 0 7px;
    font-size: 15px;
}
#review .review-fields > li > label .required{
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: 1;
    height: 15px;
    margin-top: -3px;
}
.review-stars{
    margin: 0 0;
    list-style: none;
}
.review-stars:after{
    clear: both;
    content: '';
    display: block;
}
.review-stars > li{
    display: inline-block;
    margin: 0 -8px 0 0;
}
.review-stars > li span{
    text-decoration: none;
    font-size: 40px;
    border-bottom: none;
    width: auto;
    height: auto;
}
.review-stars > li a:visited,
.review-stars > li a:focus{
    border: none;
}
.review-stars > li span:before{
    width: 24px;
}
.review-stars > li span.hover:before{
    content: "\f155";
    color: #F05A19;
    cursor: pointer;
}
#review .review-actions{
    text-align: right;
    padding-top: 20px;
    border-top: 1px solid #F0F0F0;
}

#review .submitting{
    display: none;
}
#review .review-stars{
    cursor: pointer;
}

.review-stars-rated{
    display: inline-block;
    position: relative;
}
.review-stars-rated .review-stars{display: inline-block; }
.review-stars-rated .review-stars.filled{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    color: #F05A19;
}