.learn-press-addons {
	.lp-search-addon {
		width: 280px;
		height: 32px;
		margin: 0;
		padding: 3px 5px;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
	}

	.addons-browse {
		margin: 20px 0 0;

		.lp-addon-hidden {
			display: none !important;
		}

		.lp-active:nth-of-type(2n+1) {
			clear: none;
			margin-right: 0;
			margin-left: 8px;
		}

		.lp-active:nth-of-type(2n) {
			clear: both;
			margin-right: 8px;
			margin-left: 0;
		}

		.plugin-icon {

			img {
				max-width: 100%;
			}
		}

		.plugin-card {

			.column-description {

				p:not(.authors) {

					@include text-overflow(1.6, 3);
					color: #777;
				}
			}

			.search-highlight {
				text-decoration: underline;
			}
		}

		.plugin-card-top {

			h3 {

				@include text-overflow(1.3em, 2);
			}

			.desc {
				min-height: 90px;
				margin-right: 0;
			}

			.button {

				&.activate-plugin,
				&.install-now,
				&.enable-now {
					border-color: #0073aa #006799 #006799;
					color: #fff;
					background: #0085ba;
					-webkit-box-shadow: 0 1px 0 #006799;
					box-shadow: 0 1px 0 #006799;
					text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
					text-decoration: none;
				}

				&.button-working {
					padding-right: 4px;

					span {
						display: none;
					}
				}
			}
		}

		.plugin-card-bottom {

			.plugin-version {
				display: inline-block;
			}

		}

		&.premium {

			.column-description {

				p:not(.authors) {
					margin: 0;
					line-height: inherit;
				}
			}
		}

		&::after {
			@include clear-fix();
		}
	}
}

.related-themes {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 400px, 1fr ) );
	grid-gap: 20px;

	li {
		margin: 0;
	}

	.plugin-card-top {
		padding-bottom: 0;
		background: #fff;
	}

	.theme-content {
		position: relative;
	}

	.image-thumbnail img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}

	.theme-description {
		margin: 0 0 25px 0;

		@include text-overflow(1.6em, 5);
		color: #777;
	}

	.theme-title {
		min-height: 3.2em;
		margin-right: 100px;
		margin-bottom: 0;
		font-size: 1.2em;
		line-height: 1.3em;
	}

	.theme-title a {
		color: #545454;
	}

	.theme-rating {
		display: inline-block;
		float: right;
	}

	.star-rating {
		display: inline-block;
	}

	.count-rating {
		position: relative;
		top: 2px;
		font-size: 15px;
	}

	.theme-detail {
		position: absolute;
		top: -3px;
		right: 3px;
		line-height: 1.6em;
		text-align: right;

		&::after {
			display: block;
			clear: both;
			content: "";
		}

		.theme-price {
			display: inline-block;
			color: #545454;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.3em;
		}
	}

	.theme-footer {
		clear: both;
		overflow: hidden;
		margin-right: -20px;
		margin-left: -20px;
		padding: 20px;
		border-top: 1px solid #ddd;
		background-color: #fafafa;
	}
}

@media screen and (min-width: 1600px) {

	.plugin-card:not(.hide-if-js):nth-child(even) {
		margin-right: 8px;
	}

	.plugin-card:not(.hide-if-js):nth-child(3n) {
		margin-right: 0;
	}
}

/*** New ***/
#lp-addons {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 280px, 1fr ) );
	grid-gap: 20px;

	.lp-addon-item {
		background: white;
		padding: 20px;
		border: 1px solid rgba(151, 71, 255, 1);
		border-radius: 3px;

		&__content {
			text-align: center;
			min-height: 290px;

			img {
				width: 50px;
				height: 50px;
				border-radius: 10px;
			}

			a {
				text-decoration: none;
			}

			p {
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}

		&__actions {
			border-top: 1px solid rgba(151, 71, 255, 1);
			padding: 20px 20px 0;
			margin: 0 -20px;
			display: flex;

			&__left {
				flex: 3;
				display: flex;
				gap: 5px;
			}

			&__right {

			}

			button {
				padding: 5px 15px;
				background: rgba(151, 71, 255, 1);
				color: white;
				border-radius: 3px;
				border: none;
				cursor: pointer;
			}
		}
	}

	/***** Toggle *****/
	.thim-toggle-switch-label{
		height: 20px;
		align-items: center;
		margin-bottom: 0;
		background: #b4b9be;
		cursor: pointer;
		display: inline-flex;
		justify-content: space-between;
		position: relative;
		transition: left 0.15s ease-out;
		border-radius: 100px;

		&:after {
			background: #FFFFFF;
			content: "";
			display: block;
			position: absolute;
			left: 4px;
			width: 12px;
			height: 12px;
			transition: all 0.25s ease-in-out;
			border-radius: 50%;
		}

		&::before {
			left: 0;
		}
	}

	.toggle-on,
	.toggle-off {
		opacity: 1;
		padding-left: 6px;
		padding-right: 6px;
		font-size: 14px;
		line-height: 18px;
	}

	.toggle-on {
		color: #fff;
		opacity: 0;
		padding-right: 0;
		width: 12px;
	}

	.toggle-off {
		width: 12px;
		color: #777;
		padding-left: 0;
	}

	.thim-switch{
		border: none;
		margin-bottom: 0;
		outline: 0;
		padding: 0;
		user-select: none;
		border-radius: 3rem;
	}

	input{

		&:checked{
			+ label{
				background: #0073aa;

				&:after {
					left: auto;
					right: 5px;
					background: #ffffff;
				}
				.toggle-on {
					opacity: 1;
				}

				.toggle-off {
					opacity: 0;
				}
			}
		}
	}

	.screen-reader-text:focus {
		clip-path: inset(50%);
		-webkit-clip-path: inset(50%);
	}

	.thim-toggle {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
	}
}
