:root {
	--lp-addon-item-padding: 10px;
	--lp-border-radius: 3px;
	--lp-addon-item-border-color: #c3c4c7;
}

@media screen and (min-width: 1600px) {

	.plugin-card:not(.hide-if-js):nth-child(even) {
		margin-right: 8px;
	}

	.plugin-card:not(.hide-if-js):nth-child(3n) {
		margin-right: 0;
	}
}

/*** Style Addons Manager ***/
#lp-addons {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 280px, 1fr ) );
	grid-gap: 20px;
	padding-right: 20px;

	&.max-3-items {
		grid-template-columns: repeat( auto-fit, minmax( 280px, 320px ) );
	}

	a {
		text-decoration: none;
	}

	button {
		padding: 6.5px 17px;
		background: rgba(151, 71, 255, 1);
		color: white;
		border-radius: 3px;
		border: none;
		cursor: pointer;
		font-size: 1em;

		&.btn-addon-action {
			&.handling {
				span {
					display: none;

					&.dashicons {
						display: inline-flex;
					}
				}
			}

			span.dashicons {
				align-items: center;
				display: none;
				font-size: 1.125rem;
				width: auto;
				height: auto;
				animation: rotation 2s infinite linear;
			}
		}

		&[data-action="update"] {
			background: #27BF49;
		}

		&[data-action="setting"] {
			background: #2D72DA;
		}
	}

	.lp-addon-item {
		background: white;
		padding: var(--lp-addon-item-padding);
		border: 1px solid var(--lp-addon-item-border-color);
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;

		&.hide, &.search-not-found {
			display: none;
		}

		&__content {
			text-align: center;
			min-height: 290px;

			img {
				width: 50px;
				height: 50px;
				border-radius: 10px;
				margin-top: 20px;
			}

			a {
				text-decoration: none;
			}

			p {
				display: -webkit-box;
				//-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;
				&::before {
					content: none;
				}
			}
		}

		&__actions {
			border-top: 1px solid var(--lp-addon-item-border-color);
			padding: 10px var(--lp-addon-item-padding) 0;
			margin: 0 calc(var(--lp-addon-item-padding) * -1);
			display: flex;
			align-items: center;

			&__left {
				flex: 3;
				display: flex;
				gap: 5px;
				align-items: center;

				button {
					display: none;
				}
			}

			&__right {
				button {
					display: none;
					background: transparent;
					color: #2271b1;
				}
			}
		}

		&__purchase {
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(255, 255, 255, 0.6);
			text-transform: uppercase;

			&__wrapper {
				div {
					position: absolute;
					bottom: 20%;
					left: var(--lp-addon-item-padding);
					right: var(--lp-addon-item-padding);
					background: white;
					border: 1px solid var(--lp-addon-item-border-color);
					padding: var(--lp-addon-item-padding);
					border-radius: 3px;
					flex-direction: column;
					display: none;
					gap: 5px;
					box-shadow: 0 4px 25px 1px rgba(0, 0, 0, 0.25);

					input {
						width: 100%;
					}
				}
			}
		}

		&.installed {
			&.activated {
				button {
					&[data-action="setting"] {
						display: block;
					}
					&[data-action="deactivate"] {
						display: block;
					}
				}

				&.update {
					button {
						&[data-action="update"] {
							display: block;
						}
					}
				}
			}

			&:not(.activated) {
				button {
					&[data-action="activate"] {
						display: block;
					}
				}
			}

			&.purchase {
				button {
					&[data-action="update-purchase-code"] {
						display: inline-flex;
						align-items: center;
						padding: 0 5px;
						height: 12px;

						span {
							animation: none;
							display: inline;
						}
					}
				}
			}
		}

		&.not_installed {
			&.purchase {
				button {
					&[data-action="purchase"] {
						display: block;
					}
				}
			}

			&.free {
				button {
					&[data-action="install"] {
						display: block;
					}
				}
			}

			.lp-addon-item {
				&__actions {
					&__right {
						display: none;
					}
				}
			}
		}

		&.update {
			button {
				&[data-action="update"] {
					display: block;
				}
			}
		}
	}

	/***** Toggle *****/
	.lp-toggle-switch {
		.lp-toggle-switch-label{
			height: 20px;
			align-items: center;
			margin-bottom: 0;
			background: #b4b9be;
			cursor: pointer;
			display: inline-flex;
			justify-content: space-between;
			position: relative;
			transition: left 0.15s ease-out;
			border-radius: 100px;

			&:after {
				background: #FFFFFF;
				content: "";
				display: block;
				position: absolute;
				left: 4px;
				width: 12px;
				height: 12px;
				transition: all 0.25s ease-in-out;
				border-radius: 50%;
			}

			&::before {
				left: 0;
			}

			.toggle-on,
			.toggle-off {
				opacity: 1;
				padding-left: 6px;
				padding-right: 6px;
				font-size: 0.875rem;
				line-height: 1.125rem;
			}

			.toggle-on {
				color: #fff;
				opacity: 0;
				padding-right: 0;
				width: 12px;
			}

			.toggle-off {
				width: 12px;
				color: #777;
				padding-left: 0;
			}
		}

		input.lp-toggle-switch-input{
			display: none;

			&:checked{
				+ label{
					background: #0073aa;

					&:after {
						left: auto;
						right: 5px;
						background: #ffffff;
					}
					.toggle-on {
						opacity: 1;
					}

					.toggle-off {
						opacity: 0;
					}
				}
			}
		}

		.dashicons {
			animation: rotation 2s infinite linear;
		}
	}

	.screen-reader-text:focus {
		clip-path: inset(50%);
		-webkit-clip-path: inset(50%);
	}
}

/*** Tab of Addons Manager ***/
.lp-nav-tab-wrapper {
	display: flex;
	margin-bottom: 20px;
	justify-content: start;
	gap: 5px;
	border-bottom: 1px solid #c3c4c7;

	.nav-tab {
		border: 1px solid #c3c4c7;
		border-bottom: none;
		margin-left: 0;
		padding: 5px 10px;
		font-size: 0.875rem;
		line-height: 1.71428571;
		font-weight: 600;
		background: #dcdcde;
		color: #50575e;
		text-decoration: none;
		white-space: nowrap;
		border-radius: 3px 3px 0 0;
	}

	.nav-tab-active {
		background: #f0f0f1;
		border-bottom: 1px solid #f0f0f1;
	}
}

.wp-submenu {
	.lp-notify {
		display: none;
		vertical-align: top;
		box-sizing: border-box;
		margin: 1px 0 -1px 5px;
		padding: 0 5px;
		min-width: 18px;
		height: 18px;
		border-radius: 9px;
		background-color: #d63638;
		color: #fff;
		font-size: 0.6875rem;
		line-height: 1.6;
		text-align: center;
	}
}

