/**
 * General style for admin editor.
 */

.lp-admin-editor {
	position: relative;
	margin: 0;
	background-color: #fff;

	.heading,
	.lp-box-data-content {
		padding: 0;
	}
}

#learn-press-admin-editor-metabox-settings {
	margin-top: 20px;
}

/**
 *  Course admin editor.
 */
#course-editor {

	.inside {
		margin: 0;
		padding: 0;
	}
}

#admin-editor-lp_course {


	.lp-course-curriculum {

		.heading {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			position: relative;
			padding: 8px 20px;
			align-items: center;
			line-height: 1;

			h4 {
				margin: 0;
				font-size: 16px;
			}

			.collapse-sections {
				display: flex;
				width: 40px;
				color: #999;
				font-family: Dashicons;
				font-size: 30px;
				cursor: pointer;
				justify-content: center;
				align-items: center;

				&.close::before {
					content: "\f140";
				}

				&.open::before {
					content: "\f142";
				}
			}

			.status {
				visibility: hidden;
				position: relative;
				top: 5px;
				margin-left: 10px;
				font-family: Dashicons;
				font-size: 20px;

				&::before {
					content: "\f463";
				}

				&.loading {
					display: inline-block;
					visibility: visible;
					animation: rotation 2s infinite linear;
				}
			}
		}

		.curriculum-sections {
			margin: 0;
			margin: 0 20px 20px 20px;
			border: 1px solid #ddd;
		}

		.section {
			margin: 0;
			border-bottom: 1px solid #e5e5e5;
			opacity: 1;
			background: #fff;

			&:first-child {
				border-top: 0;
			}

			&.new-section {
				margin-top: 1px;
				border: none;

				form {
					margin: 0;
				}

				.section-head {
					background-color: #f4fcff;

					.creatable {
						position: relative;
						top: 1px;

						&::before {
							content: "\f132";
						}
					}
				}
			}

			&.empty-section {
				position: relative;

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					opacity: 0.5;
					background: #fff;
					content: "";
				}

				.section-head {

					.movable::before {
						display: inline-block;
						color: #a2a2a2;
						content: "\f463";

						@include rotating4();
					}
				}

				.section-collapse {
					display: none;
				}
			}

			&:hover {

				.section-actions {

					.remove {
						display: inline-block;
					}
				}
			}

			&.close {

				.section-collapse {
				}
			}

			input {
				background-color: transparent;
				box-shadow: none;

				&:focus {
					box-shadow: none;
				}
			}

			.section-head {
				display: flex;
				position: relative;
				height: 42px;
				margin: 0;
				padding: 0;
				background-color: #f4fcff;
				line-height: 40px;
				transition: background 500ms ease-out;
				align-items: center;

				.movable,
				.creatable {
					display: inline-block;
					width: 40px;
					margin: 0;
					color: #999;
					font-family: Dashicons;
					font-size: 20px;
					text-align: center;
					vertical-align: middle;
				}

				.movable {
					margin-right: -1px;
					cursor: url("../../images/openhand.cur") 7 5, default;

					&::before {
						content: "\f333";
					}

					&:hover {
						color: #0085ba;
					}
				}

				.section-item-counts {
					line-height: 40px;
				}

				.actions {
					height: 100%;
					color: #444;

					> * {
						display: inline-block;
						height: 100%;
						text-align: center;
						cursor: pointer;
					}

					.collapse {

						&:hover {
							color: #0085ba;
						}

						&::before {
							display: inline-block;
							width: 40px;
							color: #999;
							font-family: Dashicons;
							font-size: 16px;
							line-height: 40px;
						}

						&.open {

							&::before {
								content: "\f343";
							}
						}

						&.close {

							&::before {
								content: "\f347";
							}
						}
					}
				}
			}

			.name {
				width: 100%;
				border: none;
				color: #777;
				font-size: 24px;
				font-weight: 600;
				line-height: 50px;

				&:focus {
					color: #444;
				}
			}

			.section-collapse {
				overflow: hidden;
			}

			.section-content {
				padding: 20px;
				border-top: 1px solid #e5e5e5;
			}

			.details {
				margin-bottom: 20px;
			}

			.title-input {
				padding-left: 0;
				border: none;
				font-size: 1.2em;
				line-height: 30px;
				flex: 1;
			}

			.description-input {
				width: 100%;
				margin: 0;
				padding: 0;
				border: none;
				color: #999;

				&:focus {
					color: #444;
				}
			}
		}

		.section-list-items {
			width: 100%;
			border-collapse: collapse;

			ul {
				position: relative;
				min-height: 5px;
				margin: 0;
			}

			&.no-item {

			}

			.section-item {
				display: flex;
				position: relative;
				margin: 0;
				border: 1px solid #eee;
				border-bottom-width: 0;
				background: #fff;
				transition: background 200ms ease-out;
				justify-content: center;
				align-items: center;

				&.ui-sortable-helper {
					border-bottom: 1px solid #eee;
				}

				&:nth-child(2n+1) {
					background-color: #f7f7f7;
				}

				&.updating {

					&::before {
						position: absolute;
						z-index: 2;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						content: "";
					}
				}

				&.removing {
					background-color: #ffeded;
				}

				.drag {
					height: 20px;
					padding-top: 3px;
					padding-left: 6px;
					cursor: url("../../images/openhand.cur") 7 5, default;
					fill: #999;
					flex: 0 0 18px;

					&:hover {
						fill: #0085ba;
					}
				}

				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.title {
					margin-right: 120px;
					margin-left: 2px;
					flex-grow: 1;
					flex-basis: 100%;

					input {
						color: inherit;
					}
				}

				.item-actions {
					display: flex;
					position: absolute;
					top: 0;
					right: 2px;
					bottom: 0;
					align-items: center;
					justify-content: center;
				}

				.actions {
					margin: 0;

					> * {
						visibility: hidden;
						margin-right: 10px;
					}

					.edit {
						text-decoration: none;
					}

					.remove {
						color: #a00;
					}
				}

				&:hover {

					.drag {
						visibility: visible;
					}
				}

				&:not(.lp_lesson) {

					.item-actions {

						.actions {

							.preview-item {
								display: none;
							}
						}
					}
				}
			}

			.new-section-item {
				display: flex;
				position: relative;
				border-bottom-width: 1px;
				transition: all 200ms ease-out;
				align-items: center;

				.drag {
					display: flex;
					width: 30px;
					color: #999;
					font-family: Dashicons;
					font-size: 16px;
					vertical-align: middle;
					cursor: default;
					align-items: center;
					justify-content: center;

					&::before {
						content: "\f132";
					}
				}

				.title {
					display: inline-block;
					margin: 0;
					flex: 1;
				}

				.types {
					display: inline-block;

					&:hover,
					&:focus {
						background-color: #fff;

						.type {
							display: inline-block;
						}
					}

					.type {
						display: inline-block;
						padding: 8px 5px;
						color: #ccc;

						input {
							display: none;
						}

						&.current {
							color: #0085ba;
						}

						&::before {
							position: relative;
							top: 2px;
							font-family: Dashicons;
							font-size: 20px;
						}

						&.lp_quiz {
							padding: 8px 6px 8px 0;

							&::before {
								content: "\f469";
							}
						}

						&.lp_lesson {

							&::before {
								content: "\f330";
							}
						}

						&.empty-item {

							&::before {
								content: "\f463";
							}
						}
					}
				}
			}

			.section-item {

				.item-actions {
					text-align: right;

					.actions {

						.action {
							display: inline-block;
							position: relative;
							width: 30px;
							height: 30px;
							margin: 0;
							padding: 0;
							text-align: center;
							vertical-align: middle;
							cursor: pointer;

							> a {
								width: 30px;
								height: 30px;
								color: #999;
								line-height: 30px;

								&:hover {
									color: #0073aa;
								}
							}

							&.delete-item {

								> a {

									&:hover {
										color: #e74c3c;
									}
								}

								ul {
									display: none;
									position: absolute;
									z-index: 9;
									top: 100%;
									right: 0;
									width: 165px;
									margin: 0;
									border: 1px solid #999;
									background: #fdfeff;
									text-align: center;

									li {
										margin: 0;
										border-bottom: 1px solid #eee;
										text-align: right;

										a {
											display: block;
											padding: 10px 25px;
											color: #757575;
											font-size: 12px;
											text-decoration: none;

											&.delete-permanently {
												color: #e74c3c;
											}
										}

										&:hover {
											background: #eee;
										}
									}
								}

								&:hover {

									ul {
										display: block;
									}
								}
							}
						}
					}
				}

				&:hover {

					.item-actions {

						.actions > * {
							visibility: visible;
							cursor: pointer;
						}
					}
				}

				&.lp_quiz {

					.icon::before {
						content: "\f469";
					}
				}

				&.lp_lesson {

					.icon::before {
						content: "\f330";
					}
				}

				&.empty-item {
					position: relative;
					color: #a2a2a2;

					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						opacity: 0.5;
						background: #fff;
						content: "";
					}

					.item-actions {
						display: none;
					}

					.icon::before {
						color: #a2a2a2;
						content: "\f463";

						@include rotating4();
					}
				}

				.icon {
					color: #0085ba;
					font-size: 20px;
					text-align: center;
					flex: 0 0 29px;

					&::before {
						font-family: Dashicons;
					}
				}

				input {
					width: 100%;
					padding: 8px 10px 8px 0;
					border: none;
					color: inherit;
					font-size: 14px;
					font-weight: 600;
				}
			}
		}

		.section-actions {
			padding: 0 20px 20px 20px;

			.remove {
				display: none;
				float: right;
				height: 30px;
				border: 1px solid #eee;
				border-radius: 3px;
				color: $remove-icon-color;
				line-height: 30px;
				cursor: pointer;

				.icon {
					padding: 0 18px;
				}

				.confirm {
					display: none;
					padding: 0 18px;
				}

				&.confirm {

					.confirm {
						display: inline-block;
					}

					.icon {
						display: none;
					}
				}
			}
		}

		.ui-sortable-placeholder {
			display: block;
			visibility: visible !important;
			border-color: #bdf4fe !important;
			background: #bdf4fe !important;
		}
	}
}

.wp-admin.post-type-lp_course {

	#meta-box-tab-course_payment {

		.learn-press-tip-floating {
			top: 40px;
			left: 100px;
			opacity: 0.8;
			background: #a00;

			&::before {
				top: -7px;
				border: 7px solid transparent;
				border-top-width: 0;
				border-bottom-color: #a00;
			}
		}
	}
}

.section-item-counts {
	margin: 0;
	margin-left: auto;
	font-size: 12px;
	white-space: nowrap;

	span {
		color: #999;
	}
}

@import "course-editor";
@import "quiz-editor";
@import "question-editor";

/**
 * Modal choose items.
 */
#lp-modal-choose-items {
	display: none;
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);

	&.show {
		display: block;
		z-index: 99999999;
		opacity: 1;
	}

	&.loading {

		.lp-choose-items {

			ul.list-items {

				&::before {
					display: block;
					position: absolute;
					z-index: 9;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: url("../../images/spinner.gif") no-repeat center center;
					background-color: #fff;
					content: "";
				}
			}
		}
	}

	.lp-choose-items {
		position: relative;
		max-width: 800px;
		margin: 50px auto;
		border: 1px solid #ddd;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		transition: all 200ms ease-out;

		&.show-preview {

			.header {

				.preview-title {
					display: flex;
					align-items: center;
				}
			}
		}

		.header {
			position: relative;

			.preview-title {
				display: none;
				position: absolute;
				z-index: 10;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding-left: 20px;
				border-bottom: 1px solid #ddd;
				background-color: #fff;
				font-weight: 600;

				h3 {
					margin: 0;
				}
			}

			.tabs {
				margin: 0;
				border-bottom: 1px solid #ddd;

				.tab {
					display: inline-block;
					position: relative;
					margin: 0;

					&:not(:last-child)::before {
						position: absolute;
						top: 50%;
						right: 0;
						height: 44px;
						margin-top: -22px;
						border-right: 1px solid #ddd;
						content: "";
					}

					&.active {

						&::after {
							display: inline-block;
							position: absolute;
							bottom: -6px;
							left: 50%;
							width: 10px;
							height: 10px;
							margin-left: -6px;
							border: 1px solid #ddd;
							border-right: 0;
							border-bottom: 0;
							background: #fff;
							content: "";
							transform: rotate(45deg);
						}

						a {
							color: #0073aa;
						}
					}

					a {
						display: inline-block;
						height: 44px;
						padding: 0 20px;
						color: #333;
						font-weight: 600;
						line-height: 44px;
						text-decoration: none;

						&:focus {
							box-shadow: none;
						}
					}
				}
			}

			.close {
				display: inline-block;
				position: absolute;
				z-index: 30;
				top: 0;
				right: 0;
				padding: 12px;
				font-size: 1em;
				cursor: pointer;
			}
		}

		.main {
			overflow: hidden;
			position: relative;
			padding: 20px;
			border-bottom: 1px solid #ddd;

			.section-item {
				display: block;
				overflow: hidden;
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				cursor: pointer;
				transition: color 200ms ease-out;

				&::before {
					position: relative;
					top: 3px;
					font-family: Dashicons;
				}
			}

			.search {
				margin-bottom: 20px;
				background: transparent;

				input.modal-search-input {
					width: 100%;
					height: 36px;
					padding: 0 14px;
					font-size: 16px;
					line-height: 36px;
				}
			}

			.list-items {
				overflow-y: auto;
				position: relative;
				min-height: 260px;
				max-height: 460px;
				margin: 0;

				li {
					margin: 15px 0;
					cursor: pointer;
				}
			}

			.pagination {

				.index {
					margin-left: 20px;
					line-height: 28px;
				}
			}
		}

		.lp-added-items-preview {
			overflow: auto;
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-height: 420px;
			padding: 20px;
			background-color: #fff;
			transform: translate(100%, 0);

			&.show {
				transform: translate(0, 0);
			}

			.list-added-items {

				li {
					margin: 15px 0;

					&:first-child {
						margin: -10px 0 15px 0;
					}
				}
			}
		}

		.footer {
			padding: 20px;
		}
	}
}

body {

	&.lp-item-moving {
		cursor: url("../../images/closedhand.cur") 7 5, default !important;
		//.section-item {
		//    .drag {
		//        cursor: url("../../images/closedhand.cur") 7 5, default !important;
		//    }
		//}
	}
}

@media screen and (max-width: 900px) {

	#admin-editor-lp_quiz {

		.lp-box-data-content {

			.lp-list-questions {

				.question-settings {

					&.table-row {
						display: block;
						width: auto;
						text-align: left;

						> * {
							width: auto;
						}
					}
				}
			}
		}
	}
}
