/**
 * Order
 */
.post-type-lp_order {
	.wp-list-table {
		.column-order_status {
			width: 150px;
		}

		.order_status {
			span {
				display: inline-block;
				padding: 3px 6px;
				color: #fff;
				font-size: 0.75rem;

				@include border-radius(4px);

				&.pending {
					background: #bdbdbd;
				}

				&.processing {
					background: #ffc107;
				}

				&.completed {
					background: #4caf50;
				}

				&.cancelled {
					background: #444;
				}

				&.failed {
					background: #f00;
				}

				&.trash {
					color: rgba(128, 128, 128, 0.68);
				}

				i {
					display: inline-block;
				}
			}
		}

		.column-title,
		.column-order_total,
		.column-order_date {
			width: 150px;
		}

		.column-order_items {

			ol {
				margin: 0;
				padding: 0;
				list-style-position: inside;
			}
		}
	}
}

.post-type-lp_course {
	.wp-list-table {

		.column-price {
			width: 80px;
		}

		.column-thumbnail {
			width: 60px;
			padding-top: 8px;
			box-sizing: border-box;

			img {
				width: 100%;
				height: auto;
			}
			@media only screen and (max-width: 782px) {
				display: none;

				&::before {
					opacity: 0;
				}

			}
		}
		.column-certificate{
			box-sizing: border-box;
			max-width: 60px;
			img{
				max-width: 100% !important;
			}
		}
		@media only screen and (min-width: 1024px) {
			.check-column{
				width: 1.2em;
			}
		}
		@media only screen and (min-width: 783px) {
			.column-title {
 				width: 16%;
			}

		}
	}
}

.wp-list-table {
	.column-author, .column-instructor {
		width: 80px;

		.post-author {
 			display:  inline-block;
			img {
				width: 30px;
				height: 30px;
				margin: 0;
				border-radius: 50%;
				vertical-align: middle;
			}

			a {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.column-curriculum {
		width: 60px;
	}

	.column-student {
		width: 60px;
	}

	.column-taxonomy-course_category {
		width: 100px;
	}

	.column-gradebook {
		width: 40px;
		text-align: center;
	}
}

.post-type-page {

	.column-lp-page {
		width: 200px;
	}

	.for-plugin-page {
		margin: 0;
		color: #f00;
		font-size: 0.6875rem;
	}
}

.post-state {

	.post-author {
		font-size: 0.875rem;
		font-weight: normal;
		font-style: italic;
	}
}

#learn-press-box-edit-slug {
	overflow: hidden;
	margin: 0 -10px;
	padding: 10px;
	border: 1px solid #ddd;
	color: #b79186;
	background: #fff;

	.button {
		float: right;
		height: 24px;
		line-height: 1.375rem;
	}
}
