.lp-order-statuses {
	margin: 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;

	.lp-skeleton-animation {
		grid-column: 1/3;
	}

	li {
		//float: left;
		width: 100%;
		margin: 0;
		background: #fff;

		span {
			font-size: 1.1rem;
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			column-gap: 10px;
			font-weight: 400;
		}

		p {
			margin: 0;
			padding: 0;
			color: #adadad;
			font-size: 0.75rem;
		}

		&.counter-number {
			//width: 50%;
			//padding: 10px 0 0;
			text-align: center;

			.counter-inner {
				//margin: 0 5px;
				padding: 10px 0;
				border: 1px solid #f3f3f3;
				background: #f9f9f9;
			}

			/*&.order-completed {

				strong::before {
					color: #0085ba;
					content: "\f058";
				}
			}

			&.order-processing {

				strong::before {
					margin-left: -1px;
					color: #563f7a;
					content: "\f321";
				}
			}

			&.order-pending {

				strong::before {
					color: #aaa;
					content: "\f534";
				}
			}

			&.order-cancelled {

				strong::before {
					color: #f00;
					content: "\f153";
				}
			}*/

			&:hover {
			}
		}

		&.clear {
			float: none;
		}

		&.featured-theme {
			//float: none;
			//clear: both;
			width: auto;
			margin: 12px -12px 0 -12px;
			padding: 8px 12px 0 12px;
			border-top: 1px solid #eee;

			.star-rating {
				display: inline-block;
				line-height: 0.875rem;
				vertical-align: middle;

				.star {
					width: 14px;
					height: 14px;
					font-size: 0.875rem;
				}
			}

			> div {
				margin-bottom: 3px;

				span {
					color: #999;
					font-size: 0.75rem;
					vertical-align: middle;
				}
			}
		}

		&:nth-child(even) {

			.counter-inner {
				margin-left: 0;
			}
		}

		&:nth-child(odd) {

			.counter-inner {
				margin-right: 0;
			}
		}

		&.total-raised {
			grid-column: 1/3;
			box-sizing: border-box;
			padding: 10px 0;
			border: 1px solid #f3f3f3;
			background: #f9f9f9;
			text-align: center;
			color: #0073aa;

			span {
				margin-bottom: 10px;
				font-size: 1.625rem;

				i {
					font-size: 1.5625rem;
				}
			}
		}
	}

	&::after {

		@include clear-fix();
	}
}

.featured-theme {
	border-top: 1px solid #eee;
	margin-top: 10px;
	padding-top: 10px;

	p {
		margin: 0;
		font-size: 12px
	}

	.star-rating {
		display: inline-block;
		line-height: 0.75rem;

		.star {
			font-size: 0.8125rem;
			width: 13px;
			height: 13px;
		}
	}

	span {
		font-size: 0.6875rem;
	}
}
