@-moz-keyframes lp-spinner {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes lp-spinner {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes lp-spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.lp-modal-choose-items-open {
	overflow: hidden;
}

.lp-modal-search {
	height: 100%;
	padding: 20px;
	color: #777;
	background-color: red;

	li.selected {
		display: none;
	}
}

/* message box */
#learn-press-message-box-block {
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	background-color: #000;
}

#learn-press-message-box-window {
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #fff;
	text-align: center;
}

#message-box-wrap {
	/* text-align: center; */
	display: inline-block;
	max-width: 70%;
	margin: 0 auto;
	text-align: left;
}

.message-box-title {
	margin: 0 0 40px 0;
	color: #fff;
	font-size: 2.125rem;
}

.message-box-content {
	font-size: 1rem;
	line-height: 1.5;
}

.message-box-animation {
	width: 220px;
	height: 20px;
	margin: 20px 0 0;
	background-image: url("../../images/animation.gif");
}

.message-box-buttons {
	margin: 20px 0 0;
	padding-top: 20px;
	border-top: 1px solid #929292;
}

.message-box-button {
	margin-right: 10px !important;
}

.tipsy {
	position: absolute;
}

.learnpress {
	a,
	a:active {
		outline: none;
		box-shadow: none;
	}

	.lp-install-sample-data-options {
		padding: 0 20px 10px 20px;
		border: 1px solid #ddd;

		legend {
			font-size: 1rem;
		}
	}
}

/* Metabox email template field */
.lp-email-templates {
	overflow: hidden;
	margin-top: 5px;
}

.learn-press-email-variables {
	margin: 20px 0 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		cursor: pointer;
	}
}

/* Metabox dropdown pages field */
.learn-press-dropdown-pages {
	input[type="text"] {
		min-width: 300px;
		//height: 29px;
		margin: 0;
		vertical-align: top;
	}

	.select2-container {
		min-width: 220px !important;

		.select2-selection {
			&--single {
				height: 30px;
				border-color: #7e8993;
			}

			&__rendered {
				line-height: 1.75em !important;
			}

			&__arrow {
				right: 1px;
				width: 23px;
				height: 28px;
				background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E)
					no-repeat right 5px top 55%;
				background-size: 16px 16px;

				b {
					display: none;
				}
			}
		}
	}

	.quick-add-page-actions {
		a {
			font-size: 0.8125rem;
			text-decoration: none;
		}
	}

	.quick-add-page-inline {
		margin-top: 0;
	}
}

.lp-select-2 {
	+ .select2-container {
		.select2-selection--single {
			height: 30px;
			border-color: #7e8993;

			.select2-selection__rendered {
				line-height: 1.75em !important;
			}

			.select2-selection__arrow {
				right: 1px;
				width: 23px;
				height: 28px;
				background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E)
					no-repeat right 5px top 55%;
				background-size: 16px 16px;
			}

			.select2-selection__arrow b {
				display: none;
			}
		}
	}
}

/* Tooltip */
.learn-press-tooltip {
	display: inline-block;
	margin: 0 5px;
	color: #999;
	font-size: 1.0625rem;
	vertical-align: middle;

	&.icon::after {
		font-family: Dashicons;
		content: "\f223";
	}

	&:hover {
		opacity: 1;
		color: #0073aa;
	}
}

/* Metabox payment order field */
.rwmb-payment-order-wrapper {
	.rwmb-label {
		margin-bottom: 20px !important;
	}

	.rwmb-input {
		margin-left: 0 !important;
	}
}

.learn-press-payments,
.learn-press-emails {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	font-size: 0.875rem;

	th,
	td {
		padding: 10px;
	}

	.order {
		width: 30px;
		padding-right: 0;
		color: #ddd;
		text-align: center;
		cursor: not-allowed;
	}

	.name {
		min-width: 250px;
		font-weight: normal;
		text-transform: capitalize;

		a {
			text-decoration: none;
		}
	}

	.status {
		width: 100px;
		text-align: center;
		cursor: pointer;

		.dashicons {
			border-radius: 50%;
			color: #fff;
			background: #ddd;
		}

		a {
			display: block;
			margin-top: 5px;
			font-size: 0.75rem;
			text-decoration: none;
		}

		&.enabled {
			.dashicons {
				background: #0085ba;
			}
		}

		&.config {
			a {
			}
		}
	}

	thead {
		th {
			border-bottom: 1px solid #ddd;
			text-align: left;
		}
	}

	tbody {
		tr:nth-child(even) {
			td {
				background: #fff;
			}
		}

		tr:nth-child(odd) {
			td {
				background: #f5f5f5;
			}
		}

		td {
			border-bottom: 1px solid #ddd;
		}

		.ui-sortable-helper {
			margin-left: -1px;
			border: 1px solid #ddd;
		}

		.ui-sortable-placeholder {
			visibility: visible !important;
			border: 1px solid #ddd;

			td {
				height: 35px;
				padding: 0;
				background: #f7f7f7;
			}
		}
	}

	~ .email-actions {
		text-align: left;
	}

	&.sortable {
		.order:hover {
			color: #0073aa;
			cursor: ns-resize;
		}
	}
}

/* Submenu tools/templates */
.lp-template-overrides {
	margin-top: 20px;

	thead th h4 {
		margin: 0;
	}

	tbody th {
		font-weight: bold;

		p {
			display: inline-block;
			margin: 0 0 0 10px;

			a {
				margin: 0;
				padding: 2px 8px;
				border: none;
				border-radius: 3px;
				outline: none;
				box-shadow: none;
				font-weight: normal;

				&.current {
					color: #fff;
					background: #00aadc;
				}
			}
		}
	}

	.template-row {
		&.outdated,
		&.up-to-date {
			code::before {
				display: inline-block;
				margin-top: -2px;
				margin-right: 3px;
				font-family: Dashicons;
				vertical-align: middle;
			}
		}

		&.outdated {
			.template-version {
				color: #f00;
			}

			.template-file {
				code::before {
					color: #f00;
					content: "\f534";
				}
			}
		}

		&.up-to-date {
			.template-version {
				color: #1859ff;
			}

			.template-file {
				code::before {
					color: #0085ba;
					content: "\f147";
				}
			}
		}
	}

	.template-version,
	.core-version {
		width: 100px;
	}

	#learn-press-no-templates td p {
		color: #0073aa;
	}
}

/* General */
.description {
	code {
		font-size: smaller;
	}
}

#field-_lp_course_result {
	input[name="_lp_course_result"] ~ #passing-condition-quiz-result {
		display: none;
		padding: 10px;
		background: #f5f5f5;

		input {
			width: 80px;
			margin: 0;

			@include box-sizing(border-box);
		}

		p {
			margin: 7px 0 0;
			color: #777;
			font-style: italic;
		}
	}

	input[name="_lp_course_result"]:checked ~ #passing-condition-quiz-result {
		display: block;
	}
}

//admin widget
.widget {
	.widget-content {
		.rwmb-field {
			&:not(:last-of-type) {
				margin: 0 0 10px;

				&:first-child {
					margin-top: 10px;
				}
			}

			&:last-child {
				margin-bottom: 10px;
			}

			.rwmb-label,
			.rwmb-input {
				width: 100%;
			}

			.rwmb-label {
				margin-bottom: 2px;

				label {
					font-weight: 400;
				}
			}

			.rwmb-input {
				input[type="text"] {
					width: 100%;
				}
			}
		}
	}
}

.course-attributes {
	margin: 20px 0;

	.learn-press-attribute {
		margin-top: -1px;
		margin-bottom: 0;
		border: 1px solid #ddd;

		> h4 {
			margin: 0;
			padding: 10px 15px;
			background: #f5f5f5;
		}

		.learn-press-attribute-data {
			padding: 15px;
			border-top: 1px solid #ddd;
		}
	}
}

.lp-hidden {
	display: none !important;
}

@mixin loading(){
	&:before{
		display: inline-block;
		font-family: 'lp-icon';
		content: "\f110";
		animation: lp-rotating 1s linear infinite;
		margin-right: 5px;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: middle;
		margin-top: -2px;
	}
}

.lp-button {
	&.loading {
		pointer-events: none;
		opacity: 0.8;
		@include loading();
	}
}
