.wp-block-learnpress-course-filter {
	h3 {
		margin-bottom: 20px;
		margin-top: 0;
	}

	.filter {
		.line {
			height: 15px;
			background: #ccc;
			margin-bottom: 10px;
		}
	}
}

.wp-block-learnpress-course-search-filter,
.wp-block-learnpress-course-level-filter,
.wp-block-learnpress-course-author-filter,
.wp-block-learnpress-course-price-filter,
.wp-block-learnpress-course-categories-filter,
.wp-block-learnpress-course-tag-filter {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;

	.lp-course-filter__field {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}

	label {
		flex: 1;
	}

	span {
		color: #999;
	}
}

.wp-block-learnpress-course-search-filter .search-box {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 12px;
}

.wp-block-learnpress-button-submit-filter,
.wp-block-learnpress-button-reset-filter {
	box-sizing: border-box;
	text-transform: capitalize;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: white;
	float: left;
	text-align: center;
	width: calc( 50% - 8px );
	padding: 8px 30px;
}

.wp-block-learnpress-button-submit-filter {
	margin-right: 4px;
}

.wp-block-learnpress-button-reset-filter {
	margin-left: 4px;
}

.block-editor-block-list__block {
	img {
		display: block;
	}

	.learn-press-courses {
		list-style: none;
		margin: 0;
		max-width: 100%;
		padding: 0;

		&[data-layout='grid'] {
			grid-gap: 1.25em;
			display: -ms-grid;
			display: grid;
			grid-template-columns: repeat(
				auto-fill,
				minmax( max( 200px, calc( 33.33333% - 0.83333em ) ), 1fr )
			);
		}
	}

	a {
		text-decoration: none;
	}

	.c-gap-4 {
		column-gap: 4px;
	}

	.lp-course-curriculum .course-section .course-item__right {
		color: inherit;
	}
	&.wp-block-learnpress-course-title {
		margin-top: 0;
	}
}

a.block-editor-block-list__block.wp-block-learnpress-course-button {
	@include course_readmore();
}

.wp-block-learnpress-item-search {
	.search-course {
		display: flex;
		position: relative;
		height: $popup_header_height;
		background: $bg-grey;

		input[name='s'] {
			display: block;
			width: 100%;
			padding-left: 20px;
			border: none;
			color: $text-color-base;
			background: transparent;
			box-shadow: none;
			height: auto;
			@include box-sizing( border-box );
			@include placeholder-color( $input-color-placeholder );
			@include placeholder-fontStyle( italic );

			&:focus {
				outline: 0;
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 10px;
			height: $popup_header_height;
			padding: 0 16px;
			border: 0;
			background: transparent;
			line-height: 1px;
			box-shadow: none;
			&:focus {
				outline: none;
			}

			i {
				color: $text-color-accent;
			}

			/*&::before {
				color: $text-color-accent;
				font-family: 'lp-icon';
				content: "\f002";
			}*/

			&.clear {
				display: none;

				&::before {
					content: '\f00d';
				}
			}
		}

		&.searching {
			button:before {
				display: inline-block;
				content: '\f110';
				animation: lp-rotating 1s linear infinite;
			}
		}
	}
}

.wp-block-learnpress-item-hidden-sidebar {
	.section-toggle {
		justify-content: flex-end;
		flex: 0;

		i {
			color: $text-color-accent;
		}
	}
}

.wp-block-learnpress-item-close .back-course {
	padding: 24px;
	line-height: $popup_header_height;
	background: rgba( 255, 255, 255, 0.1 );
	color: #fff;

	&:hover {
		background: rgba( 255, 255, 255, 0.15 );
	}

	@media ( max-width: 768px ) {
		background: transparent;
		opacity: 0.6;
		padding-left: 15px;
		padding-right: 15px;
		&:hover {
			background: transparent;
			opacity: 1;
		}
	}
}

.wp-block-learnpress-item-hidden-sidebar {
	#sidebar-toggle {
		display: inline-block;
		//position: absolute;
		//z-index: 100;
		//top: 198px;
		//left: 475px;
		width: 32px;
		min-width: 32px;
		line-height: $popup_header_height;
		height: unset;
		margin: 0;
		background: rgba( 255, 255, 255, 0.1 );
		color: $color-white;
		font-size: 1.4em;
		//box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
		cursor: pointer;
		transition: 0.25s;
		-webkit-appearance: none;
		border: none;
		text-align: center;

		&:after {
			display: none;
		}

		&::before {
			display: inline-block;
			position: static;
			margin: 0;
			width: auto;
			height: auto;
			//position: absolute;
			//top: 50%;
			//left: 50%;
			//color: var(--lp-primary-color);
			font-family: 'lp-icon';
			//font-size: 1.125em;
			//font-weight: 900;
			content: '\f0d9';
			//transition: 0.25s;
			//transform: translate(-50%, -50%);
		}

		&:focus {
			border: 0;
			outline: 0;
		}
	}
}

.wp-block-learnpress-item-progress {
	.items-progress {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;
		white-space: nowrap;
	}

	.number {
		padding-right: 10px;
		color: #fff;
		font-size: calc( var( --lp-font-size-base, 1em ) * 0.86 );
		font-weight: 300;
	}

	.learn-press-progress {
		overflow: hidden;
		position: relative;
		width: 80px;
		height: 6px;
		border-radius: 3px;

		.progress-bg {
			overflow: hidden;
			position: relative;
			height: 6px;
			background: #ccc;
			@include border-radius( 5px );

			.progress-active {
				position: absolute;
				left: 50%;
				width: 100%;
				height: 100%;
				margin-left: -100%;
				background: var( --lp-primary-color );

				@include border-radius( 5px );
			}
		}

		.learn-press-progress__active {
			position: absolute;
			z-index: 1;
			left: -100%;
			width: 100%;
			height: 100%;
			border-radius: 3px;
			background: var( --lp-primary-color );

			@include transition( 0.5s );
		}

		&::before {
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #ccc;
			content: '';
		}
	}
}

/*
icon in admin
 */
[class^='lp-icon-'],
[class*=' lp-icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'lp-icon';
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lp-icon-angle-right:before {
	content: '\f105';
}

.lp-icon-clock-o:before {
	content: '\f017';
}

.lp-icon-star:before {
	content: '\f005';
	color: #ffb606;
}

.lp-icon-file-o:before {
	content: '\f016';
}

.lp-icon-signal:before {
	content: '\f012';
}

.lp-icon-puzzle-piece:before {
	content: '\f12e';
}

.lp-icon-search:before {
	content: '\f002';
}

.lp-icon-user-graduate:before {
	content: '\f501';
}

.lp-icon-arrow-right:before {
	content: '\f061';
}

.lp-icon-courses:before {
	content: '\e903';
}

.lp-icon-facebook:before {
	content: '\f09a';
}

.lp-icon-twitter:before {
	content: '\f099';
}

.lp-icon-youtube-play:before {
	content: '\f16a';
}

.lp-icon-linkedin:before {
	content: '\f0e1';
}

.lp-icon-students:before {
	content: '\e902';
}

.lp-icon-stopwatch:before {
	content: '\f2f2';
}

.lp-icon-angle-left:before {
	content: '\f104';
}

.lp-icon-angle-right:before {
	content: '\f105';
}

.lp-icon-angle-up:before {
	content: '\f106';
}

.lp-icon-angle-down:before {
	content: '\f107';
}

.lp-icon-share-alt:before {
	content: '\f1e0';
}

.lp-icon-times:before {
	content: '\f00d';
}
