@import "../frontend/pagination";
// @import "../frontend/share-social";
@import "../frontend/author-info";
@import "../frontend/extra-box";
@import "../frontend/curriculum";
// @import "../frontend/comment-area";

/*
Css for Block of Gutenberg
 */

@import "../wp-block/_block-global";
@import "../wp-block/_block-single";
@import "../wp-block/_block-archive";
// @import "../wp-block/_block-instructor";
.wp-block-learnpress-course-filter {
    h3 {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .filter {
        .line {
            height: 15px;
            background: #ccc;
            margin-bottom: 10px;
        }
    }
}

.wp-block-learnpress-course-search-filter,
.wp-block-learnpress-course-level-filter,
.wp-block-learnpress-course-author-filter,
.wp-block-learnpress-course-price-filter,
.wp-block-learnpress-course-categories-filter,
.wp-block-learnpress-course-tag-filter {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    .lp-course-filter__field {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    label {
        flex: 1;
    }
    span {
        color: #999;
    }
}

.wp-block-learnpress-course-search-filter .search-box {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 12px;
}

.wp-block-learnpress-button-submit-filter,
.wp-block-learnpress-button-reset-filter {
    box-sizing: border-box;
    text-transform: capitalize;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    float: left;
    text-align: center;
    width: calc(50% - 8px);
    padding: 8px 30px;
}

.wp-block-learnpress-button-submit-filter {
    margin-right: 4px;
}

.wp-block-learnpress-button-reset-filter {
    margin-left: 4px;
}

.block-editor-block-list__block {
    img {
        display: block;
    }
    .learn-press-courses {
        list-style: none;
        margin: 0;
        max-width: 100%;
        padding: 0;
        &[data-layout="grid"] {
            grid-gap: 1.25em;
            display: -ms-grid;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(max(200px, calc(33.33333% - .83333em)), 1fr));
        }
    }
    a {
        text-decoration: none;
    }
    .c-gap-4 {
        column-gap: 4px;
    }
    .lp-course-curriculum .course-section .course-item__right {
        color: inherit;
    }
    &.wp-block-learnpress-course-title > *{
         margin-top: 0;
    }
}

a.block-editor-block-list__block.wp-block-learnpress-course-button {
    @include course_readmore();
}
