.learnpress {

	.rwmb-field {
		position: relative;
		margin-bottom: 20px;

		.rwmb-label {
			display: block;
			float: left;
			width: 190px;
			margin-bottom: 5px;
			font-size: 14px;
			_text-transform: capitalize;

			label {

				> small {
					display: block;
					color: #999;
					font-weight: normal;
					font-style: italic;
				}
			}
		}

		.rwmb-input {
			float: none;
			width: auto;
			margin-left: 190px;

			input[type="checkbox"],
			input[type="radio"] {
				margin: 1px 5px 0 0;
			}

			label {

				> input[type="checkbox"],
				> input[type="radio"] {
					margin-top: -1px;
				}
			}
		}

		.description {
			margin-top: 8px;
			color: #888;

			code {
				padding: 3px 3px 3px 0;
			}

			&.err {
				color: #f00;
			}
		}

		.rwmb-input-list {
			margin-left: 0;
		}

		#course_evaluation_method_quiz_options {
			position: relative;
			margin-left: 25px;

			&::after {
				position: absolute;
				z-index: 10;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0.5;
				background: #fff;
				content: "";
			}
		}

		input[name="_lp_course_result"]:checked ~ #course_evaluation_method_quiz_options {

			&::after {
				display: none;
			}
		}

		&.rwmb-heading-wrapper {

			h4 {
				display: inline-block;
				margin: 0 0 5px 0;
				padding: 0 0 0;
				border-bottom: 2px solid #563d7c;
				font-size: 16px;
				text-transform: initial;
			}
		}

		&.disabled {

			.field-overlay {
				position: absolute;
				z-index: 10;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.6;
				background: #fff;
				content: "";
			}
		}

		&.rwmb-text-wrapper {

			.rwmb-text {
				width: 50%;
				min-width: 200px;
			}
		}

		&.rwmb-duration-wrapper {

			.rwmb-input {

				select,
				input {
					vertical-align: top;
				}
			}
		}
	}

	.lp-course-sale_start-field,
	.lp-course-sale_end-field {

		&.hide {
			display: none;
		}
	}

	&.lp-submenu-settings {

		.lp-admin-settings-buttons {
			margin-bottom: 0;
			padding-top: 20px;
			border-top: 1px solid #ddd;

			#learn-press-reset-settings {
				float: right;
			}
		}

		.rwmb-input {
			float: none;
			width: auto;
			margin-left: 270px;
			color: #000;
		}
	}

	.rwmb-google-fonts-wrapper {

		.rwmb-input {

			label {
				display: block;
				margin-bottom: 5px;
				font-weight: bold;
			}

			input {
				width: 90%;
			}
		}
	}

	#learn-press-toggle-course-results {
		display: block;
	}

	// lesson metaboxs
	#postbox-container-2 {

		.inside {

			.rwmb-meta-box {
				//margin: 20px 0 0;
			}
		}
	}

	.lp-item-assigned {
		font-size: 14px;

		a {
			text-decoration: none;
		}

		ul {
			margin-bottom: 0;

			ul {

				strong {
					font-weight: normal;
				}
			}
		}

		li {
			margin: 0;

			a {
				display: inline-block;
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (max-width: 1280px) {

	.learnpress {

		.rwmb-meta-box {
		}

		#meta-box-tab-course_settings {

			.rwmb-field {

				.rwmb-label {
					float: none;
					width: auto;
				}

				.rwmb-input {
					float: left;
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}

// Use on LP4.
.lp-metabox__table {

	.titledesc {

		label {

			>small {
				display: block;
				color: #999;
				font-weight: normal;
				font-style: italic;
			}
		}
	}

	.forminp-text,
	.forminp-email,
	.forminp-password,
	.forminp-url {

		>input {
			min-width: 260px;
		}
	}

	.forminp-textarea {

		textarea {
			width: 400px;
		}
	}
}

.lp-metabox__custom-fields {

	table {
		width: 100%;
		max-width: max-content;
		padding: 0 !important;

		th {
			padding: 7px 0 7px 7px !important;

			&.sort {
				width: 17px;
				padding: 7px !important;
			}
		}

		td {
			position: relative;
			padding: 4px 0 4px 7px !important;
			vertical-align: middle !important;

			&.sort {
				width: 17px;
				padding-right: 7px !important;
				background: #f9f9f9;
				font-size: 15px;
				text-align: center;
				cursor: move;

				&::before {
					height: 100%;
					color: #999;
					font-family: Dashicons;
					text-align: center;
					content: "\f333";
				}
			}

			.delete {
				display: block;
				position: relative;
				width: 1em;
				height: 1em;
				font-size: 1.2em;
				text-indent: -9999px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					margin: 0;
					color: #999;
					font-family: Dashicons;
					font-weight: 400;
					font-variant: normal;
					line-height: 1;
					text-align: center;
					text-indent: 0;
					text-transform: none;
					content: "ï…“";
					speak: none;
					-webkit-font-smoothing: antialiased;
				}

				&:hover {

					&::before {
						color: #a00;
					}
				}
			}

			&:last-child {
				padding-right: 7px !important;
			}
		}
	}
}

.lp-metabox-field__color {
	font-size: 0 !important;

	.colorpickpreview {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 0;
		margin-right: 3px;
		padding: 0;
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		font-size: 16px;
		line-height: 28px;
	}

	.iris-picker {
		display: none;
		position: absolute;
		z-index: 100;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	}
}

.lp-metabox-field__image-advanced {

	&-upload {
		padding-top: 10px;
	}

	&-images {
		clear: both;
		margin: 0;
		padding: 0;

		>li {
			float: left;
			position: relative;
			box-sizing: border-box;
			width: 80px;
			margin: 9px 9px 0 0;
			border: 1px solid #d5d5d5;
			border-radius: 2px;
			background: #f7f7f7;
			cursor: move;

			img {
				display: block;
				width: 100%;
				height: auto;
			}

			ul.actions {
				// display: none;
				position: absolute;
				top: -8px;
				right: -8px;
				padding: 2px;

				li {
					float: right;
					margin: 0 0 0 2px;

					a.delete {
						display: block;
						position: relative;
						width: 1em;
						height: 1em;
						font-size: 1.4em;
						text-indent: -9999px;

						&::before {
							position: absolute;
							top: 0;
							left: 0;
							width: 1em;
							height: 1em;
							margin: 0;
							border-radius: 50%;
							color: #999;
							background: #fff;
							font-family: Dashicons;
							font-weight: 400;
							font-variant: normal;
							line-height: 1;
							text-align: center;
							text-indent: 0;
							text-transform: none;
							content: "\f153";
							speak: none;
							-webkit-font-smoothing: antialiased;
						}
					}
				}

				&::before {
					display: table;
					content: " ";
				}
			}

			&:hover {

				ul.actions {
					display: block;
				}
			}

			&.lp-metabox-sortable-placeholder {
				position: relative;
				border: 3px dashed #ddd;

				&::after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					margin: 0;
					color: #ddd;
					font-family: Dashicons;
					font-size: 2.618em;
					font-weight: normal;
					font-variant: normal;
					line-height: 72px;
					text-align: center;
					text-indent: 0;
					text-transform: none;
					content: "\f161";
					speak: none;
					-webkit-font-smoothing: antialiased;
				}
			}
		}

		&::before {
			display: table;
			content: " ";
		}

		&::after {
			display: table;
			clear: both;
			content: " ";
		}
	}
}

.lp-metabox-field__image {

	&--inner {

		position: relative;
		box-sizing: border-box;
		width: 120px;
		border: 1px solid #d5d5d5;
		border-radius: 2px;
		background: #f7f7f7;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&--upload {
		padding-top: 10px;
	}
}

.lp-meta-box {

	&__inner {
		display: block;
		position: relative;

		.form-field:not(fieldset) {
			display: flex;
			flex-direction: row;
			position: relative;
			margin: 0;
			padding: 15px 0;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;

			label {
				width: 180px;
				min-width: 180px;
				max-width: 180px;
				padding: 0;
				color: #23282d;
				font-size: 14px;
				font-weight: 600;
				flex: 0 0 auto;
			}

			.checkbox {
				margin: 2px 0 !important;
				vertical-align: middle;
			}

			.description {
				display: inline;
				clear: none;
				margin: 0 0 0 7px;
				padding: 0;
				font-size: 14px;
			}
		}

		fieldset.form-field {
			display: grid;
			grid-template-columns: 180px 1fr;
			position: relative;
			margin: 0;
			padding: 15px 0;

			h4 {
				width: 180px;
				min-width: 180px;
				max-width: 180px;
				margin: 0;
				padding: 0;
				color: #23282d;
				font-size: 14px;
				font-weight: 600;
				flex: 0 0 auto;
			}

			ul {
				margin: 0;
				font-size: 14px;
			}

			.description {
				grid-column-start: 2;
				margin-top: 10px;
			}
		}
	}

	&__duration {

		input[type="number"] {
			width: 80px !important;
		}

		.description {
			flex-basis: 100%;
			width: 100%;
			margin-top: 8px !important;
			margin-left: 180px !important;
		}
	}

	select {

		+ .description {
			flex-basis: 100%;
			width: 100%;
			margin-top: 8px !important;
			margin-left: 180px !important;
			color: #666;
		}
	}

	input[type="number"],
	input[type="email"],
	input[type="text"],
	input[type="password"],
	textarea {
		width: 50%;

		+ .description {
			flex-basis: 100%;
			width: 100%;
			margin-top: 8px !important;
			margin-left: 180px !important;
			color: #666;
		}
	}

	.short {
		width: 50%;
	}

	textarea {
		height: 3.5em;
		line-height: 1.5em;
		vertical-align: top;
	}

	.learn-press-tip.ready {
		display: inline-flex;
		align-items: center;
		margin-left: 8px;
	}
}

#course-settings {

	.inside {
		margin: 0 !important;
		padding: 0 !important;
	}

	.lp-meta-box {

		&__course-tab {
			display: grid;
			grid-template-columns: 20% 80%;

			&__tabs {
				position: relative;
				box-sizing: border-box;
				margin: 0;
				padding: 0 0 10px;
				border-right: 1px solid #eee;
				background-color: #fafafa;
				line-height: 1;

				li {
					display: block;
					position: relative;
					margin: 0;
					padding: 0;

					a {
						display: block;
						margin: 0;
						padding: 10px;
						border-bottom: 1px solid #eee;
						box-shadow: none;
						line-height: 20px !important;
						text-decoration: none;

						i {
							margin-right: 5px;
							font-weight: 400;
							font-style: normal;
							font-variant: normal;
							line-height: 1;
							text-decoration: none;
							text-transform: none;

							&[class^="dashicon"] {
								font-family: "Dashicons";
							}
						}
					}

					&.active {

						a {
							position: relative;
							color: #555;
							background-color: #eee;
						}
					}
				}
			}

			&__content {

				>div {
					padding: 20px;
				}
			}
		}
	}
}

#price_course_data {

	._lp_sale_price_field,
	._lp_price_field {
		position: relative;

		.learn-press-tip-floating {
			top: 54px;
			left: 92px;
			opacity: 0.8;
			background: #a00;

			&::before {
				top: -7px;
				border: 7px solid transparent;
				border-top-width: 0;
				border-bottom-color: #a00;
			}
		}
	}
}

.lp_course_extra_meta_box {

	&__content {
		flex: 1;
	}

	&__fields {
		margin-bottom: 10px;
	}

	&__field {
		position: relative;
		max-width: 600px;
		margin-bottom: 10px;

		.sort {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 100%;
			color: #666;
			text-decoration: none;
			cursor: grab;
			align-items: center;
			justify-content: center;

			&::after {
				font-family: Dashicons;
				font-size: 20px;
				line-height: 1;
				content: "\f333";
			}
		}

		.delete {
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 100%;
			color: #666;
			text-decoration: none;
			align-items: center;
			justify-content: center;

			&::after {
				font-family: Dashicons;
				font-size: 20px;
				line-height: 1;
				content: "\f335";
			}
		}
	}

	&__input {
		width: 100% !important;
		padding-right: 40px !important;
		padding-left: 40px !important;
	}
}

.lp_course_faq_meta_box {

	&__content {
		flex: 1;
	}

	&__fields {
		position: relative;
		margin-bottom: 10px;
	}

	&__field {
		display: grid;
		position: relative;
		margin-bottom: 10px;
		padding: 20px;
		border: 1px solid #c5c5c5;
		border-radius: 4px;
		grid-row-gap: 10px;

		label {
			display: grid;
			width: 100% !important;
			min-width: 100% !important;
			max-width: 100% !important;
			grid-template-rows: auto 1fr;

			span {
				margin-bottom: 5px;
			}

			textarea,
			input {
				width: 100% !important;
			}
		}

		a.delete {
			display: flex;
			position: absolute;
			top: 15px;
			right: 50px;
			width: 30px;
			height: 30px;
			color: #666;
			text-decoration: none;
			align-items: center;
			justify-content: center;

			&::after {
				font-family: Dashicons;
				font-size: 20px;
				line-height: 1;
				content: "\f335";
			}
		}

		.sort {
			display: flex;
			position: absolute;
			top: 15px;
			right: 20px;
			width: 30px;
			height: 30px;
			color: #666;
			text-decoration: none;
			align-items: center;
			justify-content: center;
			cursor: grab;

			&::after {
				font-family: Dashicons;
				font-size: 20px;
				line-height: 1;
				content: "\f333";
			}
		}
	}
}

input[name="_lp_course_result"] {

	&:checked {

		~ #passing-condition-quiz-result {
			display: block;
		}
	}
}

#passing-condition-quiz-result {
	display: none;

	input {
		width: 80px !important;
		margin-top: 5px !important;
	}

	p {
		padding: 10px 16px;
		background-color: #eee;
		font-size: 14px;
	}
}
