.ai-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	transition: opacity 0.3s ease, visibility 0.3s ease;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	.modal-content {
		background-color: #fff;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		width: 90%;
		max-width: 1200px;
		max-height: 85vh;
		overflow: auto;
		position: relative;

		header.modal-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 15px;

			.title {
				font-size: 24px;
				font-weight: 800;
			}

			.close-btn {
				font-size: 24px;
				cursor: pointer;
				color: #333;
				background: none;
				border: none;
			}
		}

		.content {
			display: flex;
			align-items: start;
			justify-content: space-between;
			font-size: 16px;

			.ai-field {
				flex-basis: 40%;

				> div {
					margin-bottom: 10px;

					label {
						display: block;
						font-weight: 500;
						margin-bottom: 4px;
					}

					textarea {
						width: 100%;
					}

					&.output {
						display: flex;
						align-items: flex-end;
						justify-content: space-between;
					}
				}
			}

			.ai-output {
				flex-basis: 60%;
				margin-left: 24px;
				padding: 0 15px;

				header {
					display: flex;
					align-items: start;
					justify-content: space-between;

					.output-title, .output-des {
						font-weight: 600;
						font-size: 18px;
					}

					.toggle-prompt {
						display: none;

						&.display {
							display: block;
						}
					}
				}
			}

			.ai-output {
				background-color: #f8f9fa;
				padding: 8px;
				font-size: 16px;

				.prompt-output.active {
					background-color: #F3F4F6;
					margin-top: 10px;

					div.title {
						font-weight: 500;
						margin-bottom: 4px;
					}
				}

				.ai-result {
					margin-bottom: 10px;
				}

				.course-title-output, .course-des-output {
					margin-top: 10px;

					.course-title-item, .course-des-item {
						background-color: #D0D3D8;
						padding: 8px;
						margin-bottom: 10px;

						p {
							word-break: break-word;
						}
					}
				}

				p {
					font-size: 16px;
				}

				.prompt-output {
					padding: 8px;
					display: none;

					&.active {
						display: block;
					}
				}
			}
		}
	}

	.plugin-clear_button.form-select .clear-button, .plugin-clear_button.single .clear-button {
		right: 2px;
		padding: 2px 6px;
	}

	img {
		max-width: 300px;
		height: auto;
		width: 100%;
	}
}

#ai-course-fi-field-logo-input, #ai-course-fi-field-mask-input {
	display: none;
}

#ai-course-fi-field-logo-error, #ai-course-fi-field-mask-error {
	color: red;
}

#lp-ai-fi-button {
	padding: 0 12px 12px;
}

#ai-course-remove-fi-field-logo, #ai-course-remove-fi-field-mask {
	display: none;

	&.enabled {
		display: inline;
	}
}

.course-create-fi-item, .course-edit-fi-item {
	margin-bottom: 10px;
}
