.post-type-lp_order {

	#post-body-content {
		display: none;
	}

	#order_details {
		border: none !important;
		background: transparent !important;

		.hndle,
		.handlediv,
		.postbox-header {
			display: none;
		}

		.inside {
			display: block !important;
			margin: 0;
			padding: 0;
		}

		.order-data {
			margin: 0 0 20px 0 !important;
			padding: 30px !important;
			border: 1px solid #ccd0d4 !important;
			background-color: #fff !important;
			box-shadow: none !important;
		}

		.order-data-field {
			margin-bottom: 20px;

			label {
				display: block;
				margin-bottom: 5px;
				font-weight: 500;
			}
		}

		.order-data-number {
			margin: 0 0 10px;
			font-size: 20px;
			font-weight: 600;
		}

		.payment-method-title {
			color: #777;
			font-size: 16px;

			strong {
				color: #23282d;
			}
		}

		.order-data-heading {
			margin-top: 40px;
			font-size: 16px;
		}

		.order-users {
			display: inline-block;

			.description {
				margin-top: 10px;
				padding: 10px;
				background: #eee;
			}
		}

		.order-data-date {

			.order-date {
				width: 100px;
			}

			.order-hour,
			.order-minute {
				width: 50px;
			}
		}

		.order-data-note {
			display: inline-block;

			.order-note {
				padding: 10px;
				color: #fff;
				background-color: #c1a3b6;
				font-size: 14px;
			}
		}

		.order-items {
			margin: 0;
			border: 1px solid #ccd0d4 !important;
			background-color: #fff;

			table {
				width: 100%;
				border-collapse: collapse;

				thead {
					margin: 0;
					padding: 0;

					tr {
						background-color: #f8f8f8;
					}

					th {
						padding: 15px;
						border-bottom: none;
						color: #999;
						font-weight: 400;
						text-align: left;

						&:first-child {
							padding-left: 30px;
						}

						&:last-child {
							padding-right: 30px;
						}
					}
				}

				tbody,
				tfoot {

					td {
						padding: 10px;
						border-bottom: 1px solid #ddd;
						text-align: left;
					}
				}

				tbody {
					margin: 0;
					padding: 0;

					tr {

						td {
							padding: 15px;

							&:first-child {
								padding-left: 30px;
							}

							&:last-child {
								padding-right: 30px;
							}
						}
					}
				}

				tfoot {
					margin: 0;
					padding: 0;

					tr {
						background-color: #f8f8f8;

						&:last-child {

							td {
								padding-top: 20px;
								padding-bottom: 20px;
							}
						}
					}

					td {
						padding: 10px 15px;
						padding-bottom: 0;
						border: none;
						font-size: 14px;
						text-align: right;

						&:first-child {
							padding-left: 30px;
						}

						&:last-child {
							padding-right: 30px;
						}
					}
				}

				.column-price,
				.column-total,
				.column-quantity {
					width: 150px;
					text-align: right;
				}

				.row-subtotal,
				.row-total {

					td {

						.order-subtotal,
						.order-total {
							font-weight: 700;
						}
					}
				}

				.remove-order-item {
					outline: none;
					color: #ccc;
					text-decoration: none;

					.dashicons {
						font-size: 20px;
					}

					&:hover {
						color: #f00;
					}
				}

				.order-item-row:hover {

					.remove-order-item {
						display: inline-block;
					}
				}
			}
		}
	}
}
