.post-type-lp_order {

	#post-body-content {
		display: none;
	}

	#order_details {
		border: none !important;
		background: transparent !important;

		.hndle,
		.handlediv,
		.postbox-header {
			display: none;
		}

		.inside {
			display: block !important;
			margin: 0;
			padding: 0;
		}

		.order-data {
			margin: 0 0 20px 0 !important;
			padding: 30px !important;
			border: 1px solid #ccd0d4 !important;
			background-color: #fff !important;
			box-shadow: none !important;
		}

		.order-data-field {
			margin-bottom: 20px;

			label {
				display: block;
				margin-bottom: 5px;
				font-weight: 500;
			}
		}

		.order-data-number {
			margin: 0 0 10px;
			font-size: 1.25rem;
			font-weight: 600;
		}

		.payment-method-title {
			color: #777;
			font-size: 1rem;

			strong {
				color: #23282d;
			}
		}

		.order-data-heading {
			margin-top: 40px;
			font-size: 1rem;
		}

		.order-users {
			display: inline-block;

			.description {
				margin-top: 10px;
				padding: 10px;
				background: #eee;
			}
		}

		.order-data-date {

			.order-date {
				width: 100px;
			}

			.order-hour,
			.order-minute {
				width: 50px;
			}
		}

		.order-data-note {
			display: inline-block;

			.order-note {
				padding: 10px;
				color: #fff;
				background-color: #c1a3b6;
				font-size: 0.875rem;
			}
		}

		.order-items {
			margin: 0;
			border: 1px solid #ccd0d4 !important;
			background-color: #fff;

			table {
				width: 100%;
				border-collapse: collapse;

				thead {
					margin: 0;
					padding: 0;

					tr {
						background-color: #f8f8f8;
					}

					th {
						padding: 15px;
						border-bottom: none;
						color: #999;
						font-weight: 400;
						text-align: left;

						&:first-child {
							padding-left: 30px;
						}

						&:last-child {
							padding-right: 30px;
						}
					}
				}

				tbody,
				tfoot {

					td {
						padding: 10px;
						border-bottom: 1px solid #ddd;
						text-align: left;
					}
				}

				tbody {
					margin: 0;
					padding: 0;

					tr {

						td {
							padding: 15px;

							&:first-child {
								padding-left: 30px;
							}

							&:last-child {
								padding-right: 30px;
							}
						}
					}
				}

				tfoot {
					margin: 0;
					padding: 0;

					tr {
						background-color: #f8f8f8;

						&:last-child {

							td {
								padding-top: 20px;
								padding-bottom: 20px;
							}
						}
					}

					td {
						padding: 10px 15px;
						padding-bottom: 0;
						border: none;
						font-size: 0.875rem;
						text-align: right;

						&:first-child {
							padding-left: 30px;
						}

						&:last-child {
							padding-right: 30px;
						}
					}
				}

				.column-price,
				.column-total,
				.column-quantity {
					width: 150px;
					text-align: right;
				}

				.row-subtotal,
				.row-total {

					td {

						.order-subtotal,
						.order-total {
							font-weight: 700;
						}
					}
				}

				.remove-order-item {
					outline: none;
					color: #ccc;
					text-decoration: none;

					.dashicons {
						font-size: 1.25rem;
					}

					&:hover {
						color: #f00;
					}
				}

				.order-item-row:hover {

					.remove-order-item {
						display: inline-block;
					}
				}
			}
		}
	}

	/*Export order function style*/
	/* The Modal (background) */
	/* Modal Content/Box */
	/* The Close Button */
	/*tabs css*/
	#order-export__button {
		&:hover {
			cursor: pointer;
		}
	}
	.export-modal.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #000000;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.export-modal {
		.modal-content {
			background-color: #fefefe;
			margin: 5% auto;
			border: 1px solid #888;
			width: 60%;
			position: relative;
		}
		.close {
			color: #aaa;
			position: absolute;
			font-size: 28px;
			font-weight: bold;
			top: -5px;
			right: 11px;
			&:hover {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}
			&:focus {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}
		}
		.panel {
			display: none;
		}
		.panel.active {
			display: block;
		}
	}
	#order-export__tabs.tabs {
		display: flex;
		justify-content: space-around;
		//margin: 20px 2px 40px 2px;
		height: 40px;
		box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
		>* {
			width: 100%;
			color: dimgray;
			height: 100%;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				&:not(.active) {
					background-color: #dcdcdc;
				}
			}
		}
		>.active {
			color: white;
			background-color: #4CAF50;
		}
	}
	#lp-invoice__content {
		padding: 20px 40px 0;

		thead {
			th {
				border-bottom: 1px solid #000;
				border-top: 1px solid #000;
				padding: 10px 20px;
			}
		}
		tbody {
			td {
				border-bottom: 1px solid #000;
				text-align: center;
				padding: 10px 20px;
			}
		}
		tfoot {
			td {
				border-bottom: 1px solid #000;
				text-align: center;
				padding: 10px 20px;
			}
		}
		margin-bottom: 25px;
	}
	.export-options__content {
		margin-bottom: 25px;
		padding: 10px 40px;
	}
	.export-options {
		position: relative;
	}
	.export-options__loading {
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		.spinner {
			background: url("../../images/spinner.gif") no-repeat center center;
			z-index: 9;
			display: inline-block;
			visibility: visible;
		}
	}
	.export-options__loading.active {
		opacity: 1;
		z-index: 9;
		visibility: visible;
	}
	#lp-invoice__export {
		color: white;
		background-color: #4CAF50;
		border: 1px solid #4CAF50;
		padding: 10px 20px;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		&:hover {
			color: #000;
			background-color: #fff;
			border: 1px solid #000;
			transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
			cursor: pointer;
		}
	}
	#lp-invoice__update {
		color: white;
		background-color: #4CAF50;
		border: 1px solid #4CAF50;
		padding: 10px 20px;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		&:hover {
			color: #000;
			background-color: #fff;
			border: 1px solid #000;
			transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
			cursor: pointer;
		}
	}
	#lp-invoice__actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.export-options__actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.lp-invoice__body {
		table {
			border-spacing: 0;
			width: 100%;
		}
	}
	.lp-order-status {
		.dashicons {
			display: inline-flex !important;
			align-items: center;
			font-size: 1rem;
		}
	}
}
