/**
 * Quiz admin editor.
 */
#quiz-editor {

	.inside {

		.rwmb-custom_html-wrapper {

			> .rwmb-label {
				display: none;
			}

			> .rwmb-input {
				margin-left: 0;
			}
		}
	}
}

#quiz-editor {

	.inside {
		margin: 0;
		padding: 0;
	}
}

#admin-editor-lp_quiz {
	margin: 0;
	padding: 0;
	border: none;

	form {
		margin: 0;
	}

	.lp-box-data-head {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 6px 20px;
		align-items: center;

		h3 {
			padding: 0;
		}

		.status {
			visibility: hidden;
			position: relative;
			top: 5px;
			margin-left: 10px;
			font-family: Dashicons;
			font-size: 20px;

			&::before {
				content: "\f463";
			}

			&.loading {
				display: inline-block;
				visibility: visible;
				animation: rotation 2s infinite linear;
			}
		}

		.collapse-list-questions {
			display: flex;
			width: 40px;
			height: 30px;
			color: #999;
			font-family: Dashicons;
			font-size: 30px;
			cursor: pointer;
			justify-content: center;
			align-items: center;
		}
	}

	.lp-box-data-content {
		margin: 20px;
		margin-top: 0;
		border: 1px solid #ddd;

		.lp-list-questions {
			border-collapse: collapse;
			color: #777;

			.table-row {
				display: flex;
				flex-direction: row;
				text-align: center;
				align-items: center;

				&.question-settings {

					@media (max-width: 1024px ) {
						flex-direction: column;
					}
				}

				& > * {
					width: 100%;
					padding: 12px 8px;
				}

				& > .sort {
					position: relative;
					color: #999;
					cursor: url("../../images/openhand.cur") 7 5, default;
					flex: 0 0 15px;

					.svg-icon {
						height: 18px;
						margin-top: -2px;
						vertical-align: middle;
						fill: #999;
					}

					&:hover {
						fill: #0085ba;
					}
				}

				& > .order {
					padding: 12px 0;
					color: #32373c;
					font-size: 1.2em;
					text-align: left;
					flex: 0 0 25px;

					&::after {
						content: ".";
					}
				}

				> .type {
					display: inline-flex;
					position: relative;
					width: 125px;
					height: 32px;
					padding: 0;
					border-radius: 2px;
					background-color: #eee;
					box-shadow: 0 0 2px rgba($color: #000, $alpha: 0.22);
					line-height: 32px;
					cursor: pointer;
					flex: 0 0 auto;
					align-items: center;

					>a {
						display: inline-flex;
						width: 100%;
						padding: 0 10px;
						color: #666;
						text-align: center;
						cursor: pointer;
						align-items: center;
						justify-content: center;

						&::after {
							margin-left: 5px;
							font-family: Dashicons;
							font-size: 14px;
							line-height: 30px;
							content: "\f347";
						}
					}

					ul {
						visibility: hidden;
						position: absolute;
						z-index: 9999;
						top: 100%;
						right: 0;
						height: auto;
						margin: 0;
						margin-top: -1px;
						border: 1px solid #999;
						border-radius: 2px;
						opacity: 1;
						background: #fdfeff;
						pointer-events: none;

						li {
							margin: 0;

							a {
								display: block;
								min-width: 110px;
								padding: 10px 20px;
								color: #757575;
								line-height: 20px;
								text-align: right;
								white-space: nowrap;
								text-decoration: none;

								&:hover {
									background-color: #eee;
								}
							}

							&.disabled {
								opacity: 0.4;
								background-color: #fff;
								user-select: none;
								pointer-events: none;
							}
						}
					}

					&:hover {

						ul {
							visibility: visible;
							opacity: 1;
							pointer-events: visible;
						}
					}
				}

				& > .actions {
					width: 300px;
				}

				& > .name {
					padding-left: 5px;
				}

				&:hover {

					& > .sort {
						visibility: visible;
					}
				}

				.actions {

					.lp-box-data-actions {
						text-align: right !important;
					}
				}
			}

			.header {
				display: none;
				border-bottom: 1px solid #ddd;

				.table-row {

					& > * {
						font-weight: bold;
					}

					& > .order {

						&::after {
							content: "";
						}
					}

					& > .actions {
						padding: 12px 0;
					}
				}
			}

			.main {

				.question-actions {

					.name {

						input {
							width: 100%;
							padding: 0;
							border: none;
							color: #777;
							background: transparent;
							box-shadow: none;
							font-size: 14px;
							font-weight: normal;
						}
					}
				}

				.question-settings {
					padding: 0 20px;
					border: 1px solid #ddd;
					border-right: none;
					border-left: none;

					& > * {
						padding: 20px 20px 20px 0;
					}

					.quiz-question-data {

						table.lp-list-options {
							border: 1px solid #ddd;

							.sort {
								width: 12px;
								padding: 8px 6px;
							}

							.answer-text {
								width: calc(100% - 100px);
								padding-left: 0;
								color: #444;
								font-weight: 600;
							}

							.order {
								width: 10px;
								padding: 0;
								text-align: right;
							}

							.answer-correct {
								width: 65px;
								color: #444;
								font-weight: 600;
								text-align: center;
							}

							.actions {
								padding: 0;
								text-align: right;

								.lp-toolbar-btn {
									height: 42px;
								}
							}

							tbody {

								tr {
									border: 1px solid #ddd;
									background: #f4fcff;

									&:nth-child(2n) {
										background: #fff;
									}

									td {
										position: static;
										padding: 0 10px;
										border: none;
										background: inherit;

										&.sort {
											width: 12px;
											cursor: url("../../images/openhand.cur") 7 5, default;

										}

										&.answer-text {
											padding-left: 0;
										}

										&.answer-correct {
											text-align: center;
										}
									}

									.svg-icon {
										height: 18px;
										vertical-align: middle;
										fill: #999;
									}

									&:hover {

										.svg-icon {
											visibility: visible;
										}

										.sort {

											&:hover {

												.svg-icon {
													fill: #0085ba;
												}
											}
										}
									}

									&.ui-sortable-placeholder {
										visibility: visible !important;

										td {
											height: 43px;
											background: #bdf4fe !important;
										}
									}

									&.ui-sortable-helper {
										border-right: none;
										border-left: none;

										td {
											border-bottom: 1px solid #ddd;

											&.sort {
												border-left: 0;
											}
										}
									}

									&.empty-option {

										.sort {

											i {
												display: none;
											}

											&::before {
												display: inline-block;
												position: absolute;
												top: 12px;
												left: 4px;
												font-family: Dashicons;
												font-size: 18px;
												content: "\f463";

												@include rotating4();
											}
										}

										td {
											position: relative;

											&::after {
												position: absolute;
												top: 0;
												right: 1px;
												bottom: 0;
												left: 0;
												opacity: 0.5;
												background: #fff;
												content: "";
											}
										}
									}
								}

								.answer-text {

									input {
										width: 100%;
										padding: 0;
										border: none;
										color: #777;
										background: transparent;
										box-shadow: none;
										font-size: 14px;
										font-weight: normal;
									}
								}
							}
						}
					}
				}
			}

			.main {

				.question-item {
					border-bottom: 1px solid #ddd;
					background: #f4fcff;
					line-height: 18px;

					/*&:nth-child(2n+1) {
                        background: #f4fcff;
                    }*/
					&.ui-sortable-helper {
						border-top: 1px solid #f1f1f1;
					}

					&.ui-sortable-placeholder {
						display: block;
						visibility: visible !important;
						border-color: #bdf4fe !important;
						background: #bdf4fe !important;
					}

					&.empty-question,
					&.updating {
						position: relative;

						.question-actions {

							.sort {
								visibility: visible;

								.fa {
									display: none;
								}

								&::after {
									display: inline-block;
									position: absolute;
									left: 5px;
									font-family: Dashicons;
									font-size: 20px;
									content: "\f463";

									@include rotating4();
								}
							}
						}

						&::after {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							opacity: 0.5;
							background: #fff;
							content: "";
						}
					}

					&.empty-question {

						.question-settings {
							display: none;
						}
					}

					.cell {
						padding: 10px;
					}

					.question-actions {

						.name {

							input {
								width: 100%;
								padding: 0;
								border: none;
								color: #32373c;
								background: transparent;
								box-shadow: none;
								font-size: 1.2em;
								font-weight: normal;
								line-height: 18px;
							}
						}

						.actions {
							margin: 0;
							padding: 0;

							.lp-toolbar-buttons {
								display: grid;
								position: static;
								z-index: 10;
								height: 100%;
								text-align: right;
								grid-template-columns: 30px 30px 30px 40px;
								align-items: center;
								justify-content: end;

								> div {

									a {
										visibility: hidden;
									}
								}

								.lp-toolbar-btn {

									.lp-btn-icon {
										position: absolute;
										z-index: 2;
										top: 50%;
										left: 50%;
										width: 28px;
										height: 30px;
										margin-top: -15px;
										margin-left: -15px;
										line-height: 30px;
										text-align: center;
									}

									ul {
										z-index: 9;

										a {
											padding: 8px 24px;
											line-height: 24px;

											&.remove {
												border-bottom: 1px solid #eee;
												color: #666;
											}
										}
									}
								}

								.lp-btn-toggle {
									width: 40px;
									height: 42px;
									padding-right: 0;
									font-family: Dashicons;
									font-size: 20px;
									line-height: 42px;

									&.open {

										&::after {
											content: "\f343";
										}
									}

									&.close {

										&::after {
											content: "\f347";
										}
									}
								}
							}
						}

						&:hover {

							.lp-toolbar-buttons {

								> div {

									a {
										visibility: visible;
									}
								}
							}
						}
					}

					.question-settings {
						background: #fff;

						.quiz-question-options {
							padding-right: 0;
							padding-left: 0;
							text-align: left;

							.inside {
								margin: 0;
								padding: 0;

								.lp-quiz-editor {

									&__detail {

										&-field {
											margin: 0;
											padding: 20px;

											&:nth-child(2n+1) {
												background: #f4fcff;
											}
										}

										&-label {
											margin: 0;
											margin-bottom: 10px;
											color: #666;
											font-weight: 600;
										}
									}
								}
							}

							.postbox {
								border: 1px solid #ddd;

								.hndle {
									font-weight: 600;
									cursor: default;
								}

								.toggle {
									float: right;
									position: absolute;
									top: 0;
									right: 0;
									width: 36px;
									height: 36px;
									line-height: 36px;
									text-align: center;
									cursor: pointer;

									&::after {
										font-family: Dashicons;
										font-size: 18px;
										content: "\f460";
									}
								}
							}
						}

						&.closed {

							.quiz-question-options {
								width: 38px;
							}

							.postbox {
								min-width: 34px;
								height: 34px;
								line-height: 42px;
								text-align: center;

								.hndle {
									display: none;
								}

								.toggle {

									&::after {
										content: "\f132";
									}
								}
							}
						}
					}

					&.sorting_choice {

						.quiz-question-data table.lp-list-options {

							.answer-correct {
								display: none !important;
							}
						}
					}
				}
			}

			.footer {
				margin-top: -1px;
				border-top: 1px solid #ddd;
				background: #f4fcff;

				.table-row {
					height: auto;
					text-align: left;

					.lp-sortable-handle {
						display: flex;
						width: 30px;
						padding: 8px 6px 8px 10px;
						color: #999;
						font-family: Dashicons;
						font-size: 20px;
						vertical-align: middle;
						align-items: center;
						justify-content: center;

						&::before {
							content: "\f132";
						}
					}

					.order {
						padding: 8px 0;
						line-height: 28px;
						text-align: left;
					}

					.add-new-question {
						padding: 8px 10px 8px 5px;

						.title {
							display: inline-block;
							position: relative;
							min-width: 500px;

							form {

								input {
									width: 100%;
									margin: 0;
									padding: 6px 0;
									border: 0;
									background: transparent;
									font-size: 1.2em;
									line-height: 18px;

									@include box-shadow(none);

									&:focus {
										color: #32373c;
									}

									&::placeholder {
										display: inline-block;
									}
								}
							}
						}

						.add-new {
							display: inline;
							position: relative;

							ul.question-types {
								display: none;
								position: absolute;
								z-index: 9999999;
								top: 100%;
								right: -2px;
								width: 200px;
								margin: 6px;
								border: 1px solid #999;
								background-color: #fff;

								li {
									margin: 0;

									a {
										display: block;
										padding: 12px 20px;
										outline: none;
										color: #757575;
										box-shadow: none;
										line-height: 1;
										text-decoration: none;

										&:hover {
											background: #eee;
										}
									}

									&.disabled {
										opacity: 0.5;
										background-color: #eee;
										user-select: none;
										pointer-events: none;
									}
								}
							}

							button {

								&:hover {

									& + .question-types {
										display: block;
									}
								}

								& + .question-types {

									&:hover {
										display: block;
									}
								}

								&[disabled="disabled"] {

									&:hover {

										& + .question-types {
											display: none;
										}
									}
								}
							}
						}

						.select-item {
							display: inline;
						}

						button {
							height: 30px;
							box-shadow: 0 1px 0 #ccc !important;
						}
					}
				}
			}
		}

		.question-button-actions {
			text-align: left;
		}
	}
}
