.wp-block-learnpress-single-course {
	h3 {
		margin: 10px 0;
	}

	a {
		text-decoration: none;
	}

	.wp-block-learnpress-course-detail-info {
		padding: 10px 0 20px 0;

		.block-editor-block-list__layout {
			margin-top: 20px;
		}
	}

	.wp-block-learnpress-course-meta-primary {
		.block-editor-block-list__layout {
			display: grid;
			grid: auto-flow / 1fr 1fr;
		}
	}

	.wp-block-learnpress-course-meta-secondary {
		.block-editor-block-list__layout {
			display: flex;
			gap: 50px;
		}
	}

	.lp-entry-content:has(.course-summary-sidebar) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 40px;
	}

	.course-summary-sidebar {
		margin-block-start: 0;
	}

	.course-content-left {
		margin-top: 20px;
	}

	.learn-press-nav-tabs {
		display: flex;
		list-style: none;
		padding: 0;
		max-width: 100%;
		white-space: nowrap;
		scroll-behavior: smooth;
		user-select: none;
		overflow-x: auto;
		flex-wrap: nowrap;
		column-gap: 40px;
		row-gap: 12px;
		margin: 0 0 -1px 0;
		position: relative;

		&::before {
			background: #ccc;
			position: absolute;
			bottom: 0;
			top: auto;
			left: 0;
			width: 100%;
			height: 2px;
			content: "";
		}

		.course-nav {
			position: relative;
			display: block;
			margin: 0;
			padding: 0 0 16px 0;
			font-size: 1.125em;
			line-height: 1;
			font-weight: 600;
			text-align: center;
			text-transform: capitalize;
			cursor: pointer;
			color: #ccc;
			text-decoration: none;

			&.active {
				color: #333;

				::before {
					background: #333;
					position: absolute;
					bottom: 0;
					top: auto;
					left: 0;
					width: 100%;
					height: 2px;
					content: "";
				}
			}
		}
	}

	.course-nav-tabs__content {
		.line {
			width: 80%;
			background: #e5e5e5;
			height: 15px;
			margin-top: 15px;
			border-radius: 0 4px 4px 0;
		}
	}

	.wp-block-learnpress-course-instructor {
		display: flex;
		align-items: center;
		gap: 7px;

		.avatar {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background-color: #ccc;
		}
	}

	.wp-block-learnpress-course-requirements,
	.wp-block-learnpress-course-features,
	.wp-block-learnpress-course-faqs,
	.wp-block-learnpress-course-target-audiences,
	.wp-block-learnpress-course-curriculum,
	.wp-block-learnpress-course-instructor-section,
	.wp-block-learnpress-course-description,
	.wp-block-learnpress-course-comment,
	.wp-block-learnpress-course-related {
		h3 {
			margin-top: 20px;
			font-size: calc(var(--lp-font-size-base, 1em) * 1.7);
		}

		.line {
			width: 100%;
			background: #e5e5e5;
			height: 8px;
			margin-top: 10px;
			border-radius: 0 4px 4px 0;
		}
	}

	.requirements-single-course__classic,
	.features-single-course__classic,
	.target-audiences-single-course__classic {
		padding: 10px;
		margin-top: 20px;
		background: rgba(181, 187, 211, 0.15);
		font-size: 1em;
		font-weight: 700;
		border: 1px solid #e2e0db;
		border-radius: 5px;
	}

	.wp-block-learnpress-course-instructor-info {
		.wrapper {
			display: grid;
			grid-template-columns: 1fr 9fr;
			gap: 30px;
		}

		.avatar {
			width: 80px;
			height: 80px;
			border-radius: 100%;
			background-color: #e5e5e5;
		}

		.info {
			width: 100%;
			margin-left: 10px;
		}

		.line {
			height: 15px;
		}
	}

	.wp-block-learnpress-course-comment {
		.box-comment {
			width: 100%;
			height: 120px;
			border: 1px solid #e5e5e5;
			border-radius: 4px;
		}
	}

	.wp-block-learnpress-course-related {
		.list-course {
			display: flex;
			gap: 30px;
			margin-top: 30px;
			flex-wrap: wrap;
		}

		.course-item {
			height: 333px;
			width: calc(25% - 30px / 4 * 3);
			background: #ccc;
			border-radius: 12px;
		}
	}

	.wp-block-learnpress-course-progress {
		.line {
			width: 100%;
			background: #ccc;
			height: 5px;
			border-radius: 5px;
		}
	}

	.wp-block-learnpress-course-button {
		padding: 12px 24px;
		margin: 10px 0;
		text-align: center;
		background: #28303d;
		border-radius: 5px;
		color: white;
	}

	.wp-block-learnpress-course-feature-review {
		.featured-review__stars {
			.lp-icon-star {
				font-family: "lp-icon";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;

				&:before {
					content: "\f005";
					color: #ffb606;
				}
			}
		}

		.line {
			width: 100%;
			background: #e5e5e5;
			height: 8px;
			margin-top: 10px;
			border-radius: 0 4px 4px 0;
		}
	}

	.course-meta__pull-left {
		margin-top: 0;
		margin-left: 0 !important;
		margin-right: 0 !important;
		display: flex;
		gap: 16px;

		> div {
			margin-top: 0;
			margin-left: 0 !important;
			margin-right: 0 !important;
			flex: 1;
		}
	}

	.lp-single-course-main:has(.lp-single-course-main__right) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 40px;
	}

	.lp-single-course-main__right {
		margin-top: 0;
	}
}

.wp-block-learnpress-course-image {
	background: #ccc;
	width: 100%;
	aspect-ratio: 16 / 9;
}

.wp-block-learnpress-breadcrumb a {
	text-decoration: none;
}

.wp-block-learnpress-archive-course,
.wp-block-learnpress-single-course {
	.learnpress-archive-course-classic__popup,
	.learnpress-single-course-classic__popup {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border: 1px solid #1e1e1e;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: 900px;
		opacity: 0;
		padding: 24px 36px;
		width: 400px;
		z-index: 10;

		.title {
			font-size: 26px;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 16px;
		}

		p {
			font-size: 13px;
		}
	}

	&.is-selected,
	&.is-highlighted {
		.archive-course-placeholder,
		.single-course-placeholder {
			filter: blur(2px);
			opacity: 0.6;
			pointer-events: none;
		}

		.learnpress-archive-course-classic__popup,
		.learnpress-single-course-classic__popup {
			opacity: 1;
		}
	}

	.button-primary {
		display: inline-flex;
		cursor: pointer;
		border-radius: 2px;
		border: 1px solid;
		box-sizing: border-box;
		align-items: center;
		font-size: 13px;
		font-weight: 400;
		height: 36px;
		margin: 0;
		margin-top: 16px;
		padding: 6px 12px;
		background: var(--wp-admin-theme-color, #3858e9);
		color: #fff;
	}

	p.lp-icon {
		color: #7f54b3;
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
