.wp-block-learnpress-lp-single-course {
	h3 {
		margin: 10px 0;
	}

	.wp-block-learnpress-course-summary {
	}

	.wp-block-learnpress-course-detail-info {
		padding: 10px 0 20px 0;

		.block-editor-block-list__layout {
			margin-top: 20px;
		}
	}

	.wp-block-learnpress-course-meta-primary {
		.block-editor-block-list__layout {
			display: grid;
			grid: auto-flow / 1fr 1fr;
		}
	}

	.wp-block-learnpress-course-meta-secondary {
		.block-editor-block-list__layout {
			display: flex;
			gap: 50px;
		}
	}

	.wp-block-learnpress-lp-content-area {
		.block-editor-block-list__layout:has(.course-content-left) {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 40px;
		}
	}

	.course-content-left {
		margin-top: 20px;
	}

	.learn-press-nav-tabs {
		display: flex;
		list-style: none;
		padding: 0;
		max-width: 100%;
		white-space: nowrap;
		scroll-behavior: smooth;
		user-select: none;
		overflow-x: auto;
		flex-wrap: nowrap;
		column-gap: 40px;
		row-gap: 12px;
		margin: 0 0 -1px 0;
		position: relative;

		&::before {
			background: #ccc;
			position: absolute;
			bottom: 0;
			top: auto;
			left: 0;
			width: 100%;
			height: 2px;
			content: "";
		}

		.course-nav {
			position: relative;
			display: block;
			margin: 0;
			padding: 0 0 16px 0;
			font-size: 1.125em;
			line-height: 1;
			font-weight: 600;
			text-align: center;
			text-transform: capitalize;
			cursor: pointer;
			color: #ccc;
			text-decoration: none;

			&.active {
				color: #333;

				::before {
					background: #333;
					position: absolute;
					bottom: 0;
					top: auto;
					left: 0;
					width: 100%;
					height: 2px;
					content: "";
				}
			}
		}
	}

	.course-nav-tabs__content {
		.line {
			width: 80%;
			background: #e5e5e5;
			height: 15px;
			margin-top: 15px;
			border-radius: 0 4px 4px 0;
		}
	}

	.wp-block-learnpress-content-left {
	}

	.wp-block-learnpress-course-summary-sidebar {
	}

	.wp-block-learnpress-instructor-single-course {
		display: flex;
		align-items: center;
		gap: 10px;

		.avatar {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background-color: #ccc;
		}
	}

	.wp-block-learnpress-image-single-course {
		.img-single-course {
			background: #ccc;
			width: 100%;
			aspect-ratio: 16 / 9;
		}
	}

	.wp-block-learnpress-requirements-single-course,
	.wp-block-learnpress-features-single-course,
	.wp-block-learnpress-target-audiences-single-course {
		padding: 10px;
		margin-top: 20px;
		background: rgba(181, 187, 211, 0.15);
		font-size: 1em;
		font-weight: 700;
		border: 1px solid #e2e0db;
		border-radius: 5px;
	}

	.wp-block-learnpress-price-single-course {
		text-align: center;
	}

	.wp-block-learnpress-btn-purchase-single-course {
		padding: 12px 24px;
		margin: 10px 0;
		text-align: center;
		background: #28303d;
		border-radius: 5px;
		color: white;
	}

	.wp-block-learnpress-feature-review-single-course {
		.featured-review__stars {
			.lp-icon-star {
				font-family: "lp-icon";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;

				&:before {
					content: "\f005";
					color: #ffb606;
				}
			}
		}

		.line {
			width: 100%;
			background: #e5e5e5;
			height: 8px;
			margin-top: 10px;
			border-radius: 0 4px 4px 0;
		}
	}
}
