.course-search-wrapper {
	display: flex;

	input {
		color: inherit;
		font-weight: inherit;
		width: 100%;
		max-width: 240px;
		margin: 0 4px 0 0;
		border: 1px solid var(--lp-border-color, #e2e0db);
		border-radius: var(--lp-border-radius, 5px);
		padding: 8px 16px;
		height: inherit;
		font-size: inherit;
		line-height: 1.1;
		box-shadow: none;
	}

	button {
		color: inherit;
		border: 1px solid var(--lp-border-color, #e2e0db);
		border-radius: var(--lp-border-radius, 5px);
		padding: 8px 16px;
		height: inherit;
		font-size: inherit;
		line-height: 1.1;
		box-shadow: none;
		box-shadow: 0 0 0;

		i {
			font-size: 1.2em;
			line-height: 1.2;
			font-family: "lp-icon";
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;

			&:before {
				content: "\f002";
			}
		}
	}
}

.courses-order-by-wrapper {
	border: 1px solid var(--lp-border-color, #e2e0db);
	border-radius: var(--lp-border-radius, 5px);
	padding: 8px 16px;
	height: inherit;
	font-size: inherit;
	box-shadow: none;
	padding-right: 30px;
	background-image: url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE4cHgiIGhlaWdodD0iMTBweCIgdmlld0JveD0iMCAwIDE4IDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBpZD0iVmVjdG9yLSgxKSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4wMDAwMDAsIDEuMDAwMDAwKSIgc3Ryb2tlPSIjMzMzMzMzIiBzdHJva2Utd2lkdGg9IjIiPgogICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDggOCAxNiAwIj48L3BvbHlsaW5lPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
	background-size: 0.8em;
	background-position: calc(100% - 0.5em) center;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	line-height: 1.9;
}

.courses-switch-layout-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--lp-border-radius, 5px);
	border: 1px solid var(--lp-border-color, #e2e0db);

	.switch-btn {
		margin: 0;
		padding: 8px 12px;
	}

	.switch-btn.grid::before {
		content: "\f009";
		display: inline-block;
		margin: 6px;
		color: var(--lp-color-base, #333);
		font-family: "lp-icon";
		line-height: 1.2;
		width: 1em;
	}

	.switch-btn.list::before {
		content: "\f03a";
		display: inline-block;
		margin: 6px;
		color: var(--lp-primary-color, #5098db);
		font-family: "lp-icon";
		line-height: 1.2;
		width: 1em;
	}
}

.lp-courses-bar {
	width: 100%;
}

.lp-archive-courses {
	width: 100%;
}

.wp-block-learnpress-course-search {
	flex: 1;
}

.wp-block-learnpress-course-item-template {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding-bottom: 32px;
	padding-left: 0;
	list-style: none;
	gap: 20px;

	h3 {
		margin: 0;
	}

	.course-wrap-meta {
		display: flex;
		padding: 0;
		margin-bottom: 12px;
		gap: 20px;
		flex-wrap: wrap;
		row-gap: 8px;

		> div {
			margin-top: 0;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	.info-meta-item {
		display: flex;
		gap: 8px;
	}

	.info-meta-item .info-meta-left span {
		display: none;
	}

	li {
		display: flex;
		width: calc(50% - 10px);
		flex-wrap: wrap;
		padding-bottom: 32px;
		box-sizing: border-box;
		border: 1px solid var(--lp-border-color, #e2e0db);
		border-radius: var(--lp-border-radius, 5px);
	}

	.course-content {
		padding: 20px;
		width: 100%;
	}

	.course-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
	}

	.wp-block-learnpress-course-button {
		width: calc(100% - 50px);
		text-align: center;
	}

	.course-instructor-category {
		display: flex;
		padding: 0;
		gap: 10px;
		flex-wrap: wrap;
		margin-bottom: 12px;
	}

	&.list li {
		border: unset;
		border-bottom: 1px solid var(--lp-border-color, #e2e0db);
		padding: 0;
		width: 100%;

		.course-thumbnail {
			width: 35%;
		}

		.course-content {
			width: 65%;
		}

		.course-info {
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			padding: 0 0 0 24px;
		}

		.wp-block-learnpress-course-button {
			width: unset;
		}
	}
}

.wp-block-learnpress-course-button {
	text-align: center;
	padding: 8px 24px;
	border-radius: var(--lp-border-radius, 5px);
	border: 1px solid var(--lp-color-base, #333);
}

.wp-block-learnpress-course-description {
	display: -webkit-box;
	overflow: hidden;
	margin-bottom: 16px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

// .wp-block-learnpress-course-title {
// 	a {
// 		text-decoration: none;
// 	}
// }

.wp-block-learnpress-list-courses {
	width: 100%;

	.list-course.list {
		.template-course {
			display: flex;
			width: 100%;
			border-bottom: 1px solid var(--lp-border-color, #e2e0db);
			flex-wrap: wrap;
			justify-content: flex-end;
			padding-bottom: 32px;
		}
		.course-item .block-editor-block-list__layout {
			width: 100%;
			border: unset;

			.wp-block-learnpress-course-media {
				background: #ccc;
				aspect-ratio: 16 / 9;
				border-radius: 5px;
				width: 35%;
				margin-right: 20px;
				float: left;
			}

			.wp-block-learnpress-course-info {
				width: calc(65% - 20px);
				float: inline-end;

				.course-info {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}

		.wp-block-learnpress-course-meta,
		.wp-block-learnpress-course-title,
		.course-info,
		.course-wrap-meta,
		.course-instructor-category,
		.wp-block-learnpress-course-description {
			width: calc(65% - 20px) !important;
			float: inline-end;
			margin-top: 0;
		}

		.course-instructor-category,
		.course-wrap-meta {
			display: flex;
			padding: 0;
			margin-bottom: 12px;
			gap: 20px;
			flex-wrap: wrap;
			row-gap: 8px;

			> div {
				margin-top: 0;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}

	.list-course.load-more .gutenberg-pagination .pagination-load-more {
		display: block;
	}

	.list-course.number .gutenberg-pagination .pagination-number {
		display: block;
	}

	img {
		width: 100%;
	}
}

.lp-archive-courses {
	.lp-content-area.has-sidebar {
		display: flex;
		align-items: flex-start;
	}

	.lp-content-area > :first-child {
		flex: 1;
	}
}

.wp-block-learnpress-course-pagination {
	width: 100%;

	.learn-press-pagination {
		margin: 20px 0;
		text-align: center;

		.page-numbers {
			display: inline-block;
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			background: transparent;
			list-style: none;

			li {
				display: inline-block;
				float: none;
				padding: 0 12px;
				color: #666;
				text-decoration: none;

				&:first-child {
					color: var(--lp-primary-color, #5098db);
				}
			}

			i {
				&::before {
					content: "\f061";
					font-family: "lp-icon";
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
				}
			}
		}
	}
}

.gutenberg-pagination {
	[class^="lp-icon-"],
	[class*=" lp-icon-"] {
		font-family: "lp-icon" !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}

	// .pagination-number,
	// .pagination-load-more {
	// 	display: none;
	// }

	.lp-icon-arrow-left:before {
		content: "\f060";
	}

	.lp-icon-arrow-right:before {
		content: "\f061";
	}

	.learn-press-pagination {
		margin: 20px 0;
		text-align: center;
		width: 100%;

		.page-numbers {
			display: inline-block;
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			background: transparent;
			list-style: none;

			> li {
				display: inline-block;
				margin: 0;

				.page-numbers {
					float: unset;
					padding: 0 12px;
					color: #666;
					text-decoration: none;

					&.current {
						color: var(--lp-primary-color);
						font-weight: 400;
					}

					&:hover {
						color: var(--lp-primary-color);
					}
				}
			}
		}
	}

	.pagination-load-more .learn-press-pagination {
		display: flex;
	}
}

.wp-block-learnpress-course-filter {
	h3 {
		margin-bottom: 20px;
		margin-top: 0;
	}

	.filter {
		.line {
			height: 15px;
			background: #ccc;
			margin-bottom: 10px;
		}
	}
}

.wp-block-learnpress-course-search-filter,
.wp-block-learnpress-course-level-filter,
.wp-block-learnpress-course-author-filter,
.wp-block-learnpress-course-price-filter,
.wp-block-learnpress-course-categories-filter,
.wp-block-learnpress-course-tag-filter {
	margin-bottom: 12px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;

	.lp-course-filter__field {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}

	label {
		flex: 1;
	}

	span {
		color: #999;
	}
}

.wp-block-learnpress-course-search-filter .search-box {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 12px;
}

.wp-block-learnpress-course-instructor .instructor {
	display: flex;
	gap: 8px;
}

.wp-block-learnpress-button-submit-filter,
.wp-block-learnpress-button-reset-filter {
	box-sizing: border-box;
	text-transform: capitalize;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: white;
	float: left;
	text-align: center;
	width: calc(50% - 8px);
}

.wp-block-learnpress-button-submit-filter {
	margin-right: 4px;
}

.wp-block-learnpress-button-reset-filter {
	margin-left: 4px;
}
