
.lp-install-sample {
	max-width: 600px;
	margin: 0;
	padding: 10px 25px;
	border: 1px solid #ccd0d4;
	border-radius: 4px;
	background-color: #fff;

	&__options {
		margin-bottom: 20px;
		padding: 0 20px;
		border: 1px solid #eee;
		border-radius: 4px;

		legend {
			padding: 5px;
			font-weight: 500;
		}
	}

	&__buttons {
		display: flex;
		margin-top: 25px;
		align-items: center;
		justify-content: space-between;
	}

	&__toggle-options {
		margin-right: auto;
		margin-left: 10px;
	}

	&__uninstall {
		float: right;
	}

	&__response {
		margin: 0;
		padding: 10px;
		border: 2px solid #059601;
		border-radius: 6px;

		&.fail {
			border-color: #d85554;
		}
	}
}

.lp-update-db-modal {
	display: flex;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	align-items: center;
	justify-content: center;

	&__hidden {
		display: none !important;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	&__overlay {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(209, 213, 219, 0.8);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		transition-property: opacity;
	}

	&__content {
		display: inline-block;
		overflow: hidden;
		z-index: 2;
		width: 100%;
		max-width: 510px;
		border-radius: 8px;
		text-align: left;
		vertical-align: middle;

		&-header {
			padding: 24px 24px 16px 24px;
			background-color: #fff;
		}

		&-start {
			display: flex;
			flex-direction: flex-start;
		}

		&-icon {
			display: flex;
			width: 40px;
			height: 40px;
			margin-right: 0;
			margin-left: 0;
			border-radius: 999px;
			background-color: rgba(254, 226, 226, 1);
			justify-content: center;
			align-items: center;
			flex: 0 0 auto;

			svg {
				width: 24px;
				height: 24px;
				color: rgba(220, 38, 38, 1);

				&:last-child {
					color: rgb(37, 141, 108);
				}
			}

			&__success {
				display: none;
			}
		}

		&-text {
			margin-left: 18px;
			text-align: left;

			h3 {
				margin: 0;
				font-weight: 500;
			}

			p {
				margin: 0;
				margin-top: 10px;
				color: #999;
				font-size: 0.875rem;
				font-weight: 400;
			}
		}

		&-footer {
			display: flex;
			flex-direction: row;
			padding: 10px 24px;
			background-color: rgba(249, 250, 251, 1);
			justify-content: flex-end;
			align-items: center;

			a {
				padding: 8px 16px;
				border: 1px solid #e5e7eb;
				border-radius: 6px;
				color: rgba(55, 65, 81, 1);
				font-size: 0.8125rem;
				font-weight: 500;
				text-decoration: none;

				&:last-child {
					margin-left: 10px;
					color: #fff;
					background-color: #0073aa;
				}
			}
		}
	}

	&__success {

		.lp-update-db-modal__content-icon {
			background-color: rgba(222, 247, 236, 1);
		}

		.lp-update-db-modal__content-icon__error {
			display: none;
		}

		.lp-update-db-modal__content-icon__success {
			display: block;
		}
	}
}

#lp-tool-upgrade-db {
	.wrapper-lp-upgrade-message, .wrapper-terms-upgrade, .wrapper-lp-loading {
		display: none;
	}
}

.terms-upgrade {
	max-width: 500px;
	margin: 0 auto;

	.error {
		display: none;
	}
}
//
//.lp-upgrade-message {
//
//	.learn-press-message {
//		//
//		//&::before,
//		//&::after {
//		//	content: none;
//		//}
//	}
//}

.lp-modal-footer {
	.learn-press-notice {
		color: #ff6060;
		font-weight: 500;
		font-style: italic;
	}
}

.lp-modal-body {
	.lp-skeleton-animation {
		width: 500px;
		margin: 0 20px;
	}
}
.tools-select__data{
	overflow: hidden;
	li{
		background-color: #fff;
		border: 1px solid #eee;
		color: #000;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 0 0 auto;
		font-size: 0.875rem;
		line-height: 1.4em;
		font-weight: normal;
		padding: 10px;
		width: 100%;
		input{
			margin: 0 10px 0 0;
		}
	}
}
.progressbar__content{
	width: 100%;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.4em;
	background: #eee;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	span{
		z-index: 9;
	}
}
.progressbar__container{
	position: relative;
}
.progressbar__value{
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	background: #8A2BE2;
}
.progressbar__item h4{
	z-index: 9;
	margin: 0;
}
.progressbar__item{
	width: 500px;
	border-bottom: 1px solid #fff;
}
.progressbar__indexs{
	z-index: 9;
}
.lp-tool__message{
	text-align: center;
	color: red;
	padding: 10px 0;
	display: none;
}
.tools-prepare__message{
	background: #dba617;
	padding: 10px 0;
	text-align: center;
	display: none;
}

/*** Admin notices ***/
.lp-admin-notices {
	background: transparent;
	display: none;
	padding: 0;
	border: none;
	margin: 0 !important;

	.lp-admin-notice {
		position: relative;
	}

	.lp-mes-beta-version {
		background: #4299e1;
		color: whitesmoke;

		h3, a, a:visited {
			color: white;
		}

		.btn-lp-notice-dismiss::before {
			color: #fff0f6;
		}
	}
}

.tab-lp-admin-notice {
	margin-left: 5px;
	width: 4px;
	height: 4px;
	background: #ff1919;
	display: inline-flex;
	border-radius: 999px;
	vertical-align: middle
}
