.lp_widget_autocomplete {

	&__loading {
		margin-top: 0 !important;
		padding: 7px 10px;
		border: 1px solid #949494;
		border-top: none !important;
		background: #eee;
		font-size: 13px !important;
	}

	&__select {
		overflow: auto;
		left: 0;
		width: 100%;
		max-height: 148px;
		margin-top: -1px;
		background: #eee;
		font-size: 13px;
	}

	&__item {
		overflow: hidden;
		padding: 7px 10px;
		border: 1px solid #949494;
		border-top: none;
		border-bottom-color: #afafaf;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;

		&__selected,
		&:hover {
			color: #fff;
			background-color: #007cba;
		}
	}
}

@keyframes spin {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
