.lp_widget_autocomplete {

	&__loading {
		margin-top: 0 !important;
		padding: 7px 10px;
		border: 1px solid #949494;
		border-top: none !important;
		background: #eee;
		font-size: 13px !important;
	}

	&__select {
		overflow: auto;
		left: 0;
		width: 100%;
		max-height: 148px;
		margin-top: -1px;
		background: #eee;
		font-size: 0.8125rem;
	}

	&__item {
		overflow: hidden;
		padding: 7px 10px;
		border: 1px solid #949494;
		border-top: none;
		border-bottom-color: #afafaf;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;

		&__selected,
		&:hover {
			color: #fff;
			background-color: #007cba;
		}
	}
}

.widget {

	.select2-selection__rendered {
		font-size: 0.8125rem;
	}
}

.sortable-wrapper{
	margin: 1em 0;

	.sortable{
		margin: 0.5em 0;

		.dashicons-move{
			cursor: move;
		}
	}
}

@keyframes spin {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

// Course filter style admin
.sortable-wrapper{
	>label{	
		font-weight: 600;
		font-size: 14px;	
	}
}
.sortable__item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
	&:last-child{
		margin-bottom: 0;
	}
}
.widget-content p {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}