@import "../mixin";
@import "../variables";
@import "../message";
@import "../general";
// Icon
@include font_face('lp-icon','../../src/css/vendor/fonts/lp-icon/lp-icon.woff2');
@import "../lp-icon-font";

@import "general";
@import "advertisment";
@import "submenu";
@import "meta-box";
//@import "admin-tabs";
@import "widget";
@import "addons";
@import "themes";
@import "custom-post-types";
@import "../modal";
@import "modal-search";
@import "dashboard";
@import "place-holder";
@import "order";
@import "settings";
@import "tool";
@import "admin-editor";
@import "admin-tools";
@import "../quick-tip";
@import "../step";
@import "../ajaxload";
@import "responsive";
@import "../frontend/skeleton-animation";
@import "statistics";
@import "material_file";
// @import "../learnpress-block.scss";
@import "learnpress-block.scss";
@import "openai";
@import "../popupSweetAlert";


.button {
    &.disabled {
        pointer-events: none;
    }
}

.learnpress {
    .postbox {
        .rwmb-meta-box {
            margin-top: 10px;
        }
    }
    #field-_lp_requirements,
    #field-_lp_target_audiences,
    #field-_lp_key_features,
    #field-_lp_faqs {
        .rwmb-text-list-clone,
        .rwmb-text-list-advanced-clone {
            clear: none;
            position: relative;
            border: 1px solid #ddd;
            border-radius: 4px;
            .rwmb-text-list-label {
                display: none;
            }
            .rwmb-text-list,
            .rwmb-text-list-advanced {
                width: calc(100% - 65px);
                padding: 7px 10px;
                border: none;
                color: #777;
                background: transparent;
                box-shadow: none;
                line-height: 1;
            }
            .remove-clone {
                top: 50%;
                right: 41px;
                margin-top: -10px;
                border-radius: unset;
                color: #999;
                background: transparent;
                @include transition(right 0.25s);
                i {
                    font-size: 1.25rem;
                }
                &:hover {
                    color: $remove-icon-color;
                }
            }
            &::after {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 10px;
                margin: 8px 0 0 0;
                margin-top: -9px;
                color: #999;
                font-family: Dashicons;
                font-size: 1.25rem;
                content: "\f333";
            }
        }
        .rwmb-text-list-clone {
            &:focus-within {
                border-color: #0085ba;
            }
        }
        .rwmb-text-list-advanced-clone {
            .rwmb-text-list {
                &:focus {
                    border-color: #0085ba;
                }
            }
        }
    }
    #field-_lp_faqs {
        .rwmb-text-list-advanced-clone {
            position: relative;
            padding: 0 0 16px 0;
            .rwmb-text-list-label {
                display: block;
                padding: 10px 10px 0 12px;
            }
            .rwmb-text-list {
                width: calc(100% - 25px);
                margin: 0 13px 0 13px;
                border: 1px solid #ddd;
                vertical-align: top;
            }
            .remove-clone {
                top: 20px;
                right: 36px;
                margin-top: -10px;
                color: #999;
                @include transition(right 0.25s);
            }
            &::after {
                top: 20px;
            }
        }
    }
}

.lp-notice,
.learn-press-notice {
    position: relative;
    padding: 12px;
    margin: 0;
    h4 {
        margin: 10px 0 15px;
    }
    p {
        margin: 0 0 5px 0;
        padding: 0 2px;
    }
    /*&.lp-upgrade-notice {
		position: relative;
		border-left-color: #02b7fb;
		background: #bceffe;

		.close-notice {
			position: absolute;
			top: 5px;
			right: 10px;
		}
	}*/
    .lp-message-dismiss {
        position: absolute;
        top: 12px;
        right: 12px;
    }
    .notice-dismiss {
        position: absolute;
        top: 0;
        right: 1px;
        margin: 0;
        padding: 9px;
        border: none;
        outline: none;
        color: #72777c;
        background: 0 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        cursor: pointer;
        &::before {
            display: block;
            width: 20px;
            height: 20px;
            color: #72777c;
            background: 0 0;
            font: normal 16px/20px dashicons;
            text-align: center;
            content: "\f153";
            speak: none;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.learn-press-dropdown-pages {
    display: inline-block;
    .list-pages-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.lp-notice-update-database {
    border: 1px solid rebeccapurple;
    border-left-color: #f00;
    border-radius: 3px;
    color: white;
    background: rebeccapurple;
    &.do-updating {
        &::before {
            display: inline-block;
            float: left;
            margin: 9px 5px 0 -5px;
            color: #2773aa;
            font-family: dashicons;
            font-size: 1.25rem;
            content: "\f463";
            @include rotating4();
        }
    }
}

#adminmenu {
    .update-plugins {
        &.lp-plugins-count {
            padding: 0 5px;
        }
    }
}

.search-box {
    input[name="post-search-author"],
    .select2-container {
        min-width: 200px;
        margin: 0;
        vertical-align: top;
    }
}

.learn-press-notice-assigned-item {
    color: #f00;
}

.learnpress {
    .actions {
        margin: 0;
    }
}

#learn-press-syncs {
    li {
        position: relative;
        &.syncing,
        &.synced {
            padding-left: 24px;
            input[type="checkbox"] {
                display: none;
            }
        }
        &.syncing {
            &::after {
                content: "\f463";
                @include rotating4();
            }
        }
        &.synced {
            &::after {
                color: #2773aa;
                content: "\f147";
            }
        }
        &::after {
            display: block;
            position: absolute;
            top: 0;
            left: -3px;
            width: 24px;
            height: 24px;
            font-family: dashicons;
            font-size: 1.1875rem;
            line-height: 1.5rem;
            text-align: center;
        }
    }
}

#learn-press-updater {
    .updater-progress {
        position: relative;
        margin: 0 2px;
        ul {
            display: flex;
            position: relative;
            height: 5px;
            background: #eee;
            li {
                position: relative;
                margin: 0;
                flex: 1;
                &::after {
                    display: none;
                    position: absolute;
                    top: -30px;
                    right: 0;
                    padding: 3px 5px;
                    border-radius: 3px;
                    color: #fff;
                    background: #ddd;
                    font-size: 0.75rem;
                    content: attr(data-version);
                }
                &::before {
                    content: "";
                }
                &:last-child {
                    &::after {
                        _display: block;
                    }
                }
            }
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 20px;
            }
        }
        .updater-progress-status {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 5px;
            background: #5bc4f9;
            -webkit-transition: width 0.25s;
            -moz-transition: width 0.25s;
            -ms-transition: width 0.25s;
            -o-transition: width 0.25s;
            transition: width 0.25s;
            &::before {
                position: absolute;
                top: -20px;
                right: 0;
                padding: 0 5px;
                border-radius: 3px;
                color: #fff;
                background: #5bc4f9;
                font-size: 0.75rem;
                _content: attr(data-value) "%";
            }
            .updater-progress-animation {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 5px;
                background: #5bc4f9;
                &:not(.completed) {
                    &::after {
                        position: absolute;
                        height: 5px;
                        background: #8dd9ff;
                        content: "";
                        @include animation4(animation4 1.5s ease-out infinite);
                    }
                }
            }
        }
    }
    .updating-message {
        color: #a24666;
    }
    .completed-message {
        color: #3c8eb7;
    }
}

#learn-press-updater {
    display: none;
}

.select2 {
    .select2-search {
        &.select2-search--inline {
            margin-bottom: 0;
        }
    }
    .select2-selection {
        .select2-selection__choice {
            margin-top: 4px;
            margin-bottom: 0;
        }
        &.select2-selection--multiple {
            min-height: 30px;
        }
    }
}

.list-pages-wrapper .select2-container--default .select2-selection--single .select2-selection__clear {
    margin: 0;
}

.edit-post-layout__metaboxes {
    .rwmb-label>label {
        color: #666;
        font-size: small;
        font-weight: bold;
    }
}

body {
    &.post-type-lp_question {
        #button-new-question {
            display: inline-block;
            position: relative;
            div {
                display: none;
                position: absolute;
                z-index: 9999;
                top: 100%;
                left: 0;
                min-width: 100px;
                margin: 0 0 0 -1px;
                border: 1px solid #999;
                background: #ffff;
                font-weight: 400;
                a {
                    display: block;
                    min-width: 100px;
                    margin: 0;
                    padding: 10px 20px;
                    color: #666;
                    white-space: nowrap;
                    text-decoration: none;
                    &:hover {
                        background: #eee;
                    }
                }
            }
            >a {
                position: relative;
                padding-right: 15px;
                text-decoration: none;
                &::after {
                    display: inline-block;
                    position: absolute;
                    top: 6px;
                    right: 0;
                    width: 0;
                    height: 0;
                    margin: 0;
                    border: 5px solid transparent;
                    border-top-color: #0f7aae;
                    content: "";
                }
            }
            &:hover {
                div {
                    display: block;
                }
            }
        }
    }
}

.lp-label {
    display: inline-block;
    padding: 3px 6px;
    color: #fff;
    font-size: 0.75rem;
    @include border-radius(4px);
    &.success {
        background: #4caf50;
    }
    &.error {
        background: #f00;
    }
    &.warning {
        background: #ffc107;
    }
    .far,
    .fas,
    .fa {
        display: inline-block;
        margin-right: 5px;
    }
}

.lp-admin-profile-courses {
    .column-course {}
    .column-start-date {}
    .column-end-date {}
    .column-results {
        width: 200px;
    }
    .course-results-progress {
        .lp-progress-row {
            margin: 0 0 20px 0;
        }
        .lp-course-progress-heading {
            margin: 0 0 5px 0;
            line-height: 1;
        }
    }
    .learn-press-progress {
        overflow: hidden;
        position: relative;
        width: 150px;
        height: 6px;
        border-radius: 3px;
        .learn-press-progress__active {
            position: absolute;
            z-index: 1;
            left: -100%;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            background: var(--lp-primary-color);
            @include transition(0.5s);
        }
        &::before {
            display: block;
            position: absolute;
            z-index: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #ccc;
            content: "";
        }
    }
}

.lp-notify-action-wrapper {
    position: fixed;
    bottom: 5%;
    z-index: 10000;
    left: 50%;
    padding: 10px;
    transition: all 0.5s;
    transform: translateY(500%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    &.show {
        display: flex;
        transform: translateY(0);
    }
    .lp-notify-action {
        box-shadow: 0 4px 25px 1px rgba(0, 0, 0, 0.25);
        background: #202937;
        padding: 0 20px;
        border-radius: 3px;
        min-width: 200px;
        transition: all 0.8s;
        &.clone {
            display: none;
        }
        &__success {
            display: none;
            color: #01a401;
            &.show {
                display: block;
            }
        }
        &__error {
            display: none;
            color: #f44336;
            font-weight: bold;
            &.show {
                display: block;
            }
        }
    }
}
