/* Modified 03 Apr 2015 */
#question_settings select.lpr-question-types{
    margin-left: 20px;
    font-weight: normal;
    display: none;
    font-size: 12px;
    padding: 0;
    height: auto;
}
.lpr-question-option{
    border: 1px solid #DDD;
    border-collapse: collapse;
    width: 100%;
    border-bottom: none ;
    position: relative;
}
.lpr-question-option{}
.lpr-question-option th,
.lpr-question-option td{
    padding: 5px;
    border: 1px solid #DDD;
}
.lpr-question-true-or-false .lpr-remove-answer{
    display: none;
}
.lpr-question-option thead{
    background-color: #FCFCFC;
}
.lpr-question-option thead th{
    text-align: left;
    padding: 8px 5px;
    border: 1px solid #DDD;
}
.lpr-question-option tbody{
    position: relative;
}
.lpr-question-option tbody tr{
    width: 100%;
    background-color: #FFF;
}
.lpr-question-option tbody th{
    text-align: left;
    padding: 5px;
    border: 1px solid #DDD;
    width: 25%;
}
.lpr-question-option tbody tr.placeholder td{
    border: 1px solid #DDD;
    background-color: #DDD;
}
.lpr-question-option tbody tr.ui-sortable-helper{

    left: 0px;
}
.lpr-question-option input[type="text"]{
    width: 100%;
}
.lpr-question .lpr-question-head{
    display: none  ;
}
#lpr-quiz-questions{}
#lpr-quiz-questions .lpr-question{
    border: 1px solid #DDD;
    margin: 0 0 20px 0;
    background-color: #FFF;
}
#lpr-quiz-questions .lpr-question .lpr-question-head{
    background-color: #F5F5F5;
    padding: 10px;
    cursor: move;
    display: block;
}
#lpr-quiz-questions .lpr-question .lpr-question-head > p{
    float: right;
    margin: 5px  0;
}
#lpr-quiz-questions .lpr-question .lpr-question-head > p a{
    margin-left: 10px;
}

#lpr-quiz-questions .lpr-question .lpr-question-head input{
    width: 80%;
}
#lpr-quiz-questions .lpr-question-title{
    display: inline-block;
    vertical-align: top;
}
#lpr-quiz-questions .lpr-question-title:after{
    font-family: dashicons;
    content: "...\f464";
    vertical-align: middle;
    display: none;
    font-size: 14px;
    margin-left: -43px;
    margin-top: -7px;
}
#lpr-quiz-questions .lpr-question-title:hover:after{
    display: inline-block;
}
#lpr-quiz-questions .lpr-question-title > input{
    min-width: 350px;
}
#lpr-quiz-questions .lpr-question-title > input.inactive{
    border-color: transparent;
    box-shadow: none;
    background-color: transparent;
}

#lpr-quiz-questions .lpr-question .lpr-question-content{
    padding: 10px;
    border-top: 1px solid #DDD;
}
#lpr-quiz-questions .lpr-question .lpr-question-content .lpr-question-name-input{
    width: 100%;
    margin: 0 0 15px;

    font-weight: normal;
    color: #666;
}
#lpr-quiz-questions .lpr-question .lpr-question-content .lpr-question-option-label{
    font-weight: bold;
    margin: 0 0 0px;
}
#lpr-quiz-questions-wrap{
    margin-top: 8px;
}
#lpr-quiz-questions-wrap .ui-sortable-helper{}
#lpr-quiz-questions-wrap .ui-sortable-placeholder{
    visibility: visible!important;
    border: 1px dotted #DDD;
}

/** bootstrap **/
.btn-group {
    position : relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
.btn-group>.btn+.dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -1px;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn .caret {
    margin-left: 0;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
}
.dropdown-menu>li>a:hover {
    background-color: #EFEFEF;
}
