
.learn-press-addons {
    .lp-search-addon {
        margin: 0;
        width: 280px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        padding: 3px 5px;
        height: 32px;
    }
    .addons-browse {
        margin: 20px 0 0;
        .lp-addon-hidden {
            display: none !important;
        }
        .lp-active:nth-of-type(2n+1) {
            clear: none;
            margin-right: 0;
            margin-left: 8px;
        }
        .lp-active:nth-of-type(2n) {
            clear: both;
            margin-right: 8px;
            margin-left: 0;
        }
        .plugin-icon {
            img {
                max-width: 100%;
            }
        }
        .plugin-card h3 {
            min-height: 70px;
        }
        .plugin-card .desc {
            min-height: 130px;
        }
        .plugin-card {
            .install-now:before,
            .disable-now:before,
            .enable-now:before {
                margin: 3px 5px 0 -2px;
                display: inline-block;
                font: 400 20px/1 dashicons;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                vertical-align: top;
            }

            .install-now:before {
                content: '\f106';
                color: #0073aa;
            }

            .disable-now:before {
                content: '\f147';
                color: #0073aa;
            }

            .enable-now:before {
                content: '\f335';
                color: #d54e21;
            }

            .disable-now:hover:before {
                content: '\f335';
                color: #d54e21;
            }

            .enable-now:hover:before {
                content: '\f147';
                color: #0073aa;
            }
            .button-working:before {
                content: '\f463' !important;
                -webkit-animation: lp-spinner 2s infinite linear;
                animation: lp-spinner 2s infinite linear;
                margin-right: 0;
            }
            .button-working span {
                display: none;
            }
            .column-description{
                p:not(.authors){
                    @include text-overflow();
                }
            }
        }
        &.premium {
            .column-description {
                p {
                    margin: 0;
                    line-height: inherit;
                }
            }
        }
        &:after {
            @include clear-fix();
        }
    }
}

.related-themes {
    .plugin-card-top {
        padding-bottom: 0;
    }
    .theme-content {
        position: relative;
    }
    .image-thumbnail img {
        width: 100%;
    }
    .theme-description {
        margin: 0 0 25px 0;
    }
    .theme-title {
        margin-right: 100px;
        font-size: 1.2em;
        line-height: 1.3em;
        margin-bottom: 0;
        min-height: 3.2em;
    }
    .theme-title a {
        color: #545454;
    }
    .theme-rating {
        float: right;
        display: inline-block;
    }
    .star-rating {
        display: inline-block;
    }
    .count-rating {
        font-size: 15px;
        position: relative;
        top: 2px;
    }
    .theme-detail {
        position: absolute;
        right: 3px;
        top: -3px;
        text-align: right;
        line-height: 1.6em;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .theme-price {
            display: inline-block;
            font-size: 24px;
            color: #545454;
            font-weight: 700;
            line-height: 1.3em;
        }
    }
    .theme-footer {
        clear: both;
        margin-left: -20px;
        margin-right: -20px;
        padding: 20px;
        background-color: #fafafa;
        border-top: 1px solid #ddd;
        overflow: hidden;
    }
}

@media screen and (min-width: 1600px) {
    .plugin-card:not(.hide-if-js):nth-child(even) {
        margin-right: 8px;
    }
    .plugin-card:not(.hide-if-js):nth-child(3n) {
        margin-right: 0;
    }
}