
.learn-press-addons {
    .lp-search-addon {
        margin: 0;
        width: 280px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        padding: 3px 5px;
        height: 32px;
    }
    .addons-browse {
        margin: 20px 0 0;
        .lp-addon-hidden {
            display: none !important;
        }
        .lp-active:nth-of-type(2n+1) {
            clear: none;
            margin-right: 0;
            margin-left: 8px;
        }
        .lp-active:nth-of-type(2n) {
            clear: both;
            margin-right: 8px;
            margin-left: 0;
        }
        .plugin-icon {
            img {
                max-width: 100%;
            }
        }
        .plugin-card h3 {
            min-height: 70px;
        }
        .plugin-card .desc {
            min-height: 130px;
        }
        .plugin-card {
            .install-now:before,
            .disable-now:before,
            .enable-now:before {
                margin: 3px 5px 0 -2px;
                display: inline-block;
                font: 400 20px/1 dashicons;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                vertical-align: top;
            }

            .install-now:before {
                content: '\f106';
                color: #0073aa;
            }

            .disable-now:before {
                content: '\f147';
                color: #0073aa;
            }

            .enable-now:before {
                content: '\f335';
                color: #d54e21;
            }

            .disable-now:hover:before {
                content: '\f335';
                color: #d54e21;
            }

            .enable-now:hover:before {
                content: '\f147';
                color: #0073aa;
            }
            .button-working:before {
                content: '\f463' !important;
                -webkit-animation: lp-spinner 2s infinite linear;
                animation: lp-spinner 2s infinite linear;
                margin-right: 0;
            }

            .button-working span {
                display: none;
            }
        }
        &.premium {
            .column-description {
                p {
                    margin: 0;
                    line-height: inherit;
                }
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                line-height: 1.6em;
                max-height: 6.4em;
            }
        }
        &:after {
            @include clear-fix();
        }
    }
}
