/**
 * General style for admin editor.
 */
.lp-admin-editor {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px 0 0 0;
    position: relative;
    .heading,
    .lp-box-data-content {
        padding: 0;
    }
}

#learn-press-admin-editor-metabox-settings {
    margin-top: 20px;
}

/**
 *  Course admin editor.
 */
#admin-editor-lp_course {

    .lp-course-curriculum {
        .heading {
            padding: 15px;
            position: relative;

            h4 {
                margin: 0;
                font-size: 18px;
            }

            .collapse-sections {
                font-family: Dashicons;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 40px;
                color: #999;
                &.close:before {
                    content: '\f140';
                }

                &.open:before {
                    content: '\f142';
                }
            }

            .status {
                font-family: Dashicons;
                font-size: 20px;
                position: relative;
                top: 5px;
                margin-left: 10px;
                visibility: hidden;

                &:before {
                    content: "\f463";
                }

                &.loading {
                    visibility: visible;
                    animation: rotation 2s infinite linear;
                    display: inline-block;
                }
            }
        }

        .curriculum-sections {
            margin: 0;
            padding: 10px;
            border-top: 1px solid #ddd;
        }

        .section {
            border: 1px solid #e5e5e5;
            margin-bottom: 10px;
            opacity: 1;
            background: #FFF;
            &.new-section {
                //box-shadow: 0 0 30px #ddd;
                margin-bottom: 0;
                form {
                    margin: 0;
                }

                .section-head {
                    background-color: #f4fcff;
                    .creatable {
                        position: relative;
                        top: 1px;

                        &:before {
                            content: "\f132";
                        }
                    }
                }
            }

            &:hover {
                .section-actions {
                    .remove {
                        display: inline-block;
                    }
                }
            }

            &.sortable-ghost {
                opacity: 0.5;
            }

            &.open {

            }

            &.close {
                .section-collapse {
                }
            }

            &.updating {
                .section-head {
                    background-color: #e6f2d0;
                }
            }

            input {
                background-color: transparent;
                box-shadow: none;

                &:focus {
                    box-shadow: none;
                }
            }

            .section-head {
                background-color: #f9f9f9;
                padding: 3px;
                position: relative;
                transition: background 500ms ease-out;

                .movable, .creatable {
                    display: inline-block;
                    font-family: Dashicons;
                    font-size: 20px;
                    vertical-align: middle;
                    width: 30px;
                    text-align: center;
                    margin-top: -4px;
                    color: #999;
                }

                .movable {
                    cursor: url("../../images/openhand.cur") 7 5, default;

                    &:before {
                        content: "\f333";
                    }
                    &:hover {
                        color: #0085ba;
                    }
                }

                .actions {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #444;
                    height: 100%;

                    > * {
                        cursor: pointer;
                        display: inline-block;
                        text-align: center;
                        height: 100%;
                    }

                    .collapse {
                        &:hover {
                            color: #0085ba;
                        }

                        &:before {
                            display: inline-block;
                            width: 40px;
                            font-size: 30px;
                            font-family: Dashicons;
                            line-height: 42px;
                            color: #999;
                        }

                        &.open {
                            &:before {
                                content: '\f142';
                            }
                        }

                        &.close {
                            &:before {
                                content: '\f140';
                            }
                        }
                    }
                }
            }

            .name {
                font-size: 24px;
                width: 100%;
                border: none;
                color: #777;
                font-weight: 600;
                line-height: 50px;

                &:focus {
                    color: #444;
                }
            }

            .section-collapse {
                overflow: hidden;
            }

            .section-content {
                padding: 20px;
                border-top: 1px solid #e5e5e5;
            }

            .details {
                margin-bottom: 20px;
            }

            .title-input {
                font-size: 1.2em;
                border: none;
                line-height: 30px;
                width: calc(100% - 80px);
                padding-left: 0;
            }

            .description-input {
                border: none;
                width: 100%;
                color: #999;
                font-style: italic;

                &:focus {
                    color: #444;
                }
            }
        }

        .section-list-items {
            width: 100%;
            border-collapse: collapse;

            ul {
                margin: 0;
                min-height: 5px;
            }

            &.no-item {

            }

            .section-item {
                border: 1px solid #eee;
                position: relative;
                margin: 0;
                border-bottom-width: 0;
                transition: background 200ms ease-out;
                display: flex;
                justify-content: center;
                align-items: center;

                &:nth-child(2n+1) {
                    background-color: #f4fcff;
                }

                &.sortable-ghost {
                    opacity: 0.5;
                }

                &.updating {
                    background-color: #e6f2d0;

                    &:before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                    }
                }

                &.removing {
                    background-color: #ffeded;
                }

                .drag {
                    width: 18px;
                    height: 20px;
                    cursor: url("../../images/openhand.cur") 7 5, default;
                    flex-shrink: 0;
                    visibility: hidden;
                    fill: #d5dce0;
                    padding-top: 3px;
                    &:hover {
                        fill: #0085ba;
                    }
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .title {
                    margin-left: 5px;
                    margin-right: 120px;
                    flex-grow: 1;
                    flex-basis: 100%;

                    input {
                        color: inherit;
                    }
                }

                .item-actions {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .actions {
                    margin: 0;

                    > * {
                        margin-right: 10px;
                        visibility: hidden;
                    }

                    .edit {
                        text-decoration: none;
                    }

                    .remove {
                        color: #a00;
                    }

                    .preview-item {
                        .dashicons-unlock {
                            //visibility: visible;
                        }
                    }
                }

                &:hover {
                    .drag {
                        visibility: visible;
                    }
                }

                &.lp_quiz {
                    .item-actions {
                        .actions {
                            .preview-item {
                                display: none;
                            }
                        }
                    }
                }

            }

            .new-section-item {
                border-bottom-width: 1px;
                position: relative;
                display: flex;
                align-items: center;
                transition: all 200ms ease-out;

                .title {
                    display: inline-block;
                    margin: 0;
                    flex: 1;
                }

                .types {
                    display: inline-block;
                    margin-left: 17px;

                    &:hover, &:focus {
                        background-color: #fff;

                        .type {
                            display: inline-block;
                        }
                    }

                    .type {
                        display: inline-block;
                        padding: 8px 5px;
                        color: #ccc;

                        input {
                            display: none;
                        }

                        &.current {
                            color: #0085ba;
                        }

                        &:before {
                            font-family: Dashicons;
                            font-size: 20px;
                            position: relative;
                            top: 2px;
                        }

                        &.lp_quiz {
                            &:before {
                                content: '\f469';
                            }
                        }

                        &.lp_lesson {
                            &:before {
                                content: '\f330';
                            }
                        }
                    }
                }
            }

            .section-item {
                .item-actions {
                    text-align: right;
                    .actions {
                        .action {
                            width: 30px;
                            height: 30px;
                            padding: 0;
                            text-align: center;
                            position: relative;
                            vertical-align: middle;
                            cursor: pointer;
                            display: inline-block;
                            margin: 0;
                            > a {
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                color: #999;
                                &:hover {
                                    color: #0073aa;
                                }
                            }
                            &.delete-item {
                                > a {
                                    &:hover {
                                        color: #d05d5d;
                                    }
                                }
                                ul {
                                    position: absolute;
                                    top: 100%;
                                    width: 165px;
                                    padding: 2px 0;
                                    right: 0;
                                    background: #fdfeff;
                                    margin: 0;
                                    border: 1px solid #DDD;
                                    z-index: 9;
                                    display: none;
                                    text-align: center;
                                    li {
                                        margin: 0;
                                        padding: 8px;
                                        border-bottom: 1px solid #eee;
                                        a {
                                            color: #0073aa;
                                            text-decoration: none;
                                            &.delete-permanently {
                                                color: #d05d5d;
                                            }
                                        }
                                        &:hover {
                                            background: #dbf5ff;
                                        }
                                    }
                                }
                                &:hover {
                                    ul {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .item-actions {
                        .actions > * {
                            visibility: visible;
                            cursor: pointer;
                        }
                    }
                }

                &.lp_quiz {
                    .icon:before {
                        content: '\f469';
                    }
                }

                &.lp_lesson {
                    .icon:before {
                        content: '\f330';
                    }
                }

                .icon {
                    width: 38px;
                    font-size: 20px;
                    color: #0085ba;
                    text-align: center;
                    &:before {
                        font-family: Dashicons;
                    }
                }

                input {
                    font-size: 14px;
                    border: none;
                    width: 100%;
                    padding: 8px 10px 8px 0;
                }
            }
        }

        .section-actions {
            padding: 0 20px 20px 20px;

            .remove {
                float: right;
                color: #a00;
                cursor: pointer;
                display: none;

                .icon {
                    display: inline-block;
                }

                .confirm {
                    display: none;
                }

                &.confirm {
                    .confirm {
                        display: inline-block;
                    }

                    .icon {
                        display: none;
                    }
                }
            }
        }
    }
}

/**
 * Quiz admin editor.
 */
#admin-editor-lp_quiz {

    .lp-box-data-head {
        .status {
            font-family: Dashicons;
            font-size: 20px;
            position: relative;
            top: 5px;
            margin-left: 10px;
            visibility: hidden;

            &:before {
                content: "\f463";
            }

            &.loading {
                visibility: visible;
                animation: rotation 2s infinite linear;
                display: inline-block;
            }
        }
        .collapse-list-questions {
            font-family: Dashicons;
            position: absolute;
            top: 0;
            right: 5px;
            bottom: 0;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 40px;
            height: 55px;
            color: #999;
        }
    }

    .lp-box-data-content {
        .lp-list-questions {
            color: #777;
            border-collapse: collapse;

            .table-row {
                display: flex;
                flex-direction: row;
                text-align: center;

                & > * {
                    width: 100%;
                    padding: 9px 10px
                }

                & > .sort {
                    width: 15px;
                    fill: #d5dce0;
                    cursor: url("../../images/openhand.cur") 7 5, default;
                    visibility: hidden;
                    padding-right: 0;
                    position: relative;
                    svg {
                        width: 18px;
                        height: 20px;
                        position: absolute;
                        top: 50%;
                        margin-top: -10px;
                        left: 4px;
                    }
                    &:hover {
                        fill: #0085ba;
                    }
                }

                & > .order {
                    width: 10px;
                }

                & > .name {
                    padding: 10px;
                }

                & > .type {
                    width: 150px;
                }

                & > .actions {
                    width: 300px;
                }
                &:hover {
                    & > .sort {
                        visibility: visible;
                    }
                }
            }

            .header {
                border-bottom: 1px solid #ddd;
                .table-row {
                    & > * {
                        font-weight: bold;
                        padding: 12px 8px 12px 0;
                    }
                    .sort {
                        width: 45px;
                    }
                }
            }

            .main {
                .question-actions {
                    .name {
                        input {
                            width: 100%;
                            font-size: 14px;
                            border: none;
                            background: transparent;
                            box-shadow: none;
                            font-weight: normal;
                            color: #777;
                            padding: 0;
                        }
                    }

                    &.updating {
                        background-color: #e6f2d0;
                    }
                }
                .question-settings {
                    border: 1px solid #ddd;
                    border-left: none;
                    border-right: none;
                    & > * {
                        padding: 20px;
                    }
                    .quiz-question-data {
                        table.lp-list-options {
                            border: 1px solid #ddd;
                            thead {
                                .answer-text {
                                    width: calc(100% - 100px);
                                }
                                .answer-correct {
                                    width: 65px;
                                }
                            }
                            tbody {
                                tr {
                                    background: #fff;
                                    border: 1px solid #DDD;
                                    &:nth-child(2n) {
                                        background: #f4fcff;
                                    }
                                    td {
                                        padding: 0 10px;
                                        background: inherit;
                                        position: static;
                                        border: none;
                                        &.sort {
                                            cursor: url("../../images/openhand.cur") 7 5, default;
                                        }
                                        &.answer-correct {
                                            text-align: center;
                                        }
                                    }
                                }
                                .answer-option {
                                    .answer-text {
                                        input {
                                            width: 100%;
                                            font-size: 14px;
                                            border: none;
                                            background: transparent;
                                            box-shadow: none;
                                            font-weight: normal;
                                            color: #777;
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .main {
                .question-item {
                    background: #fff;
                    border-bottom: 1px solid #f1f1f1;
                    &:nth-child(2n+1) {
                        background: #f4fcff;
                    }
                    .cell {
                        padding: 10px;
                    }
                    .question-actions {
                        .name {
                            input {
                                width: 100%;
                                font-size: 14px;
                                border: none;
                                background: transparent;
                                box-shadow: none;
                                font-weight: normal;
                                color: #777;
                                padding: 0;
                            }
                        }
                        .actions {
                            padding: 0;
                            margin: 0;
                            .lp-toolbar-buttons {
                                position: static;
                                z-index: 10;
                                height: 100%;
                                text-align: left;
                                > div {
                                    a {
                                        visibility: hidden;
                                    }
                                }
                                .lp-toolbar-btn {
                                    height: 100%;
                                    .lp-btn-icon {
                                        width: 28px;
                                        height: 30px;
                                        text-align: center;
                                        position: absolute;
                                        top: 50%;
                                        margin-top: -15px;
                                        left: 50%;
                                        margin-left: -15px;
                                        line-height: 30px;
                                    }
                                    ul {
                                        z-index: 9;
                                    }
                                }
                                .lp-btn-toggle {
                                    font-family: Dashicons;
                                    line-height: 42px;
                                    font-size: 16px;
                                    &.open {
                                        &::after {
                                            content: '\f343';
                                        }
                                    }
                                    &.close {
                                        &::after {
                                            content: '\f347';
                                        }
                                    }
                                }
                                .lp-toolbar-btn-dropdown {
                                    ul {
                                        li {
                                            border-bottom: 1px solid #eee;
                                            a {
                                                padding: 10px 25px;
                                                &.remove {
                                                    color: #0073aa;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            .lp-toolbar-buttons {
                                > div {
                                    a {
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                    }

                    .question-settings {
                        background: #fff;

                        .quiz-question-options {
                            text-align: left;
                            .inside {
                                margin: 0;
                                padding: 0;
                                .rwmb-meta-box {
                                    .rwmb-field {
                                        padding: 20px;
                                        margin: 0;
                                        &:nth-child(2n+1) {
                                            background: #f4fcff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                .table-row {
                    text-align: left;
                    .add-new-question {
                        padding-left: 65px;
                        margin-top: -1px;
                        border-top: 1px solid #DDD;
                        .title {
                            position: relative;
                            display: inline-block;
                            min-width: 500px;
                            input {
                                border: 1px solid #DDD;
                                width: 100%;
                                margin: 0;
                                padding: 6px 6px;
                                @include box-shadow(none);
                                @include border-radius(3px);
                                &:focus {
                                    border-color: #DDD;
                                }
                            }
                        }
                        .add-new {
                            display: inline;
                            position: relative;
                            ul.question-types {
                                position: absolute;
                                margin: 6px;
                                background-color: #FFF;
                                top: 100%;
                                border: 1px solid #DDD;
                                right: -2px;
                                width: 200px;
                                z-index: 9999999;
                                display: none;
                                li {
                                    margin: 0;
                                    a {
                                        display: block;
                                        padding: 10px;
                                        line-height: 1;
                                        text-decoration: none;
                                        outline: none;
                                        box-shadow: none;
                                    }
                                }
                            }

                            button {
                                &:hover {
                                    & + .question-types {
                                        display: block;
                                    }
                                }

                                & + .question-types {
                                    &:hover {
                                        display: block;
                                    }
                                }

                                &[disabled="disabled"] {
                                    &:hover {
                                        & + .question-types {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .select-item {
                            display: inline;
                        }
                        button {
                            height: 30px;
                            box-shadow: 0 1px 0 #ccc !important;
                        }
                    }
                }
            }
        }
        .question-button-actions {
            text-align: left;
        }
    }
}

/**
 *  Question admin editor.
 */
#admin-editor-lp_question {
    background: #fff;
    .lp-box-data-head {
        padding: 5px 15px;
        .heading {
            float: left;
        }
        .question-actions {
            margin-top: 8px;
            .question-types {
                ul {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    height: auto;
                    background: #fdfeff;
                    margin: 0;
                    border: 1px solid #DDD;
                    display: none;
                    li {
                        margin: 0;
                        &:hover, &.active {
                            background: #dbf5ff;
                        }
                        a {
                            display: block;
                            white-space: nowrap;
                            text-decoration: none;
                            padding: 5px 25px;
                            font-size: 12px;
                            text-align: right;
                            color: #0073aa;
                            margin: 0;
                        }
                    }
                    &:hover {
                        display: block;
                    }
                }
            }
            &:hover {
                .question-types {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }
    .lp-box-data-content {
        padding: 20px;
        table.list-question-answers {
            width: 100%;
            border: 1px solid #ddd;
            tr {
                td {
                    padding: 0 15px;
                }
            }
            thead {
                background: #F5F5F5;
                tr {
                    th {
                        padding: 15px;
                        background: #F5F5F5;
                        border-bottom: 1px solid #DDD;
                        &.sort, &.order, &.actions {
                            width: 10px;
                        }
                        &.answer-correct {
                            width: 65px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    background: #f4fcff;
                    color: #777;
                    &:nth-child(2n) {
                        background: #fff;
                    }
                    &:hover {
                        td {
                            &.actions {
                                .remove-answer {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                    td {
                        &.sort {
                            width: 15px;
                            text-align: center;
                            font-size: 18px;
                            color: #CCC;
                            cursor: url("../../images/openhand.cur") 7 5, default;
                            &:hover {
                                color: #0085ba;
                            }
                        }
                        &.order {
                            font-size: 13px;
                        }
                        &.answer-text {
                            input {
                                width: 100%;
                                font-size: 14px;
                                border: none;
                                background: transparent;
                                box-shadow: none;
                                font-weight: normal;
                                color: #777;
                                padding: 0;
                            }
                        }
                        &.actions {
                            .remove-answer {
                                visibility: hidden;
                                &:hover {
                                    background: transparent;
                                }
                            }
                        }
                        &.lp-toolbar-buttons {
                            z-index: auto;
                        }
                    }
                }
            }
        }
        .add-answer {
            margin: 15px 0 0 0;
        }
    }
}

/**
 * Modal choose items.
 */
#lp-modal-choose-items {
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);

    &.show {
        display: block;
        opacity: 1;
        z-index: 99999;
    }

    &.loading {
        .lp-choose-items {

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                content: '';
                z-index: 9;
                background: url('../../images/spinner.gif') no-repeat center center;
            }
        }
    }

    .lp-choose-items {
        background-color: #fff;
        max-width: 800px;
        margin: 50px auto;
        border: 1px solid #ddd;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        position: relative;
        transition: all 200ms ease-out;

        &.show-preview {
            .header {
                .preview-title {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .header {
            position: relative;

            .preview-title {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                padding-left: 20px;
                background-color: #fff;
                border-bottom: 1px solid #ddd;
                display: none;
                font-weight: 600;

                h3 {
                    margin: 0;
                }
            }

            .tabs {
                margin: 0;
                border-bottom: 1px solid #ddd;

                .tab {
                    display: inline-block;
                    margin: 0;
                    position: relative;

                    &:not(:last-child):before {
                        content: '';
                        border-right: 1px solid #ddd;
                        position: absolute;
                        right: 0;
                        height: 20px;
                        top: 50%;
                        margin-top: -10px;
                    }

                    &.active {
                        &:after {
                            border: 1px solid #ddd;
                            transform: rotate(45deg);
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            content: '';
                            position: absolute;
                            left: 50%;
                            margin-left: -6px;
                            bottom: -6px;
                            background: #FFF;
                            border-bottom: 0;
                            border-right: 0;
                        }

                        a {
                            color: #333;
                        }
                    }

                    a {
                        padding: 15px 20px;
                        text-decoration: none;
                        display: inline-block;
                        font-weight: 600;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .close {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                font-size: 1em;
                padding: 9px;
                z-index: 9;
            }
        }

        .main {
            padding: 20px;
            position: relative;
            overflow: hidden;

            .section-item {
                cursor: pointer;
                transition: color 200ms ease-out;
                max-width: 100%;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:before {
                    font-family: Dashicons;
                    position: relative;
                    top: 3px;
                }
            }

            .search {
                margin-bottom: 20px;
                background: transparent;
                input {
                    width: 100%;
                    font-size: 1.2em;
                    line-height: 1.5;
                }
            }

            .list-items {
                min-height: 260px;
                margin: 0;
                li {
                    margin: 15px 0;
                    cursor: pointer;
                }
            }

            .pagination {
                .index {
                    line-height: 28px;
                    margin-left: 20px;
                }
            }
        }

        .lp-added-items-preview {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 2;
            padding: 20px;
            transform: translate(100%, 0);
            max-height: 400px;
            overflow: auto;

            &.show {
                transform: translate(0, 0);
            }

            .list-added-items {
                li {
                    margin: 15px 0;
                    &:first-child {
                        margin: -10px 0 15px 0;
                    }
                }
            }
        }

        .footer {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    #admin-editor-lp_quiz {
        .lp-box-data-content {
            .lp-list-questions {
                .question-settings {
                    &.table-row {
                        display: block;
                        width: auto;
                        text-align: left;
                        > * {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}