.post-type-lp_order {
    #post-body-content {
        display: none;
    }

    #order_details {
        .hndle, .handlediv, .postbox-header {
            display: none;
        }

        .inside {
			display: block !important;
            padding: 0;
            margin: 0;
		}

		.order-data{
			padding: 30px !important;
		}

        .order-data-field {
			margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: 500;
            }
        }

        .order-data-number {
            margin: 0 0 10px;
            font-size: 20px;
            font-weight: 600;
		}

		.payment-method-title {
			font-size: 16px;
			color: #777;
		}

        .order-data-heading {
			margin-top: 40px;
			font-size: 16px;
        }

        .order-users {
			display: inline-block;

			.description{
				padding: 10px;
				background: #eee;
				margin-top: 10px;
			}
        }

        .order-data-date {
            .order-date {
                width: 100px;
            }
            .order-hour, .order-minute {
                width: 50px;
            }
        }

        .order-items {
            margin: 0;
            border-top: 1px solid #DDD;

            table {
                border-collapse: collapse;
				width: 100%;

                thead {
					margin: 0;
					padding: 0;

					tr{
						background-color: #f8f8f8;
					}

                    th {
                        border-bottom: none;
                        text-align: left;
                        padding: 15px;
						font-weight: 400;
						color: #999;

						&:first-child{
							padding-left: 30px;
						}

						&:last-child{
							padding-right: 30px;
						}
                    }
                }

                tbody, tfoot {
                    td {
                        border-bottom: 1px solid #DDD;
                        text-align: left;
                        padding: 10px;
                    }
                }

                tbody {
					margin: 0;
					padding: 0;
                    tr {
						td {
							padding: 15px;

							&:first-child{
								padding-left: 30px;
							}

							&:last-child{
								padding-right: 30px;
							}
						}
                    }
                }

                tfoot {
					margin: 0;
					padding: 0;

					tr{
						background-color: #f8f8f8;

						&:last-child{
							td {
								padding-top: 20px;
								padding-bottom: 20px;
							}
						}
					}

                    td {
                        border: none;
                        padding-bottom: 0;
                        text-align: right;
						font-size: 14px;
						padding: 10px 15px;

						&:first-child{
							padding-left: 30px;
						}

						&:last-child{
							padding-right: 30px;
						}
                    }
                }
                .column-price,
                .column-total,
                .column-quantity {
                    text-align: right;
                    width: 150px;
				}

                .row-subtotal, .row-total {
                    td {
						.order-subtotal, .order-total {
							font-weight: 700;
						}
                    }
				}

                .remove-order-item {
                    text-decoration: none;
                    outline: none;
					color: #CCC;

                    .dashicons {
                        font-size: 20px;
					}

                    &:hover {
                        color: #FF0000;
                    }
                }

                .order-item-row:hover {
                    .remove-order-item {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
