.learn-press-question {
    .lp-box-data-head{
        padding: 0;
        position: relative;
        .lp-toolbar-btn,
        .lp-btn-icon{
            height: 50px;

        }
        .question-bottom-actions {
            float: right;
            position: relative;
            z-index: 10;
            span {
                font-weight: bold;
                vertical-align: middle;
            }
        }
        .lp-row-action{
            height: 50px;
            width: 30px;
        }
        &:hover{
            z-index: 1000;
            .lp-toolbar-btn{
                visibility: visible;
            }
        }
    }
    .lp-question-heading-title{
        border: none;
        vertical-align: middle;
        height: 46px;
        position: absolute;
        top: 1px;
        background: transparent;
        width: 100%;
        left: 0;
        padding-left: 15px;
        box-sizing: border-box;
        box-shadow: none;
        font-weight: bold;
        &:focus{
            border-color: transparent;
            box-shadow: none;
            outline: none;
        }
    }
    .lp-box-data-content {
        padding: 0;
        opacity: 0.4;
        .column-content-answer_text {
            input {
                width: 100%;
                border-color: transparent;
                box-shadow: none;
                background: transparent;
                color: #666;
                padding-left: 0;
                padding-right: 0;
                font-size: 12px;
                &:focus {
                    border-bottom: 1px solid #00a0d2;
                }
            }
        }
        .lp-list-option-empty{
            input{
                font-style: italic;
            }
        }
        &:hover{
            opacity: 1;

        }
    }
    .lp-toolbar-btn {
        visibility: hidden;
    }
    &.focused{
        .lp-box-data-content {
            opacity: 1;
        }
    }
}