.lp-admin-tabs {
	position: relative;
	margin-top: 20px;

	.lp-admin-tab-navs {
		display: none;
		float: left;
		position: relative;
		z-index: 5;
		width: 250px;
		margin: 0 -250px 0 0;
		padding: 10px 0;

		@include box-sizing(border-box);

		.nav-section {
			margin: 0;

			> a,
			> span {
				display: block;
				padding: 8px 20px;
				outline: none;
				box-shadow: none;
				text-decoration: none;
				text-transform: capitalize;
			}

			.learn-press-tooltip {
				float: right;
				margin-right: 0;
			}

			&.nav-section-active,
			&:hover {
				border-left: 2px solid #563d7c;
				color: #563d7c;

				> a,
				> span {
					padding-left: 18px;
				}
			}
		}
	}

	&.has-sections {

		.lp-admin-tab-navs {
			display: block;
		}

		.lp-admin-tab-content {
			float: left;
			position: relative;
			z-index: 0;
			width: 100%;
			padding-left: 271px !important;

			@include box-sizing(border-box);
		}

		&::before {
			position: absolute;
			z-index: 10;
			top: 0;
			bottom: 0;
			left: 250px;
			border-left: 1px solid #ddd;
			content: "";
		}
	}

	&::after {

		@include clear-fix();
		z-index: 10;
	}
}

.wrap {

	&.learn-press-settings {

		.lp-admin-tab-content {
			padding: 18px;
			background: #fff;

			.subsubsub {
				float: none;
				margin: 0 0 20px 0;
				padding-bottom: 20px;
				border-bottom: 1px solid #ddd;

				.active {
					font-weight: bold;
				}

				li {
					text-transform: capitalize;

					&::after {
						display: inline-block;
						padding: 0 10px;
						content: "|";
					}

					&:last-child::after {
						content: "";
					}
				}
			}
		}
	}

	#learn-press-uninstall-sample-data {
		float: right;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}
