@import "../mixin";
@import "../general";
@import "general";
@import "advertisment";
@import "submenu";
@import "meta-box";
@import "admin-tabs";
@import "addons";
@import "post-types";
@import "modal-search";
@import "dashboard";
@import "place-holder";
@import "order";
@import "settings";
@import "admin-editor";
@import "admin-tools";
@import "../quick-tip";
@import "responsive";
@import "rtl";

.button {
    &.disabled {
        pointer-events: none;
    }
}

.lp-notice,
.learn-press-notice {
    position: relative;
    padding: 12px;
    h4 {
        margin: 10px 0 15px
    }
    p {
        margin: 0 0 5px 0;
        padding: 0 2px;
    }
    &.lp-upgrade-notice {
        background: #BCEFFE;
        border-left-color: #02B7FB;
        position: relative;
        .close-notice {
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }

    .lp-message-dismiss {
        position: absolute;
        right: 12px;
        top: 12px;
    }
}

.learn-press-dropdown-pages {
    display: inline-block;
}

.lp-notice-update-database {
    border-left-color: #FF0000;
    &.do-updating {
        &:before {
            display: inline-block;
            content: "\f463";
            font-family: dashicons;
            font-size: 20px;
            float: left;
            margin: 9px 5px 0 -5px;
            color: #2773aa;
            @include rotating4();
        }
    }
}

#adminmenu {
    .update-plugins {
        &.lp-plugins-count {
            padding: 0 5px;
        }
    }
}

.search-box {
    input[name="post-search-author"],
    .select2-container {
        margin: 0;
        min-width: 200px;
        vertical-align: top;
    }
}

.learn-press-notice-assigned-item {
    color: #FF0000;
}

.learnpress {
    .actions {
        margin: 0;
    }
}

#learn-press-syncs {
    li {
        position: relative;
        &.syncing,
        &.synced {
            padding-left: 24px;
            input[type="checkbox"] {
                display: none;
            }
        }

        &.syncing {
            &:after {
                content: "\f463";
                @include rotating4();
            }
        }

        &.synced {
            &:after {
                content: "\f147";
                color: #2773aa;
            }
        }

        &:after {
            font-family: dashicons;
            display: block;
            position: absolute;
            left: -3px;
            top: 0px;
            height: 24px;
            width: 24px;
            font-size: 19px;
            text-align: center;
            line-height: 24px;
        }
    }
}

#learn-press-updater {
    .updater-progress {
        position: relative;
        margin: 0 2px;
        ul {
            display: flex;
            height: 5px;
            position: relative;
            background: #EEE;
            li {
                flex: 1;
                position: relative;
                margin: 0;
                &:after {
                    content: attr(data-version);
                    background: #DDD;
                    padding: 3px 5px;
                    border-radius: 3px;
                    font-size: 12px;
                    color: #FFF;
                    position: absolute;
                    right: 0;
                    top: -30px;
                    display: none;
                }
                &:before {
                    content: '';
                }
                &:last-child {
                    &:after {
                        _display: block;
                    }
                }
            }
            &:after {
                height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
            }
        }
        .updater-progress-status {
            position: absolute;
            height: 5px;
            top: 0;
            left: 0;
            width: 0;
            background: #5bc4f9;
            -webkit-transition: width 0.25s;
            -moz-transition: width 0.25s;
            -ms-transition: width 0.25s;
            -o-transition: width 0.25s;
            transition: width 0.25s;
            &:before {
                _content: attr(data-value) "%";
                position: absolute;
                top: -20px;
                right: 0;
                background: #5bc4f9;
                padding: 0 5px;
                font-size: 12px;
                color: #FFF;
                border-radius: 3px;
            }
            .updater-progress-animation {
                position: absolute;
                height: 5px;
                top: 0;
                left: 0;
                width: 100%;
                background: #5bc4f9;
                overflow: hidden;

                &:not(.completed) {
                    &:after {
                        content: '';
                        height: 5px;
                        background: #8dd9ff;
                        position: absolute;
                        @include animation4(animation4 1.5s ease-out infinite);
                    }
                }
            }
        }
    }
    .updating-message {
        color: #a24666;
    }
    .completed-message {
        color: #3c8eb7;
    }
}

#learn-press-updater {
    display: none;
}