/*@import "settings";
@import "post-types";
@import "course-editor";
@import "quiz-editor";*/
@import "../mixin";
@import "../general";
@import "advertisment";
@import "question";
@import "quiz";
@import "submenu";
@import "meta-box";
@import "admin-tabs";
@import "addons";
@import "post-type";
@import "modal-search";
@import "dashboard";

/* Metabox email template field */
.lp-email-templates {
    overflow: hidden;
    margin-top: 5px;
}

.learn-press-email-variables {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        cursor: pointer;
    }
}

/* Metabox dropdown pages field */
.learn-press-dropdown-pages {
    input[type="text"] {
        min-width: 300px;
        height: 29px;
        vertical-align: top;
        margin: 0;
    }
    .select2-selection__rendered {
        line-height: 26px !important;
    }
    .quick-add-page-inline {
        margin-top: 0;
    }
}

/* Tooltip */
.learn-press-tooltip {
    display: inline-block;
    font-size: 17px;
    vertical-align: middle;
    margin: 0 5px;
    color: #999;
    &.icon:after {
        font-family: Dashicons;
        content: "\f223";
    }
    &:hover {
        color: #0073aa;
        opacity: 1;
    }
}

/* Metabox payment order field */
.rwmb-payment-order-wrapper {
    .rwmb-label {
        margin-bottom: 20px !important;
    }
    .rwmb-input {
        margin-left: 0 !important;
    }
}

.learn-press-payments {
    border-collapse: collapse;
    border: 1px solid #DDD;
    width: 100%;
    font-size: 14px;
    th, td {
        padding: 8px 10px;
    }
    .order {
        width: 30px;
        text-align: center;
        padding-right: 0;
        cursor: not-allowed;
        color: #DDD;
    }
    .name {
        font-weight: bold;
        a {
            text-decoration: none;
        }
    }
    .status {
        width: 100px;
        text-align: center;
        .dashicons {
            background: #DDD;
            border-radius: 50%;
            color: #FFF;
        }
        &.enabled {
            .dashicons {
                background: #0085ba;
            }
        }
    }
    thead {
        th {
            text-align: left;
            border-bottom: 1px solid #DDD;
        }
    }
    tbody {
        td {
            background: #FFF;
        }
        .ui-sortable-helper {
            border: 1px solid #DDD;
            margin-left: -1px;
        }
        .ui-sortable-placeholder {
            visibility: visible !important;
            border: 1px solid #DDD;
            td {
                background: #F7F7F7;
                height: 35px;
                padding: 0;
            }
        }
    }
    &.sortable {
        .order:hover {
            cursor: ns-resize;
            color: #0073aa;
        }
    }
}

/* Submenu tools/templates */
.lp-template-overrides {
    margin-top: 20px;
    thead th h4 {
        margin: 0;
    }
    tbody th {
        font-weight: bold;
        p {
            margin: 0 0 0 10px;
            display: inline-block;
            a {
                font-weight: normal;
                outline: none;
                border: none;
                box-shadow: none;
                margin: 0;
                padding: 2px 8px;
                border-radius: 3px;
                &.current {
                    background: #00aadc;
                    color: #FFF
                }
            }
        }

    }
    .template-row {
        &.outdated, &.up-to-date {
            code:before {
                font-family: Dashicons;
                vertical-align: middle;
                margin-top: -2px;
                display: inline-block;
                margin-right: 3px;
            }
        }
        &.outdated {
            .template-version {
                color: #FF0000;
            }
            .template-file {
                code:before {
                    content: "\f534";
                    color: #FF0000;
                }
            }
        }
        &.up-to-date {
            .template-version {
                color: #1859ff;
            }
            .template-file {
                code:before {
                    content: "\f147";
                    color: #0085ba;
                }
            }
        }
    }

    .template-version, .core-version {
        width: 100px;
    }
    #learn-press-no-templates td p {
        color: #0073aa;
    }
}

/* General */
.description {
    code {
        font-size: smaller;
    }
}

