@import "../mixin";
@import "../general";
@import "general";
@import "advertisment";
@import "submenu";
@import "meta-box";
@import "admin-tabs";
@import "addons";
@import "post-types";
@import "modal-search";
@import "dashboard";
@import "place-holder";
@import "order";
@import "settings";
@import "admin-editor";
@import "admin-tools";
@import "../quick-tip";
@import "responsive";

.button {
    &.disabled {
        pointer-events: none;
    }
}

.lp-notice,
.learn-press-notice {
    h4 {
        margin: 10px 0 15px
    }
    p {
        margin: 0 0 5px 0;
        padding: 0 2px;
    }
    &.lp-upgrade-notice {
        background: #BCEFFE;
        border-left-color: #02B7FB;
        position: relative;
        .close-notice {
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
}

.learn-press-dropdown-pages {
    display: inline-block;
}

.lp-notice-update-database {
    border-left-color: #FF0000;
}

#adminmenu {
    .update-plugins {
        &.lp-plugins-count {
            padding: 0 5px;
        }
    }
}

.learnpress {
    .actions {
        margin: 0;
    }
}