.lp-advertisement-admin {
    margin-left: 160px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}
.lp-advertisement-admin > .item {
    display: none;
}
.lp-advertisement-admin > .item:first-child {
    display: block;
}
.lp-advertisement-admin .lp-wrap-items {
    position: relative;
    overflow: hidden;
    -webkit-transition: visibility 1s, opacity 1s;
    transition: visibility 1s, opacity 1s;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
.lp-advertisement-admin .theme-thumbnail {
    float: left;
    width: 35%;
}
.lp-advertisement-admin .theme-detail {
    margin-left: 35%;
    padding-left: 20px;
}
.lp-advertisement-admin .lp-item {
    position: relative;
    float: left;
    margin-right: -100%;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}
.lp-advertisement-admin img {
    width: 100%;
    height: auto;
    float: none;
}
.lp-advertisement-admin .lp-active {
    visibility: visible;
    opacity: 1;
}
.lp-advertisement-admin .lp-controls {
    position: absolute;
    bottom: 30px;
    right: 0;
    height: 50px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lp-advertisement-admin .lp-controls:after {
    content: '';
    clear: both;
    display: block;
}
.lp-advertisement-admin .lp-controls .prev-item,
.lp-advertisement-admin .lp-controls .next-item {
    position: absolute;
    top: 0;
    font-family: 'dashicons';
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.lp-advertisement-admin .lp-controls .prev-item {
    right: 95px;
}
.lp-advertisement-admin .lp-controls .prev-item:before {
    content: "\f341";
    display: block;
    text-align: center;
}
.lp-advertisement-admin .lp-controls .next-item {
    right: 45px;
}
.lp-advertisement-admin .lp-controls .next-item:before {
    content: "\f345";
    display: block;
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .lp-advertisement-admin .theme-thumbnail {
        width: 50%;
    }
    .lp-advertisement-admin .theme-detail {
        margin-left: 50%;
    }
}
@media only screen and (max-width: 960px) {
    .lp-advertisement-admin {
        margin-left: 36px;
    }
    .lp-advertisement-admin .theme-thumbnail {
        float: none;
        width: 100%;
    }
    .lp-advertisement-admin .theme-detail {
        margin-top: 20px;
        margin-left: 0;
        padding-left: 0;
    }
}
@media screen and (max-width: 782px) {
    .lp-advertisement-admin {
        margin-left: 0;
    }
}