/* The animation code */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-back {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.lp-setup, .lp-update-database {
    color: #777;

    h1, h2, h3, h4, h5, h6 {
        color: #777;
        font-weight: normal;
    }
    h2 {
        font-size: 24px;
        border-bottom: 1px solid #EEE;
        padding-bottom: 20px;
    }
    p {
        &.large-text {
            font-size: 16px;
            margin: 0 0 20px 0;
        }
    }
    a {
        font-size: 13px;
    }

    .logo {
        text-align: center;
    }
    #content {
        max-width: 90%;
        width: 900px;
        margin: 40px auto 20px auto;
    }
    #main {
        background: #FFF;
        padding: 20px;
        border: 1px solid #ececec;
        margin-bottom: 20px;
        position: relative;
        .description {
            font-size: 13px;
            font-style: italic;
        }
        &.loading {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                background: #FFF;
                opacity: 0.5;
            }
            .icon-loading {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 20px;
                margin-left: -10px;
                margin-top: -10px;
                z-index: 15;
                &:before,
                &:after {
                    width: 20px;
                    height: 20px;
                    top: 0;
                    left: 0;
                    content: '';
                    position: absolute;
                }
                &:before {
                    background: #e2e2e2;
                    animation-name: spin;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                }
                &:after {
                    background: #39a1e5;
                    animation-name: spin-back;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                }
            }
        }
    }

    .lp-setup-nav {
        position: relative;
    }

    .lp-setup-steps {
        list-style: none;
        margin: 0;
        padding: 0 0 20px 0;
        display: flex;
        position: relative;
        li {
            list-style: none;
            flex: 1;
            text-align: center;
            margin: 0;
            position: relative;
            &.active {
                span {
                    font-weight: bold;
                    color: #39a1e5;
                }
                &:before {
                    content: '';
                    height: 6px;
                    width: 100%;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    background: #05B3FF;
                    left: 0;
                    position: absolute;
                    bottom: -20px;
                    z-index: 10;
                }
                &:after {
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    background: #41b3ff;
                    transform: rotate(45deg);
                    left: 50%;
                    bottom: -18px;
                    margin-left: -5px;
                    content: '';
                }
            }
        }
    }

    .lp-setup-progress,
    .lp-setup-progress .active {
        width: 100%;
        height: 6px;
        left: 0;
        bottom: 0;
        background: #DDD;
        position: absolute;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .lp-setup-progress {
        .active {
            background: #00a1e6;
            width: 50%;
        }
    }

    footer {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
    }

    .buttons {
        text-align: right;
        border-top: 1px solid #EEE;
        padding-top: 20px;
    }

    .button-skip-next,
    .button-skip-prev {
        opacity: 0.7;
        float: left;
        margin-right: 4px;
        &:hover {
            opacity: 1;
        }
    }

    .button-dashboard-page {
        vertical-align: middle;
        margin: 5px;
        display: inline-block;
    }

    table {
        width: 100%;
        font-size: 14px;
        th, td {
            padding: 8px 8px 8px 0;
            font-weight: normal;
            vertical-align: top;
            text-align: left;
        }
        th {
            width: 33%;
            text-align: left;
        }
    }

    .browse-payments {
        list-style: none;
        margin: 0;
        padding: 0;
        li.payment {
            padding: 0 0 10px 0;
            margin: 0;
            > h3 {
                padding: 20px 0;
                margin: 0;
            }
            .payment-settings {
                padding: 0 0 20px 0;
            }
            .payment-name {
                img {
                    max-height: 32px;
                    vertical-align: middle;
                    margin-left: 0px;
                }
            }
            .payment-desc {
                font-style: italic;
            }
        }
    }

    .finish-buttons {
        .button {
            width: 300px;
            display: block;
            margin-bottom: 20px;
            font-size: 18px;
            height: 40px;
            line-height: 40px;
            color: #777;
            text-align: center;
            &.button-primary {
                color: #FFF;
            }
        }
    }

    .learn-press-message {
        background: #FAFAFA;
        padding: 15px;
        border-left: 3px solid #05B3FF;
        margin: 0 0 20px 0;
        font-size: 14px;
        border-radius: 4px;
        &.error {
            border-left-color: #FF0000;
        }
    }

    #preview-price {
        font-size: 18px;
        color: #FF0000;
    }

    .form-field{
        th{
            .learn-press-tip{
                float: right;
            }
        }
    }
}
