.lp-instructor-info {
	display: flex;
	gap: 30px;
	margin-top: 30px;
	margin-bottom: 30px;

	@media (max-width: 600px) {
		flex-wrap: wrap;
	}

	.instructor-display-name {
		font-size: 1.4rem;
	}

	.instructor-avatar {
		max-width: 200px;
	}

	.lp-instructor-meta {
		margin-top: 16px;
	}

	.instructor-description {
		margin-top: 16px;
	}

	img {
		border-radius: $border-radius-global;
 	}

	.instructor-social {
		display: inline-flex;
		padding: 0;
		gap: 12px;
		margin: 16px 0 0 0;

		> a {
			text-align: center;
			list-style: none;

			span {
				display: none;
			}

			i {
				width: 40px;
				height: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $border-color;
				border-radius: 50%;

				&:hover {
					background-color: $color-primary;
					border-color: $color-primary;
					color: $color-white;
				}
			}
		}
	}
}

.instructor-display-name {
	font-weight: $link-font-weight;
}

.instructor-item-meta {
	display: inline-flex;
}

.instructor-total-courses {
	display: inline-flex;
	border-left: 1px solid $border-color;
	margin-left: 12px;
	padding-left: 12px;
}
