.learn-press-progress {
	overflow: hidden;
	position: relative;
	width: 80px;
	height: 6px;
	border-radius: 3px;

	.learn-press-progress__active {
		position: absolute;
		z-index: 1;
		left: -100%;
		width: 100%;
		height: 100%;
		border-radius: 3px;
		background: var(--lp-primary-color);

		@include transition(0.5s);
	}

	&::before {
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #ccc;
		content: "";
	}
}

.course-curriculum {

	.section-header {

		.section-left {
			display: flex;

			.section-title {
				flex: 1;
			}

			.section-toggle {
				flex: 0 0 40px;
				//display: flex;
				align-items: center;
				text-align: center;
				cursor: pointer;

				.fa-caret-down {
					display: none;
				}
			}
		}

		.learn-press-progress {
			width: 80px;
		}
	}

	.section {

		&.closed {

			.section-toggle {

				.fa-caret-down {
					display: block;
				}

				.fa-caret-up {
					display: none;
				}
			}

			.section-content {
				overflow: hidden;
				height: 0;
			}
		}
	}
}
