#learn-press-item-comments {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;

	> label {
		position: absolute;
		z-index: 1000000000;
		top: -50px;
		right: 10px;
		height: 40px;
		margin: 0;
		padding: 0 10px;
		border: 1px solid #ddd;
		font-weight: normal;
		line-height: 40px;
	}

	.learn-press-comments {
		display: none;
		width: 800px;
		max-width: 90%;
		margin: 20px auto;
		padding: 50px;
	}
}

#learn-press-item-comments-toggle {

	&:checked + #learn-press-item-comments {
		top: 0;

		> label {
			top: 10px;
			color: #ff0;
		}

		.learn-press-comments {
			display: block;
		}
	}
}
