.learn-press-comments{
	width: 792px;
	max-width: 100%;
	margin: 0 auto;
	@media (max-width: 1024px) {
		width: 100%;
	}
}
#learn-press-item-comments {
	@media (min-width: 769px) {
		padding-bottom: 50px;
	}
}

// Tuanta comment code
//
//.comment-respond {
//
//	.comment-reply-title {
//		font-size: 1.875em;
//		font-weight: 500;
//		line-height: 1.2;
//		margin-bottom: 15px;
//	}
//
//	.comment-form {
//		margin: 0 -15px;
//
//		> p {
//			label {
//				display: block;
//				margin-bottom: 10px;
//				font-weight: 500;
//			}
//
//			&.comment-notes, &.logged-in-as {
//				color: #666;
//			}
//
//			&.logged-in-as {
//				a {
//					color: #666;
//					text-decoration: underline;
//
//					&:hover, &:focus {
//						color: var(--lp-primary-color);
//					}
//				}
//			}
//
//			&.comment-form-cookies-consent {
//				clear: both;
//
//				input {
//					padding: 0;
//					margin-right: 8px;
//				}
//
//				label {
//					display: inline;
//				}
//			}
//
//		}
//
//		> p, > div {
//			padding: 0 15px;
//			margin-bottom: 15px;
//		}
//
//		input {
//			&[type="text"], &[type="email"], &[type="url"] {
//				height: 40px;
//				line-height: normal;
//				width: 100% !important;
//				margin-bottom: 15px;
//			}
//		}
//
//		input[type="submit"] {
//			background-color: var(--lp-primary-color);
//			border: 0;
//			min-height: 40px;
//			line-height: 2.5em;
//			padding: 0 15px;
//			text-transform: capitalize;
//			font-weight: 500;
//			margin-top: 15px;
//			cursor: pointer;
//			color: white;
//		}
//
//		.comment-form-author, .comment-form-email, .comment-form-url {
//			width: 33.33%;
//			float: left;
//			@media (max-width: 575px) {
//				width: 100%;
//				float: unset;
//			}
//		}
//
//		textarea, input {
//			border: 1px solid #ccc;
//			@include border-radius(3px);
//			max-width: 100%;
//		}
//
//		textarea {
//			width: 100%;
//			display: block;
//			padding: 20px 15px;
//			resize: none;
//		}
//	}
//}
