.lp-single-course,.wp-block-learnpress-course-comment {
	.comment-form {
		.comment-form-url,
		.comment-form-email,
		.comment-form-author,
		.comment-form-comment {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		input[type="url"],
		input[type="text"],
		input[type="email"],
		textarea {
			padding: 12px 20px;
			outline: none;
			border: 1px solid var(--lp-border-color, #E2E0DB);
			border-radius: var(--lp-border-radius, 5px);
		}

		input[type=submit] {
			border-radius: var(--lp-border-radius, 5px);
		}
	}
}
