/**
 * Archive courses page.
 */
.lp-archive-courses {
	width: 100%;
	scroll-margin: 30px;
	//font-size: $font-size-base;

	.lp-content-area {
		&.has-sidebar {
			display: flex;
			gap: 32px;
			align-items: flex-start;
			@media (max-width: 768px) {
				display: inherit;
			}

			.learn-press-courses[data-layout="grid"] {
				li {
					width: 33.33%;
					@media (max-width: 1200px) {
						width: 50%;
					}
					@media (max-width: 600px) {
						width: 100%;
					}
				}
			}
		}

		.lp-main-content {
			flex: 1;
		}

		 .lp-archive-courses-sidebar {
		 	width: 25%;
		 	@media (max-width: 768px) {
		 		width: 100%;
		 	}
		 }
	}

	&.loading {
		ul.learn-press-courses {
			position: relative;

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
				right: 15px;
			}

			&::after {
				z-index: 3;
				background: #f3f3f3;
				background: linear-gradient(
					90deg,
					hsla(0, 0%, 74.5%, 0.2) 25%,
					hsla(0, 0%, 50.6%, 0.24) 37%,
					hsla(0, 0%, 74.5%, 0.2) 63%
				);
				background-size: 400% 100%;
				list-style: none;
				animation: lp-skeleton-loading 1.4s ease infinite;
			}

			&::before {
				z-index: 2;
				opacity: 0.8%;
				background: $color-white;
			}
		}
	}

	.learn-press-courses-header {
		//float: left;
		//padding-top: 4px;
		margin-bottom: $spacing-base-4x;

		h1 {
			margin: 0;
			font-size: $font-size-h2;
		}
	}
}

.learn-press-courses {
	clear: both;
	margin: 0 calc(-1 * $spacing-base-4x);
	padding: 0 !important;
	min-height: 300px;
	list-style: none;
	position: relative;
	@include flex();
	@include flex-wrap(wrap);

	.course-item {
		flex-direction: column;
		display: flex;
		transition: all 0.3s;

		// Should change effect when hovering on wrap element instead of thumbnail only.
		&:hover {
			.course-thumbnail {
				.thumbnail {
					&::before {
						opacity: 1;
					}
				}
			}

			.course-thumbnail a img {
				transform: scale(1.05);
			}

			.course-wishlist {
				opacity: 1;
			}
		}

		// Show heart if course is already in wishlist
		.course-wishlist {
			&.filled {
				opacity: 1;
			}
		}
	}

	.course-content {
		position: relative;
		border-top: 0;

		.course-permalink {
			display: block;
			border: none;
			text-decoration: none;
			color: inherit;
			line-height: 1.3;
		}

		.course-review {
			display: none;
		}

		.course-tags {
			display: inline-block;
		}

		.course-info {
			> span {
				display: block;
			}

			.course-price {
				.free,
				.price {
					font-size: $font-size-large;
					font-weight: $link-font-weight;
				}

				.origin-price {
					margin-right: $spacing-base-2x;
					opacity: 0.8;
					font-size: $font-size-small;
					text-decoration: line-through;
				}
			}
		}

		.course-short-description {
			display: -webkit-box;
			overflow: hidden;
			margin-bottom: $spacing-base-4x;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.separator {
			display: none;
		}
	}

	.course-thumbnail {
		overflow: hidden;
		position: relative;
		border-radius: $border-radius-global;

		.lp-badge {
			&.featured {
				position: absolute;
				z-index: 100;
				top: 28px;
				left: -110px;
				width: 300px;
				text-align: center;
				transform: rotate(-45deg);
			}
		}

		.course-wishlist {
			position: absolute;
			z-index: 2;
			top: 6px;
			right: 6px;
			opacity: 0;
			color: $color-white;
			cursor: pointer;

			&::before {
				font-family: "lp-icon";
				//font-weight: 900;
				content: "\f004";
			}

			.course-wishlist__btn {
				display: none;
			}

			&:hover {
				color: var(--lp-primary-color);
			}
		}

		&:hover {
			&::before {
				opacity: 1;
			}

			a img {
				transform: scale(1.05);
			}

			.course-wishlist {
				opacity: 1;
			}
		}

		a {
			display: block;
			overflow: hidden;
		}

		.thumbnail {
			margin: 0;
			padding: 0;
			border: 0;
			border-radius: unset;
			line-height: unset;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			transition: all 0.5s ease;
			transform: scale(1);
			max-width: unset !important;
		}
	}

	.wap-course-title {
		margin: 0 0 $spacing-base-3x 0;
		padding: 0;
		display: block;
		font-size: $font-size-h4;
		font-weight: $link-font-weight;
		a:hover {
			color: var(--lp-primary-color);
		}
	}

	.course-permalink {
		&:hover {
			color: var(--lp-primary-color);
		}
	}

	.course-summary-content {
		@media (min-width: 769px) {
			.course-info-left {
				width: calc(100% - 340px);
			}
		}

		.course-meta {
			&.course-meta-primary {
				.course-meta__pull-left {
					.meta-item {
						.meta-item__value {
							span,
							> div {
								@media (max-width: 1024px) {
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
									overflow: hidden;
								}
							}
						}
					}
				}
			}

			&.course-meta-secondary {
				margin-bottom: 0;

				.course-meta__pull-left {
					.meta-item {
						height: auto;

						&:last-child {
							margin-right: 0;
						}

						@media (max-width: 1024px) {
							margin-right: 0 !important;
							width: calc((100% - 32px) / 3);
						}
						@media (max-width: 768px) {
							width: 100%;
						}
					}
				}
			}
		}

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.course-price {
		.free {
			color: #3ab500;
		}
	}

	.course {
		width: 25%;
		margin: 0 0 32px 0;
		box-shadow: none;
		list-style: none;
	}

	.course-info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: $spacing-base-2x;
	}

	.course-instructor-category {
		display: flex;
		padding: 0;
		gap: $spacing-base;
		flex-wrap: wrap;
		margin-bottom: $spacing-base-3x;

		> div > * {
			display: inline;
			vertical-align: middle;
		}

		label {
			font-size: inherit;
			font-weight: inherit;
		}

		a {
			font-weight: $link-font-weight;
			text-decoration: none;

			&:hover {
				color: $color-primary;
			}
		}
	}

	.course-wrap-meta {
		display: flex;
		padding: 0;
		margin-bottom: $spacing-base-3x;
		//font-size: $font-size-small;
		gap: $spacing-base-5x;
		flex-wrap: wrap;
		row-gap: $spacing-base-2x;

		.meta-item {
			text-transform: capitalize;
			display: flex;
			gap: $spacing-base-2x;

			&::before {
				color: var(--lp-primary-color);
				font-family: "lp-icon";
			}

			& > div {
				display: inline-block;
			}
		}

		.meta-item-level::before {
			content: "\f012";
		}

		.meta-item-duration::before {
			content: "\f017";
		}

		.meta-item-lesson::before {
			content: "\f15b";
		}

		.meta-item-quiz::before {
			content: "\f12e";
		}

		.meta-item-student::before {
			content: "\f501";
		}

		.meta-item-address::before {
			content: "\e91b";
		}
	}

	.course-content {
		.course-readmore {
			a {
				@include course_readmore();
			}
		}
	}

	&[data-layout="list"] {
		margin: 0;

		.course {
			display: flex;
			width: 100%;
			border-bottom: 1px solid $border-color;
			flex-wrap: wrap;
			justify-content: flex-end;
			padding-bottom: 32px;
		}

		.course-item {
			flex-direction: row;
			width: 100%;
			border: unset;
			align-items: start;
			//padding: 24px;
			@media (max-width: 767px) {
				flex-direction: column;
				//padding: 16px 16px 0 16px;
			}
		}

		.course-content {
			padding: 0 0 0 24px;
			@media (max-width: 767px) {
				padding: 16px 0;
			}

			//.course-instructor {
			//	display: inline-block;
			//}

			//.course-categories {
			//	a {
			//		position: relative;
			//		padding: 2px 20px 2px 15px;
			//		-webkit-clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
			//		clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
			//		line-height: 1.3em;
			//	}
			//}

			.course-tags a {
				margin: 0 10px 10px 0;
				padding: 3px 5px;
				border-radius: 3px;
				color: $color-white;
				background: #e4a2a2;
				line-height: 1;
			}

			.course-excerpt {
				width: 100%;
			}

			.course-info {
				width: 100%;
				display: flex;
				justify-content: space-between;
				@media (max-width: 520px) {
					width: 100%;
				}

				.course-students {
					display: none;
				}

				//.course-price {
				//	float: unset;
				//}
			}
		}

		.course-thumbnail {
			width: 35%;
		}

		.course-content {
			width: 65%;
		}

		@media (max-width: 767px) {
			.course-thumbnail,
			.course-content {
				width: 100%;
			}
		}

		.course-title {
			font-size: $font-size-h3;
		}
	}

	&[data-layout="grid"],
	&.lp-courses-related {
		.course {
			padding: 0 $spacing-base-4x;

			@media (max-width: 992px) {
				width: 50%;
			}

			@media (max-width: 767px) {
				width: 100%;
			}
		}

		.wp-block-learnpress-course-item-template,
		.course-item {
			border: 1px solid $border-color;
			border-radius: $border-radius-global;
		}

		.course-wrap-meta {
			.wp-block-learnpress-course-duration,
			.wp-block-learnpress-course-level,
			.wp-block-learnpress-course-quiz,
			.meta-item-duration,
			.meta-item-level,
			.meta-item-quiz {
				display: none;
			}
		}

		.course-content {
			width: 100%;
			padding: $spacing-base-5x;
			flex-grow: 1;

			.course-info {
				flex-direction: column;
				align-items: flex-start;
				gap: $spacing-base-3x;

				.course-readmore {
					width: 100%;
					text-align: center;
				}
			}

			//.course-title {
			//	font-size: $font-size-h4;
			//}

			.course-excerpt,
			.course-short-description {
				display: none;
			}

			//
			//.separator {
			//	display: block;
			//	border-top: 1px solid rgba(153, 153, 153, 0.2);
			//	margin-left: -20px;
			//	margin-right: -20px;
			//}
		}

		.learn-press-message {
			margin-left: 15px;
			margin-right: 15px;
		}

		.course-thumbnail {
			border-radius: $border-radius-global $border-radius-global 0 0;
		}
	}

	&[data-size="3"] {
		.course {
			width: 33.3333%;

			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}

	.lp-archive-course-skeleton {
		position: absolute;
		height: 100%;
		background: linear-gradient(
			90deg,
			hsla(0, 0%, 74.5%, 0.2) 25%,
			hsla(0, 0%, 50.6%, 0.24) 37%,
			hsla(0, 0%, 74.5%, 0.2) 63%
		);
		animation: lp-skeleton-loading 1.4s ease infinite;
		background-size: 400% 100%;

		li {
			display: none;
		}
	}
}

.lp-list-courses-default {
	.lp-skeleton-animation {
		clear: both;
		padding: 5px 0 0 0;
	}
}

.lp-courses-bar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: $spacing-base-3x;
	margin-bottom: $spacing-base-8x;
	flex-wrap: wrap;

	.courses-order-by {
		@include order_by_course();
	}

	> * {
		display: flex;
	}

	.search-courses {
		@include search_courses();
	}

	.switch-layout {
		align-items: center;
		justify-content: center;

		@media (max-width: 768px) {
			display: none;
		}

		input[type="radio"] {
			display: none;
		}

		.switch-btn {
			margin: 0;
			cursor: pointer;
			//background-color: $color-white;
			padding: $spacing-base-2x $spacing-base-3x;

			&::before {
				display: inline-block;
				margin: 6px;
				color: $text-color-base;
				font-family: "lp-icon";
				line-height: 1.2;
				width: 1em;
			}

			&.grid {
				border-radius: $border-radius-global 0 0 $border-radius-global;
				border: 1px solid $border-color;
				border-right: none;

				&::before {
					content: "\f009";
				}
			}

			&.list {
				//margin-left: 3px;
				border-radius: 0 $border-radius-global $border-radius-global 0;
				border: 1px solid $border-color;
				border-left: none;

				&::before {
					content: "\f03a";
				}
			}
		}
	}

	.course-filter-btn-mobile {
		display: inline-flex;
		align-items: center;

		@media (min-width: 769px) {
			display: none;
		}
	}

	@media (max-width: 767px) {

		.search-courses {
			width: 100%;

			input {
				min-width: 240px;
				max-width: unset;
			}
		}
	}
}

@for $i from 0 through 9 {
	input[type="radio"]:nth-child(#{$i*2 + 1}):checked
		~ .switch-btn:nth-child(#{$i*2 + 2}) {
		.switch-layout & {
			background-color: $bg-grey;
		}

		&::before {
			color: var(--lp-primary-color);
		}
	}
}

/**
 *  End Archive courses page.
 */

.lp_allow_repurchase_select {
	padding: 20px;
	background: #f7f7f7;

	> ul {
		padding: 0;
		list-style: none;

		li {
			label {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}

	> a {
		display: inline-block;
		margin-top: 10px;
		color: $color-white;
		background-color: #222;
	}
}
