.lp-archive-courses {

	.course-detail-info {
		padding: $spacing-base-7x 0 $spacing-base-5x 0;
		color: $color-white;
		background: var(--lp-secondary-color);
		position: relative;

		.course-title {
			margin: 0 0 $spacing-base-6x 0;
			border-bottom: 1px solid rgb(255 255 255 / 10%);
			color: $color-white;
			font-weight: $heading-font-weight;
			font-size: $font-size-h2;
			padding-bottom: $spacing-base-6x;
		}

		&::before, &::after {
			content: "";
			width: 50%;
			height: 100%;
			background: var(--lp-secondary-color);
			position: absolute;
			top: 0;
		}

		&::before {
			right: 100%;
			left: auto;
		}

		&::after {
			left: 100%;
			right: auto;
		}
	}

	.course-meta__pull-left {
		font-size: $font-size-small;

		.meta-item {
			display: flex;
			text-transform: capitalize;
			align-items: center;
			&::before {
				margin-right: $spacing-base-2x;
				color: var(--lp-primary-color);
				font-family: 'lp-icon';
			}

			.meta-item__image {
				margin-right: $spacing-base-2x;
				flex: 0 0 46px;
 				img {
					overflow: hidden;
					position: relative;
					width: 46px;
					height: 46px;
					border-radius: 50%;
					display: block;
				}
			}

			&.meta-item-duration::before {
				content: "\f017";
			}

			&.meta-item-level::before {
				content: "\f012";
			}

			&.meta-item-lesson::before {
				content: "\f0c5";
			}

			&.meta-item-quiz::before {
				content: "\f12e";
			}

			&.meta-item-student::before {
				content: "\f501";
			}
		}

		.meta-item__value {

			label {
				margin: 0;
				color: var(--lp-color-accent-1);
				font-size: $font-size-label;
				font-weight: 300;
				line-height: 1.5;
				display: block;
			}

			> div {
				line-height: 1.5;

				a {
					color: $color-white;
					text-transform: capitalize;
					text-decoration: none;

					&:hover {
						color: var(--lp-primary-color);
					}
				}
			}
		}

		.meta-item-categories {
			align-items: center;

			&::before {
				margin-right: $spacing-base-2x;
				font-size: 2.25em;
				line-height: 1;
				content: "\f097";
			}

			.meta-item__value {
				div {
					span {
						padding: 0 $spacing-base;
					}
				}
			}
		}

		.meta-item-review {

			.meta-item__value {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.review-stars-rated {
					margin-bottom: 0;
					line-height: 1;
				}
			}
		}


	}

	.course-meta-primary {
		margin-bottom: $spacing-base-5x;

		.meta-item-categories::before {
			font-weight: 400;
		}
	}

	.lp-entry-content {
		display: flex;
		flex-direction: row;

		.entry-content-left {
			width: calc(100% - 300px);
			max-width: 100%;
			margin: 0;
			padding-right: 40px;
			padding-top: 60px;

			@media (max-width: 768px) {
				width: 100%;
				padding-right: 0;
				margin-bottom: 50px;
			}
		}

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	.course-summary-sidebar {
		width: 300px;
		max-width: 100%;
		margin-top: -190px;

		@media (max-width: 768px) {
			width: 100%;
			margin-top: 0;

			.course-summary-sidebar__inner {
				width: 100%;
			}
		}

		@media (max-width: 767px) {
			width: 100%;
			padding-left: 0;
		}
	}

	.course-summary-sidebar__inner {
		width: 300px;

		.course-sidebar-top {
			box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
		}

		.course-sidebar-secondary {
			margin-top: 30px;
			padding: 0;
		}

		.learn-press-course-wishlist {
			color: $color-white;
			background: transparent !important;
			font-size: 0;

			&.on,
			&:hover {
				color: var(--lp-primary-color);
			}

			&::before {
				font-family: 'lp-icon';
				font-size: 1em;
				//font-weight: 900;
				content: "\f004";
			}
		}

		> div {
			overflow: hidden;
			padding: 20px;
			background: $color-white;

			ul {
				list-style: none;

				li a {
					color: #666;
					font-weight: 300;
					line-height: 1.5em;

					&:hover {
						color: var(--lp-primary-color);
						box-shadow: unset;
					}
				}
			}
		}

	}

	.courses-btn-load-more {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.course-wishlist:before{
		font-family: 'lp-icon';
	}
}
 
.lp-single-course {
	&__header {
		background-color: #F1F2F8;

		&__inner {
			max-width: var(--lp-container-max-width);
			margin: 0 auto;
			padding-right: var(--lp-cotainer-padding);
			padding-left: var(--lp-cotainer-padding);
			padding-top: 40px;
			padding-bottom: 40px;

			> * {
				@media (min-width: 992px) {
					width: calc(100% - 440px);
				}
			}
		}

		.learn-press-breadcrumb {
			display: flex;
			list-style: none;
			gap: 4px;
			flex-wrap: wrap;
			margin-bottom: 8px;
			padding: 0;
		}

		.course-title {
			margin: 0 0 24px 0;
		}

		.course-instructor-category {
			display: flex;
			padding: 0;
			gap: 4px;
			flex-wrap: wrap;
			margin-bottom: 40px;
	
			> div > * {
				display: inline;
				vertical-align: middle;
			}
	
			label {
				font-size: inherit;
				font-weight: inherit;
			}
	
			a {
				font-weight: 600;
				text-decoration: none;
				&:hover {
					color: $color-primary;
				}
			}
	
		}
	}

	.lp-single-course-main {
		padding: 40px 0;
		display: flex;
		column-gap: 60px;
		row-gap: 30px;
		flex-wrap: wrap;

		&__left {
			width: 100%;
			@media (min-width: 992px) {
				width: calc(100% - 440px);
			}

			> div {
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.extra-box__title, 
			.course-faqs__title, 
			.course-material__title {
				margin: 0 0 20px 0;
			}

			.course-features,
			.course-target,
			.course-requirements {
				ul {
					margin: 0 0 0 20px;
					padding: 0;
				}
			}

			.instructor-social {
				display: inline-flex;
				padding: 0;
				gap: 12px;
				margin: 16px 0 0 0;
	
				> a {
					text-align: center;
					list-style: none;
					
					span {
						display: none;
					}

					i {
						width: 40px;
						height: 40px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						border: 1px solid $border-color;
						border-radius: 50%;

						&:hover {
							background-color: $color-primary;
							border-color: $color-primary;
							color: $color-white;
						}
					}
				}
			}
		}

		&__right {
			width: 100%;
			@media (min-width: 992px) {
				width: 380px;
				margin-top: -280px;
			}

			&__inner {
				position: sticky;
				top: 0;
				background-color: $color-white;
				border: 1px solid $border-color;
				padding: 20px;
				border-radius: $border-radius-global;

				> div {
					margin-bottom: 20px;
	
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.info-metas {
				margin-bottom: 30px;

				.info-meta-item {
					display: flex;
					gap: 4px;
					margin-bottom: 12px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.info-meta-left {
					display: flex;
					gap: 8px;
					align-items: center;
				}

				i {
					color: $color-primary;
				}
			}

			.course-img {
				margin-bottom: 20px;
				overflow: hidden;
				margin: -20px -20px 20px -20px;
				border-radius: $border-radius-global $border-radius-global 0 0;

				img {
					max-width: 100%;
				}
			}

			.course-price {
				display: block;
				margin-bottom: 30px;
				font-size: $font-size-large;
				font-weight: $heading-font-weight;

				.free {
					color: #3AB500;
				}
		
				.origin-price {
					text-decoration: line-through;
					opacity: 0.6;
					font-size: $font-size-small;
					margin-right: 4px;
				}
			}

			.course-buttons {
				form, .lp-button {
					width: 100%;
				}

				.lp-button {
					background-color: $color-primary;
					border: $color-primary;
					color: $color-white;

					&:hover {
						background-color: var(--lp-secondary-color);
						border-color: var(--lp-secondary-color);
					}
				}
			}

			.social-share-toggle {
				position: relative;
			
				.share-toggle-icon {
					cursor: pointer;
					display: flex;
					align-items: center;
					gap: 8px;

					.share-label {
						margin: 0;
					}
				}
			
				.content-widget-social-share {
					padding: 20px;
					background: #fff;
					box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.12);
				}

				.lp-social-media {
					display: inline-flex;
					padding: 0;
					gap: 12px;
		
					> li {
						text-align: center;
						list-style: none;
						
						span {
							display: none;
						}

						i {
							width: 40px;
							height: 40px;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							border: 1px solid $border-color;
							border-radius: 50%;

							&:hover {
								background-color: $color-primary;
								border-color: $color-primary;
								color: $color-white;
							}
						}
					}
				}

				.clipboard-post {
					display: flex;
					justify-content: space-between;
					margin-bottom: 20px;
					gap: 12px;

					@media (max-width: 600px) {
						flex-wrap: wrap;
					}
				}
		
				.btn-clipboard {
					position: relative;
		
					.tooltip {
						display: none;
						position: absolute;
						z-index: 2;
						left: 50%;
						right: auto;
						bottom: 100%;
						transform: translateX(-50%);
						width: max-content;
						color: #fff;
						font-size: 0.825em;
						padding: 5px 10px;
						background: rgba(0, 0, 0, 0.72);
						border-radius: 3px;
						margin-bottom: 10px;
		
						&:before {
							content: "";
							position: absolute;
							z-index: 2;
							left: 50%;
							bottom: -5px;
							margin-left: -3px;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid rgba(0, 0, 0, 0.72);
						}
					}
		
					&:hover {
						background-color: #eee;
		
						.tooltip {
							display: block;
						}
					}
				}
		
				.clipboard-value {
					border: 1px solid $border-color;

					@media (max-width: 600px) {
						width: 100%;
					}
				}
			
				.wrapper-content-widget {
					visibility: hidden;
					text-align: left;
					opacity: 0;
					-webkit-transition: all 0.27s ease;
					-moz-transition: all 0.27s ease;
					-o-transition: all 0.27s ease;
					transition: all 0.27s ease;
					position: absolute;
					right: 0;
					top: auto;
					z-index: 9;
					margin-top: 20px;
				}
			
				&.social-share-toggle__open {
					.wrapper-content-widget {
						margin-top: 0;
						visibility: visible;
						opacity: 1;
					}
				}
			
				@media (max-width: 768px) {
					.wrapper-content-widget {
						position: fixed;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: rgba(0, 0, 0, 0.7);
			
						.content-widget-social-share {
							position: relative;
							z-index: 1;
							max-width: fit-content;
							top: 50%;
							min-width: 320px;
							transform: translateY(-50%);
							margin: 0 auto;
						}
					}
				}
			}
		}
	}

	.lp-list-courses-related {
		.section-title {
			margin: 0 0 40px 0;
		}
	}

	.course-detail-info {
		&__inner {
			max-width: var(--lp-container-max-width);
			margin: 0 auto;
			padding-right: var(--lp-cotainer-padding);
			padding-left: var(--lp-cotainer-padding);
		}

		.course-meta {
			gap: 16px;
			flex-wrap: wrap;
		}

		@media (min-width: 769px) {
			.course-meta__pull-left {
				width: calc(100% - 340px);
				max-width: 100%;
				margin: 0;
			}
		}
	}
	.course-tabs {
		.course-faqs__title, 
		.course-material__title {
			display: none;
		}
	}
	.course-summary-sidebar {
		&__inner {
			background-color: $color-white;
			border: 1px solid $border-color;
			padding: 20px;
			border-radius: $border-radius-global;
		}

		.course-summary-sidebar__inner > * {
			padding: 0;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.course-img {
			margin: -20px -20px 20px;
			border-radius: $border-radius-global $border-radius-global 0 0;

			img {
				max-width: 100%;
			}
		}

		.course-price {
			display: block;
			font-size: $font-size-large;
			font-weight: $heading-font-weight;

			.free {
				color: #3AB500;
			}
	
			.origin-price {
				text-decoration: line-through;
				opacity: 0.6;
				font-size: $font-size-small;
				margin-right: 4px;
			}
		}
	}
}
