/**
 * Archive courses page.
 */
.lp-archive-courses {
	width: 100%;
	scroll-margin: 30px;

	.lp-content-area {
		&.has-sidebar {
			display: flex;
			gap: 32px;
			@media (max-width: 768px) {
				display: inherit;
			}

			.learn-press-courses[data-layout=grid] {
				li {
					width: 33.33%;
					@media (max-width: 1440px) {
						width: 50%;
					}
					@media (max-width: 768px) {
						width: 100%;
					}
				}
			}

		}

		.lp-main-content {
			flex: 1;
		}

		.lp-archive-courses-sidebar {
			width: 25%;
			@media (max-width: 768px) {
				width: 100%;
			}
		}
	}

	&.loading {

		ul.learn-press-courses {
			position: relative;

			&::before, &::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
				right: 15px;
			}

			&::after {
				z-index: 3;
				background: #f3f3f3;
				background: linear-gradient(90deg, hsla(0, 0%, 74.5%, 0.2) 25%, hsla(0, 0%, 50.6%, 0.24) 37%, hsla(0, 0%, 74.5%, 0.2) 63%);
				background-size: 400% 100%;
				list-style: none;
				animation: lp-skeleton-loading 1.4s ease infinite;
			}

			&::before {
				z-index: 2;
				opacity: 0.8%;
				background: $color-white;
			}

		}
	}

	form[name="search-course"] {
		position: relative;
		margin-bottom: 20px;

		.search-course-input {
			width: 100%;
			padding: 12px;
			@include box-sizing(border-box);
		}

		.search-course-button {
			position: absolute;
			top: 1px;
			right: 1px;
			bottom: 1px;
			height: auto;
			padding: 15px;
			line-height: 1px;
		}
	}

	.learn-press-courses-header {
		float: left;
		//padding-top: 4px;

		h1 {
			margin: 0;
			font-size: $font-size-h2;
			font-weight: $heading-font-weight;
		}

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	.course-item {
		flex-direction: column;
		display: flex;
		transition: all 0.3s;

		// Should change effect when hovering on wrap element instead of thumbnail only.
		&:hover {
			.course-thumbnail {
				.thumbnail {
					&::before {
						opacity: 1;
					}
				}
			}

			.course-thumbnail a img {
				transform: scale(1.05);
			}

			.course-wishlist {
				opacity: 1;
			}
		}

		// Show heart if course is already in wishlist
		.course-wishlist {

			&.filled {
				opacity: 1;
			}
		}

		// <!-- .course-content

		.course-instructor {
			margin-bottom: $spacing-base-2x;
			//font-size: 0.8em;
			//font-weight: 300;
			//line-height: 1.5625em;
			text-transform: capitalize;

			a {
				color: $item-preview;
				text-decoration: none;

				&:hover {
					color: var(--lp-primary-color);
				}
			}
		}
	}

	.course-content {
		position: relative;
		border-top: 0;

		.course-permalink {
			display: block;
			border: none;
			//color: $color-white;
			text-decoration: none;
			//text-transform: none;
			//@include box-shadow(none);
			color: inherit;
		}

		.course-review {
			display: none;
		}

		.course-categories, .course-tags {
			display: inline-block;
			font-size: $font-size-small;
		}

		.course-categories {
			position: relative;
			//margin-right: 10px;
			margin-bottom: $spacing-base-2x;

			a {
				display: inline-block;
				display: none;
				margin: 0 $spacing-base-2x;
				color: $color-white;
				text-decoration: none;

				&:first-child {
					display: block;
					margin-left: 0;
					padding: 2px $spacing-base-3x;
					background: var(--lp-primary-color);
				}

				&:hover {
					color: $text-color-base;
				}
			}

		}

		.course-info {
			//color: #666;
			//font-weight: 300;

			> span {
				display: block;
			}

			.course-price {
				float: right;
				//font-size: 1.2em;
				.origin-price,
				.price {
					//color: $text-color-base;
					font-size: $font-size-large;
					font-weight: $heading-font-weight;
				}

				.origin-price {
					margin-right: $spacing-base-2x;
					opacity: 0.8;
					font-size: $font-size-small;
					//color: #666;
					//font-size: 0.8em;
					//font-weight: 300;
					text-decoration: line-through;
				}
			}

			.course-instructor {
				float: right;
			}

			&::after {

				@include clear-fix();
			}
		}

		.course-excerpt {
			display: -webkit-box;
			overflow: hidden;
			margin-bottom: $spacing-base-4x;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.separator {
			display: none;
		}
	}

	.course-wrap-thumbnail {
		overflow: hidden;
		position: relative;

		.lp-badge {
			&.featured {
				position: absolute;
				z-index: 100;
				top: 28px;
				left: -110px;
				width: 300px;
				text-align: center;
				transform: rotate(-45deg);
			}
		}

		.course-wishlist {
			position: absolute;
			z-index: 2;
			top: 6px;
			right: 6px;
			opacity: 0;
			color: $color-white;
			cursor: pointer;

			&::before {
				font-family: 'lp-icon';
				//font-weight: 900;
				content: "\f004";
			}

			.course-wishlist__btn {
				display: none;
			}

			&:hover {
				color: var(--lp-primary-color);
			}
		}

		&:hover {

			&::before {
				opacity: 1;
			}

			.course-thumbnail a img {
				transform: scale(1.05);
			}

			.course-wishlist {
				opacity: 1;
			}
		}
	}

	.course-thumbnail {

		a {
			display: block;
			overflow: hidden;
		}

		.thumbnail {
			margin: 0;
			padding: 0;
			border: 0;
			border-radius: unset;
			line-height: unset;

		}

		img {
			display: block;
			width: 100%;
			height: auto;
			transition: all 0.5s ease;
			transform: scale(1);
			max-width: unset !important;
		}
	}

	.course-title {
		margin: 0 0 $spacing-base-2x 0;
		padding: 0;

		&:hover {
			color: var(--lp-primary-color);
		}
	}

	.course-permalink {
		&:hover {
			color: var(--lp-primary-color);
		}
	}

	.course-summary-content {

		@media (min-width: 769px) {
			.course-info-left {
				width: calc(100% - 340px);
			}
		}

		.course-meta {
			&.course-meta-primary {
				.course-meta__pull-left {
					.meta-item {
						.meta-item__value {
							span, > div {
								@media (max-width: 1024px) {
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
									overflow: hidden;
								}
							}

						}
					}
				}
			}

			&.course-meta-secondary {
				margin-bottom: 0;

				.course-meta__pull-left {
					.meta-item {
						height: auto;

						&:last-child {
							margin-right: 0;
						}

						@media (max-width: 1024px) {
							margin-right: 0 !important;
							width: calc((100% - 32px) / 3);
						}
						@media (max-width: 768px) {
							width: 100%;
						}
					}
				}
			}

		}

		@media (max-width: 768px) {
			width: 100%;
		}
	}

}

.learn-press-courses {
	clear: both;
	margin: 0 -8px;
	padding: 0 !important;
	min-height: 300px;
	list-style: none;
	position: relative;
	@include flex();
	@include flex-wrap(wrap);

	.course {
		width: 25%;
		margin: 0 0 32px 0;
		box-shadow: none;
		list-style: none;
	}

	&[data-layout="list"] {
		margin: 0;

		.course {
			display: flex;
			width: 100%;
			border-bottom: 1px solid rgba(204, 204, 204, 0.3);
			flex-wrap: wrap;
			justify-content: flex-end;
			padding-bottom: 32px;
		}

		.course-item {
			flex-direction: row;
			width: 100%;
			border: unset;
			align-items: start;
			//padding: 24px;
			@media (max-width: 767px) {
				flex-direction: column;
				//padding: 16px 16px 0 16px;
			}
		}

		.course-content {
			padding: 0 0 0 24px;
			@media (max-width: 767px) {
				padding: 16px 0;
			}

			.course-instructor {
				display: inline-block;
			}

			//.course-categories {
			//	a {
			//		position: relative;
			//		padding: 2px 20px 2px 15px;
			//		-webkit-clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
			//		clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
			//		line-height: 1.3em;
			//	}
			//}

			.course-tags a {
				margin: 0 10px 10px 0;
				padding: 3px 5px;
				border-radius: 3px;
				color: $color-white;
				background: #e4a2a2;
				line-height: 1;
			}

			.course-excerpt {
				width: 100%;
			}

			.course-footer {
				width: 100%;
				display: flex;
				justify-content: space-between;
				@media (max-width: 520px) {
					width: 100%;
				}

				.course-students {
					display: none;
				}

				//.course-price {
				//	float: unset;
				//}

			}

			.course-readmore {
				//width: 40%;
				//@media (max-width: 520px) {
				//	width: 100%;
				//}

				a {
					padding: $spacing-base $spacing-base-4x;
					border-radius: $border-radius-global;
					color: $color-white;
					background: var(--lp-primary-color);
					transition: all 0.3s;
					display: block;
					//width: fit-content;
					//float: right;
					//white-space: nowrap;

					&:hover {
						filter: contrast(0.85);
						//opacity: 0.5;
						//background: var(--lp-primary-color);
					}

					//@media (max-width: 520px) {
					//	float: unset;
					//	margin-top: 16px;
					//}
				}
			}
		}

		.course-wrap-meta {
			display: flex;
			//padding-top: 8px;
			padding-bottom: 16px;
			font-size: $font-size-small;
			gap: 12px;
			flex-wrap: wrap;
			row-gap: 8px;

			.meta-item {
				text-transform: capitalize;
				//@media (max-width: 1200px) {
				//	width: calc((100% - 32px) / 3);
				//	white-space: nowrap;
				//}
				//@media (max-width: 1024px) {
				//	padding-right: 20px;
				//}
				//@media (max-width: 567px) {
				//	width: calc((100% - 16px) / 2);
				//}

				&::before {
					//position: relative;
					//top: -1px;
					margin-right: 4px;
					color: var(--lp-primary-color);
					font-family: 'lp-icon';
					//font-weight: 900;
				}

				&>div {
					display: inline-block;
				}
			}

			.meta-item-level::before {
				content: "\f012";
			}

			.meta-item-duration::before {
				content: "\f017";
			}

			.meta-item-lesson::before {
				content: "\f0c5";
			}

			.meta-item-quiz::before {
				content: "\f12e";
			}

			.meta-item-student::before {
				content: "\f501";
			}
		}

		.course-wrap-thumbnail {
			width: 35%;
		}

		.course-content {
			width: 65%;
		}

		@media (max-width: 767px) {
			.course-wrap-thumbnail, .course-content {
				width: 100%;
			}
		}

		.course-info {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		.course-title {
			font-size: $font-size-h3;
		}
	}

	&[data-layout="grid"] {

		.course {
			padding: 0 8px;

			@media (max-width: 992px) {
				width: 50%;
			}

			@media (max-width: 767px) {
				width: 100%;
			}
		}

		.course-item {
			border: 1px solid #f0f0f0;

			&:hover {
				box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
			}
		}

		.course-content {
			padding: 15px 20px 12px 20px;
			flex-grow: 1;

			.course-categories {
				position: absolute;
				z-index: 1;
				top: -50px;
				right: -1px;
				margin-right: 0;

				&::after {
					display: none;
				}

				a {
					position: relative;
					margin: 0;
					//padding: 2px 12px;
					//-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
					//clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
				}
			}

			.course-permalink {
				margin-bottom: 20px;
			}

			.course-info {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}

			.course-title {
				font-size: $font-size-h4;
			}
			.course-wrap-meta, .course-excerpt, .course-short-description, .course-readmore {
				display: none;
			}

			.separator {
				display: block;
				border-top: 1px solid rgba(153, 153, 153, 0.2);
				margin-left: -20px;
				margin-right: -20px;
			}

			.course-footer {
				padding-top: $spacing-base-3x;
				//border-top: 1px solid rgba(153, 153, 153, 0.2);
				.course-students {
					float: left;
					text-transform: capitalize;

					&::before {
						position: relative;
						top: -1px;
						margin-right: 8px;
						color: var(--lp-primary-color);
						font-family: 'lp-icon';
						//font-weight: 900;
						content: "\f501";
					}
				}
			}
		}

		.learn-press-message {
			margin-left: 15px;
			margin-right: 15px;
		}
	}

	&[data-size="3"] {

		.course {
			width: 33.3333%;

			@media (max-width: 767px) {
				width: 100%;

			}
		}
	}

	.lp-archive-course-skeleton {
		position: absolute;
		height: 100%;
		background: linear-gradient(90deg, hsla(0, 0%, 74.5%, 0.2) 25%, hsla(0, 0%, 50.6%, 0.24) 37%, hsla(0, 0%, 74.5%, 0.2) 63%);
		animation: lp-skeleton-loading 1.4s ease infinite;
		background-size: 400% 100%;

		li {
			display: none;
		}
	}
}

.lp-list-courses-default {
	.lp-skeleton-animation {
		clear: both;
		padding: 5px 0 0 0;
	}
}

.lp-courses-bar {
	display: flex;
	float: right;
	margin-bottom: 40px;

	@media (max-width: 767px) {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}

	.search-courses {
		position: relative;
		width: 306px;
		max-width: 100%;
		margin-right: 20px;
		line-height: 1;
		flex: 1;

		input[type="text"] {
			width: 100%;
			padding: 0 30px 10px 0;
			border: none;
			border-bottom: 1px solid $input-border-color;
			border-radius: 0;
			background: transparent;
			font-size: 1em;

			&:focus {
				border-color: var(--lp-primary-color);
				outline: 0;
			}
		}

		button {
			position: absolute;
			top: 50%;
			right: 0;
			width: 30px;
			height: 30px;
			padding: 0;
			border: none;
			color: $text-color-base !important;
			background: transparent !important;;
			transform: translate(0, -50%);
			box-shadow: none;
			&:focus {
				border: 0;
				outline: 0;
			}

			&.loading > i {

				&::before {
					display: inline-block;
					font-family: 'lp-icon';
					//font-weight: 900;
					content: "\f110";

					@include animation(lp-rotating 1s linear infinite);
				}
			}
		}

		@include placeholder-color($input-color-placeholder);

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.switch-layout {
		display: flex;
		//height: 44px;
		line-height: 1;
		text-align: right;
		flex: 0 0 32px;
		align-items: center;
		justify-content: center;

		input[type="radio"] {
			display: none;
		}

		.switch-btn {
			display: block;
			width: 32px;
			height: 32px;
			margin: 0;
			padding: 0;
			line-height: 2em;
			text-align: center;
			cursor: pointer;

			&::before {
				display: inline-block;
				margin: 8px 6px;
				color: $text-color-base;
				font-family: 'lp-icon';
				//font-weight: 900;
				line-height: 1;
			}

			&.grid {

				&::before {
					content: "\f00a";
				}
			}

			&.list {
				margin-left: 3px;

				&::before {
					content: "\f03a";
				}
			}
		}
	}

}

@for $i from 0 through 9 {
	input[type="radio"]:nth-child(#{$i*2+1}):checked ~ .switch-btn:nth-child(#{$i*2+2}) {
		//background: #f5f5f5;

		&::before {
			color: var(--lp-primary-color);
		}
	}
}

/**
 *  End Archive courses page.
 */

.lp_allow_repuchase_select {
	padding: 20px;
	background: #f7f7f7;

	> ul {
		padding: 0;
		list-style: none;
	}

	> a {
		display: inline-block;
		margin-top: 10px;
		color: $color-white;
		background-color: #222;
	}
}


