/**
* Style for course filter
*
* @since 4.2.3.2
* @version 1.0.0
*/

.lp-form-course-filter .lp-form-course-filter__item{
	margin-bottom: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;
	.lp-form-course-filter{
		&__title{
			font-weight: 500;
		}
		&__content{
			position: relative;

			.lp-course-filter__field * {
				cursor: pointer;
			}

			.lp-course-filter__field{
				position: relative;
				padding-right: 10%;
				line-height: 2rem;
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				input{
					&:focus{
						outline: none;
					}
					&[disabled] {
						cursor: not-allowed;
					}
				}
				label{
					color: #333;
					padding: 0;
					margin: 0;
					text-transform: capitalize;
				}
				.count{
					position: absolute;
					right: 0;
					top: 0;
					//font-size: 0.875rem;
					color: #999;
				}
			}
			.lp-course-filter-search-field{
				position: relative;
				display: flex;
				align-items: center;
				input{
					width: 100%;
					line-height: 2rem;
					border: 1px solid #eee;
					padding: 8px;
					&:focus{
						outline: none;
					}
				}
				.lp-loading-circle {
					position: absolute;
					right: 10px;
				}
			}
			.lp-course-filter-search-result{
				position: absolute;
				z-index: 10;
				background: white;
				width: 100%;
				border: 1px solid #eeeeee;
				max-height: 300px;
				overflow-y: auto;
				padding: 0;

				.lp-courses-suggest-list{
					padding: 0 10px;
					.item-course-suggest{
						display: flex;
						gap: 8px;
						padding: 10px 0;
						align-items: center;
						border-bottom: 1px solid #f5f5f5;
						&:last-child {
							border-bottom: none;
						}
					}
					.course-img{
						width: 50px;
						img{
							width: 50px;
							height: auto;
							display: block;
						}
					}
					a{
						font-size: 0.875em;
						line-height: 1em;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						span{
							font-size: 0.875em;
							line-height: 1em;
						}
					}
				}
				.lp-courses-suggest-info{
					border-top: 1px solid #eeeeee;
					padding: 10px;
					background: #e8f0fe;
					font-weight: 500;
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
}

.lp-form-course-filter{
	.course-filter{
		&-submit, &-reset{
			padding: 12px 24px;
			text-transform: capitalize;
			width: calc(50%  - 4px);
			border: 1px solid rgba(204, 204, 204, 0.3);
			border-radius: 4px;
			background-color: var(--lp-button-background-color);
			color: var(--lp-button-color);
			&:focus{
				outline: none;
			}
			&:hover{
				color: #fff;
				background: var(--lp-primary-color);
			}
		}
		&-reset{
			margin-left: 4px;
		}
		&-submit{
			margin-right: 4px;
		}
	}
}
