/**
 * Archive courses page.
 */
a {
	text-decoration: none;
}

.lp-archive-courses {
	width: 100%;
	scroll-margin: 30px;

	.lp-content-area {
		&:has(.lp-main-content) {
			display: flex;
			gap: 24px;
			@media (max-width: 768px) {
				display: inherit;
			}
		}

		.lp-main-content {
			flex: 1;
		}
		.lp-archive-courses-sidebar{
			width: 25%;
			@media (max-width: 768px) {
				width: 100%;
			}
		}
		&:has(.lp-archive-courses-sidebar){
			.learn-press-courses[data-layout=grid]{
				li{
					width: 33.33%;
					@media (max-width: 1440px){
						width: 50%;
					}
					@media (max-width: 768px) {
						width: 100%;
					}
				}
			}
		}
	}

	&.loading {

		ul.learn-press-courses {
			position: relative;

			&::before, &::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
				right: 15px;
			}

			&::after {
				z-index: 3;
				background: #f3f3f3;
				background: linear-gradient(90deg, hsla(0, 0%, 74.5%, 0.2) 25%, hsla(0, 0%, 50.6%, 0.24) 37%, hsla(0, 0%, 74.5%, 0.2) 63%);
				background-size: 400% 100%;
				list-style: none;
				animation: lp-skeleton-loading 1.4s ease infinite;
			}

			&::before {
				z-index: 2;
				opacity: 0.8%;
				background: #fff;
			}

		}
	}

	form[name="search-course"] {
		position: relative;
		margin-bottom: 20px;

		.search-course-input {
			width: 100%;
			padding: 12px;
			@include box-sizing(border-box);
		}

		.search-course-button {
			position: absolute;
			top: 1px;
			right: 1px;
			bottom: 1px;
			height: auto;
			padding: 15px;
			line-height: 1px;
		}
	}

	.learn-press-courses-header {
		float: left;
		padding-top: 4px;

		h1 {
			margin: 0;
			font-size: 1.875em;
			font-weight: 600;
		}

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	.course-item {
		flex-direction: column;
		display: flex;
		transition: all 0.3s;

		// Should change effect when hovering on wrap element instead of thumbnail only.
		&:hover {
			.course-thumbnail {
				.thumbnail {
					&::before {
						opacity: 1;
					}
				}
			}

			.course-thumbnail a img {
				transform: scale(1.05);
			}

			.course-wishlist {
				opacity: 1;
			}
		}

		// Show heart if course is already in wishlist
		.course-wishlist {

			&.filled {
				opacity: 1;
			}
		}

		// <!-- .course-content

		.course-instructor {
			margin-bottom: 10px;
			//font-size: 0.8em;
			//font-weight: 300;
			//line-height: 1.5625em;
			text-transform: capitalize;

			a {
				color: #059de9;
				text-decoration: none;

				&:hover {
					color: var(--lp-primary-color);
				}
			}
		}
	}

	.course-content {
		position: relative;
		border-top: 0;

		.course-permalink {
			display: block;
			border: none;
			//color: #fff;
			text-decoration: none;
			text-transform: none;
			@include box-shadow(none);

		}

		.course-review {
			display: none;
		}

		.course-categories,
		.course-tags {
			display: inline-block;
			font-size: 0.925em;
			//font-weight: 300;
		}

		.course-categories {
			position: relative;
			margin-right: 10px;
			margin-bottom: 10px;

			a {
				display: inline-block;
				display: none;
				margin: 0 10px;
				color: #fff;
				font-size: 0.925em;
				text-decoration: none;

				&:first-child {
					display: block;
					margin-left: 0;
					padding: 2px 16px;
					background: var(--lp-primary-color);
				}

				&:hover {
					color: #333;
				}
			}

		}

		.course-info {
			//color: #666;
			//font-weight: 300;

			> span {
				display: block;
			}

			.course-price {
				float: right;
				//font-size: 1.2em;
				.origin-price,
				.price {
					//color: #333;
					font-size: 1.2em;
					font-weight: 600;
				}

				.origin-price {
					margin-right: 10px;
					opacity: 0.8;
					font-size: 85%;
					//color: #666;
					//font-size: 0.8em;
					//font-weight: 300;
					text-decoration: line-through;
				}
			}

			.course-instructor {
				float: right;
			}

			&::after {

				@include clear-fix();
			}
		}

		.course-excerpt {
			display: -webkit-box;
			overflow: hidden;
			margin-bottom: 16px;
			//color: #666;
			//font-size: 0.875em;
			//font-weight: 300;
			//line-height: 1.5em;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.separator {
			display: none;
		}
	}

	.course-wrap-thumbnail {
		overflow: hidden;
		position: relative;

		.lp-badge {
			&.featured {
				position: absolute;
				z-index: 100;
				top: 28px;
				left: -110px;
				width: 300px;
				text-align: center;
				transform: rotate(-45deg);
			}
		}

		.course-wishlist {
			position: absolute;
			z-index: 2;
			top: 6px;
			right: 6px;
			opacity: 0;
			color: #fff;
			cursor: pointer;

			&::before {
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f004";
			}

			.course-wishlist__btn {
				display: none;
			}

			&:hover {
				color: var(--lp-primary-color);
			}
		}

		&:hover {

			&::before {
				opacity: 1;
			}

			.course-thumbnail a img {
				transform: scale(1.05);
			}

			.course-wishlist {
				opacity: 1;
			}
		}
	}

	.course-thumbnail {

		a {
			display: block;
			overflow: hidden;
		}

		.thumbnail {
			margin: 0;
			padding: 0;
			border: 0;
			border-radius: unset;
			line-height: unset;

		}

		img {
			display: block;
			width: 100%;
			height: auto;
			transition: all 0.5s ease;
			transform: scale(1);
			max-width: unset !important;
		}
	}

	.course-title {
		margin: 10px 0;
		padding: 0;
		//color: #333;
		//font-weight: 600;
		//font-size: 1.125em;
		&:hover {
			color: var(--lp-primary-color);
		}
	}

	.course-summary-content {

		@media (min-width: 769px) {
			.course-info-left {
				width: calc(100% - 340px);
			}
		}

		.course-meta {
			&.course-meta-primary{
				.course-meta__pull-left{
					.meta-item {
						.meta-item__value{
							span,> div{
								@media (max-width: 1024px){
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
									overflow: hidden;
								}
							}

						}


					}
				}
			}
			&.course-meta-secondary {
				margin-bottom: 0;

				.course-meta__pull-left{
					.meta-item {
						height: auto;

						&:last-child {
							margin-right: 0;
						}

						@media (max-width:1024px) {
							margin-right: 0 !important;
    						width: calc((100% - 32px) / 3);
						}
						@media (max-width: 768px){
							width: 100%;
						}
					}
				}
			}

		}

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.course-detail-info {
		padding: 30px 0 20px 0;
		color: #fff;
		background: var(--lp-secondary-color);
		position: relative;

		.course-title {
			margin-bottom: 20px;
			border-bottom: 1px solid rgb(255 255 255 / 10%);
			color: #fff;
			font-weight: 500;
			font-size: 2.2em;
			padding-bottom: 20px;
		}
		&::before, &::after {
			content: "";
			width: 50%;
			height: 100%;
			background: var(--lp-secondary-color);
			position: absolute;
			top: 0;
		}

		&::before {
			right: 100%;
			left: auto;
		}

		&::after {
			left: 100%;
			right: auto;
		}
	}

	.course-meta__pull-left {
		font-size: 0.925em;
		.meta-item {
			display: flex;
			height: 50px;
			margin-right: 48px;
			font-weight: 300;
			text-transform: capitalize;

			span {
				padding-right: 4px;
				padding-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&::before {
				margin-right: 8px;
				color: var(--lp-primary-color);
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
			}

			.meta-item__image {
				margin-right: 10px;
				flex: 0 0 46px;

				img {
					overflow: hidden;
					position: relative;
					width: 46px;
					height: 46px;
					border-radius: 50%;
					display: block;
				}
			}

			&.meta-item-duration::before {
				content: "\f017";
			}

			&.meta-item-level::before {
				content: "\f012";
			}

			&.meta-item-lesson::before {
				content: "\f0c5";
			}

			&.meta-item-quiz::before {
				content: "\f12e";
			}

			&.meta-item-student::before {
				content: "\f501";
			}

			@media (max-width: 1024px) {
				margin-right: 0;
			}
		}

		.meta-item__value {

			label {
				margin: 0;
				color: #999;
				font-size: 0.8em;
				font-weight: 300;
				line-height: 1.5;
				display: block;
			}

			> div {
				line-height: 1.5;

				a {
					color: #fff;
					font-weight: 400;
					text-transform: capitalize;
					text-decoration: none;
					&:hover {
						color: var(--lp-primary-color);
					}
				}
			}
		}

		.meta-item-categories {
			align-items: center;

			&::before {
				margin-right: 10px;
				font-size: 2.25em;
				content: "\f02e";
			}

			.meta-item__value {

				div {

					span {
						padding: 0 5px;
					}

					a:hover {
						color: var(--lp-primary-color);
					}
				}
			}
		}

		.meta-item-review {

			.meta-item__value {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.review-stars-rated {
					margin-bottom: 0;
					line-height: 1;
				}
			}
		}

		@media (max-width: 767px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
		}
	}

	.course-meta-primary {
		margin-bottom: 20px;

		.meta-item-categories::before {
			font-weight: 400;
		}
	}

	.lp-entry-content {
		display: flex;
		flex-direction: row;

		.entry-content-left {
			width: calc(100% - 300px);
			max-width: 100%;
			margin: 0;
			padding-right: 40px;
			padding-top: 60px;

			@media (max-width: 768px) {
				width: 100%;
				padding-right: 0;
				margin-bottom: 50px;
			}
		}

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	.course-summary-sidebar {
		width: 300px;
		max-width: 100%;
		margin-top: -190px;

		@media (max-width: 768px) {
			width: 100%;
			margin-top: 0;

			.course-summary-sidebar__inner {
				width: 100%;
			}
		}

		@media (max-width: 767px) {
			width: 100%;
			padding-left: 0;
		}
	}

	.course-summary-sidebar__inner {
		width: 300px;

		.course-sidebar-top {
			box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
		}

		.course-sidebar-secondary {
			margin-top: 30px;
			padding: 0;
		}

		.learn-press-course-wishlist {
			color: #fff;
			background: transparent !important;
			font-size: 0;

			&.on,
			&:hover {
				color: var(--lp-primary-color);
			}

			&::before {
				font-family: "Font Awesome 5 Free";
				font-size: 1em;
				font-weight: 900;
				content: "\f004";
			}
		}

		> div {
			overflow: hidden;
			padding: 20px;
			background: #fff;

			ul {
				list-style: none;

				li a {
					color: #666;
					font-weight: 300;
					line-height: 1.5em;

					&:hover {
						color: var(--lp-primary-color);
						box-shadow: unset;
					}
				}
			}
		}

	}

}

.learn-press-courses {
	clear: both;
	margin: 0 -8px;
	padding: 0 !important;
	min-height: 300px;
	list-style: none;
	position: relative;
	@include flex();
	@include flex-wrap(wrap);

	.course {
		width: 25%;
		margin: 0 0 40px 0;
		box-shadow: none;
		list-style: none;
	}

	&[data-layout="list"] {
		margin: 0;

		.course {
			display: flex;
			width: 100%;
			border: 1px solid rgba(204, 204, 204, 0.3);
			flex-wrap: wrap;
			justify-content: flex-end;

		}

		.course-item {
			flex-direction: row;
			width: 100%;
			border: unset;
			align-items: start;
			padding: 24px;
			@media (max-width: 767px) {
				flex-direction: column;
				padding: 16px 16px 0 16px;
			}
		}

		.course-content {
			padding: 0 0 0 24px;
			@media (max-width: 767px) {
				padding: 16px 0;
			}
			.course-categories {
				a {
					position: relative;
					padding: 2px 20px 2px 15px;
					-webkit-clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
					clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
					line-height: 1.3em;
				}
			}

			.course-tags a {
				margin: 0 10px 10px 0;
				padding: 3px 5px;
				border-radius: 3px;
				color: #fff;
				background: #e4a2a2;
				line-height: 1;
			}

			.course-footer {
				width: 60%;
				@media (max-width: 520px){
					width: 100%;
				}
				.course-students {
					display: none;
				}

				.course-price {
					float: unset;
				}

			}

			.course-readmore {
				width: 40%;
				@media (max-width: 520px){
					width: 100%;
				}
				a {
					padding: 6px 20px;
					border-radius: 3px;
					color: #fff;
					background: var(--lp-primary-color);
					//font-weight: 400;
					//font-size: 0.8em;
					//line-height: 1;
					transition: all 0.3s;
					display: block;
					width: fit-content;
					float: right;
					white-space: nowrap;
					&:hover {
						opacity: 0.5;
						background: var(--lp-primary-color);
					}
					@media (max-width: 520px){
						float: unset;
						margin-top: 16px;
					}
				}

			}
		}

		.course-wrap-meta {
			display: flex;
			padding-top: 8px;
			padding-bottom: 16px;

			//color: #333;
			font-size: 0.925em;
			//font-weight: 400;
			gap: 20px;
			flex-wrap: wrap;
			row-gap: 8px;
			@media (max-width:1200px) {
				gap: 16px;
			}
			.meta-item {
				text-transform: capitalize;
				@media (max-width:1200px) {
					width: calc((100% - 32px) / 3);
					white-space: nowrap;
				}
				@media (max-width: 1024px) {
					padding-right: 20px;
				}
				@media (max-width: 567px){
				  width: calc((100% - 16px) / 2);
				}

				&::before {
					position: relative;
					top: -1px;
					margin-right: 8px;
					color: var(--lp-primary-color);
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
				}
			}

			.meta-item-level::before {
				content: "\f012";
			}

			.meta-item-duration::before {
				content: "\f017";
			}

			.meta-item-lesson::before {
				content: "\f0c5";
			}

			.meta-item-quiz::before {
				content: "\f12e";
			}

			.meta-item-student::before {
				content: "\f501";
			}
		}

		.course-wrap-thumbnail {
 			width: 35%;
 		}
		.course-content{
			width: 65%;
		}
		@media (max-width: 767px) {
			.course-wrap-thumbnail ,.course-content{
 				width: 100%;
 			}
 		}

		.course-info {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		  }
	}

	&[data-layout="grid"] {

		.course {
			padding: 0 8px;

			@media (max-width: 992px) {
				width: 50%;
			}

			@media (max-width: 767px) {
				width: 100%;
			}
		}

		.course-item {
			border: 1px solid #f0f0f0;

			&:hover {
				box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
			}

			.course-instructor {
				margin-bottom: 7px;
			}
		}

		.course-content {
			padding: 15px 20px 12px 20px;
			flex-grow: 1;

			.course-categories {
				position: absolute;
				z-index: 1;
				top: -50px;
				right: -1px;
				margin-right: 0;

				&::after {
					display: none;
				}

				a {
					position: relative;
					margin: 0;
					padding: 2px 12px 2px 22px;
					-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);

				}
			}

			.course-permalink {
				margin-bottom: 20px;
			}

			.course-info {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}
			.course-title{
				font-size: 1.1em;
			}
			.course-wrap-meta, .course-excerpt, .course-readmore {
				display: none;
			}

			.separator {
				display: block;
				border-top: 1px solid rgba(153, 153, 153, 0.2);
				margin-left: -20px;
				margin-right: -20px;
			}

			.course-footer {
				padding-top: 18px;
				//border-top: 1px solid rgba(153, 153, 153, 0.2);
				.course-students {
					float: left;
					text-transform: capitalize;

					&::before {
						position: relative;
						top: -1px;
						margin-right: 8px;
						color: var(--lp-primary-color);
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						content: "\f501";
					}
				}
			}
		}

		.learn-press-message {
			margin-left: 15px;
			margin-right: 15px;
		}
	}

	&[data-size="3"] {

		.course {
			width: 33.3333%;

			@media (max-width: 767px) {
				width: 100%;

			}
		}
	}

	.lp-archive-course-skeleton {
		position: absolute;
		height: 100%;
		background: linear-gradient(90deg, hsla(0, 0%, 74.5%, 0.2) 25%, hsla(0, 0%, 50.6%, 0.24) 37%, hsla(0, 0%, 74.5%, 0.2) 63%);
		animation: lp-skeleton-loading 1.4s ease infinite;
		background-size: 400% 100%;

		li {
			display: none;
		}
	}
}

.lp-courses-bar {
	display: flex;
	float: right;
	margin-bottom: 40px;

	@media (max-width: 767px) {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}

	.search-courses {
		position: relative;
		width: 306px;
		max-width: 100%;
		margin-right: 20px;
		line-height: 1;
		flex: 1;

		input[type="text"] {
			width: 100%;
			padding: 0px 30px 10px 0;
			border: none;
			border-bottom: 1px solid #ccc;
			border-radius: 0;
			background: #fff;
			//font-size: 0.8em;
			//line-height: 1;

			&:focus {
				border-color: var(--lp-primary-color);
				outline: 0;
			}
		}

		button {
			position: absolute;
			top: 50%;
			right: 0;
			width: 30px;
			height: 30px;
			padding: 0;
			border: none;
			color: #333 !important;
			background: transparent !important;;
			transform: translate(0, -50%);

			&:focus {
				border: 0;
				outline: 0;
			}

			&.loading > i {

				&::before {
					display: inline-block;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: "\f110";

					@include animation(lp-rotating 1s linear infinite);
				}
			}
		}

		::-webkit-input-placeholder {
			color: #999;
		}

		:-ms-input-placeholder {
			color: #999;
		}

		::placeholder {
			color: #999;
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.switch-layout {
		display: flex;
		//height: 44px;
		line-height: 1;
		text-align: right;
		flex: 0 0 32px;
		align-items: center;
		justify-content: center;

		input[type="radio"] {
			display: none;
		}

		.switch-btn {
			display: block;
			width: 32px;
			height: 32px;
			margin: 0;
			padding: 0;
			line-height: 2em;
			text-align: center;
			cursor: pointer;

			&::before {
				display: inline-block;
				margin: 8px 6px;
				color: #333;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				line-height: 1;
			}

			&.grid {

				&::before {
					content: "\f00a";
				}
			}

			&.list {
				margin-left: 3px;

				&::before {
					content: "\f03a";
				}
			}
		}
	}

}

@for $i from 0 through 9 {
	input[type="radio"]:nth-child(#{$i*2+1}):checked ~ .switch-btn:nth-child(#{$i*2+2}) {
		//background: #f5f5f5;

		&::before {
			color: var(--lp-primary-color);
		}
	}
}

/**
 *  End Archive courses page.
 */

.lp_allow_repuchase_select {
	padding: 20px;
	background: #f7f7f7;

	> ul {
		padding: 0;
		list-style: none;
	}

	> a {
		display: inline-block;
		margin-top: 10px;
		color: #fff;
		background-color: #222;
	}
}

.comment-respond {

	.comment-reply-title {
		font-size: 1.875em;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 15px;
	}

	.comment-form {
		margin: 0 -15px;

		> p {
			label {
				display: block;
				margin-bottom: 10px;
				font-weight: 500;
			}

			&.comment-notes, &.logged-in-as {
				color: #666;
			}

			&.logged-in-as {
				a {
					color: #666;
					text-decoration: underline;

					&:hover, &:focus {
						color: var(--lp-primary-color);
					}
				}
			}

			&.comment-form-cookies-consent {
				clear: both;

				input {
					padding: 0;
					margin-right: 8px;
				}

				label {
					display: inline;
				}
			}

		}

		> p, > div {
			padding: 0 15px;
			margin-bottom: 15px;
		}

		input {
			&[type="text"], &[type="email"], &[type="url"] {
				height: 40px;
				line-height: normal;
				width: 100% !important;
				margin-bottom: 15px;
			}
		}

		input[type="submit"] {
			background-color: var(--lp-primary-color);
			border: 0;
			min-height: 40px;
			line-height: 2.5em;
			padding: 0 15px;
			text-transform: capitalize;
			font-weight: 500;
			margin-top: 15px;
			cursor: pointer;
			color: white;
		}

		.comment-form-author, .comment-form-email, .comment-form-url {
			width: 33.33%;
			float: left;
			@media (max-width: 575px) {
				width: 100%;
				float: unset;
			}
		}

		textarea, input {
			border: 1px solid #ccc;
			@include border-radius(3px);
			max-width: 100%;
		}

		textarea {
			width: 100%;
			display: block;
			padding: 20px 15px;
			resize: none;
		}
	}
}

