/**
 * Archive courses page.
 */
a {
	text-decoration: none;
}

.lp-content-area {
	width: 1170px;
	max-width: 100%;
	margin: 0 auto;
 	@media (max-width: 1024px) {
		padding-right: 15px;
		padding-left: 15px;
	}

}
.lp-content-area:after,.lp-content-area:before{
	content:"";
	display: table;
	clear: both;
}
.lp-archive-courses {

	&.loading {

		ul.learn-press-courses {
			position: relative;

			&::after {
				position: absolute;
				z-index: 3;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: #f3f3f3;
				background: linear-gradient(90deg, hsla(0, 0%, 74.5%, 0.2) 25%, hsla(0, 0%, 50.6%, 0.24) 37%, hsla(0, 0%, 74.5%, 0.2) 63%);
				background-size: 400% 100%;
				list-style: none;
				content: "";
				animation: lp-skeleton-loading 1.4s ease infinite;
			}

			&::before {
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: #fff;
				content: "";
			}
		}
	}

	form[name="search-course"] {
		position: relative;
		margin-bottom: 20px;

		.search-course-input {
			width: 100%;
			padding: 12px;

			@include box-sizing(border-box);
		}

		.search-course-button {
			position: absolute;
			top: 1px;
			right: 1px;
			bottom: 1px;
			height: auto;
			padding: 15px;
			line-height: 1px;
		}
	}

	.learn-press-courses-header {
		float: left;
		padding-top: 4px;

		h1 {
			margin: 0;
			font-size: 30px;
			font-weight: 600;
		}

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	.learn-press-courses {
		clear: both;
		margin: 0 -15px 0 -15px;
		padding: 0;
		list-style: none;

		@include flex();
		@include flex-wrap(wrap);

		.course {
			width: 25%;
			margin: 0 0 60px 0;
			box-shadow: none;
			list-style: none;

			.course-item {
				display: flex;
				flex-direction: column;
				position: relative;
				height: 100%;
				transition: all 0.3s;

				.course-wrap-thumbnail {
					overflow: hidden;
					position: relative;

					.lp-badge {

						&.featured {
							position: absolute;
							z-index: 100;
							top: 28px;
							left: -110px;
							width: 300px;
							text-align: center;
							transform: rotate(-45deg);
						}
					}

					.course-thumbnail {

						a {
							display: block;
							overflow: hidden;
						}

						.thumbnail {
							margin: 0;
							padding: 0;
							border: 0;
							border-radius: unset;
							line-height: unset;

							&::before {
								position: absolute;
								z-index: 1;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								opacity: 0;
								background: rgba(0, 0, 0, 0.5);
								content: "";
								transition: all 0.3s;
							}

							img {
								display: block;
								width: 100%;
								height: auto;
								transition: all 0.5s ease;
								transform: scale(1);
							}
						}
					}

					.course-wishlist {
						position: absolute;
						z-index: 2;
						top: 6px;
						right: 6px;
						opacity: 0;
						color: #fff;
						cursor: pointer;

						&::before {
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							content: "\f004";
						}

						.course-wishlist__btn {
							display: none;
						}

						&:hover {
							color: var(--lp-primary-color);
						}
					}

					&:hover {

						&::before {
							opacity: 1;
						}

						.course-thumbnail a img {
							transform: scale(1.05);
						}

						.course-wishlist {
							opacity: 1;
						}
					}
				}

				// Should change effect when hovering on wrap element instead of thumbnail only.
				&:hover {

					.course-thumbnail {

						.thumbnail {

							&::before {
								opacity: 1;
							}
						}
					}

					.course-thumbnail a img {
						transform: scale(1.05);
					}

					.course-wishlist {
						opacity: 1;
					}
				}

				// Show heart if course is already in wishlist
				.course-wishlist {

					&.filled {
						opacity: 1;
					}
				}

				// <!-- .course-content
				.course-content {
					position: relative;
					border-top: 0;

					.course-permalink {
						display: -webkit-box;
						clear: both;
						overflow: hidden;
						position: relative;
						border: none;
						color: #fff;
						text-decoration: none;
						text-transform: none;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;

						@include box-shadow(none);

						.course-title {
							margin: 0;
							padding: 0;
							color: #333;
							font-size: 16px;
							font-weight: 600;
							line-height: 24px;

							&:hover {
								color: var(--lp-primary-color);
							}
						}
					}

					.course-review {
						display: none;
					}

					.course-categories,
					.course-tags {
						display: block;
						font-size: 14px;
						font-weight: 300;
					}

					.course-categories {
						float: left;
						position: relative;
						margin-right: 10px;
						margin-bottom: 16px;

						a {
							display: inline-block;
							display: none;
							margin: 0 10px;
							color: #fff;
							text-decoration: none;

							&:first-child {
								display: block;
								margin-left: 0;
								padding: 2px 16px;
								background: var(--lp-primary-color);
							}

							&:hover {
								color: #333;
							}
						}

						&::after {
							position: absolute;
							top: 50%;
							right: -2px;
							width: 1px;
							height: 12px;
							opacity: 0.5;
							background: #999;
							content: "";
							transform: translate(0, -50%);
						}
					}

					.course-instructor {
						float: left;
						margin-bottom: 16px;
						font-size: 14px;
						font-weight: 300;
						line-height: 25px;
						text-transform: capitalize;

						a {
							color: #059de9;

							&:hover {
								color: var(--lp-primary-color);
							}
						}
					}

					.course-info {
						color: #666;
						font-size: 14px;
						font-weight: 300;

						> span {
							display: block;
						}

						.course-price {
							float: right;

							.origin-price,
							.price {
								color: #333;
								font-size: 16px;
								font-weight: 600;
							}

							.origin-price {
								margin-right: 10px;
								color: #666;
								font-size: 14px;
								font-weight: 300;
								text-decoration: line-through;
							}
						}

						.course-instructor {
							float: right;
						}

						&::after {

							@include clear-fix();
						}
					}

					.course-excerpt {
						display: -webkit-box;
						overflow: hidden;
						margin-bottom: 28px;
						color: #666;
						font-size: 16px;
						font-weight: 300;
						line-height: 26px;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}

					.separator {
						display: none;
					}
				}
			}
		}

		&[data-layout="list"] {
			margin: 0;

			.course {
				display: flex;
				width: 100%;
				padding: 24px;
				border: 1px solid rgba(204, 204, 204, 0.3);
				border-radius: 4px;
				flex-wrap: wrap;
				justify-content: flex-end;

				@media (max-width: 767px) {
					padding: 15px;
				}

				.course-item {
					display: flex;
					flex-direction: row;
					width: 100%;
					border: unset;
					justify-content: space-between;

					@media (max-width: 767px) {
						flex-direction: column;
					}

					.course-wrap-thumbnail {
						float: left;
						width: 35.8%;

						@media (max-width: 767px) {
							width: 100%;
						}
					}

					.course-content {
						float: right;
						width: calc(100% - 35.8% - 76px);
						padding-top: 5px;

						@media (max-width: 1200px) {
							width: calc(100% - 35.8% - 40px);
						}

						@media (max-width: 1200px) {
							width: calc(100% - 35.8% - 25px);
						}

						@media (max-width: 767px) {
							width: 100%;
							padding-top: 20px;
						}

						.course-categories {

							a {
								position: relative;
								padding: 2px 20px 2px 15px;
								-webkit-clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
								clip-path: polygon(0% 0%, 100% 0, 88% 50%, 100% 100%, 0% 100%);
							}
						}

						.course-permalink {
							overflow: hidden;
							height: 25px;
							margin-bottom: 5px;
							-webkit-line-clamp: 1;

							.course-title {
								color: #333;
								font-size: 18px;
								font-weight: 600;
								line-height: 24px;

								&:hover {
									color: var(--lp-primary-color);
								}
							}
						}

						.course-wrap-meta {
							display: flex;
							padding-top: 12px;
							padding-bottom: 18px;
							color: #333;
							font-size: 14px;
							font-weight: 400;

							.meta-item {
								padding-right: 28px;
								text-transform: capitalize;

								@media (max-width: 1024px) {
									padding-right: 20px;
								}

								&::before {
									position: relative;
									top: -1px;
									margin-right: 8px;
									color: var(--lp-primary-color);
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
								}
							}

							.meta-item-level::before {
								content: "\f012";
							}

							.meta-item-duration::before {
								content: "\f017";
							}

							.meta-item-lesson::before {
								content: "\f0c5";
							}

							.meta-item-quiz::before {
								content: "\f12e";
							}

							.meta-item-student::before {
								content: "\f501";
							}

							// responsive
							@media (max-width: 815px) {
								display: grid;
								grid-template-columns: repeat(2, 1fr);
								grid-gap: 15px;

								.meta-item {
									padding-right: 15px;
								}
							}

							@media (max-width: 767px) {
								grid-template-columns: repeat(3, 1fr);
							}
						}

						.course-tags {

							a {
								margin: 0 10px 10px 0;
								padding: 3px 5px;
								border-radius: 3px;
								color: #fff;
								background: #e4a2a2;
								line-height: 1;
							}
						}

						.course-footer {
							float: left;
							margin-right: 20px;

							.course-students {
								display: none;
							}

							.course-price {
								float: unset;
							}

							@media (max-width: 767px) {
								margin-bottom: 30px;
							}
						}

						.course-readmore {
							float: right;
							position: relative;
							right: 4px;

							a {
								padding: 9px 24px;
								border-radius: 3px;
								color: #fff;
								background: var(--lp-primary-color);
								font-weight: 400;
								line-height: 1;
								transition: all 0.3s;

								&:hover {
									opacity: 0.5;
									background: var(--lp-primary-color);
								}
							}

							@media (max-width: 767px) {
								display: flex;
								float: unset;
								clear: both;
							}
						}
					}
				}

			}
		}

		&[data-layout="grid"] {

			.course {
				padding: 0 15px;

				.course-item {

					&:hover {
						box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
					}

					.course-content {
						padding: 15px 20px 12px 20px;
						border: 1px solid #f0f0f0;
						border-top: 0;
						flex-grow: 1;

						.course-instructor {
							margin-bottom: 7px;
						}

						.course-categories {
							float: right;
							position: absolute;
							z-index: 1;
							top: -34px;
							right: -1px;
							margin-right: 0;

							&::after {
								display: none;
							}

							a {
								position: relative;
								margin: 0;
								padding: 2px 12px 2px 22px;
								-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);
								clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 12px 50%);

							}
						}

						.course-permalink {
							height: 48px;
							margin-bottom: 20px;
						}

						.course-wrap-meta {
							display: none;
						}

						.course-info {
							display: flex;
							flex-direction: column;
							flex-grow: 1;

							.course-excerpt {
								display: none;
							}

							.course-footer {
								padding-top: 18px;
								border-top: 1px solid rgba(153, 153, 153, 0.2);

								.course-students {
									float: left;
									text-transform: capitalize;

									&::before {
										position: relative;
										top: -1px;
										margin-right: 8px;
										color: var(--lp-primary-color);
										font-family: "Font Awesome 5 Free";
										font-weight: 900;
										content: "\f501";
									}
								}
							}

							.course-readmore {
								display: none;
							}
						}
					}

				}

				@media (max-width: 992px) {
					width: 50%;
				}

				@media (max-width: 767px) {
					width: 100%;
				}
			}
		}

		&[data-size="3"] {

			.course {
				width: 33.3333%;

				@media (max-width: 767px) {
					width: 100%;

				}
			}
		}

	}
}

.lp-courses-bar {
	display: flex;
	float: right;
	margin-bottom: 48px;

	@media (max-width: 767px) {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}

	.search-courses {
		position: relative;
		width: 306px;
		max-width: 100%;
		margin-right: 20px;
		line-height: 1;
		flex: 1;

		input[type="text"] {
			width: 100%;
			height: 44px;
			padding: 6px 32px 6px 18px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background: #fff;
			font-size: 14px;
			font-style: italic;
			line-height: 1;

			&:focus {
				border-color: var(--lp-primary-color);
				outline: 0;
			}
		}

		button {
			position: absolute;
			top: 50%;
			right: 12px;
			width: 30px;
			height: 30px;
			padding: 0;
			border: none;
			color: #333;
			background: transparent;
			font-size: 16px;
			line-height: 1;
			transform: translate(0, -50%);

			&:focus {
				border: 0;
				outline: 0;
			}
		}

		::-webkit-input-placeholder {
			color: #999;
		}

		:-ms-input-placeholder {
			color: #999;
		}

		::placeholder {
			color: #999;
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.switch-layout {
		display: flex;
		height: 44px;
		line-height: 1;
		text-align: right;
		flex: 0 0 40px;
		align-items: center;
		justify-content: center;

		input[type="radio"] {
			display: none;
		}

		.switch-btn {
			display: block;
			width: 40px;
			height: 40px;
			margin: 0;
			padding: 0;
			border-radius: 5px;
			font-size: 16px;
			line-height: 40px;
			text-align: left;
			text-align: center;
			cursor: pointer;

			&::before {
				display: inline-block;
				margin: 8px 6px;
				color: #333;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				line-height: 1;
			}

			&.grid {

				&::before {
					content: "\f00a";
				}
			}

			&.list {
				margin-left: 3px;

				&::before {
					content: "\f03a";
				}
			}
		}
	}

}

@for $i from 0 through 9 {
	input[type="radio"]:nth-child(#{$i*2+1}):checked ~ .switch-btn:nth-child(#{$i*2+2}) {
		background: #f5f5f5;

		&::before {
			color: var(--lp-primary-color);
		}
	}
}

/**
 *  End Archive courses page.
 */


/**
 *  Single course page
*/
.lp-archive-courses {

	.course-summary {

		.course-summary-content {

			.course-detail-info {
				margin-bottom: 60px;
				padding: 40px 0 10px 0;
				color: #fff;
				background: var(--lp-secondary-color);

				.course-info-left {
					width: 70%;

					.course-title {
						margin-bottom: 42px;
						color: #fff;
						font-size: 30px;
						font-weight: 500;
						line-height: 1;
					}

					.course-meta {

						&.course-meta-primary {
							margin-bottom: 36px;

							.course-meta__pull-left {

								.meta-item-categories::before {
									font-weight: 400;
								}
							}
						}

						&.course-meta-secondary {
							margin-bottom: 0;
						}

						.course-meta__pull-left {

							.meta-item {
								display: flex;
								height: 46px;
								margin-right: 50px;
								font-size: 16px;
								font-weight: 300;
								text-transform: capitalize;

								span {
									padding-right: 4px;
								}

								&:last-child {
									margin-right: 0;
								}

								&::before {
									margin-right: 8px;
									color: var(--lp-primary-color);
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
								}

								.meta-item__image {
									margin-right: 10px;
									flex: 0 0 46px;

									img {
										overflow: hidden;
										position: relative;
										width: 46px;
										height: 46px;
										border-radius: 50%;
									}
								}

								.meta-item__value {

									label {
										margin: 0;
										color: #999;
										font-size: 14px;
										font-weight: 300;
										line-height: 1.5;
									}

									> div {
										line-height: 1.5;

										a {
											color: #fff;
											font-size: 16px;
											font-weight: 400;
											text-transform: capitalize;

											&:hover {
												color: var(--lp-primary-color);
											}
										}
									}
								}

								&.meta-item-categories {
									align-items: center;

									&::before {
										margin-right: 10px;
										font-size: 36px;
										content: "\f02e";
									}

									.meta-item__value {

										div {

											span {
												padding: 0 5px;
											}

											a:hover {
												color: var(--lp-primary-color);
											}
										}
									}
								}

								&.meta-item-review {

									.meta-item__value {
										display: flex;
										flex-direction: column-reverse;
										justify-content: flex-end;
										align-items: flex-end;

										.review-stars-rated {
											margin-bottom: 0;
											line-height: 1;
										}
									}
								}

								&.meta-item-duration::before {
									content: "\f017";
								}

								&.meta-item-level::before {
									content: "\f012";
								}

								&.meta-item-lesson::before {
									content: "\f0c5";
								}

								&.meta-item-quiz::before {
									content: "\f12e";
								}

								&.meta-item-student::before {
									content: "\f501";
								}

								@media (max-width: 1024px) {
									margin-right: 30px;
								}

								@media (max-width: 767px) {
									margin-right: 0;
								}
							}

							@media (max-width: 767px) {
								display: grid;
								grid-template-columns: repeat(2, 1fr);
								grid-gap: 20px;
							}
						}

					}

					@media (max-width: 768px) {
						width: 100%;
					}
				}
			}

			.lp-entry-content.lp-content-area {
				display: flex;
				flex-direction: row;

				.entry-content-left {
					width: calc(100% - 300px);
					max-width: 100%;
					margin: 0;
					padding-right: 40px;

					@media (max-width: 768px) {
						width: 100%;
						padding-right: 0;
					}

					@media (max-width: 767px) {
						width: 100%;
						margin-bottom: 30px;
					}
				}

				.course-summary-sidebar {
					width: 300px;
					max-width: 100%;
					margin-top: -272px;

					.course-summary-sidebar__inner {
						width: 300px;

						.course-sidebar-top {
							box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
						}

						.course-sidebar-secondary {
							margin-top: 30px;
							padding: 0;
						}

						.learn-press-course-wishlist {
							color: #fff;
							background: transparent !important;
							font-size: 0;

							&.on,
							&:hover {
								color: var(--lp-primary-color);
							}

							&::before {
								font-family: "Font Awesome 5 Free";
								font-size: 26px;
								font-weight: 900;
								content: "\f004";
							}
						}

						& > div {
							overflow: hidden;
							padding: 20px;
							background: #fff;

							.widgettitle {
								margin-top: 0;
								margin-bottom: 2px;
								font-size: 18px;
								font-weight: 500;
							}

							ul {
								list-style: none;

								li a {
									color: #666;
									font-size: 16px;
									font-weight: 300;
									line-height: 24px;

									&:hover {
										color: var(--lp-primary-color);
										box-shadow: unset;
									}
								}
							}
						}
					}

					@media (max-width: 768px) {
						width: 100%;
						margin-top: 0;

						.course-summary-sidebar__inner {
							width: 100%;
						}
					}

					@media (max-width: 767px) {
						width: 100%;
						padding-left: 0;
					}
				}

				@media (max-width: 768px) {
					flex-direction: column;
				}
			}
		}
	}
}
