#learn-press-course-tabs {

	&.show-all {

		.course-tab-panel {
			margin-bottom: 40px;
		}
	}

	@for $i from 1 to 10 {
		input[name="learn-press-course-tab-radio"]:nth-child(#{$i}):checked ~ .course-tab-panels {
			.course-tab-panel:nth-child(#{$i}) {
				display: block;
			}
		}

		input[name="learn-press-course-tab-radio"]:nth-child(#{$i}):checked ~ .learn-press-nav-tabs {
			.course-nav:nth-child(#{$i}) {
				border-bottom: 0;

				label {
					color: var(--lp-primary-color);
					background: #fff;
				}
			}
		}
	}
}

.course-tab-panels {
	.course-tab-panel {
		padding-top: 30px;
	}
}

.course-tab-panel {
	display: none;

	&.active {
		display: block;
	}


	.course-description {
		h4 {
			margin-top: 0;
			margin-bottom: 1.125em;
		}

		img {
			max-width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}

	.lp-course-author {
		display: flex;
		align-items: start;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}

		.course-author__pull-left {
			margin-right: 30px;
			text-align: center;
			align-items: center;

			@media (max-width: 767px) {
				margin-right: 0;
				margin-bottom: 24px;
			}

		}

		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
			display: block;
			margin: 0 auto;
		}

		.course-author__pull-right {
			flex: 1;

			@media (max-width: 767px) {
				width: 100%;
				text-align: center;
			}

		}

		.author-title {
			margin-bottom: 4px;

			a {
				text-decoration: none;
				color: #333;
				box-shadow: none;
				font-size: 1.125em;
				font-weight: 500;
				text-transform: capitalize;

				&:hover {
					color: var(--lp-primary-color);
				}
			}
		}

		.author-description {
			color: #666;
			font-style: italic;
		}

		.instructor-social {
			display: flex;
			gap: 16px;
			margin-bottom: 12px;
		}

		.author-socials {
			display: grid;
			grid-template-columns: repeat(4, 33px);
			gap: 10px;
			justify-content: center;
			margin-top: 16px;

			> a {
				display: inline-block;
				width: 33px;
				height: 33px;
				margin: 0;
				border: 1px solid #ededed;
				border-radius: 50%;
				color: #878787;
				box-shadow: none;
				font-size: 0.8em;
				line-height: 2em;
				text-align: center;
				vertical-align: middle;
				transition: all 0.3s;

				&:hover {
					border-color: var(--lp-primary-color);
					color: #fff;
					background: var(--lp-primary-color);
				}
			}

			.fa-googleplus {

				&::before {
					content: "\f0d5";
				}
			}
		}
	}
}

.course-summary {

	div.lp-list-co-instructor {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		margin-top: 30px;

		&__item {
			display: flex;
			column-gap: 30px;

			@media (max-width: 767px) {
				align-items: center;
				flex-direction: column;
				padding: 0 15px;
				column-gap: 0;
				row-gap: 10px;
			}
		}

		&__avatar {

			> img {
				width: 100%;
				max-width: 96px;
				border-radius: 999px;
			}
		}

		&__bio {
			flex: 1;

			&__top {

				> a {
					font-size: 1.125em;
					font-weight: 600;
				}
			}

			&__description {

			}
		}
	}

	.course-price {
		margin-bottom: 10px;

		.origin-price,
		/*.price {
			vertical-align: middle;
		}*/

		.origin-price {
			margin-right: 10px;
			font-size: 1.125em;
			font-style: italic;
			text-decoration: line-through;
		}

		.price {
			font-size: 1.5em;
		}
	}

	.course-summary-sidebar .lp-course-buttons {
		margin-bottom: 20px;
		text-align: center;
	}

	.course-featured-review {

		.featured-review__title {
			margin-top: 0;
			margin-bottom: 6px;
			font-size: 1.2em;
			font-weight: 500;
		}

		.featured-review__stars {
			padding-bottom: 12px;
			color: var(--lp-primary-color);
		}

		.featured-review__content {
			position: relative;
			color: #666;
			font-style: italic;

			&::after {
				position: absolute;
				top: -42px;
				right: -15px;
				color: rgba(102, 102, 102, 0.1);
				font-family: Arial;
				font-size: 180px;
				font-weight: 700;
				font-style: normal;
				content: "‘‘";
				transform: rotate(180deg);
			}
		}
	}

	.course-tags a {
		display: inline-block;
		padding: 3px 5px;
		border-radius: 4px;
		color: #fff;
		background: #9aa5ab;
		font-size: 0.75em;
		line-height: 1;
	}

}

.edit-content {
	margin-left: 5px;
}

ul.learn-press-nav-tabs {
	//display: flex;
	//margin: 0;
	//padding: 0;
	////border: 1px solid rgba(204, 204, 204, 0.3);
	//border-bottom: 0;
	//background: #f1f2f8;
	//list-style: none;
	//flex-wrap: wrap;
	//.course-nav {
	//	float: left;
	//	position: relative;
	//	margin: 0;
	//	//border-right: 1px solid rgba(204, 204, 204, 0.3);
	//	//border-bottom: 1px solid rgba(204, 204, 204, 0.3);
	//	list-style: none;
	//
	//	&:first-child {
	//
	//		&.active {
	//
	//			&::after {
	//				position: absolute;
	//				top: -1px;
	//				left: -1px;
	//				width: 1px;
	//				height: 100%;
	//				background: #fff;
	//				content: "";
	//
	//			}
	//		}
	//	}
	//
	//	&:last-child {
	//		border-right: 0;
	//
	//		&.active {
	//
	//			&::after {
	//				position: absolute;
	//				top: -1px;
	//				right: -2px;
	//				width: 2px;
	//				height: 100%;
	//				background: #fff;
	//				content: "";
	//
	//			}
	//		}
	//	}
	//
	//	&.active {
	//		border-bottom: 0;
	//
	//		&::before {
	//			position: absolute;
	//			top: -1px;
	//			left: 0;
	//			width: 100%;
	//			height: 3px;
	//			background: var(--lp-primary-color);
	//			content: "";
	//		}
	//
	//		label {
	//			color: var(--lp-primary-color);
	//			background-color: white;
	//		}
	//	}
	//
	//	a {
	//		display: inline-block;
	//		padding: 10px 20px;
	//		border-bottom: none;
	//		outline: none;
	//		@include box-shadow(none);
	//	}
	//}
	//
	//&[data-tabs] {
	//
	//	.course-nav {
	//		flex: 1;
	//
	//		a {
	//			width: 100%;
	//			text-align: center;
	//		}
	//	}
	//}
	//
	//&::after {
	//
	//	@include clear-fix();
	//}
	//
	//@media (max-width: 767px) {
	//	display: grid;
	//	grid-template-columns: repeat(2, 1fr);
	//	max-height: none;
	//}

}

.course-item-popup {
	#tab-curriculum {
		display: block;
	}

	.course-curriculum ul.curriculum-sections {
		z-index: 9;
	}

	.lp-course-curriculum {

		&__title,
		.course-curriculum-info {
			display: none;
		}

		.course-section {
			border-radius: 0;

			&__description {
				display: none;
			}

			.course-section-header {
				align-items: center;
			}
		}

		.course-item__content,
		.course-item__right {
			flex-wrap: wrap;
		}

		.course-item.current {
			.course-item__content,
			.course-item__info {
				color: $color-primary;
			}
		}
	}
}

.course-curriculum {
	.course-sections li.course-section {
		list-style: none;
	}

	ul.curriculum-sections {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		.closed {
			.section-item__loadmore {
				display: none;
			}
		}

		.section {
			margin: 0;
			padding: 0;
			flex-wrap: wrap;

			&:last-child {
				padding: 0;
			}

			&.section-empty {

				.section-header {
					margin-bottom: 20px;
				}

				.learn-press-message {
					margin-right: 15px;
					margin-left: 15px;
				}
			}
		}

		.section-title {

			&.c + .section-desc {
				display: block;
			}

			&.c {

				span.show-desc {

					&::before {

						@include transform(rotate(180deg));
						top: 0;
					}
				}
			}
		}

		.item-meta {
			&.duration {
				background: #d9e0f1;
			}
		}

	}

	.section-item__loadmore {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			margin-top: 10px;
			border: 1px solid $border-color;
			border-radius: $border-radius-global;
			padding: $spacing-base-2x $spacing-base-4x;
			box-shadow: none;
			outline: none;
		}

		&.loading {
			button {
				@include loading();
			}
		}
	}

	.section-header {
		display: table;
		width: 100%;
		padding: 20px 0;
		border-bottom: 0;
		border-bottom: 1px solid #d9e0f1;
		cursor: pointer;

		@include box-sizing(border-box);

		.section-title, .section-desc {
			margin: 0;
		}

		span.show-desc {
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 30px;
			width: 20px;
			height: 20px;
			transform: translate(0, -50%);

			&::before {
				font-family: 'lp-icon';
				font-size: 1.125em;
				//font-weight: 900;
				content: "\f107";
			}

			&:hover {

				&::before {
					border-top-color: #ccc;
				}
			}
		}

		.section-desc {
			//margin: 0;
			margin-top: 10px;
			font-size: $font-size-small;
			//line-height: 1.3125em;
			color: var(--lp-color-accent);
			font-style: italic;
			line-height: 1.3;
		}

		.section-meta {
			display: block;
			padding-top: 17px;
			padding-bottom: 15px;
			font-size: 0.8em;
			text-align: right;
			vertical-align: middle;
			white-space: nowrap;
		}
	}

	.section-item {
		width: 100%;
	}

	.section-content {
		margin: 0;
		padding: 0;
		list-style: none;

		.course-item-meta {
			display: table-cell;
			text-align: right;
			vertical-align: middle;
			white-space: nowrap;

			.item-meta {
				display: inline-block;
				//margin-left: 14px;
				//border-radius: 3px;
				color: #fff;
				//font-size: 0.8em;
				//line-height: 1.4375em;
				//text-align: center;
				//vertical-align: middle;
				//padding: 0 8px;

				&.final-quiz {
					background: #14c4ff;
				}

				&.trans {
					padding: 0;
				}
			}

			.count-questions {
				background: $primary-bg-questions;
			}

			.duration {
				background: $primary-bg-duration;
			}

			.course-item-status {
				padding: 0;
				color: #999;
				//@include border-radius(50%);
				//@include box-sizing(border-box);

				&::before {
					font-family: 'lp-icon';
					//font-size: 0.8em;
					//font-weight: 900;
					//vertical-align: middle;
					//text-transform: lowercase;
					content: "\f00c";
				}

			}
		}

		.course-item-preview {
			font-style: normal;
			padding: 0;

			&::before {
				//color: #fff;
				//padding: 3px 8px;
				//font-size: $font-size-label;
				//background: #00adff;
				//@include border-radius(3px);
				//content: attr(data-preview);

				font-family: 'lp-icon';
				content: "\f06e";
				color: #999;
			}
		}
	}

	.course-item {
		display: flex;
		position: relative;
		margin: 0 0 2px 0;
		padding: 0 $spacing-base-4x;
		background: rgba(241, 242, 248, 0.4);
		//font-size: 0.8em;
		transition: padding-left linear 0.15s;

		& > span {
			display: flex;
			width: 28px;
			color: #666;
			font-weight: 300;
			align-items: center;
		}

		.section-item-link {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
			padding: 12px 0;
			color: inherit;
			//border-bottom: none;
			outline: none;
			//box-shadow: none;
			//line-height: 1.5;
			//color: #777;
			//text-decoration: none;
			gap: 12px;

			&:hover {
				.item-name {
					color: var(--lp-primary-color);
				}
			}

			&::before {
				//display: table-cell;
				//left: 0;
				//width: 20px;
				color: var(--lp-primary-color);
				font-family: 'lp-icon';
				//font-size: 1.125em;
				//font-weight: 400;
				//vertical-align: middle;
				//transition: left linear 0.15s;
			}

			.course-item-info {
				width: 100%;
				//padding: 0 24px 0 8px;

				.course-item-info-pre {
					display: flex;
					flex-flow: row-reverse;
					justify-content: flex-end;
					gap: 16px;
					//margin-top: 4px;
					align-items: center;
					font-size: $font-size-small;

					.item-meta {
						//font-size: 0.75em;
						//line-height: 1.5;
						&.duration {
							background: transparent;
						}
					}
				}
			}

		}

		//.item-icon,
		.item-name {
			//display: table-cell;
			//color: #333;
			font-weight: 600;
			//vertical-align: middle;
		}


		&.course-item-lp_quiz {
			.section-item-link::before {
				content: "\f059";
			}
		}

		&.course-item-lp_assignment {
			.section-item-link::before {
				content: "\e929" !important;
			}
		}

		&.course-item.course-item-lp_h5p {
			.section-item-link::before {
				content: "\e92a" !important;
			}
		}

		&.course-item-lp_lesson {

			.section-item-link {

				&::before {
					content: "\f15b";
				}
			}

			&.course-item-type-video {

				.section-item-link {

					&::before {
						content: "\f03d";
					}
				}
			}

			&.course-item-type-audio {

				.section-item-link {

					&::before {
						content: "\f028";
					}
				}
			}
		}

		&.item-locked {

			.course-item-status {
				&::before {
					color: var(--lp-secondary-color);
					content: "\f023";
				}
			}
		}

		&.has-status {
			padding-top: 1px;

			&.status-completed,
			&.status-evaluated {

				.course-item-status {

					&::before {
						color: $primary-color-course-item-status;
					}
				}
			}

			&.item-failed,
			&.failed {

				.course-item-status {

					&::before {
						border-color: #f02425;
						color: #f02425;
						content: "\f00d";
					}
				}
			}
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 3px;
			height: 0;
			background: #00adff;
			content: "";
			transition: height linear 0.15s, top linear 0.15s;
		}

		&.current {
			//padding-left: 10px;
			background: #f9f9f9;

			a {

				&::before {
					left: 10px;
				}
			}

			&::before {
				top: 0;
				height: 100%;
			}
		}
	}

	.section-left {
		vertical-align: top;

		.section-title {
			//padding: 0;
			//color: #666;
			font-weight: $heading-font-weight;
			font-size: $font-size-h4;
			//letter-spacing: 0;
			text-transform: capitalize;
			display: block;
		}
	}

	.curriculum-more__button {
		border: 1px solid $border-color;
		border-radius: $border-radius-global;
		padding: $spacing-base-2x $spacing-base-4x;
		box-shadow: none;
		outline: none;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;

		&.loading {
			@include loading();
		}
	}
}

body {
	//#ifr-course-item {
	//	position: absolute;
	//	z-index: 999999;
	//	top: 0;
	//	left: 0;
	//	width: 100%;
	//	height: 100%;
	//	background: #fff;
	//}

	.content-item-summary, .lp-quiz-buttons {

		.form-button-finish-course {
			float: right;
		}
	}
}

#wpadminbar {

	#wp-admin-bar-edit {
		&-lp_quiz, &-lp_lesson, &-lp_question {
			.ab-item::before {
				top: 2px;
				font-family: 'lp-icon';
			}
		}

		&-lp_quiz {
			.ab-item::before {
				content: "\f017";
			}
		}

		&-lp_lesson {

			.ab-item::before {
				content: "\f15c";
			}
		}

		&-lp_question {

			.ab-item::before {
				content: "\f29c";
			}
		}
	}
}

.scroll-wrapper {
	overflow: hidden;
	opacity: 0;

	.scroll-element {
		background: transparent;

		&.scroll-y {

			&.scroll-scrolly_visible {
				transition: opacity 0.25s;
			}
		}
	}

	&:hover {

		.scroll-element {

			&.scroll-y {

				&.scroll-scrolly_visible {
					opacity: 0.7;
				}
			}
		}
	}
}

.course-remaining-time {
	.label-enrolled {
		font-size: inherit;
	}
}


.lp-course-progress {
	position: relative;

	.lp-passing-conditional {
		position: absolute;
		top: 0;
		width: 3px;
		height: 6px;
		margin-left: -1px;
		background: var(--lp-secondary-color);
	}
}

.viewing-course-item {
	.section-header {
		.section-desc {
			display: none;
		}
	}
}

/***********/
.course-meta {
	display: flex;
	margin-bottom: 40px;

	.course-students {
		&::before {
			font-family: 'lp-icon';
			content: "";
		}
	}

	.course-meta__pull-left,
	.course-meta__pull-right {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		@media (max-width: 767px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: $spacing-base-5x;
		}
		@media (max-width: 560px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.course-meta-primary {
		.course-meta__pull-left {
			gap: 16px;
			@media (max-width: 767px) {
				grid-template-columns:  repeat(2, 1fr);
			}
			@media (max-width: 480px) {
				grid-template-columns: 1fr;
			}

			.meta-item {
				margin-right: 0 !important;

				@media (max-width: 560px) {
					width: 100%;
				}
			}
		}
	}

	&.course-meta-secondary {
		.course-meta__pull-left {
			@media (max-width: 1024px) {
				gap: 16px;
			}

			.meta-item {
				@media (max-width: 1024px) {
					margin-right: 0 !important;
					width: calc((100% - 32px) / 3);
				}
				@media (max-width: 768px) {
					width: 100%;
				}
			}
		}
	}

	.course-meta__pull-left {
		flex: 1;
	}

	.course-meta__pull-right {
		flex: 0 0 50%;
	}

	&.course-meta-primary {

		.meta-item {
			flex: 1;
		}
	}

	&.two-columns {

		.course-meta {
			flex: 1;
		}
	}
}

/***********/
body.course-item-popup {

	#learn-press-course-curriculum {
		@media (max-width: 1200px) {
			width: 300px;
		}
		@media (max-width: 768px) {
			margin-right: 0%;
		}

		.course-curriculum {
			@media (max-width: 768px) {
				width: 200px;
			}
		}

		.progress-bg {
			@media (max-width: 1300px) {
				width: 40px;
			}
		}

		.items-progress,
		.course-progress {
			@media (max-width: 768px) {
				float: none;
				width: 100%;
				margin-right: 0%;
				margin-bottom: 20px;
			}
		}
	}

	#content-item-nav {
		@media (max-width: 1300px) {
			left: 300px;
		}
		@media (max-width: 768px) {
			left: 200px;
		}
	}

	.section-desc {
		@media (max-width: 1300px) {
			display: none;
		}

	}

	&.wpadminbar {

		#learn-press-content-item,
		#learn-press-course-curriculum {
			@media (max-width: 768px) {
				top: 106px;
			}
		}

	}
}

// modern
.lp-course-curriculum {
	.course-curriculum,
	.course-curriculum-info {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	.course-curriculum-info {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 20px;

		&__left {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px;

			li {
				display: inline-flex;
				align-items: center;
				gap: 8px;

				&::after {
					content: '';
					width: 4px;
					height: 4px;
					background-color: $border-color;
					display: inline-block;
				}

				&:last-child {
					&::after {
						content: none;
					}
				}
			}
		}

		&__right {
			font-weight: $link-font-weight;
			text-align: right;
			text-transform: capitalize;
		}
	}

	.course-toggle-all-sections {
		cursor: pointer;
	}

	.course-section {
		margin-bottom: 8px;
		border: 1px solid $border-color;
		border-radius: $border-radius-global;
		cursor: pointer;
		overflow: hidden;

		&.lp-collapse {
			.course-section__items {
				display: none;
				animation: ease-in-out;
			}

			.lp-icon-angle-up {
				display: none;
			}

			.lp-icon-angle-down {
				display: block;
			}
		}

		.lp-icon-angle-down {
			display: none;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.course-section-header {
			background-color: $bg-grey;
			padding: 20px;
			column-gap: 12px;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
		}

		&__title {
			font-weight: bold;
			font-size: $font-size-large;
		}

		&__description {
			margin: 8px 0 0 0;
		}

		.section-toggle {
			display: flex;
			justify-content: center;

			i {
				font-size: $font-size-large;
				min-width: 16px;
				text-align: center;
			}
		}

		.course-section-info {
			margin-left: 0;
			margin-right: auto;
		}

		.section-count-items {
			min-width: 24px;
    		display: flex;
    		justify-content: center;
		}

		.course-item {
			background-color: transparent;
			border-bottom: 1px solid $border-color;
			padding: 12px 20px;

			&:last-child {
				border-bottom: none;
			}

			&__link {
				display: flex;
				justify-content: space-between;
				width: 100%;
				column-gap: 12px;
    			row-gap: 8px;
				position: relative;
				align-items: flex-start;
			}

			&__info {
				display: flex;
				column-gap: 12px;
				row-gap: 8px;

				.course-item-ico {
					min-width: 16px;
				}
			}

			&__content {
				display: flex;
				justify-content: space-between;
				column-gap: 12px;
				row-gap: 8px;
				align-items: baseline;
				flex: 1;

				@media (max-width: 1024px) {
					flex-wrap: wrap;
				}
			}

			&__left {
				&:hover {
					color: $color-primary;
				}
			}

			&__right {
				display: flex;
				column-gap: 12px;
				row-gap: 8px;
				align-items: center;
				flex: none;

				@media (max-width: 1024px) {
					width: 100%;
					order: 3;
				}
			}

			&__status {
				.course-item-ico {
					width: 24px;
					display: flex;
					justify-content: center;
				}
			}
		}

		.course-item-ico {
			&::before {
				content: '';
				display: inline-block;
				font-family: "lp-icon";
				font-weight: normal;
			}

			&.lp_lesson::before {
				content: "\f15b";
			}

			&.lp_quiz::before {
				content: "\f12e";
			}

			&.lp_assignment::before {
				content: "\e929";
			}
			&.lp_h5p::before {
				content: "\e92a";
			}
			&.preview::before {
				content: "\f06e";
				color: $input-color-placeholder;
			}

			&.locked::before {
				content: "\f023";
				color: $input-color-placeholder;
			}

			&.passed::before {
				content: "\f00c";
				color: #3bb54a;
			}

			&.in-progress::before {
				content: "\f00c";
				color: $input-color-placeholder;
			}

			&.failed::before {
				content: "\f00d";
				color: #f02425;
			}

			&.started::before {
				content: "\f00c";
				color: $input-color-placeholder;
			}

			&.doing::before {
				content: "\e921";
				color: $input-color-placeholder;
			}
		}
	}
}
