.edit-content {
	margin-left: 5px;
}

.course-curriculum {
	ul.curriculum-sections {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		.closed {
			.section-item__loadmore {
				display: none;
			}
		}

		.section {
			margin: 0;
			padding: 0;
			flex-wrap: wrap;

			&:last-child {
				padding: 0;
			}

			&.section-empty {

				.section-header {
					margin-bottom: 20px;
				}

				.learn-press-message {
					margin-right: 15px;
					margin-left: 15px;
				}
			}
		}

		.section-title {

			&.c + .section-desc {
				display: block;
			}

			&.c {

				span.show-desc {

					&::before {

						@include transform(rotate(180deg));
						top: 0;
					}
				}
			}
		}

		.item-meta {
			&.duration {
				background: #d9e0f1;
			}
		}

	}

	.section-item__loadmore {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			margin-top: 10px;
			border: 1px solid $border-color;
			border-radius: $border-radius-global;
			padding: $spacing-base-2x $spacing-base-4x;
			box-shadow: none;
			outline: none;
		}

		&.loading {
			button {
				@include loading();
			}
		}
	}

	.section-header {
		display: table;
		width: 100%;
		padding: 20px 0;
		border-bottom: 0;
		border-bottom: 1px solid #d9e0f1;
		cursor: pointer;

		@include box-sizing(border-box);

		.section-title, .section-desc {
			margin: 0;
		}

		span.show-desc {
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 30px;
			width: 20px;
			height: 20px;
			transform: translate(0, -50%);

			&::before {
				font-family: 'lp-icon';
				font-size: 1.125em;
				content: "\f107";
			}

			&:hover {

				&::before {
					border-top-color: #ccc;
				}
			}
		}

		.section-desc {
			margin-top: 10px;
			font-size: $font-size-small;
			color: var(--lp-color-accent);
			font-style: italic;
			line-height: 1.3;
		}

		.section-meta {
			display: block;
			padding-top: 17px;
			padding-bottom: 15px;
			font-size: 0.8em;
			text-align: right;
			vertical-align: middle;
			white-space: nowrap;
		}
	}

	.section-item {
		width: 100%;
	}

	.section-content {
		margin: 0;
		padding: 0;
		list-style: none;

		.course-item-meta {
			display: table-cell;
			text-align: right;
			vertical-align: middle;
			white-space: nowrap;

			.item-meta {
				display: inline-block;
				color: #fff;

				&.final-quiz {
					background: #14c4ff;
				}

				&.trans {
					padding: 0;
				}
			}

			.count-questions {
				background: $primary-bg-questions;
			}

			.duration {
				background: $primary-bg-duration;
			}

			.course-item-status {
				padding: 0;
				color: #999;

				&::before {
					font-family: 'lp-icon';
					content: "\f00c";
				}

			}
		}

		.course-item-preview {
			font-style: normal;
			padding: 0;

			&::before {
				font-family: 'lp-icon';
				content: "\f06e";
				color: #999;
			}
		}
	}

	.course-item {
		display: flex;
		position: relative;
		margin: 0 0 2px 0;
		padding: 0 $spacing-base-4x;
		background: rgba(241, 242, 248, 0.4);
		transition: padding-left linear 0.15s;

		& > span {
			display: flex;
			width: 28px;
			color: #666;
			font-weight: 300;
			align-items: center;
		}

		.section-item-link {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
			padding: 12px 0;
			color: inherit;
			outline: none;
			gap: 12px;

			&:hover {
				.item-name {
					color: var(--lp-primary-color);
				}
			}

			&::before {
				color: var(--lp-primary-color);
				font-family: 'lp-icon';
			}

			.course-item-info {
				width: 100%;

				.course-item-info-pre {
					display: flex;
					flex-flow: row-reverse;
					justify-content: flex-end;
					gap: 16px;
					align-items: center;
					font-size: $font-size-small;

					.item-meta {
						&.duration {
							background: transparent;
						}
					}
				}
			}

		}

		.item-name {
			font-weight: 600;
		}


		&.course-item-lp_quiz {
			.section-item-link::before {
				content: "\f059";
			}
		}

		&.course-item-lp_assignment {
			.section-item-link::before {
				content: "\e929" !important;
			}
		}

		&.course-item.course-item-lp_h5p {
			.section-item-link::before {
				content: "\e92a" !important;
			}
		}

		&.course-item-lp_lesson {

			.section-item-link {

				&::before {
					content: "\f15b";
				}
			}

			&.course-item-type-video {

				.section-item-link {

					&::before {
						content: "\f03d";
					}
				}
			}

			&.course-item-type-audio {

				.section-item-link {

					&::before {
						content: "\f028";
					}
				}
			}
		}

		&.item-locked {

			.course-item-status {
				&::before {
					color: var(--lp-secondary-color);
					content: "\f023";
				}
			}
		}

		&.has-status {
			padding-top: 1px;

			&.status-completed,
			&.status-evaluated {

				.course-item-status {

					&::before {
						color: $primary-color-course-item-status;
					}
				}
			}

			&.item-failed,
			&.failed {

				.course-item-status {

					&::before {
						border-color: #f02425;
						color: #f02425;
						content: "\f00d";
					}
				}
			}
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 3px;
			height: 0;
			background: #00adff;
			content: "";
			transition: height linear 0.15s, top linear 0.15s;
		}

		&.current {
			background: #f9f9f9;

			a {

				&::before {
					left: 10px;
				}
			}

			&::before {
				top: 0;
				height: 100%;
			}
		}
	}

	.section-left {
		vertical-align: top;

		.section-title {
			font-weight: $heading-font-weight;
			font-size: $font-size-h4;
			text-transform: capitalize;
			display: block;
		}
	}

	.curriculum-more__button {
		border: 1px solid $border-color;
		border-radius: $border-radius-global;
		padding: $spacing-base-2x $spacing-base-4x;
		box-shadow: none;
		outline: none;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;

		&.loading {
			@include loading();
		}
	}
}

body {
	.content-item-summary, .lp-quiz-buttons {
		.form-button-finish-course {
			float: right;
		}
	}
}

#wpadminbar {

	#wp-admin-bar-edit {
		&-lp_quiz, &-lp_lesson, &-lp_question {
			.ab-item::before {
				top: 2px;
				font-family: 'lp-icon';
			}
		}

		&-lp_quiz {
			.ab-item::before {
				content: "\f017";
			}
		}

		&-lp_lesson {

			.ab-item::before {
				content: "\f15c";
			}
		}

		&-lp_question {

			.ab-item::before {
				content: "\f29c";
			}
		}
	}
}


.course-remaining-time {
	.label-enrolled {
		font-size: inherit;
	}
}

.lp-course-progress {
	position: relative;

	.lp-passing-conditional {
		position: absolute;
		top: 0;
		width: 3px;
		height: 6px;
		margin-left: -1px;
		background: var(--lp-secondary-color);
	}
}

.viewing-course-item {
	.section-header {
		.section-desc {
			display: none;
		}
	}
}

.lp-course-curriculum {

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.course-curriculum-info {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 20px;

		&__left {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px;

			li {
				display: inline-flex;
				align-items: center;
				gap: 8px;

				&::after {
					content: '';
					width: 4px;
					height: 4px;
					background-color: $border-color;
					display: inline-block;
				}

				&:last-child {
					&::after {
						content: none;
					}
				}
			}
		}

		&__right {
			font-weight: $link-font-weight;
			text-align: right;
			text-transform: capitalize;
		}
	}

	.course-toggle-all-sections {
		cursor: pointer;
	}

	.course-section {
		margin-bottom: 8px;
		border: 1px solid $border-color;
		border-radius: $border-radius-global;
		cursor: pointer;
		overflow: hidden;

		&.lp-collapse {
			.course-section__items {
				display: none;
				animation: ease-in-out;
			}

			.lp-icon-angle-up {
				display: none;
			}

			.lp-icon-angle-down {
				display: block;
			}
		}

		.lp-icon-angle-down {
			display: none;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.course-section-header {
			background-color: $bg-grey;
			padding: 20px;
			column-gap: 12px;
			display: flex;
			justify-content: space-between;
		}

		&__title {
			font-weight: 600;
			font-size: 1.1em;
			line-height: 1.3em;
		}

		&__description {
			margin: 4px 0 0 0;
		}

		.section-toggle {
			line-height: 1;

			i {
				font-size: 24px;
			}
		}

		.course-section-info {
			margin-left: 0;
			margin-right: auto;
		}

		.section-count-items {
			min-width: 24px;
			font-weight: 600;
			text-align: center;
			line-height: 1.3;
			white-space: nowrap;
		}

		.course-item {
			background-color: transparent;
			border-top: 1px solid $border-color;
			padding: 12px 20px;
			margin: 0;

			&__link {
				display: flex;
				justify-content: space-between;
				width: 100%;
				column-gap: 12px;
				row-gap: 8px;
				position: relative;
				align-items: flex-start;
				color: inherit;
			}

			&__info {
				display: flex;
				column-gap: 12px;
				row-gap: 8px;

				.course-item-ico {
					min-width: 16px;
				}
			}

			&__content {
				display: flex;
				justify-content: space-between;
				column-gap: 12px;
				row-gap: 8px;
				align-items: baseline;
				flex: 1;

				@media (max-width: 1024px) {
					flex-wrap: wrap;
				}
			}

			&__left {
				&:hover {
					color: $color-primary;
				}
			}

			&__right {
				display: flex;
				column-gap: 12px;
				row-gap: 8px;
				align-items: center;
				flex: none;
				color: $text-color-meta;
				flex-wrap: wrap;
				flex-direction: row-reverse;
				justify-content: flex-end;
				@media (max-width: 1024px) {
					width: 100%;
					order: 3;
				}
			}

			&__status {
				.course-item-ico {
					width: 24px;
					display: flex;
					justify-content: center;
				}
			}
		}

		.course-item-ico {
			&::before {
				content: '';
				display: inline-block;
				font-family: "lp-icon";
				font-weight: normal;
			}

			&.lp_lesson::before {
				content: "\f15b";
			}

			&.lp_quiz::before {
				content: "\f12e";
			}

			&.lp_assignment::before {
				content: "\e929";
			}

			&.lp_h5p::before {
				content: "\e92a";
			}

			&.preview::before {
				content: "\f06e";
				color: $input-color-placeholder;
			}

			&.locked::before {
				content: "\f023";
				color: $input-color-placeholder;
			}

			&.passed.completed::before {
				content: "\f00c";
				color: #3bb54a;
			}

			&.in-progress::before,
			&.completed::before {
				content: "\f00c";
				color: $input-color-placeholder;
			}

			&.failed.completed::before {
				content: "\f00d";
				color: #f02425;
			}

			&.started::before {
				content: "\f00c";
				color: $input-color-placeholder;
			}

			&.doing::before {
				content: "\e921";
				color: $input-color-placeholder;
			}
		}
	}
}

// Course Progress
.info-learning {
	.course-progress {
		&__line{
			width: 100%;
			background: #ccc;
			height: 5px;
			border-radius: 5px;
			position: relative;

			&__active {
				background: var(--lp-primary-color);
				height: 100%;
				border-radius: 5px;
				position: absolute;
				top: 0;
				left: 0;
			}

			&__active {
				background: var(--lp-primary-color);
				height: 100%;
				border-radius: 5px;
				position: absolute;
				top: 0;
				left: 0;
			}

			&__point {
				position: absolute;
				top: 0;
				width: 2px;
				height: 100%;
				background: var(--lp-secondary-color);
			}
		}
	}
}
