#learn-press-course-tabs {

	&.show-all {

		.course-tab-panel {
			margin-bottom: 40px;
		}
	}

	@for $i from 1 to 10 {
		input[name="learn-press-course-tab-radio"]:nth-child(#{$i}):checked ~ .course-tab-panels {
			.course-tab-panel:nth-child(#{$i}) {
				display: block;
			}
		}

		input[name="learn-press-course-tab-radio"]:nth-child(#{$i}):checked ~ .learn-press-nav-tabs {
			.course-nav:nth-child(#{$i}) {
				border-bottom: 0;

				label {
					color: var(--lp-primary-color);
					background: #fff;
				}
			}
		}
	}
}
.course-tab-panels{
	.course-tab-panel{
		padding-top: 30px;
	}
}
.course-tab-panel {
	display: none;

	&.active {
		display: block;
	}


	.course-description {
		//color: #666;
		//font-size: 16px;
		//font-weight: 300;
		//line-height: 26px;
		h4 {
			margin-top: 0;
			margin-bottom: 1.125rem;
			//color: #333;
			 font-size: 1.3em;
			//font-weight: 500;
		}
		//
		//p {
		//
		//	line-height: inherit;
		//}

		img {
			max-width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}

	.lp-course-author {
		display: flex;
		margin-bottom: 40px;

		@media (max-width: 767px) {
			flex-direction: column;
		}

		.course-author__pull-left {
			margin-right: 30px;
			text-align: center;
			align-items: center;

			@media (max-width: 767px) {
				margin-right: 0;
				margin-bottom: 30px;
			}

		}

		img {
			width: 50px;
			height: 50px;
			margin-bottom: 20px;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
		}

		.course-author__pull-right {
			flex: 1;

			@media (max-width: 767px) {
				width: 100%;
				text-align: center;
			}

		}

		.author-title {
			margin-bottom: 18px;

			a {
				color: #333;
				box-shadow: none;
				font-size: 18px;
				font-weight: 500;
				text-transform: capitalize;

				&:hover {
					color: var(--lp-primary-color);
				}
			}
		}

		//.author-description {
		//	color: #666;
		//	font-size: 16px;
		//	font-weight: 300;
		//	line-height: 26px;
		//}

		.author-socials {
			display: grid;
			grid-template-columns: repeat(4, 33px);
			gap: 10px;
			justify-content: center;

			> a {
				display: inline-block;
				width: 33px;
				height: 33px;
				margin: 0;
				border: 1px solid #ededed;
				border-radius: 50%;
				color: #878787;
				box-shadow: none;
				font-size: 14px;
				line-height: 33px;
				text-align: center;
				vertical-align: middle;
				transition: all 0.3s;

				&:hover {
					border-color: var(--lp-primary-color);
					color: #fff;
					background: var(--lp-primary-color);
				}
			}

			.fa-googleplus {

				&::before {
					content: "\f0d5";
				}
			}
		}
	}
}

.course-summary {

	div.lp-list-co-instructor {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;

		&__item {
			display: flex;
			column-gap: 30px;

			@media (max-width: 767px) {
				align-items: center;
				flex-direction: column;
				padding: 0 15px;
				column-gap: 0;
				row-gap: 10px;
			}
		}

		&__avatar {

			>img {
				width: 100%;
				max-width: 96px;
				border-radius: 999px;
			}
		}

		&__bio {
			flex: 1;

			&__top {

				> a {
					font-size: 18px;
					font-weight: 600;
				}
			}

			&__description {
				font-size: 1rem;
			}
		}
	}

	.course-price {
		margin-bottom: 10px;

		.origin-price,
		.price {
			vertical-align: middle;
		}

		.origin-price {
			margin-right: 10px;
			font-size: 18px;
			font-style: italic;
			text-decoration: line-through;
		}

		.price {
			font-size: 24px;
		}
	}

	.course-summary-sidebar .lp-course-buttons {
		margin-bottom: 20px;
		text-align: center;
	}

	.course-featured-review {

		.featured-review__title {
			margin-top: 0;
			margin-bottom: 6px;
			font-size: 1.2rem;
			font-weight: 500;
		}

		.featured-review__stars {
			padding-bottom: 12px;
			color: var(--lp-primary-color);
			font-size: 16px;
		}

		.featured-review__content {
			position: relative;
			color: #666;
			font-size: 1rem;
			font-style: italic;
			line-height: 24px;

			&::after {
				position: absolute;
				top: -42px;
				right: -15px;
				color: rgba(102, 102, 102, 0.1);
				font-family: Arial;
				font-size: 180px;
				font-weight: 700;
				font-style: normal;
				content: "‘‘";
				transform: rotate(180deg);
			}
		}
	}

	.course-tags a {
		display: inline-block;
		padding: 3px 5px;
		border-radius: 4px;
		color: #fff;
		background: #9aa5ab;
		font-size: 12px;
		line-height: 1;
	}

}

.edit-content {
	margin-left: 5px;
}

ul.learn-press-nav-tabs {
	display: flex;
	margin: 0;
	padding: 0;
	//border: 1px solid rgba(204, 204, 204, 0.3);
	border-bottom: 0;
	background: #f1f2f8;
	list-style: none;

	.course-nav {
		float: left;
		position: relative;
		margin: 0;
		//border-right: 1px solid rgba(204, 204, 204, 0.3);
		//border-bottom: 1px solid rgba(204, 204, 204, 0.3);
		list-style: none;

		&:first-child {

			&.active {

				&::after {
					position: absolute;
					top: -1px;
					left: -1px;
					width: 1px;
					height: 100%;
					background: #fff;
					content: "";

				}
			}
		}

		&:last-child {
			border-right: 0;

			&.active {

				&::after {
					position: absolute;
					top: -1px;
					right: -2px;
					width: 2px;
					height: 100%;
					background: #fff;
					content: "";

				}
			}
		}

		&.active {
			border-bottom: 0;

			&::before {
				position: absolute;
				top: -1px;
				left: 0;
				width: 100%;
				height: 3px;
				background: var(--lp-primary-color);
				content: "";
			}

			label {
				color: var(--lp-primary-color);
				background-color: white;
			}
		}

		a {
			display: inline-block;
			padding: 10px 20px;
			border-bottom: none;
			outline: none;
			@include box-shadow(none);
		}
	}

	&[data-tabs] {

		.course-nav {
			flex: 1;

			a {
				width: 100%;
				text-align: center;
			}
		}
	}

	&::after {

		@include clear-fix();
	}

	@media (max-width: 767px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-height: none;
	}

}

.course-item-popup {
	#tab-curriculum {
		display: block;
	}
}

.course-curriculum {

	ul.curriculum-sections {
		position: relative;
		z-index: 499;
		margin: 0;
		padding: 0;
		list-style: none;

		.closed {
			.section-item__loadmore {
				display: none;
			}
		}

		.section {
			margin: 0;
			padding: 0;
			flex-wrap: wrap;

			&:last-child {
				padding: 0;
			}

			&.section-empty {

				.section-header {
					margin-bottom: 20px;
				}

				.learn-press-message {
					margin-right: 15px;
					margin-left: 15px;
				}
			}
		}

		.section-title {

			&.c + .section-desc {
				display: block;
			}

			&.c {

				span.show-desc {

					&::before {

						@include transform(rotate(180deg));
						top: 0;
					}
				}
			}
		}

		.item-meta {

			&.duration {
				background: #d9e0f1;
			}
		}

	}

	.section-item__loadmore {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			display: inline-flex;
			margin-top: 10px;
			margin-right: auto;
			margin-left: auto;
			padding: 10px 20px;
			border: 1px solid #ccc;
			border-radius: 4px;
			outline: none;
			color: #222;
			background: #f7f7f7;
			box-shadow: none;
			font-weight: 500;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 1rem;
			font-family: sans-serif;
		}

		&.loading {
			button {
				&::before {
					display: inline-block;
					margin-right: 5px;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: "\f110";
					@include animation(lp-rotating 1s linear infinite);
				}
			}
		}
	}

	.section-header {
		display: table;
		width: 100%;
		padding: 0 0 26px 0;
		border-bottom: 0;
		border-bottom: 1px solid #d9e0f1;

		@include box-sizing(border-box);

		.section-title,
		.section-desc {
			margin: 0;
		}

		span.show-desc {
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 30px;
			width: 20px;
			height: 20px;
			transform: translate(0, -50%);

			&::before {
				font-family: "Font Awesome 5 Free";
				font-size: 18px;
				font-weight: 900;
				content: "\f107";
			}

			&:hover {

				&::before {
					border-top-color: #ccc;
				}
			}
		}

		.section-desc {
			margin: 0;
			margin-top: 10px;
			font-size: 14px;
			line-height: 21px;
			color: #999;
			font-style: italic;
		}

		.section-meta {
			display: block;
			padding-top: 17px;
			padding-bottom: 15px;
			font-size: 14px;
			text-align: right;
			vertical-align: middle;
			white-space: nowrap;
		}
	}

	.section-item {
		width: 100%;
	}

	.section-content {
		margin: 0 0 15px 0;
		padding: 0;
		list-style: none;
		.course-item-meta {
			display: table-cell;
			padding: 10px 0;
			text-align: right;
			vertical-align: middle;
			white-space: nowrap;

			.item-meta {
				display: inline-block;
				margin-left: 14px;
				border-radius: 3px;
				color: #fff;
				font-size: 14px;
				line-height: 23px;
				text-align: center;
				vertical-align: middle;
				padding: 0 8px;

				&.final-quiz {
					background: #14c4ff;
				}

				&.trans {
					padding: 0;
				}
			}

			.count-questions {
				background: $primary-bg-questions;
			}

			.duration {
				background: $primary-bg-duration;
			}

			.course-item-status {
				padding: 0;
				color: #999;

				@include border-radius(50%);
				@include box-sizing(border-box);

				&::before {
					font-family: "Font Awesome 5 Free";
					font-size: 14px;
					font-weight: 900;
					vertical-align: middle;
					text-transform: lowercase;
					content: "\f00c";
				}

			}
		}
		.course-item-preview {
			font-style: normal;
			padding: 0;
			&::before {
				color: #fff;
				padding: 0 8px;
				background: #00adff;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				@include border-radius(3px);
				vertical-align: baseline;
				content: attr(data-preview);
			}
		}
	}

	.course-item {
		display: flex;
		position: relative;
		margin: 0 0 2px 0;
		padding: 0 15px 0 30px;
		background: rgba(241, 242, 248, 0.4);
		font-size: 14px;
		transition: padding-left linear 0.15s;

		@media (max-width: 767px) {
			padding: 0 0 0 15px;
		}

		& > span {
			display: flex;
			width: 28px;
			color: #666;
			font-size: 16px;
			font-weight: 300;
			align-items: center;
		}

		.section-item-link {
			display: table;
			padding-right: 15px;
			padding-left: 0;
			border-bottom: none;
			outline: none;
			box-shadow: none;
			line-height: 1.5;
			color: #777;
			text-decoration: none;

			&:hover {

				.item-name {
					color: var(--lp-primary-color);
				}
			}

			&::before {
				display: table-cell;
				display: table-cell;
				left: 0;
				width: 20px;
				padding: 15px 0;
				color: var(--lp-primary-color);
				font-family: "Font Awesome 5 Free";
				font-size: 18px;
				font-weight: 400;
				vertical-align: middle;
				transition: left linear 0.15s;
			}
		}

		.item-icon,
		.item-name {
			display: table-cell;
			padding: 17px 16px;
			color: #333;
			font-size: 16px;
			font-weight: 600;
			vertical-align: middle;
		}

		.item-icon {

			&::before {
				font-size: 18px;
			}

			&.icon-lock {
				float: right;
				margin-top: 15px;
			}
		}

		&.course-item-lp_quiz {
			.section-item-link::before {
				content: "\f059";
			}
		}

		&.course-item-lp_lesson {

			.section-item-link {

				&::before {
					content: "\f15b";
				}
			}

			&.course-item-type-video {

				.section-item-link {

					&::before {
						content: "\f03d";
					}
				}
			}

			&.course-item-type-audio {

				.section-item-link {

					&::before {
						content: "\f028";
					}
				}
			}
		}

		&.item-locked {

			.course-item-status {
				&::before {
					color: var(--lp-secondary-color);
					content: "\f023";
				}
			}
		}

		&.has-status {
			padding-top: 1px;

			&.status-completed,
			&.status-evaluated {

				.course-item-status {

					&::before {
						color: $primary-color-course-item-status;
					}
				}
			}

			&.item-failed,
			&.failed {

				.course-item-status {

					&::before {
						border-color: #f02425;
						color: #f02425;
						content: "\f00d";
					}
				}
			}
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 3px;
			height: 0;
			background: #00adff;
			content: "";
			transition: height linear 0.15s, top linear 0.15s;
		}

		&.current {
			padding-left: 10px;
			background: #f9f9f9;

			a {

				&::before {
					left: 10px;
				}
			}

			&::before {
				top: 0;
				height: 100%;
			}
		}
	}

	.section-left {
		vertical-align: top;
		.section-title {
			padding: 0;
			color: #666;
			font-size: 1.4rem;
			letter-spacing: 0;
			text-transform: capitalize;
			display: block;
		}
	}

	.curriculum-more {
		&__button {
			display: flex;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 10px 0;
			border: none;
			outline: none;
			color: #fff;
			background: #333;
			box-shadow: none;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 1rem;
			font-family: sans-serif;
			&.loading {

				&::before {
					display: inline-block;
					margin-right: 5px;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: "\f110";

					@include animation(lp-rotating 1s linear infinite);
				}
			}
		}
	}
}

body {
	&.course-item-popupx {
		overflow: hidden;
		_opacity: 0;

		#learn-press-course-curriculum {
			overflow: auto;
			position: fixed;
			z-index: 9999;
			top: 32px;
			bottom: 0;
			left: 0;
			width: 400px;
			border-right: 1px solid #ddd;
			background: #fff;

			.section-header {
				padding: 0 15px;

				.section-desc {
					margin: -10px 0 5px;
				}
			}

			.course-item {
				padding-right: 15px;
				padding-left: 15px;

				a {

					&::before {
						left: 15px;
					}
				}
			}
		}

		#learn-press-content-item {
			overflow: hidden;
			position: fixed;
			z-index: 9999;
			top: 32px;
			right: 0;
			bottom: 0;
			left: 400px;
			background: #fff;

			.content-item-wrap {
				max-width: 900px;
				margin: 10px auto;
			}

			.course-item-title {
				font-size: 1.4rem;
			}

			.content-question-summary {

				.review-heading {
					text-align: center;
				}

				.question-title {
					margin-bottom: 10px;
					font-size: 1.2rem;
				}
			}
		}

		#content-item-nav {
			position: fixed;
			z-index: 99999;
			right: 0;
			bottom: 0;
			left: 400px;
			height: 60px;
			border-top: 1px solid #ddd;
			background: #f5f5f5;

			.content-item-nav-wrap {
				max-width: 900px;
				margin: 10px auto;
			}

			button {
				height: 40px;
				padding: 0 20px;
				line-height: 40px;
			}
		}

		.comment-form-textarea {

			@include box-sizing(border-box);
		}

		&.wpadminbar {

			#learn-press-course-curriculum,
			#learn-press-content-item {
				top: 92px;
			}

			.content-item-description {
				margin-bottom: 20px;
			}
		}

		.content-item-summary {
			margin-bottom: 50px;

			& > h3 {
				margin-bottom: 20px;
			}

			&.content-item-video {

				.entry-video {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					background: #000;
					line-height: 1;

					iframe {
						width: 100%;
						max-width: 900px;
						margin-bottom: 0;
						vertical-align: top;
					}
				}
			}
		}

		.learn-press-content-protected-message {
			margin-bottom: 50px;
			padding: 20px;
			background: #ffe0e0;
		}

		&.content-only {

			#learn-press-content-item {
				z-index: 9999999;
				top: 0;
				bottom: 0;
				left: 0;

				.content-item-scrollable {
					bottom: 0;
				}
			}
		}
	}

	#ifr-course-item {
		position: absolute;
		z-index: 999999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
	}

	.content-item-summary,
	.lp-quiz-buttons {

		.form-button-finish-course {
			float: right;
		}
	}
}

#wpadminbar {

	#wp-admin-bar-edit {
		&-lp_quiz, &-lp_lesson, &-lp_question {
			.ab-item::before {
				top: 2px;
				font-family: "Font Awesome 5 Free";
			}
		}
		&-lp_quiz {
			.ab-item::before {
				content: "\f017";
			}
		}
		&-lp_lesson {

			.ab-item::before {
				content: "\f15c";
			}
		}
		&-lp_question {

			.ab-item::before {
				content: "\f29c";
			}
		}
	}
}

.scroll-wrapper {
	overflow: hidden;
	opacity: 0;

	.scroll-element {
		background: transparent;

		&.scroll-y {

			&.scroll-scrolly_visible {
				transition: opacity 0.25s;
			}
		}
	}

	&:hover {

		.scroll-element {

			&.scroll-y {

				&.scroll-scrolly_visible {
					opacity: 0.7;
				}
			}
		}
	}
}

.course-remaining-time {
	.label-enrolled {
		font-size: inherit;
	}
}

.learn-press-form {

	&.completed {

		button {

			&::before {
				margin-right: 10px;
				font-family: "Font Awesome 5 Free";
				font-size: 18px;
				content: "\f00c";
			}
		}
	}
}

.lp-course-progress {
	position: relative;
	.lp-passing-conditional {
		position: absolute;
		top: 0;
		width: 3px;
		height: 6px;
		margin-left: -1px;
		background: var(--lp-secondary-color);
	}
}

.viewing-course-item {
	.section-header {
		.section-desc {
			display: none;
		}
	}
	.content-item-wrap {
		margin-top: 50px;
	}
}

/***********/
.course-meta {
	display: flex;
	margin-bottom: 40px;

	.course-meta__pull-left,
	.course-meta__pull-right {
		display: flex;
		flex-wrap: wrap;
	}


	.course-meta__pull-left {
		flex: 1;

		.meta-item {
			margin-right: 10px;
		}
	}

	.course-meta__pull-right {
		flex: 0 0 50%;

		.meta-item {
			margin-left: 10px;
		}
	}

	&.course-meta-primary {

		.meta-item {
			flex: 1;
		}
	}

	&.two-columns {

		.course-meta {
			flex: 1;
		}
	}
}

// Extra info boxes

.course-extra-box {
	margin-bottom: 3px;
	border: 1px solid rgba(204, 204, 204, 0.3);
	border-radius: 5px;

	&__title {
		--extra-height: 50px;
		display: flex;
		align-items: center;
		position: relative;
		height: var(--extra-height);
		margin: 0 !important;
		padding: 0 45px 0 38px;
		background: rgba(181, 187, 211, 0.15);
		font-size: 1.1rem;
		font-weight: 600;
		cursor: pointer;
		@media (max-width: 767px) {
			padding-left: 15px;
		}

		&::after {
			position: absolute;
			top: 0;
			right: 20px;
			color: #666;
			font-family: "Font Awesome 5 Free";
			line-height: var(--extra-height);
			content: "\f0d7";
		}
	}

	&__content {
		display: none;

		&-inner {

			-webkit-animation-name: course-extra-box__content-inner-transform;
			animation-name: course-extra-box__content-inner-transform;
			-webkit-animation-duration: 0.3s;
			animation-duration: 0.3s;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
			-webkit-animation-direction: normal;
			animation-direction: normal;
		}

		ul,
		li {
			list-style: none;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			margin: 0;
			padding: 10px 38px;
			border-bottom: 1px solid rgba(204, 204, 204, 0.3);
			color: #666;
			font-size: 16px;
			font-weight: 300;

			@media (max-width: 767px) {
				padding-left: 30px;
				padding-right: 30px;
			}

			&::before {
				margin-right: 8px;
				color: var(--lp-primary-color);
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f00c";
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	&:last-child {
		margin-bottom: 60px;
	}

	&.active {

		.course-extra-box__title {

			&::after {
				content: "\f0d8";
			}
		}
	}

	+ .comment-respond, + .comments-area {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	+ .course-tabs {
		margin-top: 60px;
	}
}

input[name="course-extra-box-ratio"] {
	display: none;

	&:checked + .course-extra-box {

		.course-extra-box__content {
			display: block;

			.course-extra-box__content-inner {
				transform: scale(1);
			}
		}
	}
}

@-webkit-keyframes course-extra-box__content-inner-transform {

	from {
		opacity: 0;
		@include transform(translateX(5%));
	}

	to {
		opacity: 1;
		@include transform(translateX(0%));
	}
}

@keyframes course-extra-box__content-inner-transform {

	from {
		opacity: 0;
		transform: translateX(5%);
	}

	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

// FAQs toggle boxe
.course-tab-panel-faqs {
	padding-top: 64px;

	.course-faqs-box {
		margin-bottom: 20px;
		border: 1px solid rgba(204, 204, 204, 0.6);
		border-radius: 5px;

		&__title {
			display: block;
			position: relative;
			margin: 0;
			padding: 20px 45px 20px 25px;
			font-size: 1.1rem;
			font-weight: 500;
			line-height: 1.7;
			cursor: pointer;

			&::after {
				position: absolute;
				top: 50%;
				right: 28px;
				color: #6c6c6c;
				font-family: "Font Awesome 5 Free";
				font-size: 12px;
				font-weight: 900;
				content: "\f078";
				transform: translateY(-50%);
			}
		}

		&:last-child {
			margin-bottom: 40px;
		}

		&:hover {
			background: rgba(241, 242, 248, 0.4);

			.course-faqs-box__title {
				color: var(--lp-primary-color);
			}
		}

	}

	.course-faqs-box__content {
		display: none;
	}

	.course-faqs-box__content-inner {
		padding:0 25px 25px 25px;
		color: #666;
		font-size: 1rem;
		font-weight: 300;
		line-height: 26px;
		-webkit-animation-name: course-faqs-box__content-inner-transform;
		animation-name: course-faqs-box__content-inner-transform;
		-webkit-animation-duration: 0.3s;
		animation-duration: 0.3s;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		-webkit-animation-direction: normal;
		animation-direction: normal;
	}
}

input[name="course-faqs-box-ratio"] {
	display: none;

	&:checked + .course-faqs-box {

		.course-faqs-box__content {
			display: block;
		}
	}

	&:checked + .course-faqs-box {
		background: rgba(241, 242, 248, 0.4);

		.course-faqs-box__title {
			color: var(--lp-primary-color);

			&::after {
				content: "\f077";
			}
		}
	}
}

@-webkit-keyframes course-faqs-box__content-inner-transform {

	from {
		opacity: 0;
		@include transform(translateX(5%));
	}

	to {
		opacity: 1;
		@include transform(translateX(0%));
	}
}

@keyframes course-faqs-box__content-inner-transform {

	from {
		opacity: 0;
		@include transform(translateX(5%));
	}

	to {
		opacity: 1;
		@include transform(translateX(0%));
	}
}

/***********/
@media screen and (max-width: 1300px) {

	body.course-item-popup {

		#learn-press-course-curriculum {
			width: 300px;

			.progress-bg {
				width: 40px;
			}
		}

		#content-item-nav {
			left: 300px;
		}

		.section-desc {
			display: none;
		}
	}
}

@media screen and (max-width: 1200px) {

	body.course-item-popupx {

		#learn-press-course-curriculum {
			width: 300px;
		}

		#content-item-nav {
			left: 300px;
		}

		//#learn-press-content-item {
		//
		//	.content-item-nav-wrap,
		//	.content-item-wrap {
		//		width: 90%;
		//	}
		//}
	}
}

@media screen and (max-width: 768px) {

	body {

		&.course-item-popup {

			.course-curriculum {
				width: 200px;
			}

			#content-item-nav {
				left: 200px;
			}

			//#learn-press-content-item {
			//
			//	.content-item-nav-wrap,
			//	.content-item-wrap {
			//		width: 90%;
			//	}
			//}

			&.wpadminbar {

				#learn-press-content-item,
				#learn-press-course-curriculum {
					top: 106px;
				}

			}
		}
	}

	.learn-press-course-results-progress {
		margin-right: 0%;

		.items-progress,
		.course-progress {
			float: none;
			width: 100%;
			margin-right: 0%;
			margin-bottom: 20px;
		}
	}
}
