.lp-list-table {
	width: 100%;
	margin-bottom: 20px;

	th,
	td {
		padding: 20px;
		border: 0 solid rgba(204, 204, 204, 0.3);
		border-bottom-width: 1px;
		background: #fff;
		font-size: 16px;
		line-height: 1;
		text-align: left;

		@media (max-width: 767px) {
			padding: 15px;
		}
	}

	thead {
		box-sizing: border-box;
		border: 1px solid #e5e7f2;

		tr {

			th {
				height: 60px;
				border-bottom: none;
				color: #333;
				background: #f1f2f8;
				font-size: 18px;
			}
		}
	}

	tbody,
	tfoot {
		box-sizing: border-box;
		border: 1px solid rgba(204, 204, 204, 0.3);
		border-top: 0;

		tr {

			td,
			th {
				height: 62px;
				color: #666;
				background: #fff;
				font-size: 16px;
				font-weight: 300;

				a {
					border-bottom: none;
					color: #666;
					text-decoration: none;

					&:hover {
						color: var(--lp-primary-color);
					}
				}
			}

			.column-status {

				.result-percent {
					font-weight: 500;
				}

				.lp-label {
					font-weight: 600;
				}
			}

			&:nth-child(odd) {
				background: #f5f5f5;
			}
		}
	}

	.list-table-nav {

		td {
			font-size: 14px;

			&.nav-text {
				text-align: left;
			}

			&.nav-pages {
				text-align: right;

				.learn-press-pagination {
					text-align: right;
				}

				.page-numbers {
					margin-bottom: 0;
				}
			}
		}
	}

}

.lp-label {
	display: inline-block;
	color: #666;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
}

.learn-press-form {

	.form-fields {
		margin: 0;
		padding: 0;
		list-style: none;

		.form-field {
			margin: 0 0 20px 0;

			label {
				display: block;
				margin: 0 0 10px 0;
			}

			input[type="text"],
			input[type="email"],
			input[type="number"],
			input[type="password"],
			textarea {
				width: 100%;
				padding: 8px;

				@include box-sizing(border-box);
			}

			.description {
				margin-top: 10px;
				font-size: 14px;
				font-style: italic;
				line-height: 1.4;
			}

			.asterisk {
				color: #f00;
			}

		}
	}
}

.learn-press-form-login,
.learn-press-form-register {
	max-width: 600px;
	margin-right: auto;
	margin-bottom: 60px;
	margin-left: auto;
	padding: 40px;
	border: 1px solid #eee;
	border-radius: 6px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;

	h3 {
		margin-bottom: 20px;
		font-size: 28px;
		line-height: 1.4;
	}

	.form-fields {

		.form-field {

			label {
				font-size: 16px;
				font-weight: 400;
				user-select: none;
			}

			input[type="text"],
			input[type="password"],
			input[type="tel"],
			input[type="url"],
			input[type="number"] {
				height: 42px;
				border: 1px solid #bbb;
				border-radius: 4px;
				line-height: 42px;

				&:focus {
					border: none;
					outline: 2px solid transparent !important;
					outline-offset: 2px;
					box-shadow: 0 0 0 2px #666 !important;
				}
			}
		}
	}

	form[name="learn-press-login"] {


		>p {

			>label {
				color: #666;
				font-size: 16px;
				cursor: pointer;
				user-select: none;
			}

			>a {
				color: #666;
				font-size: 16px;
				line-height: 1;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

	}

	button[type="submit"] {
		width: 100%;
		height: 50px;
		border-radius: 3px;
		outline: none;
		color: #fff;
		background: var(--lp-primary-color);
		box-shadow: none;
		font-size: 16px;
		line-height: 1;
		vertical-align: middle;
		text-decoration: none;
	}
}

.lp-password-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	input[type="password"] {
		padding-right: 2.5rem;
	}

	input::-ms-reveal {
		display: none;
	}

	.lp-show-password-input {
		position: absolute;
		top: 8px;
		right: 10px;
		cursor: pointer;
	}

	.lp-show-password-input::after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f06e";
	}

	.lp-show-password-input.display-password::after {
		color: #585858;
		content: "\f070";
	}
}

.form-desc {
	font-size: smaller;
	font-style: italic;
}

.become-teacher-form {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;

	.form-field {

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"] {
			width: 100%;
		}
	}
}
