/**
* Styles for all page of LP
*
* @since 4.2.3
* @version 1.0.0
*/
@import "../mixin.scss";
@import "../variables.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*  start reset css */
body {
	background: #fff;

	&.learnpress-page {
		overflow-x: hidden;
	}
}

button {
	cursor: pointer;
}

input, button, select, textarea {
	outline: none;
}

html {
	overflow-x: hidden;
}

a {
	@include transition(.3s);
	text-decoration: none;
}

p {
	margin-bottom: 1em;

	&:last-child {
		margin: 0
	}
}

.lp-content-area {
	max-width: var(--lp-container-max-width) !important;
	margin: 0 auto;
	padding-right: var(--lp-cotainer-padding);
	padding-left: var(--lp-cotainer-padding);

	&.learn-press-message {
		margin-bottom: 24px;
	}
}

.lp-ico {
	svg {
		width: 20px;
		height: 20px;
	}
}

.lp-button {
	border: 1px solid $border-color;
	border-radius: $border-radius-global;
	padding: $spacing-base-2x $spacing-base-4x;
	&.loading {
		pointer-events: none;
		opacity: 0.8;
		@include loading();
	}
}

.lp-hidden {
	display: none !important;
}
