/**
* Styles for all page of LP
*
* @since 4.2.3
* @version 1.0.0
*/

.lp-content-area {
	width: 100%;
	max-width: 80rem !important;
	margin: 0 auto;

	@media (max-width: 80rem) {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}


