/**
* Style for single instructor page
*
* @since 4.2.3
* @version 1.0.0
*/
// fix container for theme premium
@import "variables";
@import "user_cover_image";

body {
	.entry-content {
		&.has-global-padding {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.wp-site-blocks {
		padding-left: 0;
		padding-right: 0;
	}
}

.learnpress-v4 {
	.lp-content-area {
		--lp-container-max-width: inherit;
		--lp-cotainer-padding: 0;
	}
}

.lp-single-instructor {
	--lp-instructor-item-padding: 13px;
	--lp-instructor-border-color: #c3c4c7;
	--lp-instructor-minmax-column: 250px;

	h1 {
		font-size: 1.8em;
		font-weight: bold;
		margin-bottom: var(--lp-instructor-item-padding);
	}

	h2 {
		font-size: 1.4em;
		font-weight: bold;
	}

	.wrapper-instructor-total-courses, .wrapper-instructor-total-students {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__info {
		margin-bottom: 40px;

		&__wrapper {
			display: flex;
			align-items: center;
			gap: 24px;
		}

		.instructor-avatar {
			img {
				max-width: 120px;
				border-radius: 50%;
			}
		}

		&__right {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;

			&__content {
				display: flex;
				flex-direction: column;
				row-gap: 8px;
			}

			.instructor-description:empty {
				margin: 0;
			}

			.instructor-social {
				display: flex;
				gap: 12px;
				font-size: $font-size-small;

				&:empty {
					margin: 0;
				}

				i {
					width: 40px;
					height: 40px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					border: 1px solid $border-color;
					border-radius: 50%;

					&:hover {
						background-color: $color-primary;
						border-color: $color-primary;
						color: $color-white;
					}
				}
			}

			.lp-instructor-meta {
				display: flex;
				column-gap: 20px;

				.instructor-item-meta {
					display: inline-flex;
					gap: 8px;
					align-items: center;

					i {
						color: $color-primary;
					}
				}
			}

			@media (max-width: 991px) {
				flex-wrap: wrap;

				.instructor-description {
					display: none;
				}

				.lp-instructor-meta {
					flex-wrap: wrap;
				}
			}
		}

		@media (max-width: 600px) {
			display: block;

			.instructor-avatar {
				margin-right: 0;
				margin-bottom: 20px;
			}

			.instructor-social {
				gap: 3%;
			}
		}
	}

	.ul-instructor-courses {
		display: grid;
		gap: 30px;
		padding: 0!important;
		margin: 0 0 32px 0;
		list-style: none;
		font-size: 1rem;
		grid-template-columns: repeat( auto-fill, minmax(var(--lp-instructor-minmax-column), 1fr) );

		li {
			list-style: none;
		}

		a:hover {
			color: var(--lp-primary-color);
		}

		.course-item {
			border: 1px solid $border-color;
			border-radius: $border-radius-global;
			&:hover {
				box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
			}
		}

		.course-content {
			padding: $spacing-base-5x;
			flex-grow: 1;
  			.course-info {
 				flex-direction: column;
 				align-items: flex-start;
				gap: $spacing-base-3x;
  				.course-readmore {
					width: 100%;
					text-align: center;
				}
			}

			.course-title {
				font-size: $font-size-h4;
			}

			.course-excerpt, .course-short-description, .course-instructor-category {
				display: none;
			}
		}

		.course-thumbnail{
			border-radius:$border-radius-global $border-radius-global 0 0;
			overflow: hidden;
		}

		.course-wrap-meta {
			display: flex;
			padding: 0;
			margin-bottom: $spacing-base-3x;
			//font-size: $font-size-small;
			gap: $spacing-base-5x;
			flex-wrap: wrap;
			row-gap: $spacing-base-2x;
	
			.meta-item {
				text-transform: capitalize;
				display: flex;
				gap: $spacing-base-2x;
				&::before {
					 color: var(--lp-primary-color);
					font-family: 'lp-icon';
				}
				 & > div {
					display: inline-block;
				}
			}
	
			.meta-item-level::before {
				content: "\f012";
			}
	
			.meta-item-duration::before {
				content: "\f017";
			}
	
			.meta-item-lesson::before {
				content: "\f15b";
			}
	
			.meta-item-quiz::before {
				content: "\f12e";
			}
	
			.meta-item-student::before {
				content: "\f501";
			}
	
			.meta-item-address::before{
				content: "\e91b";
			}

			.meta-item-duration, .meta-item-level, .meta-item-quiz {
				display: none;
			}
		}

		.course-price {
			display: block;
			margin: 0 0 $spacing-base-3x 0;
			font-size: $font-size-large;
			font-weight: $heading-font-weight;

			.free {
				color: #3AB500;
			}
	
			.origin-price {
				text-decoration: line-through;
				opacity: 0.6;
				font-size: $font-size-small;
				margin-right: 4px;
			}
		}

		.course-title {
			margin: 0 0 $spacing-base-3x 0;
			padding: 0;
			display: block;
	
			&:hover {
				color: var(--lp-primary-color);
			}
		}

		.course-readmore {
			a {
				padding: $spacing-base-2x $spacing-base-6x;
				border-radius: $border-radius-global;
				color: $text-color-base;
				border: 1px solid $text-color-base;
				transition: all 0.3s;
				display:  block;
				background: transparent;
				text-decoration: none;
				&:hover {
					background: $color-primary;
					color: $color-white;
					border-color: $color-primary;
				}
			}
		}
	}
}
