/**
 * Instructors page.
 *
 * @since 4.2.3
 * @version 1.0.0
 */
// fix container for theme premium


body {
	.entry-content{
		&.has-global-padding{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.wp-site-blocks{
		padding-left: 0;
		padding-right: 0;
	}
}
.learnpress-v4 {
	.lp-content-area {
		--lp-cotainer-max-with: inherit;
		--lp-cotainer-padding: 0;
	}
	.lp-single-course{
		.lp-content-area {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.lp-list-instructors {
	--lp-instructor-item-padding: 20px;
	--lp-instructor-border-color: #c3c4c7;
	--lp-instructor-minmax-column: 250px;

	.ul-list-instructors {
		display: grid;
		//grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat( auto-fill, minmax(var(--lp-instructor-minmax-column), 1fr) );
		gap: 30px;
		padding: 0;
		margin: 0 0 30px 0;
		list-style: none;
		font-size: 1rem;

		> ul.lp-skeleton-animation {
			grid-column: span 4;
		}

		li.no-instructor {
			grid-column: span 4;
		}

		li.item-instructor {
			border: 1px solid var(--lp-instructor-border-color);
			padding: var(--lp-instructor-item-padding);

			.instructor-display-name {
				display: block;
				text-align: center;
				margin: var(--lp-instructor-item-padding) 0;
				font-size: 1.2em;
				font-weight: bold;
			}

			.instructor-avatar img {
				width: 100%;
			}

			.instructor-info {
				display: flex;
				column-gap: 10px;
				> div {
					flex: 1;
					text-align: right;
					display: flex;
					align-items: center;
					column-gap: 10px;

					span {
						display: inline-flex;
						white-space: nowrap;
					}
				}

				.instructor-count-students {
					justify-content: right;
				}
			}

			.instructor-btn-view {
				display: block;
				margin: var(--lp-instructor-item-padding) auto 0;
				text-align: center;
				background: #D9D9D9;
				text-decoration: none;
				border-radius: 5px;
				padding: 10px 0;
				color: rgba(0, 0, 0, 0.5);
				font-weight: 700;

				&:hover {
					background: var(--lp-primary-color);
					color: whitesmoke;
				}
			}
		}

	}
}

