/**
 * Instructors page.
 *
 * @since 4.2.3
 * @version 1.0.0
 */
// fix container for theme premium


body {
	.entry-content{
		&.has-global-padding{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.wp-site-blocks{
		padding-left: 0;
		padding-right: 0;
	}
}
.learnpress-v4 {
	.lp-content-area {
		--lp-container-max-width: inherit;
		--lp-cotainer-padding: 0;
	}
	.lp-single-course{
		.lp-content-area {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.lp-list-instructors {
	--lp-instructor-item-padding: 20px;
	--lp-instructor-border-color: #c3c4c7;
	--lp-instructor-minmax-column: 250px;

	.ul-list-instructors {
		display: grid;
		grid-template-columns: repeat( auto-fill, minmax(var(--lp-instructor-minmax-column), 1fr) );
		gap: 30px;
		padding: 0!important;
		margin: 0 0 30px 0;
		list-style: none;

		> ul.lp-skeleton-animation {
			grid-column: span 4;
		}

		li.no-instructor {
			grid-column: span 4;
		}

		li.item-instructor {
			border: 1px solid var(--lp-instructor-border-color);
			padding: var(--lp-instructor-item-padding);
			list-style: none;
			border-radius: $border-radius-global;
			.instructor-avatar{
				margin-bottom: $spacing-base-3x;
			}
			.instructor-display-name {
				display: block;
				margin-bottom: $spacing-base-3x;
				font-size: 1.2em;
				line-height: 1.3;
				font-weight: bold;
			}

			.instructor-avatar img {
				width: 100%;
				border-radius: $border-radius-global;
			}

			.instructor-info {
				display: flex;
				column-gap: 16px;
				margin-bottom: $spacing-base-3x;
				flex-wrap: wrap;
				row-gap: 8px;

				> div {
					display: flex;
					align-items: center;
					column-gap: 10px;

					span {
						display: inline-flex;
						white-space: nowrap;
					}

					.lp-ico {
						color: $color-primary;
					}
				}
			}

			.instructor-btn-view {
				padding: $spacing-base-2x $spacing-base-6x;
				border-radius: $border-radius-global;
				color: $text-color-base;
				border: 1px solid $text-color-base;
				transition: all 0.3s;
				display:  block;
				background: transparent;
				text-decoration: none;
				text-align: center;
				&:hover {
					background: $color-primary;
					color: $color-white;
					border-color: $color-primary;
				}
 			}
		}

	}
}

