.learn-press-pagination {
	margin: 20px 0;
	text-align: center;

	.page-numbers {
		display: inline-block;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		background: transparent;
		list-style: none;

		> li {
			display: inline-block;
			margin: 0;

			.page-numbers {
				float: unset;
				padding: 0 12px;
				color: #666;
				text-decoration: none;

				&.current {
					color: var(--lp-primary-color);
					font-weight: 400;
				}

				&:hover {
					color: var(--lp-primary-color);
				}
			}
		}
	}
}
