body {

	div.entry-content > {

		div.learnpress {
			--responsive--aligndefault-width: 100%;
			max-width: var(--lp-content-width, 100%);
		}
	}
}

.lp-user-profile {
	overflow: hidden;
	position: relative;
	background: #fff;

	.lp-user-profile-avatar {

		img {
			position: relative;
			width: 100%;
			height: auto;
			border-radius: unset;
			display: block;
		}
		+ .lp-user-profile-socials {
			margin-top: 10px;
		}
	}

	.lp-user-profile-socials {
		display: flex;
		position: relative;
		z-index: 1;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 0 7px;
			border: 1px solid #cfcfcf;
			color: #666;
			background: #fff;
			font-size: 16px;
			line-height: 40px;
			text-align: center;

			@include border-radius(50%);

			&:hover {
				border-color: var(--lp-primary-color);
				color: #fff;
				background: var(--lp-primary-color);
			}
		}
	}

	.wrapper-profile-header {
		color: #fff;
		background: var(--lp-secondary-color);

		@media (max-width: 990px) {

			.lp-profile-content-area {
				min-height: inherit;
				padding: 20px 15px;
			}

			.lp-profile-left {
				float: left;
				position: static;
			}

			.lp-profile-right {
				float: right;
				width: calc(100% - 270px);
				margin-left: 0;
			}
		}

		@media (max-width: 768px) {

			.lp-profile-left {
				width: 220px;
			}

			.lp-profile-right {
				width: calc(100% - 220px);
			}

			.lp-user-profile-socials {
				margin-right: -5px;
				margin-left: -5px;

				a {
					width: 36px;
					height: 36px;
					margin: 0 5px;
					line-height: 36px;
				}
			}
		}

		@media (max-width: 500px) {

			.lp-profile-left {
				float: none;
				margin: 0 auto;
			}

			.lp-profile-right {
				width: 100%;
				padding-top: 30px;
				text-align: center;
			}
		}
	}

	.lp-profile-content-area {
		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;
		display: flex;
		align-items: center;
	}

	.lp-profile-left {
		min-width: 270px;
		max-width: 270px;
		padding: 10px;
		border: 10px solid #eaeaea;
		border-radius: 3px;
		box-shadow: 0px 0px 20px rgb(255 0 144 / 80%);
		-webkit-box-shadow: 0px 0px 20px rgb(255 0 144 / 80%);
		-moz-box-shadow: 0px 0px 20px rgb(255 0 144 / 80%);
		-o-box-shadow: 0px 0px 20px rgb(255 0 144 / 80%);
	}

	.lp-profile-right {
		padding-right: 15px;
		padding-left: 35px;
	}

	.lp-profile-username {
		padding-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
		text-transform: capitalize;
		&::before, &::after {
			content: "";
			width: 30px;
			height: 1px;
			background-color: white;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		&::before {
			margin-right: 5px;
		}
		&::after {
			margin-left: 5px;
		}
	}

	.lp-profile-user-bio {
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
	}

	#profile-sidebar {
		float: left;
		width: 270px;
		margin-top: 0;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 0;
		background: #fff;
		margin-top: 58px;

		@media (max-width: 990px) {
			width: 100%;

			.lp-user-profile-avatar {
				max-width: 150px;
			}
		}
	}

	#profile-nav {

		.lp-profile-nav-tabs {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				position: relative;
				margin: 0;
				border-top: 1px solid rgba(204, 204, 204, 0.3);

				a {
					display: block;
					padding: 0 20px;
					color: #333;
					font-size: 16px;
					font-weight: 500;
					line-height: 53px;
				}

				> a {
					padding: 0 20px 0 52px;

					> i {
						display: inline-block;
						position: absolute;
						left: 24px;
						width: 28px;
						color: var(--lp-primary-color);
						font-size: 12px;
						line-height: 52px;
						text-align: left;
					}

					&::after {
						float: right;
						margin-right: 4px;
						color: #999;
						font-family: "Font Awesome 5 Free";
						font-size: 10px;
						font-weight: 900;
						content: "\f054";
					}
				}

				ul {

					li {
						margin: 0;

						a {
							border-bottom: 1px solid #f9f9f9;

							&:hover {
								color: var(--lp-primary-color);
								background: #fff;
							}
						}

						&:hover {

							>a {

								i {
									color: var(--lp-primary-color);
									background: #fff;
								}
							}
						}
					}
				}

				&.active,
				&:hover {

					> a {

						&::after {
							content: "\f053";
						}
					}
				}

				&.active {

					a {
						padding-left: 52px;
					}
				}

				&:last-child {
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}

				&.wishlist {

					& > a::before {
						position: absolute;
						left: 25px;
						color: var(--lp-primary-color);
						font-family: "Font Awesome 5 Free";
						font-size: 12px;
						font-weight: 900;
						content: "\f004";
					}

					&:hover a::before {
						color: #fff;
					}
				}

				&.logout {

					& > a::after {
						display: none;
					}
				}
			}

			li {

				> a {
					box-sizing: border-box;
					height: 53px;
				}

				> ul {
					display: none;
					position: absolute;
					z-index: 1000;
					top: 0;
					left: 100%;
					min-width: 150px;
					margin: 0;
					padding: 0;
					background: #fff;
					box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
					list-style: none;
				}

				&.active,
				&:hover {
					background: var(--lp-primary-color);

					> a {
						color: #fff;

						i,
						&::after {
							color: #fff;
						}
					}

					> ul {
						display: block;
					}
				}

				&.active {

					> ul {
						position: relative;
						left: 0;

						.active {
							background: #fff;

							> a {
								color: #ffb606;

								i {
									color: #ffb606;
								}
							}
						}
					}
				}
			}

		}

		@media (max-width: 990px) {
			overflow-x: scroll;
			border-top: 1px solid rgba(204, 204, 204, 0.3);

			.lp-profile-nav-tabs {
				width: max-content;

				&::after {
					display: table;
					clear: both;
					content: "";
				}

				> li {
					float: left;
					border: none;
					border-right: 1px solid rgba(204, 204, 204, 0.3);

					> a {
						height: auto;
						padding: 0 20px 0 45px;

						&::after {
							margin-left: 10px;
						}
					}

					&.has-child {

						a::after {
							content: "\f077";
						}
					}

					&.active {

						a {
							padding-left: 45px;

							&::after {
								content: "\f078";
							}
						}

						&.has-child {

							ul {
								display: none;
								width: max-content;
								transform: translateX(-20%);

								&::after {
									display: table;
									clear: both;
									box-shadow: 0 0 0;
									content: "";
								}

								li {
									float: left;
									border-right: 1px solid rgba(204, 204, 204, 0.3);

									&:last-child {
										border-right: none;
									}

									a {
										padding: 0 10px;
									}
								}
							}
						}
					}
				}

				li {

					&:hover ul {
						display: none !important;
					}

					&:not(.has-child) {

						> a::after {
							display: none;
						}
					}
				}
			}
		}

		@media (max-width: 560px) {

			.lp-profile-nav-tabs {

				> li {
					max-width: 80px;

					> a {
						font-size: 0;

						&::after {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.lp-profile-content {
		float: right;
		width: calc(100% - 300px);
		margin-bottom: 60px;
		padding-top: 58px;

		@media (max-width: 990px) {
			width: 100%;
		}

		@media (max-width: 767px) {
			.learn-press-tabs__nav {
				display: block;
				width: 100%;
				border: 0;

				&::after {
					display: table;
					clear: both;
					content: "";
				}
				
			}

			.learn-press-tabs__tab {
				float: left;
				border-right: 0;

				label {
					padding-right: 25px;
					padding-left: 25px;
				}
			}
		}
		
		.course-categories, .course-instructor {
			margin-bottom: 14px;
		}
		.course-categories {
			padding: 0;
		}

		.lp-button {
			display: block;
			margin: 0 auto 52px auto;
			padding: 13px 34px;
			border-color: var(--lp-secondary-color);
			font-size: 14px;
			font-weight: 500;

			@include border-radius(9px);

			&:hover {
				border-color: var(--lp-primary-color);
			}
		}

		
	}

	ul.learn-press-courses {
		.course {
			margin: 0 0 40px 0;
		}
	}

	.profile-orders {

		.profile-heading {
			display: none;
		}

		table {
			margin-top: 0;
		}

		.column-order-actions {

			a {
				margin-right: 6px;
				color: black;
				text-decoration: underline;
				font-weight: 500;
				&:hover, &:focus {
					color: var(--lp-primary-color);
				}
			}
		}
	}

	#dashboard-general-statistic {
		margin-bottom: 55px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
	}

	.dashboard-general-statistic__row {
		display: flex;
		margin: 0 -15px;
		justify-content: center;
		flex-wrap: wrap;

		.statistic-box {
			width: 270px;
			margin: 0 15px 40px 15px;
			padding: 27px 25px 15px 25px;
			border: 1px solid #ccc;
			border-radius: 4px;
			background: #f9fafc;
			text-align: center;
			@media (max-width: 990px) {
				width: 45%;
			}
	
			@media (max-width: 767px) {
				width: 100%;
				margin: 0 15px 20px 15px;
			}
			&:hover {
				background: #eaeaea;
			}
		}

		&[data-col="2"] {

			.statistic-box {
				width: 50%;
			}
		}

		&[data-col="4"] {

			.statistic-box {
				width: 25%;
			}
		}

		&[data-col="5"] {

			.statistic-box {
				width: 20%;
			}
		}
	}

	.statistic-box {

		.statistic-box__text {
			margin: 0 0 7px 0;
			padding: 0;
			color: #666;
			font-size: 18px;
			font-weight: 400;
			line-height: 1;
		}

		.statistic-box__number {
			color: #333;
			font-size: 18px;
			font-weight: 500;
			line-height: 1;
		}
		
	}

	.profile-courses {

		& > h3 {
			margin-top: 0;
			margin-bottom: 36px;
			color: #333;
			font-size: 30px;
			font-weight: 600;
			line-height: 1;
			text-transform: capitalize;
		}
	}
}
.lp-profile-content {
	table.lp-list-table {
		border-spacing: 0;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		margin-bottom: 40px;
		tr {
			th, td {
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				text-align: center;
			}
			td a {
				color: var(--wp--preset--color--foreground);
				font-weight: 400;
				&:hover {
					color: var(--lp-primary-color);
				}
			}
		}
	}
	#profile-content-order-details {
		h3 {
			margin-top: 0;
			font-size: 30px;
			line-height: 1.5;
			font-weight: 500;
			font-family: var(--wp--preset--font-family--system-font);
		}
	}
}

#learn-press-profile-basic-information,
form[name="profile-change-password"] {

	.form-field {
		margin: 0 10px 24px 10px;

		& > label {
			margin: 0 0 12px 0;
			color: #333;
			font-size: 16px;
			font-weight: 500;
			font-style: italic;
		}

		.form-field-input {

			input {
				height: 43px;
				padding: 8px 20px;
				font-weight: 400;

			}

			input[type="password"] {
				padding: 8px 20px;
			}

			textarea {
				padding: 9px 20px 16px 20px;
				font-weight: 300;
				line-height: 24px;
			}

			input,
			textarea {
				border: 1px solid #ccc;
				color: #999;
				font-size: 14px;
				font-style: italic;

				&:focus {
					border-color: var(--lp-primary-color);
					outline: 0;
					color: #222;
				}
			}

			::placeholder {
				opacity: 1;
				color: #999;
			}

			:-ms-input-placeholder {
				color: #999;
			}

			::-ms-input-placeholder {
				color: #999;
			}

			.description {
				margin-top: 15px;
			}
		}

		@media (max-width: 767px) {
			margin: 0 0 24px 0;
		}
	}

	.form-field__50 {
		float: left;
		width: calc(50% - 20px);
		margin-right: 10px;

		@media (max-width: 767px) {
			float: unset;
			width: 100%;
			margin: 0 0 24px 0;
		}
	}

	.form-field__clear {
		clear: both;
	}

	button {
		padding: 16px 24px;
		border: 0;
		border-radius: 3px;
		color: #fff;
		background: var(--lp-primary-color);
		font-size: 16px;
		font-weight: 400;
		line-height: 1;

		&:hover {
			opacity: 0.5;
			background: var(--lp-primary-color);
		}
	}

	p {
		margin: 0;
	}
}

#learn-press-profile-basic-information {

	.form-fields {
		margin: 0 -10px;

		&::after {
			display: block;
			clear: both;
			content: "";
		}

		@media (max-width: 767px) {
			margin: 0;
		}
	}
}

.recover-order {

	&__title {
		margin-bottom: 5px;
	}

	&__description {
		margin-bottom: 20px;
		color: #999;
		font-size: 0.8em;
		font-style: italic;
	}
}

div.order-recover {
	display: flex;

	> .button-recover-order {
		margin: 0;
		margin-left: 20px;
		flex: 0 0 auto;

		&.loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";
				animation: lp-rotating 1s linear infinite;
			}
		}
	}

	input[type="text"] {
		width: 100%;
		height: 43px;
		margin-right: 10px;
		padding: 0 22px;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: #fff;
		font-size: 14px;
		font-weight: 300;
		font-style: italic;
		line-height: 43px;
		flex: 1 1 auto;
	}
}

.learn-press-profile-course__progress {

	.lp_profile_course_progress {
		border: 1px solid #eee;

		&__item {
			display: grid;
			align-items: center;
			padding: 15px;
			border-top: 1px solid #eee;
			grid-template-columns: 90px 1fr 80px 190px 140px;
			column-gap: 20px;
			div img {
				display: none;
			}
		}

		&__header {
			background-color: #eee;
		}


	}
}

.lp_profile_course_progress__nav {

	button {

		&.loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";

				@include animation(lp-rotating 1s linear infinite);
			}
		}
	}
}

.learn-press-profile-course__tab {

	&__inner {
		display: flex;
		margin: 40px 0 0 0;
		padding: 0;
		background: #eee;
		list-style: none !important;

		> li {
			list-style: none;

			&:hover {
				cursor: pointer;
			}
		}

		a {
			display: inline-block;
			padding: 15px 30px;
			font-weight: 600;

			&.active {
				border-top: 4px solid var(--lp-primary-color);
				color: var(--lp-primary-color);
				background: #fff;
			}
		}
	}
}

.learn-press-course-tab-filters {

	.learn-press-filters {
		margin-top: 20px;
		margin-left: 0;
		padding: 0;
		list-style: none;

		a {

			&.active {
				color: var(--lp-primary-color);
			}
		}
	}
}

.learnpress_avatar {

	&__form {

		label {
			display: inline-block;
		}

		input[type="file"] {
			display: none;
		}

		&__upload {
			display: flex;
			width: 200px;
			height: 200px;
			border: 1px dashed #ccc;
			border-radius: 3px;
			background-color: #fafafa;
			font-size: 14px;
			font-weight: 300;
			font-style: italic;
			line-height: 43px;
			text-align: center;
			cursor: pointer;
			align-items: center;
			justify-content: center;

			div {
				line-height: 1.4;
			}
		}
	}

	&__button {

		&--loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";

				@include animation(lp-rotating 1s linear infinite);
			}
		}
	}
}
