body {

	div.entry-content > {

		div.learnpress {
			--responsive--aligndefault-width: 100%;
			max-width: var(--lp-content-width, 100%);
		}
	}
}

#learn-press-profile {
	overflow: hidden;
	position: relative;
	background: #fff;

	.lp-user-profile-avatar {

		img {
			position: relative;
			width: 100%;
			height: auto;
			border-radius: unset;
		}
	}

	.lp-user-profile-socials {
		display: flex;
		position: relative;
		z-index: 1;
		margin-top: -17px;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 0 7px;
			border: 1px solid #cfcfcf;
			color: #666;
			background: #fff;
			font-size: 16px;
			line-height: 40px;
			text-align: center;

			@include border-radius(50%);

			&:hover {
				border-color: var(--lp-primary-color);
				color: #fff;
				background: var(--lp-primary-color);
			}
		}
	}

	.wrapper-profile-header {
		color: #fff;
		background: var(--lp-secondary-color);

		.lp-profile-content-area {
			position: relative;
			min-height: 345px;
			padding-top: 50px;
		}

		.lp-profile-left {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 270px;
			padding: 20px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 0;
			background: #fff;
		}

		.lp-profile-right {
			margin-left: 270px;
			padding-right: 15px;
			padding-left: 35px;

			.lp-profile-username {
				padding-bottom: 18px;
				font-size: 18px;
				font-weight: 500;
				text-transform: capitalize;
			}

			.lp-profile-user-bio {
				font-size: 16px;
				font-weight: 300;
				line-height: 26px;
			}
		}

		@media (max-width: 990px) {

			.lp-profile-content-area {
				min-height: inherit;
				padding: 20px 15px;
			}

			.lp-profile-left {
				float: left;
				position: static;
			}

			.lp-profile-right {
				float: right;
				width: calc(100% - 270px);
				margin-left: 0;
			}
		}

		@media (max-width: 768px) {

			.lp-profile-left {
				width: 220px;
			}

			.lp-profile-right {
				width: calc(100% - 220px);
			}

			.lp-user-profile-socials {
				margin-right: -5px;
				margin-left: -5px;

				a {
					width: 36px;
					height: 36px;
					margin: 0 5px;
					line-height: 36px;
				}
			}
		}

		@media (max-width: 500px) {

			.lp-profile-left {
				float: none;
				margin: 0 auto;
			}

			.lp-profile-right {
				width: 100%;
				padding-top: 30px;
				text-align: center;
			}
		}
	}

	#profile-sidebar {
		float: left;
		width: 270px;
		margin-top: 0;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 0;
		//border-radius: 4px;
		background: #fff;
		//box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);

		@media (max-width: 990px) {
			width: 100%;
			margin-top: 58px;

			.lp-user-profile-avatar {
				max-width: 150px;
			}
		}

		//@media (max-width: 767px) {
		//	width: 100%;
		//}
	}


	#profile-nav {

		.lp-profile-nav-tabs {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				position: relative;
				margin: 0;
				border-top: 1px solid rgba(204, 204, 204, 0.3);

				a {
					display: block;
					padding: 0 20px;
					color: #333;
					font-size: 16px;
					font-weight: 500;
					line-height: 53px;
				}

				> a {
					padding: 0 20px 0 52px;

					> i {
						display: inline-block;
						position: absolute;
						left: 24px;
						width: 28px;
						color: var(--lp-primary-color);
						font-size: 12px;
						line-height: 52px;
						text-align: left;
					}

					&::after {
						float: right;
						margin-right: 4px;
						color: #999;
						font-family: "Font Awesome 5 Free";
						font-size: 10px;
						font-weight: 900;
						content: "\f054";
					}
				}

				ul {

					li {
						margin: 0;

						a {
							border-bottom: 1px solid #f9f9f9;

							&:hover {
								color: var(--lp-primary-color);
								background: #fff;
							}
						}
						&:hover {
							>a {
								i {
									color: var(--lp-primary-color);
									background: #fff;
								}
							}
						}
					}
				}

				&.active,
				&:hover {

					> a {

						&::after {
							content: "\f053";
						}
					}
				}

				&.active {

					a {
						padding-left: 52px;
					}
				}

				&:last-child {
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}

				&.wishlist {

					& > a::before {
						position: absolute;
						left: 25px;
						color: var(--lp-primary-color);
						font-family: "Font Awesome 5 Free";
						font-size: 12px;
						font-weight: 900;
						content: "\f004";
					}

					&:hover a::before {
						color: #fff;
					}
				}

				&.logout {

					& > a::after {
						display: none;
					}
				}
			}

			li {

				> a {
					box-sizing: border-box;
					height: 53px;
				}

				> ul {
					display: none;
					position: absolute;
					z-index: 1000;
					top: 0;
					left: 100%;
					min-width: 150px;
					margin: 0;
					padding: 0;
					background: #fff;
					box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
					list-style: none;
				}

				&.active,
				&:hover {
					background: var(--lp-primary-color);

					> a {
						color: #fff;

						i,
						&::after {
							color: #fff;
						}
					}

					> ul {
						display: block;
					}
				}

				&.active {

					> ul {
						position: relative;
						left: 0;

						.active {
							background: #fff;

							> a {
								color: #ffb606;
								i {
									color: #ffb606;
								}
							}
						}
					}
				}
			}

		}

		@media (max-width: 990px) {
			overflow-x: scroll;
			border-top: 1px solid rgba(204, 204, 204, 0.3);

			.lp-profile-nav-tabs {
				width: max-content;

				&::after {
					display: table;
					clear: both;
					content: "";
				}

				> li {
					float: left;
					border: none;
					border-right: 1px solid rgba(204, 204, 204, 0.3);

					> a {
						//font-size: 0;
						height: auto;
						padding: 0 20px 0 45px;

						&::after {
							margin-left: 10px;
						}
					}

					&.has-child {

						a::after {
							content: "\f077";
						}
					}

					&.active {

						a {
							padding-left: 45px;

							&::after {
								content: "\f078";
							}
						}

						&.has-child {

							ul {
								display: none;
								width: max-content;
								transform: translateX(-20%);

								&::after {
									display: table;
									clear: both;
									box-shadow: 0 0 0;
									content: "";
								}

								li {
									float: left;
									border-right: 1px solid rgba(204, 204, 204, 0.3);

									&:last-child {
										border-right: none;
									}

									a {
										padding: 0 10px;
									}
								}
							}
						}
					}
				}

				li {

					&:hover ul {
						display: none !important;
					}

					&:not(.has-child) {

						> a::after {
							display: none;
						}
					}
				}
			}
		}

		@media (max-width: 560px) {

			.lp-profile-nav-tabs {

				> li {
					max-width: 80px;

					> a {
						font-size: 0;

						&::after {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	#profile-content {
		float: right;
		width: calc(100% - 300px);
		margin-bottom: 60px;
		padding-top: 58px;

		@media (max-width: 990px) {
			width: 100%;
		}

		@media (max-width: 767px) {

			.learn-press-tabs {

				.learn-press-tabs__nav {
					display: block;
					width: 100%;

					&::after {
						display: table;
						clear: both;
						content: "";
					}

					border: 0;

					.learn-press-tabs__tab {
						float: left;
						border-right: 0;

						label {
							padding-right: 25px;
							padding-left: 25px;
						}
					}
				}
			}
		}

		.lp-archive-courses {

			ul.learn-press-courses {

				.course {
					margin: 0 0 40px 0;

					.course-item {

						.course-content {
							padding: 20px 20px 12px 20px;

							.course-categories,
							.course-instructor {
								margin-bottom: 14px;
							}

							.course-categories {
								padding: 0;
							}
						}
					}
				}
			}
		}

		.lp-button {
			display: block;
			margin: 0 auto 52px auto;
			padding: 13px 34px;
			border-color: var(--lp-secondary-color);
			font-size: 14px;
			font-weight: 500;

			@include border-radius(9px);

			&:hover {
				border-color: var(--lp-primary-color);
			}
		}

		#profile-content-orders {

			.profile-orders {

				.profile-heading {
					display: none;
				}

				table {
					margin-top: 0;
				}
			}

			.column-order-actions {

				a {
					margin-right: 6px;
				}
			}
		}
	}

	#dashboard-general-statistic {
		margin-bottom: 55px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
	}

	.dashboard-general-statistic__row {
		display: flex;
		margin: 0 -15px;
		justify-content: center;
		flex-wrap: wrap;

		.statistic-box {
			width: 270px;
			margin: 0 15px 40px 15px;
			padding: 27px 25px 15px 25px;
			border: 1px solid #ccc;
			border-radius: 4px;
			background: #f9fafc;
			text-align: center;

			@media (max-width: 990px) {
				width: 45%;
			}

			@media (max-width: 767px) {
				width: 100%;
				margin: 0 15px 20px 15px;
			}

			.statistic-box__text {
				margin: 0 0 7px 0;
				padding: 0;
				color: #666;
				font-size: 18px;
				font-weight: 400;
				line-height: 1;
			}

			.statistic-box__number {
				color: #333;
				font-size: 18px;
				font-weight: 500;
				line-height: 1;
			}

			&:hover {
				background: #eaeaea;
			}
		}

		&[data-col="2"] {

			.statistic-box {
				width: 50%;
			}
		}

		&[data-col="4"] {

			.statistic-box {
				width: 25%;
			}
		}

		&[data-col="5"] {

			.statistic-box {
				width: 20%;
			}
		}
	}

	.profile-courses {

		& > h3 {
			margin-top: 0;
			margin-bottom: 36px;
			color: #333;
			font-size: 30px;
			font-weight: 600;
			line-height: 1;
			text-transform: capitalize;
		}
	}
}

#learn-press-profile-basic-information,
form[name="profile-change-password"] {

	.form-field {
		margin: 0 10px 24px 10px;

		& > label {
			margin: 0 0 12px 0;
			color: #333;
			font-size: 16px;
			font-weight: 500;
			font-style: italic;
		}

		.form-field-input {

			input {
				height: 43px;
				padding: 8px 20px;
				font-weight: 400;

			}

			input[type="password"] {
				padding: 8px 20px;
			}

			textarea {
				padding: 9px 20px 16px 20px;
				font-weight: 300;
				line-height: 24px;
			}

			input,
			textarea {
				border: 1px solid #ccc;
				color: #999;
				font-size: 14px;
				font-style: italic;

				&:focus {
					border-color: var(--lp-primary-color);
					outline: 0;
					color: #222;
				}
			}

			::placeholder {
				opacity: 1;
				color: #999;
			}

			:-ms-input-placeholder {
				color: #999;
			}

			::-ms-input-placeholder {
				color: #999;
			}

			.description {
				margin-top: 15px;
			}
		}

		@media (max-width: 767px) {
			margin: 0 0 24px 0;
		}
	}

	.form-field__50 {
		float: left;
		width: calc(50% - 20px);
		margin-right: 10px;

		@media (max-width: 767px) {
			float: unset;
			width: 100%;
			margin: 0 0 24px 0;
		}
	}

	.form-field__clear {
		clear: both;
	}

	button {
		padding: 16px 24px;
		border: 0;
		border-radius: 3px;
		color: #fff;
		background: var(--lp-primary-color);
		font-size: 16px;
		font-weight: 400;
		line-height: 1;

		&:hover {
			opacity: 0.5;
			background: var(--lp-primary-color);
		}
	}

	p {
		margin: 0;
	}
}

#learn-press-profile-basic-information {

	.form-fields {
		margin: 0 -10px;

		&::after {
			display: block;
			clear: both;
			content: "";
		}

		@media (max-width: 767px) {
			margin: 0;
		}
	}
}

#lp-user-edit-avatar {
	position: relative;
	margin-bottom: 50px;

	img {
		vertical-align: top;
	}

	.lp-avatar-preview {
		position: relative;
		margin: 0 auto;
	}

	.lp-avatar-crop-image {
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #ddd;

		.crop-container {
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				left: 0 !important;
				max-width: none;
				margin-left: 50%;
				line-height: 1;
				vertical-align: middle;
				transform: translateX(-50%);
			}

			//&:before,
			//&:after{
			//    content: '';
			//    display: block;
			//    width: 100%;
			//    height: 100%;
			//    position: absolute;
			//    background: #FFF;
			//    opacity: 0.8;
			//}
		}

		.lp-crop-controls {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
			opacity: 0;

			&::before {
				display: block;
				width: 100%;
				height: 40px;
				background: rgba(255, 255, 255, 0.53);
				content: "";
			}

			.lp-zoom {
				position: absolute;
				top: 50%;
				right: 100px;
				left: 20px;
				margin-top: -1px;

				.ui-slider {
					position: absolute;
					width: 100%;
					height: 2px;
					background: #6d6d6d;
					cursor: move;

					.ui-slider-handle {
						position: absolute;
						width: 20px;
						height: 20px;
						margin-top: -9px;
						margin-left: -10px;
						border-radius: 50%;
						background: #ffb608;
					}
				}
			}

			.lp-save-upload,
			.lp-cancel-upload {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 40px;
				height: 40px;
				opacity: 0.7;
				color: #f02425;
				background: #ffffff59;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				cursor: pointer;

				&:hover {
					opacity: 1;
				}
			}

			.lp-save-upload {
				right: 40px;
				color: #3db748;
			}
		}

		.lp-crop-area {
			position: absolute;
			top: 0;
			left: 50%;
			box-sizing: border-box;
			border: 2px dashed #999;
			transform: translateX(-50%);
			pointer-events: none;

			&::before,
			&::after {
				display: block;
				position: absolute;
				top: -2px;
				bottom: -2px;
				width: 1000px;
				opacity: 0.6;
				background: #000;
				content: "";
			}

			&::before {
				left: -2px;
				transform: translateX(-100%);
			}

			&::after {
				left: 100%;
				margin-left: 2px;
			}
		}
	}

	&:hover {

		.lp-crop-controls {
			opacity: 1;
		}
	}

	.profile-picture {
		display: none;
		width: 100%;
		margin-right: -100%;

		img {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}

		&.profile-avatar-current {
			display: block;
		}
	}

	#lp-avatar-actions {
		display: flex;
		top: 50%;
		width: 100%;
		margin-top: 10px;
		text-align: center;
		justify-content: center;

		a {
			display: inline-block;
			z-index: 10;
			height: 40px;
			margin: 0 1px 0 0;
			padding: 0 25px;
			border: 1px solid #eee;
			border-radius: 4px;
			color: #444;
			background: #fff;
			font-size: 15px;
			line-height: 40px;
			text-align: center;
			flex: 0 0 auto;

			i {
				margin-right: 6px;
				font-size: 14px;
			}

			&#lp-remove-upload-photo {
				display: none;
				margin-left: 10px;
			}
		}
	}


	&[data-custom="yes"] {

		#lp-avatar-actions {

			#lp-remove-upload-photo {
				display: block;
			}
		}
	}
}

.recover-order {

	&__title {
		margin-bottom: 5px;
	}

	&__description {
		margin-bottom: 20px;
		color: #999;
		font-size: 0.8em;
		font-style: italic;
	}
}

div.order-recover {
	display: flex;

	> .button-recover-order {
		margin: 0;
		margin-left: 20px;
		flex: 0 0 auto;

		&.loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";
				animation: lp-rotating 1s linear infinite;
			}
		}
	}

	input[type="text"] {
		width: 100%;
		height: 43px;
		margin-right: 10px;
		padding: 0 22px;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: #fff;
		font-size: 14px;
		font-weight: 300;
		font-style: italic;
		line-height: 43px;
		flex: 1 1 auto;
	}
}

.learn-press-profile-course__progress {

	.lp_profile_course_progress {
		border: 1px solid #eee;

		&__item {
			display: grid;
			align-items: center;
			padding: 15px;
			border-top: 1px solid #eee;
			grid-template-columns: 90px 1fr 80px 140px 140px;
			column-gap: 20px;
		}

		&__header {
			background-color: #eee;
		}


	}
}

.lp_profile_course_progress__nav {

	button {

		&.loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";

				@include animation(lp-rotating 1s linear infinite);
			}
		}
	}
}

.learn-press-profile-course__tab {

	&__inner {
		display: flex;
		margin: 40px 0 0 0;
		padding: 0;
		background: #eee;
		list-style: none !important;

		> li {
			list-style: none;
		}

		a {
			display: inline-block;
			padding: 15px 30px;
			font-weight: 600;

			&.active {
				border-top: 4px solid var(--lp-primary-color);
				color: var(--lp-primary-color);
				background: #fff;
			}
		}
	}
}

.learn-press-course-tab-filters {

	.learn-press-filters {
		margin-top: 20px;
		margin-left: 0;
		padding: 0;
		list-style: none;

		a {

			&.active {
				color: var(--lp-primary-color);
			}
		}
	}
}
