body {

	div.entry-content > {

		div.learnpress {
			--responsive--aligndefault-width: 100%;
			max-width: var(--lp-content-width, 100%);
		}
	}
	.entry-content{
		&.has-global-padding{
			padding-left: 0;
			padding-right:0;
		}
	}
}

.lp-user-profile {
	position: relative;
	background: #fff;

	.lp-user-profile-avatar {

		img {
			position: relative;
			width: 100%;
			height: auto;
			border-radius: unset;
			display: block;
		}
	}

	.lp-user-profile-socials {
		display: flex;
		position: relative;
		z-index: 1;
		justify-content: center;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background: white;
		gap: 10px;
		padding: 20px 0;
		border-top: 1px solid #eaeaea;

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #666;
			text-align: center;

			&:hover {
				color: var(--lp-primary-color);

				svg {
					fill: var(--lp-primary-color);
				}
			}
		}
	}

	.wrapper-profile-header {
		color: #fff;
		background: var(--lp-secondary-color);
		position: relative;

		@media (max-width: 990px) {

			.lp-profile-content-area {
				min-height: inherit;
				padding: 50px 15px;
			}

			.lp-profile-left {
				float: left;
				position: static;
			}

			.lp-profile-right {
				float: right;
				width: calc(100% - 270px);
				margin-left: 0;
			}
		}

		@media (max-width: 768px) {

			.lp-profile-left {
				width: 220px;
			}

			.lp-profile-right {
				width: calc(100% - 220px);
			}

			.lp-user-profile-socials {

				a {
					width: 36px;
					height: 36px;
					margin: 0 5px;
					line-height: 2.25rem;
				}
			}
		}

		@media (max-width: 500px) {

			.lp-profile-left {
				float: none;
				margin: 0 auto;
			}

			.lp-profile-right {
				width: 100%;
				padding-top: 30px;
				text-align: center;
			}
		}

		&::before {
			right: 100%;
			left: auto;
		}
		&::after {
			left: 100%;
			right: auto;
		}
	}

	.lp-profile-content-area {
		position: relative;
		padding: 16px;
		display: flex;
		align-items: center;
		@media (max-width: 650px) {
			flex-direction: column;
			.lp-profile-right {
				text-align: center;
				width: 100%;
				padding: 24px 0 0;
			}
		}
	}

	.lp-profile-left {
		min-width: 270px;
		max-width: 270px;
		@media (max-width: 520px) {
			min-width: 100%;
		}
	}

	.lp-profile-right {
		padding-right: 15px;
		padding-left: 35px;
	}

	.lp-profile-username {
		padding-bottom: 10px;
		font-size: 1.125em;
		font-weight: 500;
		text-transform: capitalize;
		&::before, &::after {
			content: "";
			width: 30px;
			height: 1px;
			background-color: white;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		&::before {
			margin-right: 5px;
		}
		&::after {
			margin-left: 5px;
		}
	}

	.lp-profile-user-bio {
		font-weight: 300;
	}

	#profile-sidebar {
		float: left;
		width: 270px;
		margin-top: 0;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 0;
		background: #fff;
		margin-top: 58px;

		@media (max-width: 990px) {
			width: 100%;

			.lp-user-profile-avatar {
				max-width: 150px;
			}
		}
	}

	#profile-nav {

		.lp-profile-nav-tabs {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				position: relative;
				margin: 0;
				border-top: 1px solid rgba(204, 204, 204, 0.3);

				a {
					display: block;
					padding: 0 20px;
					color: #333;
					font-weight: 500;
					line-height: 3em;
					text-decoration: none;
				}

				> a {
					padding: 0 20px 0 52px;
					position: relative;
					> i {
						position: absolute;
						left: 24px;
						top: 50%;
    					transform: translateY(-50%);
						color: var(--lp-primary-color);
						font-size: 0.75rem;
						@media (max-width:560px) {
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
						}
					}

					&::after {
						float: right;
						margin-right: 4px;
						color: #999;
						font-family: "Font Awesome 5 Free";
						font-size: 0.625em;
						font-weight: 900;
						content: "\f054";
					}
				}

				ul {

					li {
						margin: 0;

						a {
							border-bottom: 1px solid #f9f9f9;
							font-size: 0.875em;
							padding-left: 32px;

							i {
								margin-right: 8px;

								&::before {
									font-size: 0.75em;
								}
							}

							&:hover {
								color: var(--lp-primary-color);
								background: #fff;
							}
						}


						&:hover {

							> a {

								i {
									color: var(--lp-primary-color);
									background: #fff;
								}
							}
						}
					}
				}

				&.active,
				&:hover {
					background: var(--lp-primary-color);

					> a {

						&::after {
							content: "\f053";
						}
					}
				}

				&.active {

					a {
						padding-left: 52px;

						.profile-tab-sections {
							a {
								padding-left: 40px;
							}
						}
					}
				}

				&:last-child {
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}

				&.wishlist {

					& > a::before {
						position: absolute;
						left: 25px;
						color: var(--lp-primary-color);
						font-family: "Font Awesome 5 Free";
						font-size: 0.75em;
						font-weight: 900;
						content: "\f004";
					}

					&:hover a::before {
						color: #fff;
					}
				}

				&.logout {

					& > a::after {
						display: none;
					}
				}
			}

			li {

				> a {
					box-sizing: border-box;
				}

				> ul {
					display: none;
					position: absolute;
					z-index: 1000;
					top: 0;
					left: 100%;
					min-width: 150px;
					margin: 0;
					padding: 0;
					background: #fff;
					box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
					list-style: none;
				}

				&.active,
				&:hover {


					> a {
						color: #fff;

						i,
						&::after {
							color: #fff;
						}
					}

					> ul {
						display: block;
					}
				}

				&.active {

					> ul {
						position: relative;
						left: 0;

						.active {
							background: #fff;

							> a {
								color: #ffb606;

								i {
									color: #ffb606;
								}
							}
						}
					}
				}
			}

		}

		@media (max-width: 990px) {
			overflow-x: scroll;
			border-top: 1px solid rgba(204, 204, 204, 0.3);

			.lp-profile-nav-tabs {
				width: max-content;
				overflow-x: auto;
				overflow-y: hidden;

				&::after {
					display: table;
					clear: both;
					content: "";
				}

				> li {
					float: left;
					border: none;
					border-right: 1px solid rgba(204, 204, 204, 0.3);

					> a {
						height: auto;
						padding: 0 20px 0 45px;

						&::after {
							display: none;
							margin-left: 10px;
						}
					}

					&.has-child {

						a::after {
							content: "\f077";
						}
					}

					&.active {

						a {
							padding-left: 45px;

							&::after {
								content: "\f078";
							}
						}

						&.has-child {

							ul {
								display: none;
								width: max-content;
								transform: translateX(-20%);

								&::after {
									display: table;
									clear: both;
									box-shadow: 0 0 0;
									content: "";
								}

								li {
									float: left;
									border-right: 1px solid rgba(204, 204, 204, 0.3);

									&:last-child {
										border-right: none;
									}

									a {
										padding: 0 10px;
									}
								}
							}
						}
					}
				}

				li {

					&:hover ul {
						display: none !important;
					}

					&:not(.has-child) {

						> a::after {
							display: none;
						}
					}
				}
			}
		}

		@media (max-width: 560px) {

			.lp-profile-nav-tabs {

				> li {
					max-width: 80px;

					> a {
						font-size: 0;
						height: 56px;
						&::after {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.lp-profile-content {
		float: right;
		width: calc(100% - 300px);
		margin-bottom: 60px;
		padding-top: 58px;

		@media (max-width: 990px) {
			width: 100%;
		}

		@media (max-width: 767px) {
			.learn-press-tabs__nav {
				display: block;
				width: 100%;
				border: 0;

				&::after {
					display: table;
					clear: both;
					content: "";
				}

			}

			.learn-press-tabs__tab {
				float: left;
				border-right: 0;

				label {
					padding-right: 25px;
					padding-left: 25px;
				}
			}
			.profile-orders {
				overflow-x: scroll;
			}
		}

		.course-categories, .course-instructor {
			margin-bottom: 14px;
		}

		.course-categories {
			padding: 0;
		}

		.lp-button {
			display: block;
			margin: 0 auto 52px auto;
			padding: 13px 34px;
			border-color: var(--lp-secondary-color);
			font-size: 0.875em;
			font-weight: 500;

			@include border-radius(9px);

			&:hover {
				border-color: var(--lp-primary-color);
			}
		}


	}

	ul.learn-press-courses {
		.course {
			margin: 0 0 40px 0;
		}
	}

	#profile-content-wishlist {
		.tab-course-wishlist-wraper {
			.learn-press-wishlist-courses {
				display: flex;
				grid-gap: 16px;
				flex-wrap: wrap;
				margin-left: 0;

				li {
					margin-bottom: 32px;
					width: calc((100% - 32px) / 3);
					@media (max-width: 768px) {
						width: calc((100% - 16px) / 2);
					}
					@media (max-width: 425px) {
						width: 100%;
					}
				}
			}
		}

		.learn-press-wishlist-courses {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
			grid-gap: 16px;

			li {
				margin-bottom: 32px;

				.course-title {
					display: block;
					overflow: hidden;
					text-decoration: none;

					img {
						width: 100%;
						height: auto;
						aspect-ratio: 4/3;
						object-fit: cover;
						display: block;
					}

					h3 {
						font-weight: 600;
						color: #333;
						padding: 16px 0;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;  
						overflow: hidden;
					}

					&:hover {
						h3 {
							color: var(--lp-primary-color);
						}

					}
				}

				.lp-btn-wishlist {
					margin: 0 auto;
				}
			}
		}
	}

	.profile-orders {

		.profile-heading {
			display: none;
		}

		table {
			margin-top: 0;
		}

		.column-order-actions {

			a {
				margin-right: 6px;
				color: black;
				text-decoration: underline;
				font-weight: 500;

				&:hover, &:focus {
					color: var(--lp-primary-color);
				}
			}
		}
	}

	#profile-content-settings {
		.learn-press-tabs__nav {
			border: 1px solid #e5e7f2;
			flex-wrap: wrap;
			margin: 0;
			@media (min-width: 1024px) {
				flex-wrap: nowrap;
			}

			.learn-press-tabs__tab {
				width: calc(100% / 3);

				&::after {
					display: none;
				}

				label {
					&::before {
						display: none;
					}
				}

				@media (max-width: 767px) {
					border-right: 1px solid #e5e7f2;
				}
			}
		}

		.learn-press-form {
			.form-fields {
				.form-field {
					label {
						display: block;
						margin: 0 0 10px 0;
						color: #333;
						font-weight: 500;
						font-style: italic;
					}

					.form-field-input {
						display: flex;
						align-items: center;
						flex-wrap: wrap;
						gap: 16px;

						input {
							border: 1px solid #ccc;
							color: #333;
							font-size: 0.875em;
							padding: 8px 20px;
							line-height: 1.75em;

							&[type='checkbox'] {
								line-height: 15px;
							}
						}

						.description {
							margin-top: 0;
						}
					}
				}
			}
		}

		form {
			&[name=profile-privacy] {
				button {
					padding: 16px 24px;
					border: 0;
					border-radius: 3px;
					color: #fff;
					background: var(--lp-primary-color);					
					font-weight: 400;

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}

	#profile-content-courses {
		.dashboard-statistic__row {
			.statistic-box {
				width: calc((100% - 40px) / 6);
				@media (max-width: 1440px) {
					width: calc((100% - 16px) / 3);
				}
				@media (max-width: 990px) {
					width: calc((100% - 40px) / 6);
				}

				@media (max-width: 767px) {
					width: calc((100% - 16px) / 3);
				}
			}
		}
	}

	#profile-content-my-courses {
		.dashboard-statistic__row {
			.statistic-box {
				width: calc((100% - 32px) / 5);
				@media (max-width: 767px) {
					width: calc((100% - 16px) / 3);
				}
			}
		}
	}
}
	.dashboard-statistic__row {
		display: flex;
		gap: 8px;
		flex-wrap: wrap;
		@media (max-width: 520px) {
			display: inherit;
			background: #f9fafc;
			padding: 10px 16px;
		}


		.statistic-box {
			padding: 15px 10px;
			border: 1px solid var(--thim-border-color, #ccc);
			background: #f9fafc;
			text-align: center;
			display: flex;
			gap: 12px;
			border-radius: 0;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			width: calc((100% - 40px) / 6);
			&:hover {
				background: #eaeaea;
			}
			@media (max-width: 520px) {
				width: 100% !important;
				background: transparent;
				flex-direction: row;
				padding: 12px 0;
				border-width: 0 0 1px 0;
				&:last-child{
					border: none;
				}
			}
		}

		
	}

	.statistic-box {
		.statistic-box__text {
			padding: 0;
			color: #666;
			font-weight: 600;
			margin-bottom: 0;
		}

		.statistic-box__number {
			color: var(--lp-primary-color);
			font-size: 1.2em;
			font-weight: 600;
			@media (max-width:520px) {
				font-size: 1em;
			}
		}
	}

	.profile-courses {

		& > h3 {
			margin-top: 0;
			margin-bottom: 36px;
			color: #333;
			font-size: 1.875em;
			font-weight: 600;
			line-height: 1;
			text-transform: capitalize;
		}
	}
	


	.lp-profile-content {
		table.lp-list-table {
			border-spacing: 0;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			margin-bottom: 40px;

			tr {
				th, td {
					border-right: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
					text-align: center;
				}

				td a {
					color: var(--wp--preset--color--foreground);
					font-weight: 400;

					&:hover {
						color: var(--lp-primary-color);
					}
				}
			}
		}

		#profile-content-order-details {
			h3 {
				margin-top: 0;
				font-size: 1.875em;
				line-height: 1.5;
				font-weight: 500;
				margin-bottom: 15px;
				font-family: var(--wp--preset--font-family--system-font);
			}
		}
	}

.profile-basic-information,
form[name="profile-change-password"] {

	.form-field {
		margin: 0 10px 24px 10px;

		& > label {
			margin: 0 0 12px 0;
			color: #333;
			font-weight: 500;
			font-style: italic;
		}

		.form-field-input {

			input {
				height: 43px;
				padding: 8px 20px;
				font-weight: 400;

			}

			input[type="password"] {
				padding: 8px 20px;
			}

			textarea {
				padding: 9px 20px 16px 20px;
				font-weight: 300;
				line-height: 1.5rem;
			}

			input,
			textarea {
				border: 1px solid #ccc;
				color: #999;
				font-size: 0.875em;
				font-style: italic;

				&:focus {
					border-color: var(--lp-primary-color);
					outline: 0;
					color: #222;
				}
			}

			::placeholder {
				opacity: 1;
				color: #999;
			}

			:-ms-input-placeholder {
				color: #999;
			}

			::-ms-input-placeholder {
				color: #999;
			}

			.description {
				margin-top: 15px;
			}
		}

		@media (max-width: 767px) {
			margin: 0 0 24px 0;
		}
	}

	.form-field__50 {
		float: left;
		width: calc(50% - 20px);
		margin-right: 10px;

		@media (max-width: 767px) {
			float: unset;
			width: 100%;
			margin: 0 0 24px 0;
		}
	}

	.form-field__clear {
		clear: both;
	}

	button {
		padding: 16px 24px;
		border: 0;
		border-radius: 3px;
		color: #fff;
		background: var(--lp-primary-color);
		font-weight: 400;

		&:hover {
			opacity: 0.5;
			background: var(--lp-primary-color);
		}
	}

	p {
		margin: 0;
	}
}

#learn-press-profile-basic-information {

	.form-fields {

		&::after {
			display: block;
			clear: both;
			content: "";
		}

		@media (max-width: 767px) {
			margin: 0;
		}
	}

	button[type="submit"] {
		padding: 0 15px;
		height: 40px;
		line-height: 2.5rem;
		border: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: var(--lp-primary-color);
		color: white;
		font-size: 1rem;
		font-weight: 400;
		@include transition(.3s);
		@include border-radius(3px);

		&:hover {
			opacity: .5;
			background-color: var(--lp-primary-color);
		}
	}
}

.recover-order {

	&__title {
		margin-bottom: 5px;
	}

	&__description {
		margin-bottom: 20px;
		color: #999;
		font-size: 0.8em;
		font-style: italic;
	}
}

div.order-recover {
	display: flex;

	> .button-recover-order {
		margin: 0;
		margin-left: 20px;
		flex: 0 0 auto;

		&.loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";
				animation: lp-rotating 1s linear infinite;
			}
		}
	}

	input[type="text"] {
		width: 100%;
		height: 43px;
		margin-right: 10px;
		padding: 0 22px;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: #fff;
		font-size: 0.875em;
		font-weight: 300;
		font-style: italic;
		line-height: 2.6875em;
		flex: 1 1 auto;
	}
}

.learn-press-profile-course__progress {

	.lp_profile_course_progress {
		width: 100%;
		border-spacing: 0;
		border: 0.5px solid #ccc;

		&__item {

			img {
				width: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
				height: auto;
				display: block;
			}

			td {
				text-align: center;
				font-size: 0.875em;
				line-height: 1.2;
				border: 0.5px solid #ccc;
				padding: 8px;

				&:first-child {
					width: 15%;
					padding: 0px;
					@media (max-width:768px ) {
						display: none;
					}
				}

				&:nth-child(2) {
					width: 25%;

					a {
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}

				&:nth-child(3) {
					width: 10%;
				}

				&:nth-child(4) {
					width: 25%;
				}

				&:nth-child(5) {
					width: 25%;
				}
			}
		}

		&__header {
			background: var(--lp-primary-color);

			th {
				font-size: 1em;
				line-height: 1.2;
				border: 0.5px solid #ccc;
				padding: 16px 8px;
				font-weight: 600;
				text-align: center;
				&:first-child{
					@media (max-width:768px ) {
						display: none;
					}
				}
			}
		}
	}
}

.lp_profile_course_progress__nav {

	button {

		&.loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";

				@include animation(lp-rotating 1s linear infinite);
			}
		}
	}
}

.content ul.learn-press-courses {
	margin-left: -15px;
	margin-right: -15px;

	&[data-layout="list"] {
		margin: 0;
	}
}

.learn-press-profile-course__tab {

	&__inner {
		display: flex;
		margin: 40px 0 0 0 !important;
		padding: 0 !important;
		background: #eee;
		list-style: none !important;

		> li {
			list-style: none;
			margin: 0 !important;

			&:hover {
				cursor: pointer;
			}
		}

		a {
			display: inline-block;
			padding: 15px 30px;
			font-weight: 600;
			position: relative;

			&.active {
				color: var(--lp-primary-color);
				background: #fff;

				&::before {
					content: "";
					height: 3px;
					width: 100%;
					background-color: var(--lp-primary-color);
					position: absolute;
					top: 0;
					left: 0;
					right: auto;
				}
			}
		}
	}
}

.learn-press-course-tab-filters {

	.learn-press-filters {
		margin: 30px 0 20px 0;
		padding: 0;
		list-style: none;

		a {

			&.active {
				color: var(--lp-primary-color);
			}
		}
	}
}

.lp-profile-content {
	ul {
		list-style: none !important;
		padding: 0 !important;
	}
}

.learnpress_avatar {

	&__form {

		label {
			display: inline-block;
		}

		input[type="file"] {
			display: none;
		}

		&__upload {
			display: flex;
			width: 200px;
			height: 200px;
			border: 1px dashed #ccc;
			border-radius: 3px;
			background-color: #fafafa;
			font-size: 0.875em;
			font-weight: 300;
			font-style: italic;
			line-height: 2.6875em;
			text-align: center;
			cursor: pointer;
			align-items: center;
			justify-content: center;

			div {
				line-height: 1.4;
			}
		}
	}

	&__button {

		&--loading {

			&::before {
				display: inline-block;
				margin-right: 5px;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f110";

				@include animation(lp-rotating 1s linear infinite);
			}
		}
	}
}

button.learnpress_avatar__button {
	height: 40px;
	padding: 0 15px;
	border: 0;
	background: var(--lp-primary-color);
	color: white;
	margin-top: 15px;
	border-radius: 3px;

	+ button {
		margin-left: 15px;
		margin-right: 0;
	}
}

body.learnpress {
	.learn-press-tabs .learn-press-tabs__tab, .attachment-recent-works-thumbnail {
		border-radius: 0;
	}
}

.lp-content-area .learnpress-course-container {
	margin: 80px -15px 0;
	scroll-margin: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> li {
		padding: 0 15px;
	}

	.course-wrap-meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.separator {
		display: block;
		border-top: 1px solid rgba(153, 153, 153, 0.2);
		margin-left: -20px;
		margin-right: -20px;
	}
}