@import "user_cover_image";
@import "staticsitc-box";

.wrapper-profile-header {
	position: relative;
}

p:last-child {
	margin: 0
}

.lp-user-profile {
	position: relative;

	.lp-user-profile-avatar {
		img {
			display: block;
			border-radius: var(--lp-border-radius-avatar, 50%);
			width: 100%;
			height: auto;
		}
	}

	.lp-user-profile-socials {
		display: flex;
		position: relative;
		margin: 0;
		gap: 12px;

		a {
			@include profile_social();
		}
	}

	.lp-profile-content-area {
		position: relative;
		padding: 0;
		display: flex;
	}

	.lp-profile-left {
		min-width: 120px;
		max-width: 120px;
	}

	.lp-profile-right {
		padding-left: 20px;
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
	}

	.lp-profile-username {
		margin: 0;
		font-size: $font-size-h4;
		font-weight: 500;
		text-transform: capitalize;
		color: inherit;
		flex: 1;
	}

	.lp-profile-user-bio {
		width: 100%;
	}

	#profile-sidebar {
		float: left;
		width: 270px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 0;
		background: #fff;
		margin-top: 60px;
		margin-bottom: $spacing-base-8x;
		@media (max-width: 990px) {
			width: 100%;
			margin-bottom: 0;
		}
	}

	.lp-profile-nav-tabs {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			position: relative;
			margin: 0;
			padding: 0;
			border-top: 1px solid $border-color;

			a {
				padding: 10px 20px;
				color: inherit;
				font-weight: 500;
				text-decoration: none;
				display: flex;
				width: 100%;
				gap: 8px;
				line-height: 1.4;

				> i {
					margin-top: 3px;
				}
			}

			> a {
				padding: 14px 20px;
				position: relative;

				> i {
					color: var(--lp-primary-color);
				}
			}

			ul {

				li {
					margin: 0;

					a {
						border-bottom: 1px solid $border-color;
						font-size: $font-size-small;

						&:hover {
							color: var(--lp-primary-color);
						}
					}
				}
			}

			&.active {
				background: var(--lp-primary-color);

				> a, > a i {
					color: #fff;
				}
			}

			&:hover {
				background: $bg-grey;
			}

			//&:last-child {
			//	border-bottom-right-radius: 4px;
			//	border-bottom-left-radius: 4px;
			//}

			&.has-child {
				> a:after {
					font-family: 'lp-icon';
					content: "\f105";
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		li {

			> ul {
				display: none;
				position: absolute;
				z-index: 1000;
				top: 0;
				left: 100%;
				min-width: 180px;
				margin: 0;
				padding: 0;
				background: #fff;
				box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
				list-style: none;

				li {
					white-space: nowrap;

					&:hover, &.active {
						color: var(--lp-primary-color);
					}
				}
			}


			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}

	.lp-profile-content {
		float: right;
		width: calc(100% - 300px);
		margin-bottom: $spacing-base-8x;
		padding-top: 60px;

		@media (max-width: 990px) {
			width: 100%;
		}

		@media (max-width: 767px) {
			.profile-orders {
				overflow-x: scroll;
			}
		}

		.course-categories, .course-instructor {
			margin-bottom: 14px;
		}

		.course-categories {
			padding: 0;
		}

		.lp-button {
			display: block;
			margin: 0 auto;
		}


	}

	.profile-orders {

		.profile-heading {
			display: none;
		}

		table {
			margin-top: 0;
		}

		.column-order-actions {

			a {
				margin-right: 6px;
				color: black;
				text-decoration: underline;
				font-weight: 500;

				&:hover, &:focus {
					color: var(--lp-primary-color);
				}
			}
		}
	}

	.learn-press-message {
		margin-top: 0;
	}

	.profile-heading {
		margin-bottom: $spacing-base-6x;
	}

	@media (min-width: 1366px) {
		.lp-content-area {
			padding-right: 0;
			padding-left: 0;
		}
	}

	@media (max-width: 990px) {
		#profile-sidebar {
			margin-top: 40px;
		}
		.lp-profile-content {
			padding-top: 40px;
		}
		#profile-nav {
			overflow-x: auto;
			border-top: 1px solid $border-color;
		}
		.lp-profile-nav-tabs {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;

			&::after {
				display: none;
			}

			> li {
				border: none;
				border-right: 1px solid $border-color;
				flex: 1;

				&:last-child {
					border-right: none;
				}

				> a {
					height: auto;
					padding: 8px 12px 8px 12px;
					flex-direction: column;
					white-space: nowrap;
					align-items: center;
					font-size: $font-size-label;
					line-height: 1.4;
					gap: 4px;

					> i {
						position: static;
						transform: translate(0);
					}

					&::after {
						display: none !important;
						margin-left: 10px;
					}
				}

				&.has-child {
					a::after {
						display: none !important;
					}
				}

				&:after {
					display: none;
				}

				&.active {
					&:after, &:before {
						display: none;
					}

					&.has-child {

						ul {
							display: none;
							width: max-content;
							transform: translateX(-20%);

							&::after {
								display: table;
								clear: both;
								box-shadow: 0 0 0;
								content: "";
							}

							li {
								float: left;
								border-right: 1px solid $border-color;

								&:last-child {
									border-right: none;
								}

								a {
									padding: 0 10px;
								}
							}
						}
					}
				}
			}

			li {
				&:not(.has-child) > a::after, &:hover ul {
					display: none !important;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.lp-profile-right {
			flex-direction: column;
			align-items: flex-start;
		}
		.lp-profile-user-bio {
			display: none;
		}
		.lp-course-tabs {
			overflow-x: scroll;
			border-bottom: 2px solid var(--lp-border-color, #E2E0DB);
			margin-bottom: 32px;

			.learn-press-filters {
				margin-bottom: 0;
				border-bottom: none !important;
				width: max-content;
				overflow-x: auto;
				overflow-y: hidden;
			}
		}
		.lp-course-tabs {

		}
	}

	@media (max-width: 650px) {
		.lp-profile-left {
			min-width: 100px;
			max-width: 100px;
		}
		.lp-user-profile-socials {
			gap: 8px;
			--lp-social-size: 36px;
			font-size: 14px;
		}
	}
}

#profile-content-withdrawals {
	> h2 {
		font-size: 1.6em;
		margin-bottom: 12px;
	}
}

.learn-press-profile-course {
	&__statistic {
		margin-bottom: $spacing-base-8x;
	}

	&__progress {
		.lp_profile_course_progress {
			&__item {

				img {
					width: 100%;
					aspect-ratio: 16/9;
					object-fit: cover;
					height: auto;
					display: block;
				}

				td, th {
					text-align: center;

					&:first-child {
						width: 15%;
						padding: 0;
						@media (max-width: 768px) {
							display: none;
						}
					}

					&:nth-child(2) {
						width: 25%;

						a {
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}

					&:nth-child(3) {
						width: 10%;
					}

					&:nth-child(4) {
						width: 25%;
					}

					&:nth-child(5) {
						width: 25%;
					}
				}
			}

		}

		@media (max-width: 768px) {
			.learn-press-course-tab__filter__content {
				overflow-x: auto;
			}
		}

	}
}

.lp-profile-content {
	#profile-content-order-details {
		h3 {
			margin-top: 0;
			font-size: 1.875em;
			line-height: 1.5;
			font-weight: 500;
			margin-bottom: 15px;
		}
	}
}

.recover-order {

	&__title {
		margin-bottom: 5px;
	}

	&__description {
		margin-bottom: 20px;
		opacity: 0.7;
		font-size: 0.8em;
		font-style: italic;
	}
}

div.order-recover {
	display: flex;
	gap: 10px;

	input[type="text"] {
		font-style: italic;
		flex: 1 1 auto;
	}
}

.lp-profile-content {
	ul {
		list-style: none !important;
		padding: 0 !important;
	}
}
