.lp-quiz-buttons {
	margin-bottom: 20px;

	@include clear-fix();
}

.quiz-progress {
	margin-bottom: 30px;
	background: rgb(231, 247, 255);

	.progress-items {
		display: flex;

		.progress-item {
			position: relative;
			color: #777;
			font-size: 15px;
			flex: 1;

			.progress-number,
			.progress-label {
				display: block;
				line-height: 1;
				text-align: center;
			}

			.progress-number {
				margin: 15px 0 10px 0;
				font-size: 20px;
			}

			.progress-label {
				margin-bottom: 15px;
				font-size: 14px;
			}

			i {
				display: none;
				float: left;
				width: 60px;
				height: 60px;
				color: #fff;
				background: #00adff;
				font-size: 30px;
				line-height: 60px;
				text-align: center;
			}

			&::after {

				@include clear-fix();
			}
		}
	}
}

.answer-options {
	margin: 0;
	padding: 0;
	list-style: none;

	.answer-option {
		display: flex;
		overflow: hidden;
		position: relative;
		margin: 0 0 18px 0;
		padding: 10px;
		color: #777;
		background: #f5f5f5;
		font-size: 20px;
		cursor: pointer;
		@include border-radius(4px);
		@include transition(background linear 0.25s);

		.option-title {
			display: table-cell;
			font-size: smaller;

			.option-title-content {
				display: inline-block;
				vertical-align: middle;
			}

			&::before {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 3px;
				background: #ddd;
				content: "";

				@include transition(background linear 0.25s);
			}
		}

		input[type="checkbox"],
		input[type="radio"] {

			@include appearance(initial);
			position: relative;
			z-index: 10;
			width: 35px;
			min-width: 35px;
			height: 35px;
			margin: 0 10px 0 3px;
			border: 1px solid #cfcfcf;
			background: #f9fafc;

			@include border-radius(4px);

			&:focus {
				outline: none;
			}

			&::after {
				margin-top: -10px;
				position: absolute;
				top:18px;
    			left: 9px;
				box-sizing: content-box;
				opacity: 0;
				color: #3db748;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				font-size: 16px;
				content: "\f00c";
			}

			&:checked {

				~ .option-title {

					.option-title-content {
						position: relative;
					}

					&::before {
						background: #00adff;
					}
				}

				&::after {
					opacity: 1;
				}
			}

		}
		input[type="checkbox"]{
			&::after {
				margin-top: 0;
 				top: 50%;
				left: 50%;
				@include transform(translate(-50%, -50%));
			}
		}
		input[type="radio"] {

			@include border-radius(50%);

			&::before {
				border-radius: 50%;
			}
		}

		.option-title {
			margin: 0;
		}

		&:hover {
			background: #e1f5ff;
		}

		&.answer-correct {
			background: #e1f5ff;

			input[type="radio"]:checked,
			input[type="checkbox"]:checked {

				~ .option-title {

					&::before {
						background: #e1f5ff;
					}
				}
			}
		}

		&.answered-correct {

			input[type="radio"]:checked,
			input[type="checkbox"]:checked {

				~ .option-title {

					&::before {
						background: #00adff;
					}
				}
			}
		}

		&.answered-wrong {

			input[type="radio"],
			input[type="checkbox"] {

				&::before,
				&::after {
					border-color: #f00;
				}
			}

			input[type="radio"]:checked,
			input[type="checkbox"]:checked {

				~ .option-title {

					&::before {
						background: #f00;
					}
				}
			}
		}
	}
}

button[data-counter] {
	position: relative;

	&::after {
		padding-left: 5px;
		content: "(+" attr(data-counter) ")";
	}
}

.quiz-result {
	max-width: 320px;
	margin: 20px auto 48px;
	text-align: center;

	.result-heading {
		display: none;
	}

	&.passed {

		.result-message {
			background: $primary-color-course-item-status;
			&::after {
				content: "\f00c";
			}
		}
	}

	.result-message {
		margin-bottom: 30px;
		padding: 10px 0 !important;
		color: #fff;
		background: #f02425;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;
		@include border-radius(4px);

		&::after {
			margin-left: 10px;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f00d";
		}
	}

	.result-grade {

		.result-achieved,
		.result-require {
			display: inline-block;
			margin: 0 auto;
		}

		.result-achieved {
			padding-bottom: 7px;
			border-bottom: 1px solid #999;
			color: #333;
			font-size: 28px;
			font-weight: 500;
			line-height: 1;
		}

		.result-require {
			display: block;
			padding-top: 5px;
			color: #666;
			font-size: 16px;
			font-weight: 400;
			line-height: 1;
		}

		.result-message {
			font-size: 14px;
		}
	}

	&.passed {

		.result-achieved {
			color: #04adff;
		}

		.result-message {

			strong {
				color: #04adff;
			}
		}
	}

	.result-statistic {
		margin: 0;
		padding: 0;
		text-align: left;
		list-style: none;

		.result-statistic-field {
			display: flex;
			margin: 0;
			+ li {
				border-top: 1px dashed #ccc;
			}
			span,
			p {
				margin: 0;
				flex: 1;
			}

			span {
				color: #666;
				font-size: 16px;
				font-weight: 400;
				line-height: 35px;

				&::before {
					display: inline-block;
					width: 15px;
					margin-right: 10px;
					color: var(--lp-primary-color);
					font-family: "Font Awesome 5 Free";
					font-size: 16px;
					font-weight: 900;
				}
			}

			p {
				color: #333;
				font-size: 16px;
				font-weight: 500;
				line-height: 35px;
				text-align: right;
			}

			&.result-time-spend label::before {
				font-weight: 400;
				content: "\f017";

			}

			&.result-point label::before {
				font-weight: 400;
				content: "\f005";
			}

			&.result-questions label::before {
				font-weight: 400;
				content: "\f059";
			}

			&.result-questions-correct label::before {
				color: #3db748;
				content: "\f00c";
			}

			&.result-questions-wrong label::before {
				color: #f02425;
				content: "\f00d";
			}

			&.result-questions-skipped label::before {
				color: #ddd;
				content: "\f2f5";
			}
		}
	}
}

.quiz-status {
	position: sticky;
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 0 35px 0;

	> div {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		max-width: 792px;
		height: 60px;
		margin: 0 auto;
		padding: 5px 10px 5px 30px;
		border-radius: 4px;
		background: var(--lp-primary-color);
		justify-content: center;
		align-items: center;

		@media (max-width: 480px) {
			display: block;
			height: auto;
			text-align: center;
			padding: 15px;
			.questions-index {
				margin-bottom: 10px;
			}
		}

		> div {
			display: flex;
			flex-direction: row-reverse;
			flex: 0 0 50%;
			align-items: center;
			@media (max-width: 480px) {
				justify-content: center;
			}
		}

		.current-point {
			display: none;
		}
	}

	.questions-index {
		display: inline-block;
		color: #666;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;

		span {
			color: #333;
			font-weight: 500;
		}
	}

	.countdown {
		position: relative;
		min-width: 120px;
		margin-right: 5px;
		padding: 12px 29px;
		color: #333;
		background: #fff;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		text-align: center;

		.fas {
			position: absolute;
			top: 50%;
			left: 10px;
			color: #333;
			font-size: 14px;
			transform: translateY(-50%);
		}

		.clock {
			display: none;
			width: 40px;
			height: 40px;

			&::before {
				position: absolute;
				width: 40px;
				height: 40px;
				border: 4px solid #b1c1e6;
				border-radius: 50%;
				content: "";

				@include box-sizing(border-box);
			}

			.circle-progress-bar {
				display: inline-block;
				position: relative;
				width: 40px;
				height: 40px;
				stroke: #5383f7;

				.circle-progress-bar__circle {
					transition: 0.35s stroke-dashoffset;
					transform: rotate(-90deg);
					transform-origin: 50% 50%;
				}
			}

			&.x {

				.circle-progress-bar__circle {
					stroke: #f00;
				}
			}
		}
	}

	.submit-quiz button {
		margin: 0 0 0 10px;
		border: none;
		border-radius: 0;
		background: #fff;
		text-transform: uppercase;

		&:hover {
			background: var(--lp-secondary-color);
		}
	}

	&.submitting {

		.submit-quiz button {
			background: #ddd;
		}
	}
}

.question-numbers {
	text-align: center;
	list-style: none;

	li {
		display: inline-block;
		position: relative;
		margin-bottom: 3px;

		a {
			display: block;
			min-width: 20px;
			padding: 8px;
			border: 1px solid #ddd;
			color: #999;
			background: #f5f5f5;
			box-shadow: none;
			font-size: 12px;
			line-height: 1;

			span {
				vertical-align: middle;
			}

			&:hover {
				border: 1px solid #3880a2;
				color: #fff;
				background: #00adff;
			}
		}

		&.current {

			a {
				border-color: #3880a2;
				color: #fff !important;
				background: #00adff;
			}

			&.skipped {

				&::after {
					background: #fff;
				}
			}
		}

		&.answered {

			a {

				&::after {
					margin-left: 3px;
					font-family: "Font Awesome 5 Free";
					font-size: 8px;
					vertical-align: middle;
				}
			}

			&.answered-wrong {

				a {
					color: #f00;
				}
			}

			&.answered-true {

				a {
					color: #00adff;
				}

				&.current {

					a {
						color: #fff;
					}
				}
			}
		}

		&.skipped {

			&::after {
				position: absolute;
				bottom: 3px;
				left: 50%;
				width: 10px;
				height: 4px;
				margin-left: -5px;
				border-radius: 2px;
				background: #aaa;
				content: "";
			}
		}
	}
}

.quiz-intro {
	display: flex;
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	flex-flow: row wrap;

	@media (max-width: 768px) {
		padding-right: 10px;
		padding-left: 10px;
		justify-content: space-between;
	}

	&-item {
		display: flex;
		margin: 0 40px 0 0;
		align-items: center;

		@media (max-width: 768px) {
			margin: 0 20px 0 0;
		}

		&::before {
			position: relative;
			top: -2px;
			margin-right: 10px;
			color: var(--lp-primary-color);
			font-family: "Font Awesome 5 Free";
			font-size: 16px;
			font-weight: 900;
		}

		&--passing-grade {
			order: 2;

			&::before {
				content: "\f012";
			}
		}

		&--questions-count {
			order: 1;

			&::before {
				content: "\f12e";
			}
		}

		&--duration {
			order: 2;

			&::before {
				content: "\f017";
			}
		}


		&__title {
			margin: 0;
			padding: 0 8px 0 0;
			color: #333;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.7;
		}

		&__content {
			color: #222;
			font-size: 16px;
			font-weight: 400;
		}
	}
}

.question-explanation-content,
.question-hint-content {
	margin-bottom: 20px;
	padding: 10px 15px;
	background: #f5f5f5;
}

.redo-quiz {

	button[type="submit"] {
		content: attr(data-counter);
	}
}

.circle-bar {
	position: relative;
	width: 300px;
	height: 300px;
	border-color: #ddd;

	&::before {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: 10px solid #ddd;
		border-radius: 50%;
		content: "";
	}

	.before,
	.after {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: 10px solid #14c4ff;
		border-radius: 50%;
		transform: rotate(45deg);

	}

	.before {
		border-bottom-color: transparent;
		border-left-color: transparent;
		transform: rotate(45deg);
	}

	.after {
		border-color: #14c4ff;
		border-top-color: transparent;
		border-right-color: transparent;
		transform: rotate(45deg);
	}

	&.bg50 {

		.after {
			z-index: 10;
			border-bottom-color: inherit;
			border-left-color: inherit;
			transform: rotate(45deg);
		}
	}
}

.lp-quiz-buttons {

	.complete-quiz,
	.back-quiz,
	.review-quiz {
		float: right;
	}
}

.quiz-result {

	.result-grade {
		display: flex;
		flex-direction: column;
		position: relative;
		box-sizing: border-box;
		height: 200px;
		margin-bottom: 30px;
		padding: 50px;
		justify-content: center;
		align-items: center;
		@include transform(none !important);

		&::before,
		svg {
			position: absolute;
			top: 0;
			left: 50%;
			width: 200px;
			height: 200px;
			margin-left: -100px;

			@include border-radius(50%);
		}

		&::before {
			box-sizing: border-box;
			padding: 30px;
			border: 10px solid #ccc;
			content: "";
		}

		svg {

			@include transform(rotate(-90deg));

			circle {
				stroke: var(--lp-primary-color);
			}
		}
	}

	&.passed {

		.result-grade {

			svg {
				@include transform(rotate(-90deg));
			}

			.result-achieved {
				color: #333;
			}

			.result-message {

				strong {
					color: #4caf50;
				}
			}
		}
	}
}

.quiz-questions {

	.question {
		margin-bottom: 60px;
	}
}

.question {

	.answer-option {
		padding: 0;
		_border: 2px solid #d9e0f1;
		background: #fff;

		input[type="radio"],
		input[type="checkbox"] {
			position: absolute;
			top: 50%;
			margin: -19px 0 0 10px;
			border-color: #d9e0f1;

			@include border-radius(4px);

			&::after {
				border-color: #d9e0f1;
			}

			&:disabled {
				border-color: #ddd;
				background: #f9f9f9;

				&::after {
					border-color: #ddd;
				}
			}

			&:checked:not(:disabled) {

				&::after {
					border-color: #99aee4;
				}
			}
		}

		input[type="radio"] {

			@include border-radius(50%);

			&::before {
				border-radius: 50%;
			}
		}

		.option-title {
			display: flex;
			width: 100%;
			margin: 0;
			padding: 14px 10px 11px 65px;
			border: 1px solid #ccc;
			color: #666;
			background: #fff;
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;

			@include border-radius(4px);

			&::after {
				display: inline-block;
				visibility: hidden !important;
				content: ".";
			}

			&:hover {
				background: #f9f9f9;
			}
		}

		.option-title {

			&::before {
				display: none;
			}
		}

		&.answer-correct {

			.option-title {
				border-color: #4caf50;
			}
		}

		&.answered-wrong {

			.option-title {
				border-color: #ff6423;
			}
		}
	}

	.question-title {
		display: block;
		margin-top: 0;
		margin-bottom: 18px;
		color: #333;
		font-size: 18px;
		font-weight: 500;

		.edit-link {
			float: right;
			font-size: 14px;
			font-weight: normal;
		}
	}

	.question-content {
		margin-bottom: 30px;
		color: #666;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;

		img {
			width: 100%;
			max-width: 100%;
		}
	}

	.question-response {
		margin-bottom: 10px;
		font-size: 14px;

		.label {
			display: inline-block;
			margin: 0 5px 0 0;
			padding: 8px 10px;
			border-radius: 4px;
			color: #fff;
			line-height: 1;
		}

		.point {
			display: inline-block;
		}

		&.correct {

			.label {
				background: #4caf50;
			}
		}

		&.incorrect {

			.label {
				background: #ff6423;
			}
		}
	}

	.question-index {
		display: inline-block;
		margin: 0 5px 0 0;
	}

	.btn-show-hint {
		position: relative;
		margin: 0 0 0 10px;
		padding: 0;
		outline: none;
		color: #00adff;
		background: transparent;
		font-size: 0;
		text-decoration: none;

		&::before {
			font-family: "Font Awesome 5 Free";
			font-size: 18px;
			content: "\f059";
		}

		&:hover {

			span {
				position: absolute;
				bottom: 100%;
				left: 0;
				width: auto;
				padding: 6px 9px;
				border-radius: 2px;
				color: #333;
				background: #eee;
				font-size: 14px;
				font-weight: 400;
				line-height: 1;
				white-space: nowrap;
				text-transform: none;
			}
		}
	}

	&.question-fill_in_blanks {

		.blanks {

			.blank-input-wrap {
				display: inline-block;
			}

			.blank-block {
				margin-bottom: 20px;
			}

			.blank-input {
				display: inline-block;
				width: auto;
				min-width: 50px;
				margin: 0 10px;
				padding: 0 10px;
				border: none;
				border-bottom: 1px dashed #ddd;
				text-align: center;
				white-space: nowrap;

				br {
					display: none;
				}

				> * {
					display: inline;
					white-space: nowrap;
				}
			}

			.blank-select {
				display: inline-block;
				height: 30px;
				margin-left: 4px;
				padding: 1px;
			}

			.blank-fills {
				display: inline-block;

				code {
					margin: 0 5px;
					padding: 0 6px;
					background: #ddd;
					line-height: 1;

					@include border-radius(4px);
				}
			}

			&.ordered {
				list-style-position: inside;
			}

			&.one-paragraph {
				line-height: 3;
			}
		}
	}
}

.lp-sort-bg {

	label.option-title {
		background: rgba(255, 182, 6, 0.68) !important;
	}
}

