@mixin lp_nav() {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	column-gap: $spacing-base-10x;
	row-gap: $spacing-base-3x;
	list-style: none;
	margin: 0 0 -2px 0!important;
}

@mixin lp_nav_href() {
	display: block;
	margin: 0;
	padding: 0 0 16px 0;
	font-size: 1.125em;
	line-height: 1;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
 	cursor: pointer;
	color: #333;
	text-decoration: none;
	&:focus {
		outline: 0;
		text-decoration: none;
	}
}

@mixin lp_line_active($width: 2px) {
	position: absolute;
	bottom: 0;
	top: auto;
	left: 0;
	width: 100%;
	height: $width;
	background: transparent;
	content: "";
}

.learn-press-tabs {
	margin-bottom: $spacing-base-8x;
	position: relative;
	border-bottom: 2px solid $border-color;

	.learn-press-tabs__checker {
		display: none;
	}

	&__nav {
		@include lp_nav();
	}

	&__item {
		position: relative;
		margin: 0;
		list-style: none;

		> a {
			@include lp_nav_href();
		}

		&::after {
			@include lp_line_active();
		}

		&.active, &:hover {
			a {
				color: $color-primary;
			}

			&::after {
				background: $color-primary;
			}
		}
	}

	&.stretch {

		.learn-press-tabs__tab {
			flex: 1;

			> label {
				padding: 18px 10px;
			}
		}
	}

	@media (max-width: 990px) {
		&__nav, .learn-press-filters {
			overflow-x: auto;
			white-space: nowrap;
			flex-wrap: nowrap;
			scroll-behavior: smooth;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.learn-press-filters {
	@include lp_nav();

	li {
		position: relative;
		margin: 0;
		list-style: none;

		a, span {
			@include lp_nav_href();

			&::after {
				@include lp_line_active();
			}

			&.active, &:hover {
				color: $color-primary;

				&::after {
					background: $color-primary;
				}
			}
		}

		// tab Quiz
		&.active {
			a, span {
				color: $color-primary;

				&::after {
					background: $color-primary;
				}
			}
		}

		&:after {
			display: none !important;
		}
	}
}

// Tab in single course
.wrapper-course-nav-tabs {
	//margin-bottom: $spacing-base-8x;
	position: relative;
	border-bottom: 2px solid $border-color;
	//overflow-x: auto;
	//scrollbar-width: none;
	//&::-webkit-scrollbar {
	//	display: none;
	//}
}

.learn-press-nav-tabs {
	margin: 0;
	@include lp_nav();
	//width: max-content;
	//overflow-y: hidden;
	li {
		position: relative;
		margin: 0;
		list-style: none;

		label {
			@include lp_nav_href();
		}

		&::after {
			@include lp_line_active();
		}

		&.active, &:hover {
			label {
				color: $color-primary;
			}

			&::after {
				background: $color-primary;
			}
		}
	}
}

.TabsDragScroll {
	position: relative;

	&:hover {
		cursor: all-scroll;
	}

	ul {
		max-width: 100%;
		white-space: nowrap;
		scroll-behavior: smooth;
		user-select: none;
		overflow-x: auto;
		flex-wrap: nowrap;

		&::-webkit-scrollbar {
			display: none;
		}

		&.dragging {
			scroll-behavior: unset;
			cursor: all-scroll;
		}
	}
}
