/**
 * CSS for overriding some style defaults of themes
 */
body {

	//--lp-font-size-base: 16px;
	div.entry-content> {

		div.learnpress,
		div.learnpress:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
			--responsive--aligndefault-width: 100%;
			max-width: var(--lp-content-width, 100%);
		}
	}

	.entry-content {
		&.has-global-padding {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

//.lp-content-area{
//	font-size: $font-size-base;
//}
// Theme Divi
.lp-archive-courses {

	ul,
	ol {
		list-style-type: decimal;
		list-style-position: inside;
		padding: 0 0 1.5em;
	}

	ul {
		list-style-type: revert;
		padding: 0 0 1em 1em;

		&.course-nav-tabs {
			list-style: none;
			padding: 0;
		}
	}

	ol ul {
		padding: 2px 0 2px 35px
	}

	ol ol {
		padding: 2px 0 2px 20px
	}
}

.learnpress,
.learnpress-profile {

	#left-area ul,
	.entry-content ul,
	.et-l--body ul,
	.et-l--footer ul,
	.et-l--header ul {
		padding: 0;
		list-style: none !important;
	}
}

// Theme DT the7
.learnpress.dt-the7 {
	.learn-press-filters {
		margin-bottom: 20px;
	}

	.learn-press-courses[data-size="3"] .course {
		width: 50%;
	}
}

// Theme Bridge

.bridge.learnpress {
	.lp-archive-courses {
		margin-top: 100px;

		ul.learn-press-breadcrumb {
			padding-top: 45px;
		}
	}

	.content {
		z-index: 110;
	}

	.comment-respond .comment-form {
		margin: 0;

		>p,
		>div {
			padding: 0;
		}
	}

	&.learnpress-profile {
		.content {
			z-index: 100;
		}
	}

	#learn-press-item-comments {
		background: #f6f6f6;
	}
}

// theme Astra

.learnpress.ast-separate-container .ast-article-single {
	padding-left: 15px;
	padding-right: 15px;
}

body.astra .course-summary-content .course-detail-info {
	--lp-color-white: #333;
	--lp-secondary-color: transparent;

	.course-title {
		border-bottom-color: var(--ast-global-color-7);
	}
}

.ast-container {
	--lp-cotainer-padding: 0
}

// Twenty Sixteen
body {
	&.learnpress-page {
		&.twentysixteen {
			#primary {
				.lp-entry-content {
					float: none;
					width: auto;
					margin: 0 15%;
				}
			}
		}

		&.twentyfifteen {
			.course-summary-sidebar {
				.widget {
					width: 100%;
					padding: 0;
				}
			}
		}

		&.twentysixteen {
			.entry-footer {
				display: none;
			}

			.lp-entry-content {
				float: none;
				width: auto;
			}
		}

		&.twentyseventeen {
			#primary {
				article {
					&.type-page {
						width: 100%;
					}
				}
			}
		}
	}

	div.entry-content> {

		div.learnpress {
			--responsive--aligndefault-width: 100%;
			max-width: var(--lp-content-width, 100%);
		}
	}

	.entry-content {
		&.has-global-padding {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@media screen and (min-width: 61.5625em) {
	body {
		&.twentysixteen {
			&.learnpress-page {
				.entry-footer {
					display: none;
				}

				.lp-entry-content {
					float: none;
					width: auto;
				}
			}
		}

		&:not(.search-results) {
			article:not(.type-page) {
				.entry-footer {
					display: none;
				}

				.lp-entry-content {
					float: none;
					width: auto;
				}
			}
		}
	}
}

// Twenty Seventeen
body.twentyseventeen.learnpress-page {
	#primary {
		article {
			&.page {

				.entry-header,
				.lp-entry-content {
					width: 100%;
					float: none;
				}
			}
		}
	}
}

@media screen and (min-width: 48em) {
	body {
		&.twentyseventeen {
			&.learnpress-page {
				#primary {
					article {
						&.page {

							.entry-header,
							.lp-entry-content {
								width: 100%;
								float: none;
							}
						}
					}
				}
			}
		}
	}
}

.lp-4 {
	--lp-font-size-base: 1em;
}


.learnpress-v4 {
	.lp-course-curriculum {
		--lp-white-grey: transparent;
		--lp-border-radius: 0;
		--lp-primary-color: var(--thim-body-primary-color, inherit);

		.course-section {
			border-width: 0 0 1px 0;
			margin-bottom: 0;

			&:last-child {
				border-width: 0;
			}
		}

		.course-item-ico {
			color: $color-primary;
		}
	}

	#tab-curriculum {
		.lp-course-curriculum {

			.course-section-header,
			.course-item {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.assignments .lp-icon-file-alt:before {
	content: "\e929";
}

.eduma {
	&.nofixcss_learn {
		#popup-header {
			border-bottom: 1px solid var(--lp-border-color, #E1E1E1);
		}

		.learn-press-progress__active {
			--thim-button-text-color: var(--thim-body-primary-color, #ffb606);
		}
	}

	// fix for theme eduma version < Version 5.9.6
	&:not(.nofixcss_learn) {
		.sc_heading+.lp-course-curriculum {
			.lp-course-curriculum__title {
				display: none;
			}
		}

		&.learnpress-v4 .lp-single-course #popup-course {
			#popup-header {
				background: var(--lp-bg-color-lesson, #fff);
				border-bottom: 1px solid var(--lp-border-color, #E1E1E1);

				.course-title a {
					color: inherit;
				}
			}

			#popup-sidebar {
				z-index: unset;
			}

			.search-course input[name=s] {
				padding: 20px;
				left: 0;
			}

			#sidebar-toggle:checked::before {
				color: inherit;
			}

			#popup-footer {
				border-top-style: solid;

				.course-item-nav {
					padding: 12px 0;

					a:hover:before {
						color: #fff;
					}
				}

				.course-item-nav__name {
					color: #fff;
				}
			}

			#popup-content #learn-press-quiz-app .questions-pagination .page-numbers {

				&.current,
				&:hover {
					color: var(--lp-color-white, #fff);
				}
			}
		}
	}

	#learn-press-content-item .content-item-wrap .quiz-buttons.align-center .button-left.fixed {
		background: var(--lp-bg-color-lesson, #fff);
	}

	@media screen and (max-width: 782px) {
		&.learnpress-v4 #popup-header {
			left: 0;
		}
	}

}

.ivy-school {
	// &.single-lp_course .course-curriculum {
	// 	border: none;
	// }

	// .lp-course-curriculum {
	// 	--lp-white-grey: transparent;
	// 	--lp-border-radius: 0;
	// 	--lp-primary-color: var(--thim-body-primary-color, inherit);

	// 	//.course-section-header .course-section__title {
	// 	//	font-family: var(--thim-font-title-font-family, inherit);
	// 	//}

	// 	.course-item-ico {
	// 		color: $color-primary;
	// 	}
	// }
	&:not(.nofixcss_learn) {
		#popup-sidebar {
			top: auto;
			border-right: 0;
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
		}

		#sidebar-toggle {
			margin: 0;
			line-height: 70px;
		}

		#popup-header {
			left: var(--lp-width-popup-curriculum, 450px);

			.items-progress {
				flex-direction: row;
				align-items: center;

				.number {
					color: #fff;
				}
			}
		}

		#popup-sidebar {
			 .lp-course-curriculum__title{
				display: none;
			 }
			.search-course {
				button {
					color: #fff;
					right: 8px;
				}

				input[name=s] {
					position: static;
					background: transparent;
					padding-left: 20px;
					width: 100%;
				}
			}

		}
		.content-item-scrollable .learn-press-message{
			margin-left: auto!important;
			margin-right: auto!important;
		}
	}
}

.course-builder {

	&.nofixcss_learn {
		.lp-single-course.lp-4 #popup-header .popup-header__inner .course-title a:hover {
			color: $color-primary;
		}

		#popup-footer {
			max-width: unset;
		}

		#popup-course #popup-header {
			border-bottom: 1px solid var(--lp-border-color, #E1E1E1);
			background: var(--lp-bg-color-lesson, #fff);
		}
	}

	// fix for theme course-builder version < Version 3.7.2
	&:not(.nofixcss_learn) {
		#sidebar-toggle {
			margin: 0;
		}

		.lp-single-course #popup-course {
			#popup-header {
				.thim-course-item-popup-left {
					height: 70px;
				}

				.items-progress {
					height: 70px;
					line-height: 70px;
					justify-content: center;
				}

				.number {
					color: #fff;
				}

				#sidebar-toggle.toggle-content-item::before {
					float: none;
				}
			}

			#popup-sidebar {
				top: 70px;

				.search-course {
					input[name=s] {
						padding: 0 !important;
						color: var(--thim-font-title-color, #333333);
					}

					button {
						right: 10px;
						left: auto;

						i {
							color: var(--thim-font-title-color, #333333);
						}
					}
				}
			}

			#popup-footer {
				.course-item-nav {
					overflow: visible;
					max-width: unset;
					padding: 12px 0;
				}
			}
		}

		.lp-course-curriculum {
			--lp-white-grey: #f2f2f2;
			--lp-border-color: #e6e6e6;

			.course-sections {
				border: 1px solid var(--lp-border-color, #e6e6e6);
				border-radius: var(--lp-border-radius, 5px);
				overflow: hidden;
			}

			.course-section {
				margin: 0;
				border-radius: 0;
				border-width: 1px 0 0 0;

				&:first-child {
					border: none;
				}
			}
		}

		#popup-sidebar .lp-course-curriculum {
			--lp-border-radius: 0;
		}

		.course-tab-panels {
			.lp-course-curriculum {
				.course-sections {
					border: none;
				}

				.course-section-header,
				.course-item {
					padding-left: 0;
					--lp-white-grey: trasparent;
					padding-right: 0;
				}
			}
		}

		.content-item-wrap {
			.quiz-buttons.align-center .button-left.fixed {
				max-width: unset;
			}

			.questions-pagination .nav-links .page-numbers {

				&:hover,
				&.current {
					background: transparent;
				}
			}
		}

		@media screen and (max-width: 782px) {
			.lp-4 #popup-header {
				left: 0;
			}

			#popup-header .thim-course-item-popup-left {
				display: block;
			}
		}

		@media screen and (max-width: 480px) {
			#sidebar-toggle.toggle-content-item {
				margin-right: 20px;
			}
		}
	}
}

.coaching {
	&.nofixcss_learn {
		&.learnpress-v4 #popup-header .popup-header__inner .course-title a:hover {
			color: $color-primary;
		}

		#popup-header {
			border-bottom: 1px solid var(--lp-border-color, #E1E1E1);
			background: var(--lp-bg-color-lesson, #fff);
		}

		.learn-press-progress__active {
			--thim-button-text-color: var(--thim-body-primary-color, #ffb606);
		}

		#popup-sidebar .search-course {

			input[name=s],
			button i {
				color: var(--lp-color-base, #333);
			}
		}
	}

	// fix for theme course-builder version < Version 3.9.5
	&:not(.nofixcss_learn) {
		&.learnpress-v4 .lp-archive-courses #popup-course {
			#popup-sidebar .search-course {
				input[name=s] {
					height: auto;
					padding-left: 20px;
					color: var(--thim-font-title-color, #333333);
					right: 50px;
				}

				button {
					right: 10px;
					left: auto;

					i {
						color: var(--thim-font-title-color, #333333);
					}
				}
			}
		}

		#popup-header .course-title a {
			color: #fff;
		}

		.content-item-wrap .questions-pagination .nav-links .page-numbers.current,
		&.learnpress-v4 #popup-course #popup-content #learn-press-content-item .content-item-scrollable .questions-pagination {
			margin-top: 0;

			.page-numbers.current {
				padding: 12px 16px;
				color: #fff;
			}
		}
	}
}

.elearningwp {
	&:not(.nofixcss_learn) {
		.back-course {
			--lp-color-meta: #fff;
			--lp-primary-color: #fff;
		}

		#sidebar-toggle::before {
			transform: translate(0) !important;
		}

		#popup-content {
			margin-top: 70px;
		}

		#popup-sidebar {
			top: 70px;
		}

		@media (max-width: 768px) {
			#popup-content #sidebar-toggle {
				margin-top: -56px;
			}

			.popup-header__inner {
				padding-left: 60px !important;
			}
		}
	}
}

// Fix for thim ekit 1.2.9.1

.demo-marketplace,
.demo-ecommerce {
	.thim-ekit-tablist {
		.lp-course-curriculum__title {
			display: none;
		}

		.course-section-header {
			background-color: var(--thim-breacrumb-bg-color);
		}

		.course-section__items {
			background-color: var(--lp-fix-bg-section-item, #F5F7F8);
		}
	}

	.style-marketplace-2 {
		--thim-breacrumb-bg-color: #0f1c44;
		--lp-fix-bg-section-item: transparent;

		.thim-ekit-light-mode & {
			--thim-breacrumb-bg-color: #F4F4F4
		}
	}
}

.demo-ecommerce .course-section-header {
	--thim-breacrumb-bg-color: #E1E9FD;
}

.demo-online-learning {
	.thim-ekit-tablist {
		.lp-course-curriculum__title {
			display: none;
		}

		.course-section {
			margin-bottom: 8px;
			border: none;
		}

		.course-section-header {
			background-color: #DFEFFF;
			border-radius: 8px 8px 8px 8px;
		}
	}
}

// fix theme coaching
.demo-life-coaching {
	.thim-ekit-tablist .lp-course-curriculum {
		.course-section {
			border: none;
		}

		.course-item {
			border: 1px solid var(--thim-border-color);
			margin-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.business-consulting,
.demo-business-v2,
.business-coaching,
.demo-healthy-coaching {
	.lp-course-curriculum__title {
		display: none;
	}

	.thim-ekit-tablist .lp-course-curriculum {
		.course-section {
			border-width: 1px;
			margin-bottom: 15px;

			&:last-child {
				border-width: 1px;
				margin-bottom: 0;
			}
		}

		.course-section-header {
			padding: 20px 15px 5px 15px;
		}

		.course-item {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.demo-business-v2 {
	.thim-ekit-tablist .lp-course-curriculum {
		.course-section-header {
			background-color: var(--thim-bg-color, #f5f5f5);
			padding: 10px 15px;
		}
	}
}

.business-coaching {
	.thim-ekit-tablist .lp-course-curriculum {
		.course-section-header {
			padding: 15px 20px;
		}

		.course-section__items {
			padding-left: 20px;
			padding-right: 20px;
		}

		.course-item {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.demo-healthy-coaching {
	.thim-ekit-tablist .lp-course-curriculum {
		.course-section {
			border: none;
			border-radius: 5px;
		}

		.course-section-header {
			background: #fff;
			padding: 10px 15px;
		}
	}
}