.learnpress.theme-twentytwentytwo, .learnpress.twentytwentytwo {

	.wp-site-blocks {
		max-width: none;
		padding-right: 0;
		padding-left: 0;

		> .wp-block-group {
			max-width: none;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.lp-archive-courses {
		max-width: none;
	}

	.wp-container-11, .wp-container-9, .wp-container-12 {
		.alignfull {
			max-width: 100%;
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}

.learnpress.twentytwentyone,.learnpress.theme-twentytwentyone {
	//--lp-font-size-base: 0.925rem;
	//--lp-border-color: #8f8f8f;
	.lp-archive-courses a:focus {
		background: transparent !important;
		text-decoration: none !important;;
		outline: none !important;;
	}

	.pagination, .comments-pagination {
		border-top: 0;
		padding-top: 0;
	}
}

@media (max-width: 1199px) {
	.learnpress.twentytwentytwo,.learnpress.theme-twentytwentyone {
		.wp-site-blocks .wp-block-template-part {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
