.learnpress.theme-twentytwentytwo, .learnpress.twentytwentytwo {

	.wp-site-blocks {
		max-width: none;
		padding-right: 0;
		padding-left: 0;

		> .wp-block-group {
			max-width: none;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.lp-archive-courses {
		max-width: none;
	}
}

.learnpress.twentytwentytwo {
	.wp-container-11 .alignfull {
		max-width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

@media (max-width: 1199px) {
	.learnpress.twentytwentytwo {
		.wp-site-blocks .wp-block-template-part {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
