/**
 * Style for user cover image.
 * @since 4.2.7.2
 * @version 1.0.0
 */
.lp-user-cover-image_background {
	position: relative;

	.lp-btn-to-edit-cover-image {
		position: absolute;
		bottom: 0;
		right: 0;
		background: #F1F2F8;
		padding: 12px 20px;
		border-radius: 6px 0 0 0;
		color: #FFB608;
	}
}
.lp-user-cover-image {
	@media (max-width: 767px) {
		position: relative;
		z-index: 1;
	}
	.lp-cover-image-empty {
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px dashed #E2E0DB;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		padding: 20px;

		&:hover {
			border-color: #FFB608;
		}

		input[type="file"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			z-index: 10;
		}

		.lp-cover-image-empty__info {
			z-index: 1;
			flex: 1;
			position: relative;
			line-height: 1.3;
			//font-size: 16px;
			&__top {
				font-weight: 600;
				display: flex;
				align-items: center;
				gap: 8px;
				margin-bottom: 8px;
			}

			&__bottom {
				opacity: 0.7;
			}
		}

		@media (max-width: 420px) {
			height: 200px;
			.lp-cover-image-empty__info {
				text-align: center;
				padding: 0 8px;
				font-size: 15px;

				&__top {
					flex-direction: column;

					.lp-icon-file-image {
						font-size: 32px;
						opacity: 0.6;
					}
				}

			}
		}
	}

	.lp-user-cover-image__buttons {
		display: inline-flex;
		gap: 12px;
		margin-top: 16px;
	}
}
